[2021-11-17 17:44] ThomsonTan commented on #1071
For the suggested flag like `OPENTELEMETRY_HAVE_STD_SHARED_PTR`, could they be detected by CMake automatically so no need to expose these flags to developers?

[2021-11-18 15:03] jan-hudec opened #1076 "Fails to compile WITH_STL in gcc 7.3.1 for arm-v7a-linux-gnueabihf, ambiguous overload in variant."
**Describe your environment**

arm-v7a-linux-gnueabihf g++ 7.3.1, OSELAS build
build environment set up with [ptxdist] 2019.01.0
toolchain `oselas.toolchain-2018.02.0-arm-v7a-linux-gnueabihf-gcc-7.3.1-glibc-2.27-binutils-2.30-kernel-4.15-sanitized` from [pengutronix repo].

[ptxdist]: https://www.ptxdist.org/
[pengutronix repo]: http://debian.pengutronix.de/debian/

**Steps to reproduce**

Created

[2021-11-18 15:23] jan-hudec commented on #1076
… I remembered it didn't compile without the `WITH_STL=ON` either, but that is actually only in examples, so `WITH_EXAMPLES=OFF` plus `WITH_STL=OFF` does compile. I didn't test any of the exporters yet, but in this stage I'll need a custom exporter anyway, so I can live without them.

[2021-11-19 17:25] #981 closed

[2021-11-20 01:47] #685 closed

[2021-11-21 08:19] owent commented on #1045
I think `opentelemetry_proto` should not depend on grpc. In some system, we just use OTLP Http Exporter and OTLP Http Log Exporter, which also depend on `opentelemetry_proto` . But they do not need grpc and do not prebuild grpc and any the dependencies of grpc.

[2021-11-21 08:59] owent commented on #1049
I find it take a lot time to finish tests when run under `valgrind` . It almost take 6 seconds to finish this test even in a successful case.
Maybe just increasing timeout could help?

[2021-11-21 12:26] owent opened #1081 "Default resource attributes and attributes in `OTEL_RESOURCE_ATTRIBUTES` are missing when using `Otlp*LogExporter`"
**Describe your environment**

Enable previous logs

**Steps to reproduce**

Set environment variable `OTEL_RESOURCE_ATTRIBUTES` or not.

**What is the expected behavior?**

Auto add default resource and attributes in `OTEL_RESOURCE_ATTRIBUTES` .

**What is the actual behavior?**

Nothing exported.

[2021-11-22 01:47] #649 closed

[2021-11-22 01:47] #648 closed

[2021-11-22 13:06] lidavidm commented on #1045
Well, right now it builds both gRPC and Protobuf stubs, so it needs to declare a dependency. If it only optionally builds gRPC stubs then it only optionally needs the dependency. But in either case, the problem is that the gRPC dependency isn't being declared.

[2021-11-22 18:32] lalitb opened #1086 "Logger: Propagating resources through LoggerProvider"
The implementation of logger API/SDK was inspired by the initial trace implementation. And there was no support of resources at that time. This support needs to be added to Logger. It would be good to replicate the implementation from the latest trace.
 - Introduce LoggerContext to manager ownership of resources and processor ( similar to [TracerContext ](https://github.com/open-telemetry/opentele

[2021-11-22 18:46] lalitb opened #1087 "Logger: Support for Instrumentation library."
1. Updating loggerProvider::GetLogger()  in API and SDK for optional schema_url parameter.
2. Add Instrumentation Library support as for trace implementation:
https://github.com/open-telemetry/opentelemetry-cpp/blob/089b04d77fc9f2e0e4e4d87b1fff5b10a79ab3e1/sdk/src/trace/tracer_provider.cc#L39
3. Propagate instrumentation library to the exporter through recordable interface ( adding Recordable::Set

[2021-11-22 21:03] lalitb opened #1088 "Metrics SDK : Add Views"

[2021-11-22 21:05] lalitb opened #1089 "Metrics SDK: Add Meter and MeterProvider"

[2021-11-22 21:06] lalitb opened #1090 "Metrics SDK: Add Aggregation"

[2021-11-22 21:07] lalitb opened #1091 "Metrics SDK: Add MetricReader"

[2021-11-22 22:10] #1072 closed

[2021-11-22 23:41] lalitb commented on #1070
Closing as the query is answered

[2021-11-22 23:41] #1070 closed

[2021-11-23 00:45] ThomsonTan commented on #1019
@maxlein could you please post the minimum repro code with the commands to build and repro it? As @lalitb mentioned, an explicit lock is not required for calling OpenTelemetry APIs.

[2021-11-23 00:53] ThomsonTan commented on #1013
Close it as the build error is expected and catches unexpected cast. Please feel free to reactive this if it is still an issue.

[2021-11-23 00:53] #1013 closed

[2021-11-23 02:05] lalitb commented on #665
closing as we have upgraded both bazel and gRPC.

[2021-11-23 02:05] #665 closed

[2021-11-23 06:06] lalitb opened #1092 "Metrics SDK: Add Metrics Exporter"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#metricexporter

The specification defines both push and pull metric exporters. These interfaces will need to be defined so that exporters can implement them. ( https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#interface-definition )

- The e

[2021-11-23 06:13] lalitb opened #1093 "Metrics SDK: Add Metrics exemplar"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar

- A metrics **exemplar** is a trace that is representative of the metrics being collected. The spec requires that exemplars be implemented in a way such that they may be disabled and that if disabled they should have no performance impact (collection should be disabled, not just ex

[2021-11-23 06:21] lalitb commented on #1091
@esigo - I realize this issue would need interfaces created as part of #1088, #1089, #1090. I am planning to make them available in a couple of days. Would suggest you pick this up once that is ready.

[2021-11-23 20:30] #1081 closed

[2021-11-23 23:43] zzxgzgz opened #1095 "Unable to incorporate this library with existing CMake project"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.
[code]
I'm using the master branch of repo.

**Steps to reproduce**
Descr

[2021-11-24 01:47] #501 closed

[2021-11-24 02:09] lalitb commented on #365
closing as this is optional requirement, and there is no plan to implement these limits.

[2021-11-24 02:09] #365 closed

[2021-11-24 07:56] owent opened #1096 "Can not build with cmake when enable prometheus exporter"
**Describe your environment**

Linux

**Steps to reproduce**

Enable legacy prometheus exporter and prebuilt prometheus-cpp.

**What is the expected behavior?**
Build success

**What is the actual behavior?**

[code]

[2021-11-25 02:06] #1096 closed

[2021-11-25 17:59] esigo opened #1098 "data race in BM_ThreadYieldSpinLockThrashing"
**Describe your environment** Describe any aspect of your environment relevant to the problem,
g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.
`bazel test --copt=-DENABLE_METRICS_PREVIEW --copt=-DENABLE_LOGS_PREVIEW --test_output=errors --cache_test_results=no --config=tsan //api/test/common:spinlock

[2021-11-25 17:59] esigo commented on #1098
call stack
[code]

[2021-11-25 18:03] esigo commented on #1098
Appeared in #1094 ci.
I could reproduce it locally.

[2021-11-27 12:17] esigo opened #1101 "Jaeger bazel Windows and Mac"
**Is your feature request related to a problem?**
Jaeger bazel Windows and Mac require boost installed.

**Describe the solution you'd like**
ideally `bazel` should use `rules_foreign_cc` and add `boost` as dependency.
**Describe alternatives you've considered**
Which alternative solutions or features have you considered?

**Additional context**
Add any other context about the feature request here

[2021-11-27 19:14] esigo commented on #1098
happened again [here](https://github.com/open-telemetry/opentelemetry-cpp/runs/4342283937?check_suite_focus=true#step:5:346).

[2021-11-29 01:47] #500 closed

[2021-11-29 01:47] #499 closed

[2021-11-29 01:47] #475 closed

[2021-11-30 01:56] lalitb commented on #1089
#1078 closes this

[2021-11-30 01:56] #1089 closed

[2021-11-30 15:10] PetrSilar opened #1103 "Jaeger exporter sends spans over 512 bytes incorrectly"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Actually, it does not matter, it's a consistent bug.
- Windows 10, MSVC

[2021-11-30 16:04] PetrSilar opened #1104 "Jaeger exporter: attributes of unsupported types are silently forgotten"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Actually, it does not matter, it's a consistent bug.

- Windows 10, MSVC

[2021-11-30 16:30] esigo commented on #1098
The lock function [`lock(spinlock)`](https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/api/test/common/spinlock_benchmark.cc#L42) used in the problematic test, will return after some limited amount of failed tries to atomically exchange the  [`mutex`](https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/ap

[2021-11-30 16:42] esigo commented on #1091
@lalitb could you please assign this issue to me?
thanks

[2021-11-30 19:34] esigo commented on #1104
@PetrSilar Thanks for bringing this up. I will raise a PR to add support for the other types.

[2021-11-30 19:34] esigo commented on #1104
@lalitb could you please assign this issue to me?
thanks

[2021-11-30 19:39] lalitb opened #1105 "Support building DLL for windows"
opentelemetry-cpp uses bazel and cmake to build the required targets. These targets are by default created as static libraries.
To create shared libraries / DLLs, we can just add `-DBUILD_SHARED_LIBS=ON`  to cmake, and `linkstatic=False` flag in cc_library/cc_binary rule in bazel.
This works fine for building shared libraries(.so) on Unix-like systems but doesn't work by default for DLL on Windows

[2021-11-30 19:40] lalitb commented on #1105
Tagging @meastp @owent FYI, and if they would like to add more details here.

[2021-11-30 21:39] lalitb commented on #1091
Sorry for the delay on #1088 and #1089 on which this has a dependency, will make them available this week.

[2021-12-01 01:50] #604 closed

[2021-12-01 10:04] ThomsonTan commented on #1098
@esigo thanks for the explanation. For [`lock(spinlock)`](https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/api/test/common/spinlock_benchmark.cc#L42), does it call [`lock()`](https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/api/include/opentelemetry/common/spin_lock_mutex.h#L77:8), which does never re

[2021-12-01 15:42] matt-goldsmith-okcupid opened #1107 "opentelemetry-cpp generates null span ids"
https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/exporters/otlp/src/otlp_recordable.cc#L23

Hi all,

When creating root tracing spans in C++, I see the following in my tracing vendor (Honeycomb):

![image](https://user-images.githubusercontent.com/71724990/144265116-44fde408-b5a7-4981-9489-42bff3d00ed5.png)

After inspecting the span in Honeycomb, t

[2021-12-01 19:40] esigo commented on #1098
@ThomsonTan, no the lock with problem is the [`lambda`](https://github.com/open-telemetry/opentelemetry-cpp/blob/b1b1f6409a3a95e783f746920ba48006d8d32926/api/test/common/spinlock_benchmark.cc#L109). @lalitb had the idea that, `BM_ThreadYieldSpinLockThrashing` is probably meant to be compared with the actual spin lock implementation.

[2021-12-01 22:41] lalitb commented on #1065
Tested with below cmake command, and the build and tests were successful:
[code]

Looks like the problem is specific to bazel. Need to test more.

[2021-12-01 23:50] lalitb commented on #1045
It works fine for me now (probably #1061) fixes this:
[code]

[2021-12-01 23:51] lidavidm commented on #1045
Indeed (https://github.com/apache/arrow/pull/11834), thanks for checking in here.

[2021-12-01 23:51] #1045 closed

[2021-12-02 01:47] #278 closed

[2021-12-02 01:47] #260 closed

[2021-12-02 01:47] #259 closed

[2021-12-02 01:47] #257 closed

[2021-12-02 01:47] #256 closed

[2021-12-02 07:02] lalitb commented on #1076
I don't see the gcc-7.3.1 toolchain available for ubuntu to validate, fix and test this issue. And build doesn't fail with gcc-7.5.0. Have tagged this issue for help.

[2021-12-02 09:26] jan-hudec commented on #1076
It is not from Ubuntu, it is a cross-compilation toolchain from Pengutronix. The apt sources line is

[code]

and the package to install is

[code]

[2021-12-02 16:18] #1098 closed

[2021-12-02 19:20] varunsh-xilinx opened #1108 "Add minimum version of Thrift in Jaeger exporter build instructions"
**Describe your environment**

Ubuntu 16.04 with Apache Thrift 0.12.0 and trying to build opentelemetry-cpp v1.1.0

**Steps to reproduce**

[code]

**What is the expected behavior?**
Building should succeed or should make clear why it doesn't work

**What is the actual behavior?**
The build fails with this error:
[code]

**Additional context**
So the reason this fails is that Apache Thrift 0.12.0

[2021-12-02 19:30] lalitb commented on #1108
The versions used in CI env are populated here: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/third_party_release. So it's 0.14.1 for thrift.
But agree, it can be documented more explicitly. Will remove the `bug` label. and add `doc`.

[2021-12-03 01:47] #254 closed

[2021-12-03 17:38] deejgregor commented on #202
I started working on this in #1111.

[2021-12-04 01:47] #228 closed

[2021-12-04 09:01] #1107 closed

[2021-12-04 12:45] esigo opened #1114 "jaeger::TUDPTransport::write crash when wrong endpoint used"
**Describe your environment**

opentelemetry-cpp ci build image

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

run `jaeger` example with wrong endpoint e.g.:
`bazel-bin/examples/jaeger/example_jaeger host.docker.internal:16386`

**What is the expected behavior?**

no crash, ideally an error message or an exception

What did you expect to

[2021-12-04 12:48] esigo commented on #1114
Program received signal SIGSEGV, Segmentation fault.
in `opentelemetry::v1::exporter::jaeger::TUDPTransport::write(unsigned char const*, unsigned int)`
call stack:
[code]

[2021-12-04 12:49] esigo commented on #1114
I will raise a PR.

[2021-12-04 20:47] #1103 closed

[2021-12-05 01:51] #368 closed

[2021-12-06 23:31] tigrannajaryan opened #1117 "Is it possible to rename "instrumentation library" to "instrumentation scope"?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-06 23:31] #1104 closed

[2021-12-07 16:56] tigrannajaryan commented on #1117
It appears the conclusion of many SDKs is that this is not a possible change. Closing.

[2021-12-07 16:56] #1117 closed

[2021-12-07 17:08] #1114 closed

[2021-12-08 06:51] owent commented on #1105
We can use codes like these to export/import APIs of some libraries.

[code]

And then, `opentelemetry_api` for example, declare macros like these:

[code]

At last, we should add `OPENTELEMETRY_API_API` to all exported functions and add `OPENTELEMETRY_API_API_HEAD_ONLY` to all exported template classes and functions like these(we can not export normal class because when built with `-fvisibility=h

[2021-12-08 08:51] meastp commented on #1105
@owent Thank you for the explanation. I'm currently building otel-cpp locally and I'm using the `examples/simple` (with `foo_library` as a separate dll) to test this. I have added dllexport/dllimport, and now need to modify `opentelemetry_api` and move `static` variables into source files. I do not think there are a lot of static variables that need extraction, but I'll test and see. I did notice

[2021-12-08 13:07] ddave-440 opened #1121 "C++17 and C++20 not Building with VS2019"
### Discussed in https://github.com/open-telemetry/opentelemetry-cpp/discussions/1120

<div type='discussions-op-text'>

<sup>Originally posted by **ddave-440** December  7, 2021</sup>

I have a simple console app (VS2019) on Windows 10 that will build with C++14 but not with C++17 or C++20.

The app is:
[code]

With C++17, I get errors such as:
`opentelemetry\nostd\absl\meta\type_traits.h(620,1):

[2021-12-08 13:10] meastp commented on #1105
Ok, it looks like I got it working with the `examples/simple` example, and the traceid and parentspanid is correct across `simple_example.exe` and `foo_library.dll` (I did start a span before calling `foo_library()` and ended it right after the call finished). I'm using the `ostream_exporter` to verify this.

My modifications were only to extract all API methods using static variables that seemed

[2021-12-08 14:17] owent commented on #1105
Nice try.
Just moving global and static variables into source can solve the problem of data sharing.But each dll/exe that use api will still have their copy of codes, it maybe lead to problem if we use the function address(pointer of function or member function) and RTTI(the instance of typeinfo of the same class may be different in different dll/exe).Also It's difficult to maintain the compatibil

[2021-12-08 18:47] esigo commented on #1087
1 shouldn't be `loggerProvider::GetLogger()`?

[2021-12-08 18:51] lalitb commented on #1087
yes thanks. fixed now.

[2021-12-08 18:52] esigo commented on #1087
could you please assign it to me? thanks

[2021-12-08 22:51] #1108 closed

[2021-12-09 01:49] #169 closed

[2021-12-09 05:05] Grace-1024 opened #1122 "Exporters build error"
when I buid my project by bazel, I get an error like this:

[code]

It seems like the dependence of exporters is missing?

[2021-12-09 09:11] meastp commented on #1105
Right, so a better solution to cover all (theoretical?) corner cases is to move the implementation into source files (except templates, of course). I would be happy to do this work, but since otel-cpp has a requirement of header-only, I think we need a solution where one can choose between header-only, static or shared (look at the article I linked to earlier). I want to contribute, but I'm waitin

[2021-12-09 11:34] owent commented on #1105
Yes, I also think [GenerateExportHeader](https://cmake.org/cmake/help/latest/module/GenerateExportHeader.html) module is a good replacement of export declaration above.And the test is exactly what I mean before.Maybe the only thing left is the decision on how to proceed.
Maybe @lalitb can provide more information about it.

[2021-12-09 12:44] meastp commented on #1105
@owent I got an answer from @lalitb in the slack channel thread earlier today:

To which I replied

I would really, really like to avoid having to maintain a fork of otel-cpp for this basic use case.**
Did you look at the article from Steve Ire (linked in the issue) where he makes both header-only and shared/static library possible? If (possibility of) header-only is a requirement, this might be a

[2021-12-09 19:07] lalitb commented on #1105
Thanks, @meastp @owent for all the details above, and for bringing the clarity on changes required to support building DLLs. The priority is definitely equally for all the platforms and in the current setup
 - All platforms are supported using header-only (for API) and static linking (for SDK).
 - Unix-like systems (Linux and macOS) are supported by default for dynamic linking (for SDK). DLL is un

[2021-12-09 20:14] lalitb commented on #1122
Have you followed steps mentioned [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#incorporating-into-an-existing-bazel-project) to incorporate otel-cpp in existing bazel project. If yes, please share the WORKSPACE file used?

[2021-12-09 23:43] matt-goldsmith-okcupid opened #1126 "Regex crash in TraceState::IsValidKeyRegEx on Debian"
**Describe your environment**

Dockerized Debian 9 (Stretch). Built with `clang++-6.0`.

**Steps to reproduce**

Run `TraceState::FromHeader`.

**What is the expected behavior?**

Get a `TraceState` object.

**What is the actual behavior?**

Crash with:

`std::__throw_regex_error (__ecode=std::regex_constants::_S_error_range, __what=0x7fa18e4b973b "Invalid range in bracket expression.")`

**Additi

[2021-12-10 08:14] meastp commented on #1105
@lalitb Thanks. I do sympathise with the complexity concern (in the WITH_STL case, I'm very happy to be able to be able to use this option, as WITH_ABSEIL and the absl library does not compile on MSVC projects with C++ standard > 17). I was hoping to at least try to use the techniques in the previous article I linked to have the additional complexity as low as possible.

I don't get why you need t

[2021-12-10 08:37] lalitb commented on #1105
That would definitely help bring more clarity. Thanks again.

[2021-12-10 18:42] lalitb commented on #1126
Can you provide a small working example for this, as I can't reproduce it using clang6/gcc.

[2021-12-10 19:18] matt-goldsmith-okcupid commented on #1126
Hi lalitb! [Here's a gist](https://gist.github.com/matt-goldsmith-okcupid/863fc0b2e48d7486efe55c4a33b5fed3).

[2021-12-10 21:02] lalitb commented on #1126
Thanks. strange, but I don't see any crash/exception while running above code snippet on clang-6 here : https://godbolt.org/z/MjWrPdMzf

[2021-12-11 01:47] #156 closed

[2021-12-13 01:48] #110 closed

[2021-12-13 01:48] #85 closed

[2021-12-13 01:48] #84 closed

[2021-12-13 07:01] owent opened #1130 "Otlp GRPC exporters should be built by default"
**Describe your environment**

Using prebuilt grpc.

**Steps to reproduce**

 Do not set `WITH_OTLP` and `WITH_OTLP_GRPC` and use the default value.

**What is the expected behavior?**

Otlp GRPC exporters should be built.

**What is the actual behavior?**

Otlp GRPC exporters are skipped.

**Additional**

#1061 changes the default behaviour.

[2021-12-13 11:22] thangdinh1298 opened #1132 "Failed to build opentelemetry-cpp with OTLP HTTP exporter"
**Describe your environment**
OS: Debian 10
Release version: opentelemetry-cpp v1.1.0
Compiler: g++ 8.3.0

**Steps to reproduce**

**What is the expected behavior?**
Builds successfully

**What is the actual behavior?**
The build failed with the following error

         google::protobuf::Base64Escape(bytes, &base64_value);

 LIBPROTOBUF_EXPORT int Base64Escape(const unsigned char *src, int slen,

[2021-12-13 16:33] esigo commented on #1132
Thanks for reporting. We should use a different [overload](https://github.com/protocolbuffers/protobuf/blob/29b3d01572d50c0e5bc0ab2eea32f9779c7576f4/src/google/protobuf/stubs/strutil.h#L854) here.

[2021-12-13 19:19] #1132 closed

[2021-12-14 01:50] #1003 closed

[2021-12-14 01:50] #80 closed

[2021-12-14 14:06] owent opened #1138 "Could internal log level be set by runtime?"
**Is your feature request related to a problem?**

We usually need debug log when testing and integrating opentelemetry-cpp, and just need error log after that.But now the internal log  level can only be set when compiling, which is usual WARNING.

**Describe the solution you'd like**

Maybe add `GlobalLogHandler::SetLogLevel(...)` or add `log_level` to `GlobalLogHandler::SetLogHandler(...)` ?

[2021-12-14 16:50] lidavidm opened #1139 "OTEL_CPP_GET_ATTR macro should fully qualify its usage of attr"
**Describe your environment**

Platform: Linux
OpenTelemetry version: v1.1.0
Build system: CMake
Compiler:
[code]

**Steps to reproduce**

Compile this snippet:

[code]

[code]

**What is the expected behavior?**
The snippet should compile.

**What is the actual behavior?**
The snippet fails to compile:

[code]

**Additional context**

The use of the `attr` helper should be fully qualified here, s

[2021-12-14 18:58] lalitb commented on #1138
The original intention of the internal logger was to configure the custom error handler as specified in specs ( https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.x/specification/error-handling.md#configuring-error-handlers ) and not to use it for debugging/testing. So, the levels were kept compile-only, to ensure we have header-only logging.
Said that I don't see any issue ex

[2021-12-14 19:47] ThomsonTan commented on #1138
If the SDK allows user to register customized error handlers, then they can do any whatever filtering there like the dynamic log level, is this correct?

[2021-12-14 21:29] lalitb commented on #1138
Yes, but the custom handler will only receive the logs at the level configured during compile time.

[2021-12-15 00:43] owent commented on #1138
The java example in https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.x/specification/error-handling.md#configuring-error-handlers seems to use a global variable `io.opentelemetry.level` to control the log level. Could we use the same way or use another static variable to set log level here?(Just like the global log handle)

[2021-12-15 00:57] lalitb commented on #1138
Yes, that would be good. Thanks.

[2021-12-15 11:06] meastp commented on #1105
@lalitb @owent Look at https://github.com/meastp/opentelemetry-cpp/tree/otel_support_shared_dll to see the changes required:

A new option to select API as header-only or not
[code]

In `api/CMakeLists.txt` a conditional on this option (and a check to prevent non-working dll builds with MSVC/Windows):
[code]

I have added new export.h-headers with the export definitions. Did try GenerateExportHead

[2021-12-15 17:56] lalitb opened #1142 "Add unit-test for Jaeger exporter"
As of now, Jaeger exporter only has unit tests for recordable. The unit test for exporter is missing. This needs to be added.

[2021-12-15 17:58] lalitb opened #1143 "Add unit-test for Zipkin exporter"
As of now, Zipkin exporter only has unit tests for recordable. Need to add tests for the exporter interface. It can use the test http-server provided as part of this repo, and also used for otlp-http exporter tests ( https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/otlp/test/otlp_http_exporter_test.cc )

[2021-12-15 18:50] lalitb commented on #1019
Please reopen if the issue is still existing with minimal example to reproduce the issue.

[2021-12-15 18:50] #1019 closed

[2021-12-15 19:45] esigo commented on #1122
@Grace-1024 would it be possible to try changing the order of the loads?

[2021-12-16 02:39] lalitb opened #1145 "Remove curl dependency for Windows - Adding support for WinINet API"
Windows comes with WinINet API to enable applications to interact with FTP and HTTP protocols to access Internet resources. This means it doesn't explicitly need to use curl as an HTTP client library.

otel-cpp is designed to plugin any external client library by extending abstract classes defined in the [ext::http::client](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ext/include/

[2021-12-16 02:47] lalitb opened #1146 "Evaluate removing curl dependency for Apple platform - Adding support for CFNetwork API"
Apple comes with CFNetwork API to enable applications to interact with FTP and HTTP protocols to access Internet resources. This means it doesn't explicitly need to use curl as an HTTP client library.

otel-cpp is designed to plugin any external client library by extending abstract classes defined in the ext::http::client namespace.
And HttpClientFactory factory is responsible to pick up the corre

[2021-12-16 04:00] #1121 closed

[2021-12-16 06:05] lalitb commented on #1105
Thanks, also tagging @ThomsonTan @maxgolov for review.

[2021-12-16 08:18] meastp commented on #1105
Great, thanks. Tagging @steve-madden who wrote this in the slack-thread for this issue:

[2021-12-17 08:52] Grace-1024 commented on #1122
Yes, I change the order of the loads and then it works well, thanks for your help, I'll close this issue.

[2021-12-17 08:52] #1122 closed

[2021-12-18 23:18] esigo commented on #1142
@lalitb could you please assign this to me? thanks

[2021-12-20 02:13] lalitb commented on #828
keeping this open.

[2021-12-20 17:48] esigo commented on #1143
@lalitb could you please assign this to me? thanks

[2021-12-20 20:25] #1139 closed

[2021-12-20 23:57] lalitb opened #1158 "Synchronized calls to Exporter::Export and Exporter::Shutdown."
As of now,
1. [SimpleSpanProcessor](https://github.com/open-telemetry/opentelemetry-cpp/blob/48033107c8586c56f21059d603f4ef43f0ce94f3/sdk/include/opentelemetry/sdk/trace/simple_processor.h#L68) ensures that it is not possible to concurrently call Exporter::Shutdown().
2. [SimpleSpanProcessor ](https://github.com/open-telemetry/opentelemetry-cpp/blob/48033107c8586c56f21059d603f4ef43f0ce94f3/sdk/inc

[2021-12-21 00:18] esigo commented on #1105
@meastp thanks for your work. I was wondering how [one_definition_rule](https://en.wikipedia.org/wiki/One_Definition_Rule) is preserved in your example:

[code]

[2021-12-21 04:02] #1142 closed

[2021-12-21 06:42] meastp commented on #1105
@esigo in the .cc file, I also use another macro OTEL_HEADER_ONLY_API_INLINE to add the `inline` specifier _iff_ `OTEL_WITH_HEADER_ONLY_API` is defined and the .cc file is included from the header (look in `opentelemetry/export.h`).

This is the entire `opentelemetry/trace/noop.cc` file:

[code]

[2021-12-22 02:04] lalitb commented on #769
We can otel-cpp in conan registry, so this can be closed.

[2021-12-22 02:04] #769 closed

[2021-12-27 20:53] #1088 closed

[2021-12-28 06:53] owent commented on #1065
We meet the same problem and I solve this problem by add modify `HAVE_ABSEIL` to [api/BUILD](api/BUILD) and the move the paths of internal abseil-cpp.
This issue can assign to me and I can try to merge the changes here and add some tests some days later. @lalitb

[2021-12-28 07:30] lalitb commented on #1065
Thanks, @owent. Assigned to you.

[2021-12-29 08:32] zengguofei opened #1166 "Conflict of absl library compiled by bazel"
I use bazel to integrate opentelemetry-cpp, and there is already an absl library in my project; I try to use the macro definition "HAVE_ABSEIL", but it does not work, it is still connected to the absl library of opentelemery.

I had to change the bazel compilation inside opentelemetry-cpp; change the absl dependency to my local library. I hope this dependency can provide good guidelines for extern

[2021-12-29 08:56] owent commented on #1166
Simular with #1065 .

[2021-12-29 20:48] lalitb commented on #1166
Duplicate of #1065
Let's continue to track this in another issue, and close this.

[2021-12-29 20:48] #1166 closed

[2021-12-29 21:40] maxgolov commented on #813
@owent @lalitb - could you please folks take over the ownership of this issue? My main focus is on another project domain at the moment, and my ability to contribute to OpenTelemetry is limited.

[2021-12-29 23:27] lalitb commented on #813
Thanks, @maxgolov, have unassigned you and added a help-wanted tag. I will take it over if no one picks it. The immediate need for this issue is to remove the reference of HAVE_GSL from the code, and then we can have a separate issue to introduce the WITH_GSL cmake flag.

[2021-12-29 23:38] esigo commented on #813
@lalitb I can take it over.

[2022-01-04 03:25] #1138 closed

[2022-01-04 05:15] #1130 closed

[2022-01-04 09:03] owent commented on #1071
[code]

We use these cmake script to test `std::string_view` in our project, maybe we can also use it to test `std::string_view`, `std::variant` or `std::span` ?
BTW: I think all the environment thaa supported by opentelemetry-cpp has `std::shared_ptr` and `std::unique_ptr` , but not all the environments have `std::make_span`. Is it necessary to test `std::shared_ptr` or `std::unique_ptr` ?

[2022-01-05 17:16] #1158 closed

[2022-01-06 18:13] #1143 closed

[2022-01-07 18:49] lalitb commented on #1126
Closing as this is not reproducible. Feel free to reopen this, and contribute a fix, if this is a valid issue.

[2022-01-07 18:49] #1126 closed

[2022-01-07 18:50] lalitb commented on #1095
@zzxgzgz  - Sorry for the late reply. Are you still facing the issue?

[2022-01-07 18:56] zzxgzgz commented on #1095
Hi @lalitb ,

Thank you for getting back on this one. I have solved this issue. Let me close this issue.

Thank you again.

[2022-01-07 18:56] #1095 closed

[2022-01-07 19:42] lalitb commented on #1073
@hcoona - Can you please elaborate the ask here. Thanks.

[2022-01-09 20:13] esigo opened #1170 "benchmark tests as part of the CI"
**Is your feature request related to a problem?**
It is hard to overstate the importance of benchmarking and monitoring the benchmarks over time. This becomes even more important to us as it is expected/desired that telemetry operations should have minimal adverse impact on performance. In order to quantify and measure how well we're doing there, benchmark tests have to be added as part of the CI.

[2022-01-09 20:18] esigo commented on #1170
This can be assigned to me.

[2022-01-09 20:30] esigo commented on #1170
The graphs for the benchmark tests we already have in the repo can be found [here](https://esigo.github.io/opentelemetry-cpp/benchmarks/index.html)

[2022-01-12 06:21] yuvalif commented on #828
the [ceph project](https://ceph.io/) will also be interested in using non shared_ptr spans.
we did some benchmarking of our code using no-op spans and found they have a detectable impact on perf.

[2022-01-12 18:11] #1086 closed

[2022-01-12 19:23] lalitb commented on #1170
Please see if this is what is required:

![gh-pages](https://user-images.githubusercontent.com/1196320/149207632-fd2d7ebd-e7c8-4b41-b9a1-3e1aee40b910.JPG)

[2022-01-12 19:26] esigo commented on #1170
Thanks @lalitb, yes it is.

[2022-01-13 02:28] lalitb commented on #828
@yuvalif - Do you have more details, which part of the Span life cycle has a detectable impact  - creation, populating, or export/end? How you did these non-shared span tests, it would be interesting to reproduce this locally. Meanwhile, there is ongoing work on adding benchmark tests as part of CI (#1170) to get more stats.

[2022-01-13 09:48] yuvalif commented on #828
our main focus (for now...) is to test the no-op tracer and no-op span (we want to make sure that there is no performance degradation when the feature is disabled). this means that the only cost is with creating and accessing the spans (as these are no-op spans they don't do anything else).

our open telemetry based tracing framework is here:
https://github.com/ceph/ceph/blob/master/src/common/tra

[2022-01-15 00:53] #1065 closed

[2022-01-15 03:39] #1087 closed

[2022-01-16 09:33] lalitb commented on #828
Thanks, @yuvalif for the details. Just to clarify the results:
* GET request when tracing compiled out:
``
2022/01/12 08:03:16 Loop: 0, Int: TOTAL, Dur(s): 91.8, Mode: GET, Ops: 200000, MB/s: 8.51, IO/s: 2178, Lat(ms): [ min: 1.9, avg: 7.2, 99%: 13.1, max: 22.7 ], Slowdowns: 0
``
* GET request when tracing compiled in, and disabled (no-op tracer/span):
``
2022/01/13 02:58:10 Loop: 0, Int: TOTAL, D

[2022-01-16 09:57] yuvalif commented on #828
thanks @lalitb !

this would be great. we would try it out in our system and let you know if we see a difference in our setup.

[2022-01-17 03:08] owent opened #1175 "Could we add worker thread pool for `BatchLogProcessor` and `BatchSpanProcessor`?"
**Is your feature request related to a problem?**

In some system , we have a lot of logs to commit in one batch and it takes a long time to receive the response.(via `BatchLogProcessor` and `OtlpHttpLogExporter`, it takes about 100-200ms to get the http response).The worker thread cost only about 10% of CPU time but it will drop logs because the circular buffer is full when waiting for response o

[2022-01-17 08:00] lalitb commented on #1175
How is thread pool going to help here, as it still needs to wait for a response from ongoing Export() before invoking another?  We can't have concurrent execution of Export() method from multiple threads(as per the specs). Also, the Export() should return with the status of export over the wire (as per the specs). I think it's important to specify the proper values for BatchSpanProcessor configura

[2022-01-17 08:57] lalitb commented on #1175
Ok thanks for explaining. Do you think its possible to do a proof of concept for logs, with some benchmark and discuss over it? If it works, we can implement it for traces too. Will assign this issue to you.

[2022-01-17 08:59] owent commented on #1175
Ok and thanks.

[2022-01-17 09:35] owent opened #1176 "Do not `waitForResponse` in `OtlpHttpClient::Export` ?"
**Is your feature request related to a problem?**

Mentioned in #1175 .

**Describe the solution you'd like**

Do not `waitForResponse` in `OtlpHttpClient::Export` and destroy session only after `ResponseHandler` got some events.
We also need control parallel thread spawned by `HttpOperation::SendAsync` here.

This can also assign to me.

[2022-01-17 09:36] owent commented on #1175
I create another issue for make `OtlpHttpClient` asynchronously. #1176

[2022-01-20 01:55] #684 closed

[2022-01-21 18:12] #1170 closed

[2022-01-22 03:50] lalitb commented on #393
tagging @esigo just for information, as he is doing some work on creating multiplatform docker images.

[2022-01-24 04:43] owent commented on #1175
I'm a little busy recently and I may finish this several days later.

[2022-01-24 04:43] owent commented on #1176
I'm a little busy recently and I may finish this several days later.

[2022-01-24 12:20] VivekSubr opened #1179 "cmake integration not working"
**Describe your environment**
Environment - Windows subsystem for linux, ubuntu.
Build System - integrating into a cmake project
version - main

**Steps to reproduce**
git clone repo, build using cmake.
cmake build will generate cmake export file opentelemetry-cpp-config.cmake
Integrate into your own cmake project using steps given in: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/

[2022-01-24 16:12] lalitb commented on #1179
Please ensure opentelemetry-cpp was installed properly. There should be ${PACKAGE_PREFIX_DIR}/include directory created during installation.

[2022-01-25 03:14] #813 closed

[2022-01-25 04:50] VivekSubr commented on #1179
Sorry, I missed the 'cmake install', got confused since it said it was optional. It's working fine.

[2022-01-25 04:50] #1179 closed

[2022-01-26 18:22] lalitb commented on #1073
Closing for incomplete information. Please feel free to open it with more information.

[2022-01-26 18:24] lalitb commented on #1014
@cqhan777 @Pupilsch - Is this issue still relevant, and reproducible?

[2022-01-26 18:35] cqhan777 commented on #1014
Problem still exists but no longer relevant to us since we have the workaround.

[2022-01-26 20:49] esigo commented on #1049
It happened [again](https://github.com/open-telemetry/opentelemetry-cpp/runs/4955500860?check_suite_focus=true#step:5:134). I'll try to raise a PR with mock in the next coming days.

[2022-01-27 02:43] owent commented on #1049
Thanks. Maybe it's also better to use multi_handle instead of start a new thread to start a asynchronous HTTP request when using libcurl.Should I start another issue?

[2022-01-27 08:01] lalitb commented on #1049
Thank @owent. Which thread invocation are we talking about here? The only place a potential thread may get created internally for libcurl is here -
https://github.com/open-telemetry/opentelemetry-cpp/blob/16a9c53680079a7a5f6728dd4bf4938efa214b30/ext/include/opentelemetry/ext/http/client/curl/http_operation_curl.h#L298

Do we want to remove it, and instead use multi_handle?

[2022-01-31 19:25] esigo opened #1187 "ostream_log_test failure on Mac"
**Describe your environment**

Bazel on MacOS CI job

**Steps to reproduce**
There is a [typo](https://github.com/open-telemetry/opentelemetry-cpp/blob/43ad7b9fea54d6ff5400778e14e0b4b4ac41b7da/ci/do_ci.sh#L66) in Bazel on MacOS CI job, so the log and metrics are not compiled in the CI job for Mac. By fixing the typo ostream_log_test tests [fail](https://github.com/esigo/opentelemetry-cpp/runs/5010

[2022-02-02 02:31] lalitb opened #1190 "Metrics SDK: Attributes filtering through View."
As per the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view), Views should be able to configure the filtering of attributes reported on metrics, including removing all the attributes.

[2022-02-02 18:53] jspaith opened #1192 "Errors about devinit.exe missing on build window using VS 2022"
Not urgent.  Full disclosure I have a weird setup - I quickly gave up on making gtest building and disabled via CMake.  *I'm otherwise unblocked running `example_simple.exe` so I'm happy.*

But I do want to record as part of "Where there's smoke there maybe fire."

I have a VS2022 based build window, though as I said gtest not configured.  When I do a "cmake .." I get errors about `devinit.exe` no

[2022-02-03 01:46] #253 closed

[2022-02-05 05:53] #1090 closed

[2022-02-08 00:09] lalitb opened #1197 "[Metrics SDK] Implement Writable Storage for Aggregation"
Implement writable storage to store the aggregation results for measurements, and used to generate the metrics as required.
This is mentioned as "In Memory State" in the specs (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#pull-metric-exporter).

[2022-02-09 18:28] sirzooro opened #1199 "Errors in SDK documentation"
I was trying to write some code to initialize tracer using code from https://opentelemetry-cpp.readthedocs.io/en/latest/sdk/GettingStarted.html as an example. During this I found few errors in code snippets there:

- `resource_attributes` initializer uses colons instead of commas to separate key and value;
- samplers (e.g. `always_on_sampler`) have to be allocated dynamically and stored in `std::u

[2022-02-09 18:37] #1073 closed

[2022-02-09 18:59] esigo commented on #1199
@sirzooro thanks for bringing this to our attention. I will raise a PR to fix it, if you have not planned to raise one already.

[2022-02-09 19:06] sirzooro opened #1200 "Assertion `false && "i == variant_npos"' failed with -DWITH_STL=ON"
**Describe your environment**
OS: CentOS Stream release 8
Compiler: gcc (GCC) 10.3.1 20210422 (Red Hat 10.3.1-1)
OpenTelemetry libs compiled today (2/9/2022) from main branch using following command:
`cmake -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_SHARED_LIBS=ON -DWITH_JAEGER=ON -DWITH_STL=ON ..`

**Steps to reproduce**
Use this code:
[code]

Compile using this command:
`g++ -o test test.cc -O

[2022-02-09 19:07] sirzooro commented on #1199
No, I did not create any.

[2022-02-09 20:35] #1199 closed

[2022-02-10 01:48] #237 closed

[2022-02-10 06:03] lalitb opened #1202 "Create HashMap to store measurement attributes, and their aggregators"
We need to maintain a mapping of all the key-value attributes(from measurements), and their aggregation objects. This mapping would be used to find the right aggregator for measurement received, and record the measurement value.

[2022-02-11 15:27] owent opened #1203 "Report `-Wdelete-non-abstract-non-virtual-dtor` when building with clang and `-Wall -Wextra`"
**Describe your environment**

Linux/Debian 11
Clang 11 with libc++ and libc++abi

**Steps to reproduce**

Add `-Werror -Wall -Wextra`.

**What is the expected behavior?**

Build success.

**What is the actual behavior?**

[code]

**Additional context**

Should we add `virtual ~LogHandler() = default;` for `LogHandler`?

[2022-02-13 06:01] owent opened #1206 "Can not build with MSVC 19.30(VS2022) and bazel 5.0"
**Describe your environment**

OS: Windows 10
Compiler: Visual Studio 17.0.6/MSVC 19.30

**Steps to reproduce**

`bazel build --copt=-DENABLE_METRICS_PREVIEW --copt=-DENABLE_LOGS_PREVIEW //...`

**What is the expected behavior?**

Build completed successfully

**What is the actual behavior?**

When run `bazel fetch //...`, it shows:

[code]

**Additional context**

Upgrade grpc to v1.43.2 can reso

[2022-02-13 09:19] esigo commented on #1187
The issue is because of `std::unordered_map` that is used for [printing](https://github.com/open-telemetry/opentelemetry-cpp/blob/e89e5b3dd65b0e73435c12b9fdeb54f9420f4bb4/exporters/ostream/src/log_exporter.cc#L80). The order in printing is not guaranteed, so the test fails.

[2022-02-14 14:32] TonyRoussel commented on #889
FYI, had the same issue when trying to use opentelemetry-cpp as a submodule, and manage to circumvent by setting in my CMakeLists `set(CMAKE_MODULE_PATH ${CMAKE_CURRENT_SOURCE_DIR}/opentelemetry-cpp/cmake/modules)`

I'm not sure but it's possible that calling `mark_as_advanced(CMAKE_TOOLCHAIN_FILE)` in the root CMakeLists make impossible to go into the if-branch that is [suppose to set cmake modul

[2022-02-14 20:05] westonpace opened #1211 "Expose static RuntimeContext storage for lifecycle management"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
I am working on

[2022-02-14 21:32] lalitb commented on #1190
closed with #1191

[2022-02-14 21:32] #1190 closed

[2022-02-14 23:57] ThomsonTan commented on #1192
@jspaith our setup script is still launching vs2019 even vs2022 is available. I have PR attached to address this issue. Please let us know if it fixes the issue.

[2022-02-15 00:09] lalitb commented on #1200
`-DWITH_STL=ON` cmake option will set the `HAVE_CPP_STDLIB` macro. You need to set this macro while compiling your test code using g++, something like below:

``
g++ -DHAVE_CPP_STDLIB -o test test.cc -O0 -g -std=c++11 -Wall -Wextra -Werror -Wno-unused-parameter -I/build/otlp/debug-stl/include -L/build/otlp/debug-stl/lib64 -Wl,-rpath,/build/otlp/debug-stl/lib64 -lopentelemetry_exporter_jaeger_trace

[2022-02-15 02:33] owent commented on #1206
What is the mean of "github bug" ? I think it's just a compatibility problem of grpc for bazel 5.And bazel 4 do not support VS 2022 right now.

[2022-02-15 04:24] #1206 closed

[2022-02-16 22:58] #1197 closed

[2022-02-17 08:10] #1192 closed

[2022-02-18 00:33] lalitb opened #1217 "[Metric SDK] - Sync Instruments - Aggregation Storage(s) creation for configured views."
While creating a Synchronous Instrument through [Meter API](https://github.com/open-telemetry/opentelemetry-cpp/blob/3a9d0870bc846f79f97c81796ce70440d944aa88/api/include/opentelemetry/metrics/meter.h#L39), the SDK should create multiple Aggregation Storage using the below logic:

 - For each of the configured views in View Registry
   -  Find a list of matching views ( same instrument type, name,

[2022-02-18 00:34] lalitb opened #1218 "[Metric SDK] - ASync Instruments - Aggregation Storage(s) creation for configured views."
Similar to #1217 , creating Aggregation Storage for configured views for Async Instruments.

[2022-02-18 01:51] #159 closed

[2022-02-18 08:44] ZDzhao opened #1220 "crash in ext::http::client::curl::HttpOperation::Send"
Enviroment: CentOS Linux release 7.3.1611 (Core)

#0  0x00007ff6ee439a37 in abort () from /lib64/libc.so.6
#1  0x00007ff6ee477f47 in __libc_message () from /lib64/libc.so.6
#2  0x00007ff6ee512d87 in __fortify_fail () from /lib64/libc.so.6
#3  0x00007ff6ee510f40 in __chk_fail () from /lib64/libc.so.6
#4  0x00007ff6ee512cf7 in __fdelt_warn () from /lib64/libc.so.6
#5  0x0000000000d55ed8 in WaitOnSoc

[2022-02-18 12:01] krishvoor opened #1221 "Enable ppc64le, s390x architectures on opentelemetry-cpp"
Hi,

Thanks for the wonderful readme/documentation, I could build `opentelemetry-cpp` from the source almost instantly, run the tests outlined successfully on architecture in the subject.

In case, if you are wondering what ppc64le, s390x architectures are?
ppc64le is a RISC Architecture and is IBM's prodigy, IBM has made its ISA (Instruction Set Architecture) open-source,
doing so they have contr

[2022-02-18 18:21] swgoldwood opened #1223 "Invalid parent ID (all zeros)"
Hey, could anyone point me to real world repo using opentelemetry-cpp? I'd like to study code already successfully using it.

I'm struggling to produce usable traces into Jaeger. Each time i create a span and scope, it produces a new trace in Jaeger, so I'm unable to get anything useful other than for a single function runtime. It seems like the way I am using it doesn't handle parents correctly.

[2022-02-18 19:45] lalitb commented on #1223
Example code for parent-child span creation with Jaeger is [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/jaeger/main.cc). But looks like you are doing steps correctly. Which OS/compiler you are testing with. There are issues with Ubuntu 18.04.5 LTS/ gcc 7.5.0 where TLS is not handled correctly due to a bug in the compiler. More details along with a workaround #1014

[2022-02-18 19:57] swgoldwood commented on #1223
Thanks. This seems to be the same issue I am having.

I'm using Release built static libs. GCC 6.3 on RHEL6.10. I'll try out the workaround and get back. Thanks a lot for quick reply

[2022-02-18 20:31] swgoldwood commented on #1223
Nope my issue is something else. Very strange. I'm going to look into it more.

[2022-02-19 01:48] swgoldwood commented on #1223
Any ideas what I could do to debug this? My issue is very similar to the issue you linked. Parent id is zero'd out just like that issue.

What line of code populates the parent_id? Debugging the Stack i can see objects getting added appropriately. This seems correct.

Thanks a lot! This library will be awesome when it works!

[2022-02-19 01:58] lalitb commented on #1223
Parent-id gets populated [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/cf7f9e28ab6610e81a9fc2799b31bbcbef7cf613/sdk/src/trace/tracer.cc#L40).

Meanwhile, if you are able to build [sample example](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/simple/main.cc), and share the console output after running, it would give some idea.

[2022-02-19 07:44] #1211 closed

[2022-02-19 09:14] krishvoor commented on #1221
Hi, @lalitb Thanks for your response.
GH Actions + QEMU will work on multi-arch, from my observations,
I have seen poor performances and test timeouts during the lifecycle of the PR Merge Process.
We can definitely consider TravisCI if we see similar issues with GH Actions + QEMU :)

[2022-02-19 10:12] #1049 closed

[2022-02-19 10:20] lalitb opened #1226 "Remove gmock/gtest depepdency from ext::http::client::nosend"
As discussed [here](https://github.com/open-telemetry/opentelemetry-cpp/pull/1185#discussion_r808715341), it would be good to remove gmock/gtest dependency from [ext::http::client::nosend](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ext/src/http/client/nosend/CMakeLists.txt).

One option could be - We do plan to modify [EventHandler::OnEvent](https://github.com/open-telemetry/ope

[2022-02-19 10:55] owent commented on #1049
Yes, I can create another issue and try to use [`multi_handle`](https://curl.se/libcurl/c/libcurl-multi.html) after #1209 is merged.It can reduce the cost when there are a lot sessions.

[2022-02-21 14:16] sirzooro commented on #1200
Thanks, this fixed my problem. Libraries compiled from sources usually installs their `config.h` file which stores all defines like this one, so I assumed that I do not have to add it manually. It would be good if you could follow this approach too.

BTW, I also had to switch to C++17 - with C++11 I got tons of compilation errors after I added `-DHAVE_CPP_STDLIB`.

[2022-02-21 17:41] lalitb commented on #1200
Yes, that's [expected](https://github.com/open-telemetry/opentelemetry-cpp/blob/b8fae39f81cfe079db84d7c5348b431b54580675/docs/dependencies.md#external-dependencies). It tries to use std::variant, std::span from the STL library if `HAVE_CPP_STDLIB` is enabled, and so fails with C++11.

[2022-02-21 19:12] sirzooro commented on #1200
My point here is that header file(s) could have some `#if` at the beginning to check C++ version and `#error` early.

[2022-02-21 19:32] lalitb commented on #1200
Agree, HAVE_CPP_STDLIB is the half-baked solution, not prioritized as it is not recommended to be used to maintain ABI compatibility.   Also, there is a somewhat related issue #1071 to have more granular HAVE_CPP_STDLIB support ( tagged as `help wanted`). Feel free to contribute to the change you suggested to fail early with proper error.

[2022-02-22 19:26] sirzooro opened #1230 "GPL License for dependencies"
I have checked license details for dependencies listed on https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/dependencies.md and to my surprise I found that some of them uses GNU GPL License. This means that anyone who would use this library in his proprietary closed-source app would have to release its source code.

After closer look I realized that information on that page are no

[2022-02-22 20:19] lalitb commented on #1230
Thanks for raising this issue. It is important for licensing information to be correct.

Can you suggest the wordings here to clarify - We can explicitly mention GPL v3 for nostd::span if that helps?

Correct. The nostd::span header got included by mistake in the automated script used to add Apache 2.0 license, and need to be fixed.

This has been fixed in #1167. The gsl::span would be used only i

[2022-02-22 20:38] sirzooro commented on #1230
My intention here was to point that things in `std` namespace used by `#include`-ing appropriate headers from standard C++ library are on GNU GPL with special exception. This applies to 1st bullet in API&SDK section.

`nostd::span` code is copied with some changes (like namespace name change), so this is different thing and I am not sure about exact license details for it, as IANAL.

[2022-02-22 21:59] swgoldwood commented on #1223
I finally got this working. I pulled out the StartSpan function in tracer.cc into the header file, and it worked. So I'm just going to use my local revision for time being!

[2022-02-22 22:14] #1223 closed

[2022-02-24 08:12] #1217 closed

[2022-02-24 20:06] sirzooro commented on #1230
I wonder if you could replace code of `nostd::span` with copy of `gsl::span`, which uses MIT License. My main concern here is that this may break ABI compatibility, so it may not be so easy to perform.

[2022-02-24 23:58] lalitb commented on #1230
IANAL too, does anyone see an issue with adding  GPLv3 license along with the Section 7 exception in the [nostd::span](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/nostd/span.h) file header keeping the OpenTelemetry copyright intact? Same for [std::variant](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/std/variant

[2022-02-25 01:34] sandakith opened #1231 "building OTel SDK in centos7"
Wanted to know if anyone have experience with try to build sdk with centos7 based libs.
With dependencies already installed (benchmark and googletest). This is where I have reached with sdk build

[code]

It seems like it tried to build tests after building SDK libs, Any suggestions about how to avoid it or would skipping building tests is a option ?

[2022-02-25 02:01] lalitb commented on #1231
Which opentelemetry-cpp release you are using? Also if you can share the build steps.

[2022-02-25 02:03] lalitb commented on #1231
To skip building tests through cmake, you can use `-DBUILD_TESTING=OFF`.

[2022-02-25 02:11] sandakith commented on #1231
Thanks for the reply, I am following https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/dependencies.md and https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md and plan to use sdk with zipkin exporter.

[2022-02-25 02:12] sandakith commented on #1231
And I am in the current head not in a specific release of the code :
[code]

[2022-02-25 02:44] lalitb commented on #1231
ok, I can't see this error on my ubuntu 20.04, with benchmark v1.5.3 (same version as used in the build pipeline).

[2022-02-26 06:41] lalitb opened #1233 "[Metric SDK] Delta metric collection for Synchronous Aggregation storage"
Refer to [data model ](https://github.com/open-telemetry/opentelemetry-specification/blob/10cac7e35ae4fcf92ed020befe85b3701f4d19e1/specification/metrics/datamodel.md#metric-points) for delta and cumulative metric data points.

Implement [SyncMetricStorage::Collect](https://github.com/open-telemetry/opentelemetry-cpp/blob/c10bc36e7d7776ac74d45b5b2ca02eaf0df028b4/sdk/include/opentelemetry/sdk/metric

[2022-02-26 06:41] lalitb opened #1234 "[Metric SDK] Delta metric collection for Asynchronous Aggregation storage"
Details to be added

[2022-02-26 06:45] lalitb opened #1235 "[Metric SDK] Cumulative metric collection for Synchronous Aggregation storage"
Refer to [data model ](https://github.com/open-telemetry/opentelemetry-specification/blob/10cac7e35ae4fcf92ed020befe85b3701f4d19e1/specification/metrics/datamodel.md#metric-points) for delta and cumulative metric data points.

[2022-02-26 06:46] lalitb opened #1236 "[Metric SDK] Cumulative metric collection for Asynchronous Aggregation storage"
Refer to [data model ](https://github.com/open-telemetry/opentelemetry-specification/blob/10cac7e35ae4fcf92ed020befe85b3701f4d19e1/specification/metrics/datamodel.md#metric-points) for delta and cumulative metric data points.

[2022-02-26 17:53] sandakith commented on #1231
Thanks @lalitb for info. This builds with out tests [-DBUILD_TESTING=OFF].  I assumed there is an issue with attributemap_hash_benchmark linking with centos7 libs (it could be underlying platform issue),  believe this can be easily reproduced with a base centos7 docker image. I can provide more details if needed but I am trying to build zipkin exporter and would be able to provide information on t

[2022-02-27 01:10] vaastav opened #1237 "Failure to build open-telemetry with missing variable GMOCK_LIB"
Hi, I am unable to build the library with the following error when I execute the cmake command.

[code]

Could someone tell me what is missing or why this is failing?

[2022-02-27 02:33] lalitb commented on #1237
Duplicate to #1226.
Meanwhile please use opentelemetry-cpp [v1.2.0](https://github.com/open-telemetry/opentelemetry-cpp/releases/tag/v1.2.0).

[2022-02-28 16:53] lalitb commented on #999
This is not required, as the Measurements are internally maintained as value and attributes.

[2022-02-28 16:53] #999 closed

[2022-02-28 16:56] lalitb commented on #1230
As you rightly mentioned it won't be a good idea to do it now with the stable release of traces, as this may break ABI compatibility.

[2022-03-01 04:22] #1101 closed

[2022-03-01 11:15] taozhijiang opened #1238 "Consider the performance harm of synchronized exporters"
Hi, I have tested and deployed the latest v1.2.0 C++ SDK in our production environments. Our cloud infrastructure provider supports HTTP OTLP exporter for the Tracer function.

I set the sample_ratio to 0.01, otherwise the Tracer will greately affect our service performance. However, when analyse the tracer data detailly, we find some slow handled requests, and most time are token by span->End() c

[2022-03-01 15:34] esigo commented on #1238
Hi @taozhijiang, thanks to reaching out to us. There is already a PR (#1209) by @owent under review.

[2022-03-01 15:40] esigo commented on #1221
Hi @krishvoor thanks for reaching out to us.
I was wondering if there is a native multi-arch support on TravisCI or they just use emulation?

[2022-03-01 16:52] krishvoor commented on #1221
Hi @esigo,

The short answer is No, per TravisCI, they support [two](https://docs.travis-ci.com/user/reference/overview/#virtualization-environments) virtualization environments:

1) LXD ( Faster spin-up times )
2) Full VM ( Full virtual machine, without limitations )

To understand further what infrastructure they **natively** run on, you can read it [here](https://docs.travis-ci.com/user/referen

[2022-03-01 18:40] lalitb commented on #1221
Just to add here from a non-technical perspective, CNCF has established an agreement and generous plan with Azure Pipeline and  Github Actions, and most of the projects under CNCF (including projects under OpenTelemetry) have migrated to Github. It would be good if we can achieve multi-architecture support on Github ( maybe this requires caching binaries for external dependencies like jaeger, grpc

[2022-03-01 19:23] lalitb commented on #1238
Also to add, @taozhijiang  - did you consider using BatchSpanProcessor, as this performs upload in a separate thread, and so allows the application to continue with business logic without waiting for the upload to complete.

[2022-03-01 20:40] lalitb opened #1239 "Async/callback based interface between Span/Log Processor and Span/Log Exporter"
As of now, the flow of spans from Span Processor to Exporter is synchronous, which means the processor has to wait for the upload/export status of the ongoing request before invoking a new request.

``Application -> Span::OnEnd() -> SimpleProcessor::OnEnd -> Mutex Lock -> Exporter::Export()``

The application has to wait for the span to be uploaded to continue further with business logic.

 The Ba

[2022-03-01 21:10] lalitb commented on #1239
To start with, this new interface can be quickly integrated with Zipkin, and OTLP HTTP exporter, as the existing ext::http::client support [callback ](https://github.com/open-telemetry/opentelemetry-cpp/blob/11a219c80a7a3c47f479ce9d20e590e5900d0248/ext/include/opentelemetry/ext/http/client/http_client.h#L215)mechanism.

[2022-03-02 01:50] taozhijiang commented on #1238
Thanks for the suggestion, I will try this later.

[2022-03-02 10:18] #1238 closed

[2022-03-02 19:10] esigo commented on #1237
Hi @vaastav, thanks for reaching out to us. Would it be possible to share the options you have used?
`http_nosend` is used for unit tests only and currently depends on `GMock`.
This can be turned off by `-DBUILD_TESTING=OFF`.

[2022-03-02 19:52] esigo commented on #1231
Hi @sandakith, we have a new [Dockerfile](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docker/Dockerfile.centos) added recently with Centos base. It has `Jaeger`, `Zipkin`, and `otlp` exporters.

[2022-03-03 10:05] vaastav commented on #1237
Hi @esigo, I followed the instructions here: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md

I was able to circumnavigaet the error by using the v1.2.0

[2022-03-03 10:05] #1237 closed

[2022-03-03 19:57] lalitb commented on #1239
@DebajitDas Also, you may want to look into a related PR #63, which was an attempt to add async support using [libevent](https://[libevent](https://libevent.org/).org/). The PR adds support for files i/o and timers and networking was to follow afterward. Somehow it was never merged for various reasons.

Feel free to decide on the best approach on adding the async support :)

[2022-03-04 03:17] owent opened #1243 "Using `libcurl-multi` to implement `opentelemetry::ext::http::client::curl::HttpClient`"
**Is your feature request related to a problem?**

To improve IO performance as mentioned in #1175 and #1176

**Describe the solution you'd like**

Using  `libcurl-multi` instead of invoking threads for `HttpClient`.

**Additional context**

+ https://curl.se/libcurl/c/libcurl-multi.html
+ https://curl.se/libcurl/c/multi-double.html

[2022-03-04 03:19] owent commented on #1243
This issue can be assigned to me, and I will finish it several days later.There will not be any conflict with #1209 .

[2022-03-04 03:19] owent commented on #1175
This issue is splited into #1175 and #1243.

[2022-03-04 03:19] #1175 closed

[2022-03-04 03:41] lalitb commented on #1243
Thanks. Was thinking to create an issue for this.

[2022-03-04 11:45] DebajitDas commented on #1239
Thanks @lalitb . I am looking at C++ async mechanism and see if that can be used to achieve asynchronous Export Call.
I looked at http::client callback mechanism, but that seems to be blocking call, even though it was implemented with async mechanism. Am I missing something?

[2022-03-04 12:22] owent commented on #1239
I create another issue #1243 to implement async send for `opentelemetry::ext::http::client::curl::HttpClient`. But it's just for curl and http client.
To my understanding, there is no standard async mechanism in C++, `select()` can be used on all platforms we support but it has performence problem and it can not handle more than 1024 file descriptors(#1220 ) . Many libraries and system use [libeve

[2022-03-04 15:02] owent opened #1244 "Crash when destroy LoggerProvider and TracerProvider"
**Describe your environment**

OS: Linux/CentOS 7
Compiler: GCC 4.8.5

**Steps to reproduce**

It may happen when destroy the last LoggerProvider and TracerProvider. But it only rarely happen.

**Additional context**

[code]

Thread 1:
[code]

Thread 5:

[code]

This may related to destructing order of members in `LoggerProvider` and `Logger`.
And also, I need Shutdown myself sometimes but the des

[2022-03-04 17:15] ThomsonTan commented on #1243
Do we need provide an option for libcurl vs. libcurl-multi? I think libcurl-multi could take more resource usage, so may be not expected for some scenario?

[2022-03-04 17:44] owent commented on #1243
I think we can use libcurl-multi in SendAsync and still use libcuel-easy in Send.
To my understanding, libcurl-multi do not cost more because we use `select()` to wait for response , when we use libcurl-multi, we just use `curl_multi_poll()` to replace `select()`.

[2022-03-04 21:51] lalitb commented on #1239
@DebajitDas You are right. The abstract method [http::client::Session::SendRequest](https://github.com/open-telemetry/opentelemetry-cpp/blob/11a219c80a7a3c47f479ce9d20e590e5900d0248/ext/include/opentelemetry/ext/http/client/http_client.h#L215) takes a function object as an argument, and it's curl implementation [http::client::curl::Session::SendRequest](https://github.com/open-telemetry/openteleme

[2022-03-05 04:45] owent commented on #1239
In my opnion, we should let the user decide which event loop to use. Should we also implement a adaptor just like [hiredis](https://github.com/redis/hiredis/tree/master/adapters)? And we can use libevent by default.

[2022-03-07 02:40] owent commented on #1239
I also use [libwebsockets][1] in our project, it alse support to use [libuv][2] , [libevent][3], [libev][5], [libubox/uloop][4] and etc. as   event loop. I think [libuv][2]  and [libevent][3] is widely used now.

[1]: https://github.com/warmcat/libwebsockets/tree/main/lib/event-libs
[2]: https://libuv.org/
[3]: https://libevent.org/
[4]: https://git.openwrt.org/?p=project/libubox.git
[5]: https://

[2022-03-07 04:16] lalitb commented on #1239
This is also what #63 is trying to achieve. Provides an abstract adaptor, with libevent implementation.

[2022-03-07 05:21] DebajitDas commented on #1239
From the interface perspective of Processor ---> Exporter, callback mechanism could be achieved  by the following:
1. _Using std::async and std::shared_future_:  On every call to Export, Exporter would use std::async (std::launch::async) to launch a separate thread and perform the export work there. And when the result is ready, invoke the callback.
    std::shared_future can be stored in queue an

[2022-03-07 06:59] lalitb commented on #1239
I would prefer to offload most of the complexity of thread/concurrency management to Span/Log Processor and let the exporter logic be focused on the serialization and transport. This will also ease the work for exporter developers.

If we can scope this issue for only interface change, and think about concurrency separately, the rough changes for [ElasticsearchLogExporter ](https://github.com/open

[2022-03-07 07:12] owent commented on #1239
Agree. Can we also provide a internal event loop and let the exporters decide whether to use it or spawn a new thread to finish
 IO?

[2022-03-07 07:49] lalitb commented on #1239
IO?

Yes, we definitely need to have an internal event loop. In the case of HTTP exporter, the decision of using the event loop for IO should be with ext::http::client implementation. So if the ext::http::curl want to use curl_multi_poll it should use the event loop. Do you think it would be beneficial for non-HTTP exporters?

[2022-03-07 07:59] owent commented on #1239
Yes. And if other exporters use any SDK which allow users to get the raw socket fd. We can also use our internal event loop to handle it.

[2022-03-07 12:09] DebajitDas commented on #1239
@lalitb Thanks for clarifying the scope. With the above, we need to maintain such that RequestHandler object remains valid even when callback is called in separate thread.

[2022-03-07 22:07] lalitb commented on #1239
It's a good point. Probably we need to pass the ownership of ResultHandler from exporter to HttpClient, and let it clean up after calling. This would need changes in HTTP client library

Yes, we need to do that for backward compatibility. Though maintaining ABI compatibility would be tricky, as any external exporter (built against the old SDK) would no longer work with the new SDK, and would need

[2022-03-08 13:40] DebajitDas commented on #1239
Thanks @lalitb for clarifying the doubts.
Now from the implementation perspective, we need to provide implementation for those exporters which uses http_client_curl internally, such as elastic_log_exporter, otlp_http_exporter, otlp_http_log_exporter and zipkin exporter. All other log/span exporter would have empty implementation in the callback version of export call?

[2022-03-08 14:17] owent commented on #1239
After the new `Export` interface is done. I can modify #1209 to make otlp_http_exporter and otlp_http_log_exporter to use the new callback version `Export` call then.

[2022-03-08 18:01] lalitb opened #1250 "Add support for event driven framework"
This would be eventually required  for
 - To support async interface between span/log processor and exporters.
 - Async IO while exporting the spans.
 - Timers to poll for Spans in BatchSpanProcessor, and metrics in PeriodicMetricReader.
 - Asynchronously collect metrics for all the instruments across all the meters ( this would be a costly operation sequentially or even using threads).

Reference

[2022-03-08 18:03] lalitb commented on #1239
Have created #1250 for supporting the event loop framework. Feel free to modify the issue, or add more data there.

[2022-03-08 18:17] #1244 closed

[2022-03-09 13:33] akshay-oxbot opened #1253 "[Question]: Is there an estimated timeline for a stable API?"
The README states:

`The development of the metrics API and SDK based on new stable specification is ongoing. The timelines would be available in release milestone. The earlier implementation (based on old specification) can be included in build by setting ENABLE_METRICS_PREVIEW preprocessor macro, and is included under */_metrics/* directory.`

Having previously linked against the now deprecated

[2022-03-09 15:12] jan-hudec commented on #1076
I gave up on the library, because my first attempt at using it promptly crashed. I don't care any more.

[2022-03-09 15:35] esigo commented on #1253
Hi @akshay-oxbot, thanks for reaching out to us.
please refer to our [milestones](https://github.com/open-telemetry/opentelemetry-cpp/milestones) for checking the progress.

[2022-03-09 19:26] #1253 closed

[2022-03-09 20:08] lalitb commented on #1093
The record API / SDK needs to be modified too to pass span context, which would be required to get trace id and span id.

[code]

[2022-03-10 14:27] akshay-oxbot opened #1255 "[Question]: Where can I find a replacement for the Record class?"
As part of implementing our own SDK to extend the super helpful SDK provided by `v1.0.1`, I found use for the `Record` class that `v.1.0.1` provided.

With the old experimental implementation marked for deprecation (_metrics), I am currently experimenting with `v1.2.0`. I was wondering if `Recordable` was a replacement for `Record` in `v1.2.0`?

If this is not the case, can you provide information

[2022-03-10 20:01] swgoldwood commented on #1223
In case anyone sees this. The fix was likely not my changes in tracer.cc. it was the same issue as here: https://github.com/open-telemetry/opentelemetry-cpp/issues/1014

[2022-03-10 20:17] lalitb commented on #1223
Thanks for confirming.

[2022-03-10 20:19] lalitb commented on #1255
The new metrics SDK is not yet ready, so you won't be able to use it correctly yet. Please follow the release milestones and status in the README.md.
Also you can post your questions on the Discussion forum instead of opening an issue :)

[2022-03-10 20:23] swgoldwood opened #1257 "AWS Xray exporter?"
Has anybody exported their traces to AWS Xray, or know of a way of accomplishing this, such as via some intermediate process? Would really appreciate any guidance!

Many Thanks

[2022-03-10 20:28] lalitb opened #1258 "config timeout with CURLOPT_TIMEOUT_MS instead of CURLOPT_TIMEOUT for curl implementation"
### Discussed in https://github.com/open-telemetry/opentelemetry-cpp/discussions/1254

<div type='discussions-op-text'>

<sup>Originally posted by **wxl374** March 10, 2022</sup>
When configure OtlpHttpExporter's timeout less than 1s, it will set to 0 for the use of CURLOPT_TIMEOUT(https://github.com/open-telemetry/opentelemetry-cpp/blob/fd5a6218bde5a728019f377a67f75c7b821f76c7/ext/include/opentel

[2022-03-10 20:28] lalitb commented on #1258
This is a good point. Would be good to see the libcurl version having CURLOPT_TIMEOUT_MS support before supporting this. Moving this to issue to investigate further.

[2022-03-10 20:29] esigo commented on #1257
You may export your traces to  otel-collector and then  the collector export to other backends including [AWS Xray](https://aws-otel.github.io/docs/getting-started/x-ray#configuring-the-otlp-receiver).

[2022-03-10 20:30] lalitb commented on #1257
Moving to discussion.

[2022-03-11 00:38] lalitb commented on #1231
@sandakith  - As the docker image for centos7 is successfully building otel-cpp, please check the commit version you are using.
Unless you have further updates, would like to close this issue, or else move this to the Discussion forum.

[2022-03-11 01:55] lalitb commented on #1220
@ZDzhao  Can you share a bit more context on this :
 - Is this OTLP HTTP export?
 - What commit id/release of otlp-cpp ?
 - How often the crash is happening, and when is it happening  - Is it after processing a few ( hundreds/ thousands) spans?

Ideally, fd/socket buffer shouldn't happen, as the Export is sequential i.e, subsequent export will be initiated only after the previous export is complet

[2022-03-11 04:27] lalitb commented on #1258
Thanks, 7.16.2 seems long back (~2007), I think we can safely use CURLOPT_TIMEOUT_MS

[2022-03-11 18:43] #1258 closed

[2022-03-11 22:36] #1218 closed

[2022-03-12 05:58] Xianyong opened #1262 "build process failed: cmake --build . --target all"
/home/lz/code/opentelemetry-cpp-1.2.0/exporters/jaeger/test/jaeger_exporter_test.cc:75:89: note:   candidate expects 0 arguments, 1 provided
   auto exporter           = GetExporter(std::unique_ptr<ThriftSender>{mock_thrift_sender});
                                                                                         ^
In file included from /usr/include/gtest/gtest.h:1874:0,
                 f

[2022-03-12 07:23] esigo commented on #1262
Hi @Xianyong  thanks for reaching out to us.
Could you please tell us about your environment?
you can turn off the test build by using the `-DBUILD_TESTING=OFF` option. Otherwise you need gtest and gmock installed.

[2022-03-12 12:37] Xianyong commented on #1262
Once grpc was installed, both options of -DWITH_ZIPKIN=ON and - DWITH_OTLP=ON were fine to compile this project, while the option -DWITH_JAEGER=ON always stopped by errors:

------------
/home/lz/code/opentelemetry-cpp-1.2.0-jaeger/opentelemetry-cpp-1.2.0/exporters/jaeger/test/jaeger_recordable_test.cc:215:66: error: no matching function for call to ‘opentelemetry::v1::nostd::span<const long int>:

[2022-03-12 17:19] esigo commented on #1262
I can't reproduce this on ubuntu. It would be great if you could provide reproduction steps. Also let us know if you have gtest, and gmock installed (you don't need them if you use the `-DBUILD_TESTING=OFF` option).
Meanwhile you can try one of our Dockerfiles ([ubuntu](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docker/ubuntuLatest/Dockerfile) or [centos](https://github.com/open

[2022-03-13 09:20] esigo commented on #1093
@lalitb Shoudn't the `context` be `opentelemetry::trace::SpanContext`?

[2022-03-13 20:19] #1230 closed

[2022-03-14 15:04] gabguy opened #1266 "Building as standalone CMake Project failure -"
Hey guys,
trying to build the CMake project for opentelemetry-cpp on Windows 10 and getting this **error**:

Determining if the include file pthread.h exists failed with the following output:
Change Dir: C:/Users/shlomo/Desktop/source/opentelemetry-cpp/build/CMakeFiles/CMakeTmp

Run Build Command(s):C:/Program Files (x86)/Microsoft Visual Studio/2019/Professional/MSBuild/Current/Bin/MSBuild.exe cm

[2022-03-14 19:44] lalitb commented on #1266
Please refer to this:
https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#building-shared-libs-for-windows

Building DLL is not supported on Windows. You would have to build a static library.

[2022-03-16 20:45] lalitb commented on #1266
Closing as explained above.

[2022-03-16 20:45] #1266 closed

[2022-03-16 20:46] lalitb commented on #1262
@Xianyong  - Can you provide the repro steps, version of gtest/gmock used. As this is working fine in CI, and not reproducible locally.

[2022-03-16 20:47] lalitb commented on #1231
Closing as stale. Please reopen if there are more details.

[2022-03-16 20:47] #1231 closed

[2022-03-20 13:55] VivekSubr opened #1272 "cmake install misses a header"
**Describe your environment**
Ubuntu, wsl

**Steps to reproduce**
Install steps,
  mkdir build && cd build
  cmake .. -DBUILD_SHARED_LIBS=ON -DWITH_JAEGER=ON
  cmake --build . --target all
  ctest
  cmake --install . --config Release --prefix ../.

**What is the expected behavior?**
The include directory should be as per cmake OPENTELEMETRY_CPP_INCLUDE_DIRS by default, and it should contain all re

[2022-03-21 14:02] #1272 closed

[2022-03-21 16:00] lalitb commented on #1202
#1213 closes this

[2022-03-22 15:30] sirzooro opened #1279 "Links between Spans from different Traces"
I have three applications: A, B and C. App C is 3rd-party for us (we cannot modify it). App B works as a gateway to app C - it contains only logic needed to establish connection with app C and pass packets in both directions.

When A sends something to B, it creates new Trace and passed it to B. The same when B sends something to A. However we are not able to to pass trace context to C and get it

[2022-03-23 03:19] lalitb commented on #1279
[Tracer::StartSpan](https://github.com/open-telemetry/opentelemetry-cpp/blob/6ec1b596fde0a2d443f5d730bcd14384b68c68e9/api/include/opentelemetry/trace/tracer.h#L40) provides option to link unrelated spans. Let us know if this is what you are looking for ?

[2022-03-23 04:08] Grace-1024 opened #1280 "Get an error while build with bazel, looks like related to curl depenence?"
**Describe your environment**
gcc version 8.3.1 20191121 (Red Hat 8.3.1-5) (GCC)

**What is the expected behavior?**
What did you expect to see?

**What is the actual behavior?**
[code]

[2022-03-23 06:29] zengguofei opened #1282 "span SetAttribute occur crash"
When I execute Span::End, if I execute Span::SetAttribute again, a crash will occur. I checked the implementation and found that Span::SetAttribute does not execute to determine whether the recordable_ is null, but other interfaces have been executed.
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/31093334/159637188-bf36069f-17fb-4a43-ba28-b3ed71905e05.png">
<img widt

[2022-03-23 21:11] esigo commented on #1280
Hi @Grace-1024, thanks for reaching out to us.
Would it be possible to share your build command?

[2022-03-24 07:51] lalitb opened #1285 "Metrics SDK: Implement Periodic exporting MetricReader"
As specified in specs: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#periodic-exporting-metricreader

- This is an implementation of the MetricReader which collects metrics based on a user-configurable time interval, and passes it to the exporter
- Configurable parameters:
   -  exportIntervalMillis
   -  exportTimeoutMillis

[2022-03-24 09:13] sirzooro opened #1287 "otlp_http_client.cc compilation error"
**Describe your environment**
OS: CentOS Stream release 8
Compiler: gcc (GCC) 10.3.1 20210422 (Red Hat 10.3.1-1)
OpenTelemetry libs from today's main branch

**Steps to reproduce**
[code]

**What is the expected behavior?**
Compilation ends successfully.

**What is the actual behavior?**
[code]

**Additional context**
I have fixed this by adding `#include "google/protobuf/stubs/stringpiece.h"` aft

[2022-03-24 10:18] sirzooro commented on #1287
During compilation of my test app I also saw this warning. Because of this I had to remove `-Werror` from my Makefile. It also compiled successfully after I removed `const` from include file.

[code]

[2022-03-24 11:23] chalin commented on #78
Consider changing "bridge" to "shim" in the title (since the terminology has changed since this issue was created).

[2022-03-24 17:20] lalitb commented on #1287
Can you share the version of protobuf/grpc used?

[2022-03-24 17:25] esigo commented on #1287
I'm not able to reproduce using our [Centos docker file](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docker/Dockerfile.centos) with gcc 8 and your cmake command.

[2022-03-24 20:05] sirzooro commented on #1287
Protobuf version: `protobuf-3.5.0-13.el8.x86_64`
I do not have grpc installed.

[2022-03-24 21:19] lalitb commented on #78
Thanks, done.

[2022-03-24 21:31] #1093 closed

[2022-03-24 22:17] esigo commented on #1287
@sirzooro thanks for the info.
I was able to reproduce with protobuf 3.5 I installed manually.

[2022-03-25 15:19] sirzooro commented on #1279
Thanks for hint. This partially solves my case. Main issue with this approach is that I do not know target Trace for link when I create my Span. I would have to either create extra child Span later in order to put link there, or delay Span creation until link target is known. Both workaround have their downsides.

BTW, please create some example how to create links. It is not obvious that `StartSp

[2022-03-25 16:24] lalitb commented on #1279
Valid points. There are also downsides in allowing the linking of spans after span creation, more discussed [here](https://github.com/open-telemetry/opentelemetry-specification/pull/2278). AS of now, specs don't allow it, thought it can change in the future.

There are few examples in unit-tests [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/2c9ce393e0582a4e0559a73bd9a572cf324b708

[2022-03-25 16:40] #1287 closed

[2022-03-26 08:25] #1282 closed

[2022-03-28 04:19] Grace-1024 commented on #1280
bazel build --verbose_failures --sandbox_debug ...

I fix this problem by edit this line https://github.com/open-telemetry/opentelemetry-cpp/blob/main/bazel/curl.bzl#L200 to "//conditions:default": BASE_CURL_COPTS".

[2022-03-28 05:40] lalitb commented on #1280
Not sure, but something seems to be messed up with the linux kernel headers in this system. Can you check which rpm package is bringing this file:

[code]

And kernel version installed:
[code]

[2022-03-28 06:26] Grace-1024 commented on #1280
The linux kernel I'm using is provided by our company, maybe you can't find it on the internet.

[code]
The 'tlinux' means Tencent Linux.

[2022-03-28 17:48] lalitb commented on #1280
Thanks for clarifying. This looks to be an issue in the kernel header, not related to opentelemetry-cpp. `u32` type is not visible after the inclusion of `tcp.h` header. You may want to follow up with the maintainers of this kernel?

[2022-03-28 19:50] lalitb opened #1291 "Review logger Implementation for the stable log data model."
Log Data Model specs are marked as stable - https://github.com/open-telemetry/opentelemetry-specification/pull/2387. It would be a good time to review the logger api and sdk implementation and validate if the existing log structure can be mapped to this data model. Also, how to continue supporting fields/attributes that are not part of this logger model - eg log-name.

[2022-03-28 23:52] juandemanjon opened #1292 "Windows Ninja build fails with 'C:\Program' is not recognized as an internal or external command"
In a Windows environment where Ninja binary is a path with spaces the build fails and the error messages is:
```'C:\Program' is not recognized as an internal or external command```

The fix is pretty straight forward, just wrapping the %NINJA% call with quotes, which I am going to send a PR

**Steps to reproduce**
To reproduce it, ninja has to be in a path with spaces. In my environment I have:
[c

[2022-03-29 02:05] #763 closed

[2022-03-29 09:55] flier opened #1296 "bazel link `//exporters/jaeger:opentelemetry_exporter_jaeger_trace` failed on: "no such package '@thrift//'""
os: macosx
cc: Apple clang version 13.0.0 (clang-1300.0.29.30)
opentelemetry-cpp: 1.2.0
bazel: 4.2.0 and 5.0.0-homebrew

Describe exactly how to reproduce the error. Include a code sample if applicable.

Link a example with bazel

WORKSPACE
[code]

BUILD
[code]

What did you expect to see?

The program can be linked and run normally

What did you see instead?

ERROR: /private/var/tmp/_bazel_flier/

[2022-03-29 15:10] esigo commented on #1296
Hi @flier, thanks for reaching out to us. Unfortunately at the moment we don't support bazel for Jaeger exporter on Mac, because of dependencies discussed in #1134.

[2022-03-29 16:16] #1296 closed

[2022-03-30 01:01] #1233 closed

[2022-03-30 05:32] DebajitDas commented on #1239
As pointed out in [https://github.com/open-telemetry/opentelemetry-specification/issues/2434#issuecomment-1076997385]
I wanted to have the discussion around "max_async_export" which would be configurable parameter.
1. What should be the default value of this variable?
2. What should be the behaviour if the value is set as Zero (0) ? Since this holds no meaning, should this is re-set to default.
3.

[2022-03-30 05:45] owent commented on #1239
I use the variable name `max_concurrent_requests` which is mentioned in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlpgrpc-concurrent-requests in `OtlpHttpExporter` and `OtlpHttpLogExporter` now. But I didn't find the specification about the default value. Current default value ( `8` ) in `OtlpHttpExporter` and `OtlpHttpLogExporter` is j

[2022-03-30 06:14] DebajitDas commented on #1239
Yes, I had that in mind about the default value used in max_concurrent_requests and to start with we can go with 8 as default value.

[2022-03-30 19:59] sirzooro commented on #1279
OK, I see. I thought that links are simply specialized kind of attributes, but it turns out that there is more logic associated with them. So I will use one of workarounds mentioned earlier.

[2022-03-30 20:17] sirzooro opened #1298 "Please add default constructor and move constructor/assignment op to Scope class"
**Is your feature request related to a problem?**
I have event loop which gets objects from a queue and processes them. I want to create Span in this loop and set is as active span. Some of these objects are for health checks, and I want to exclude them from telemetry. Span objects are stored in `nostd::shared_ptr`, so I can declare variable first and then conditionally assign value to it. However

[2022-03-31 02:03] #441 closed

[2022-03-31 10:55] owent opened #1300 "The output file name of `http_client_curl` should be `opentelemetry_http_client_curl`"
**Describe your environment**

OS: Linux
Build System: cmake

**Steps to reproduce**

`cmake --build . --target install`

**What is the expected behavior?**

The output file name of `http_client_curl` should be `opentelemetry_http_client_curl`

**What is the actual behavior?**

<img width="1100" alt="800b2631-aa04-462b-afef-e011d1cc0806" src="https://user-images.githubusercontent.com/1209475/16103

[2022-03-31 23:16] lalitb opened #1302 "Implement Merge and Diff operation for Histogram Aggregation"
Merge and Diff operation was not implemented as part of #1265 . This issue is to add these operations.

Merge Operation - Should merge all the data points from the buckets of two histograms.
Diff Operation - Should create delta by comparing data points in the buckets of two histograms.

These operations are required to calculate cumulative and delta metrics for Histogram Aggregation.

[2022-04-01 02:11] #705 closed

[2022-04-01 13:33] sirzooro opened #1307 "Attempt to create new Tracer changes name and version of existing Tracers"
**Describe your environment**
CentOS 8
gcc 10.3.1
opentelemetry-cpp built from main branch on March 25th, configured using this command:
cmake -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_SHARED_LIBS=ON -DWITH_OTLP=ON -DWITH_OTLP_GRPC=OFF -DWITH_ZPAGES=ON -DCMAKE_INSTALL_PREFIX=/usr ..
App code is compiled using C++11.

**Steps to reproduce**
Code creates TracerProvider using code from samples, cr

[2022-04-01 15:41] sirzooro commented on #1307
I did few more tests and found that this happens when OtlpHttpExporter and BatchSpanProcessor are used together. When I tried to use OStreamSpanExporter or SimpleSpanProcessor instead of one of them, problem disappeared. Code below reproduces this bug. I compiled it using following command:
`g++ -o test test.cc -O3 -Wall -lopentelemetry_resources -lopentelemetry_trace -lopentelemetry_exporter_otlp

[2022-04-01 21:03] lalitb commented on #1307
@sirzooro Thanks for your analysis. If definitely helps investigate better with these details in the issue :)

This seems to be the issue with populating tracer information in grpc exporter. The grpc exporter assumes all the spans in a batch (coming from BatchSpanProcessor) belongs to same tracer, and so group all of them under the name and version of first tracer. This is wrong assumption, and th

[2022-04-01 21:07] #1285 closed

[2022-04-02 02:04] #302 closed

[2022-04-02 03:19] owent opened #1308 "Add CI support for `async-changes` branch"
We may add CI support for `async-changes` branch, and we can remove it when this branch is ready to be merged

[2022-04-02 03:39] owent opened #1310 "Could we use add `ENABLE_METRICS_LEGACY` instead of using `ENABLE_METRICS_PREVIEW` to decide whether to use legacy metrics SDK and exporter?"
**Is your feature request related to a problem?**

Could we use add `ENABLE_METRICS_LEGACY` instead of using `ENABLE_METRICS_PREVIEW` to decide whether to use legacy metrics SDK and exporter?

The legacy metrics depends RTTI, by use a new option, we can enable new metrics without RTTI.

**Describe the solution you'd like**

Add `ENABLE_METRICS_LEGACY` and replace all checking in `_metrics`.

**Add

[2022-04-02 03:52] owent opened #1311 "We should move all public definitions in `CMakeLists.txt` to `target_compile_definitions(opentelemetry_api INTERFACE ...)`"
**Describe your environment**

System: Windows
Build System: cmake

**Steps to reproduce**

`cmake <...> -DWITH_ETW=ON`

**What is the expected behavior?**

Now, some definitions are added by `add_definitions(...)` in `CMakeLists.txt` and so that these definitions are private. But we should keep the same behaviour between compiling opentelemetry-cpp and using it by users. We can add these public d

[2022-04-02 05:18] lalitb commented on #1310
The plan is to do a cleanup of legacy metric implementation once we are ready with new metrics which is planned for the next couple of months. These macros would be removed as part of the cleanup. While ENABLE_METRICS_LEGACY is better naming than ENABLE_METRICS_PREVIEW, I feel it won't make sense to change them now as we are anyway going to remove them in the coming days :)

[2022-04-02 06:25] owent commented on #1310
OK

[2022-04-02 06:25] #1310 closed

[2022-04-02 06:34] lalitb commented on #1279
Closing as discussed above. Please reopen if there are any further issues.

[2022-04-02 06:34] #1279 closed

[2022-04-02 10:09] owent commented on #1311
Can I add `OPENTELEMETRY_` prefix for `NO_GETENV` and `NOMINMAX` ?

[2022-04-03 04:03] lalitb commented on #249
Reopening, as we still have warnings.

[2022-04-03 04:11] lalitb commented on #1311
Just curious, why specifically for these two macro definitions, as we have lots of other definitions like HAVE_MSGPACK, HAVE_GSL.

[2022-04-03 06:17] owent commented on #1311
OK, I will just move the definitions into `opentelemetry_api` and dn not rename them.

[2022-04-03 16:45] owent commented on #1243
Can I do some break changes to `curl::HttpOperator` to finish this feature? `multi_handle` will be shared between visisted by more than one thread, I have to change  the way to share data to keep thread-safety and I think `curl::HttpOperator` is not for SDK's user.

[2022-04-04 05:13] lalitb commented on #1235
#1265 closes this.

[2022-04-04 05:13] #1235 closed

[2022-04-04 05:33] lalitb opened #1315 "Implement/Update Prometheus Exporter with latest Metrics SDK"
After the major refactoring of Metrics SDK, we should update the Prometheus exporter to adopt the changes.

More details: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/datamodel.md#prometheus-compatibility

This is dependent on
* #1299
* #1303

[2022-04-06 01:50] yzhuang93 opened #1319 ""HAVE_ABSEIL" is not defined even with option "-DWITH_ABSEIL=ON""
**Describe your environment**
Build environment: CENTOS7
CXX: clang-6.0.1/bin/cxx
CMake version: 3.6.3

Hi! I am trying to link my project with opentelemetry, the version I used for opentelemetry Is the latest 1.2.0 and since my own project is already linked to some util libraries which use local abseil library. I used the "-DWITH_ABSEIL=ON" to do the compilation with opentelemetry and then linked

[2022-04-06 02:49] owent commented on #1319
It seems your target (`insights_server_lib`) find a different `opentelemetry-cpp` from your own building.
I see you set `-DCMAKE_INSTALL_PREFIX=$srcdir/install` which should install `opentelemetry-cpp`  into `<Some prefix>/install` , but what your project find is `<...>/toolchain-builds/82ee087e0bd6693a6f75c04db3ed205df8d84310.x86_64`, and it's not the location you install.
Did you `cmake --build

[2022-04-06 03:50] yzhuang93 commented on #1319
Actually my target `insights_server_lib ` is using exactly the one I built from the opentelemetry v1.2.0 and I only have one opentelemetry build in local, it shows a different path because I copied all the dependency libs to a central directory. So I think this might not relate.

[2022-04-06 04:22] owent commented on #1319
Could you provide the `set_target_properties(opentelemetry-cpp::api ...)` block in your `toolchain-builds/82ee087e0bd6693a6f75c04db3ed205df8d84310.x86_64/lib64/cmake/opentelemetry-cpp/opentelemetry-cpp-target.cmake` or `toolchain-builds/82ee087e0bd6693a6f75c04db3ed205df8d84310.x86_64/lib/cmake/opentelemetry-cpp/opentelemetry-cpp-target.cmake` ?

E.g., here is my custom prebuilt cmake installation:

[2022-04-06 04:59] yzhuang93 commented on #1319
Yeah I checked this before and I have the same `set_target_properties` in my `toolchain-builds/82ee087e0bd6693a6f75c04db3ed205df8d84310.x86_64/lib/cmake/opentelemetry-cpp/opentelemetry-cpp-target.cmake`
[code]
So i felt weird to have this issue, it could be something wrong on my end, maybe I will debug a little bit more.
But with the:
[code]
It should be good enough to link all required libs and s

[2022-04-06 05:52] owent commented on #1319
Yes, `target_link_libraries(insights_server_lib PRIVATE ${OPENTELEMETRY_CPP_LIBRARIES})` should be enough to set all definitions, add all include directories and link all libraries in the right order.
If your `insights_server_lib` is a library, it may be better to use `target_link_libraries(insights_server_lib PUBLIC ${OPENTELEMETRY_CPP_LIBRARIES})`, with `PRIVATE` links in cmake, the dependencies

[2022-04-07 06:07] #1311 closed

[2022-04-07 13:21] Briac-nt commented on #1014
@Pupilsch Did you figure out how to solve the issue ?
I have exactly the same problem on my environment :
- SUSE Linux Enterprise Server 12 SP5
- gcc 8.5.0
- C++ 17

But it's working fine on my Ubuntu 20.04 with gcc 9.4.0 and C++ 17

[2022-04-07 15:56] #1027 closed

[2022-04-07 17:42] lalitb commented on #1319
@yzhuang93 Did you have any further findings. This looks to be something wrong with the setup/env.

[2022-04-07 17:45] yzhuang93 commented on #1319
I am still investigating my setup, we can close this one, in case I have some new things to raise I will reopen. Thanks for the help!

[2022-04-07 17:45] #1319 closed

[2022-04-07 20:48] sirzooro commented on #1298
This needs to be analyzed and documented. Maybe it is would be enough to track if Scope object is empty, and disallow assigning value to non-empty one (e.g. by throwing `std::logic_error`). Plus of course extra check in destructor to properly destroy empty Scope.

An alternative is to have some way to disable tracing, e.g. like discussed in https://github.com/open-telemetry/opentelemetry-specifica

[2022-04-08 07:36] Briac-nt commented on #1014
Hi @lalitb , unfortunately this patch doesn't work for me, the trick in the 1223 issue neither.

[2022-04-12 05:21] ThomsonTan commented on #249
@lalitb do we plan to enable /W4 or related options?

[2022-04-12 07:08] lalitb commented on #249
@ThomsonTan Yes, we should be enabling this for all platforms once warnings are cleaned-up.

[2022-04-12 18:24] ThomsonTan commented on #1292
@juandemanjon in your environment, I assume the ninja path issue will not happen because the first one should be used which doesn't include space in the full path, is this correct?

[2022-04-12 18:38] juandemanjon commented on #1292
@ThomsonTan Actually happens because the script iterates over the _where_ results and the last one is actually the one applied

[2022-04-14 04:21] #1292 closed

[2022-04-14 16:53] #1302 closed

[2022-04-18 15:39] #393 closed

[2022-04-19 05:33] owent commented on #1280
Some old versions of CentOS has this problem,please just run `yum update kernel-headers` or these scripts below to solve this problem.

[code]

[2022-04-19 06:10] owent opened #1335 "Crash when using `http_client_curl` of `v1.3.0`"
**Describe your environment**

OS: Linux
Version: v1.3.0
Build System: cmake

**Steps to reproduce**

Use both `opentelemetry::api` and `opentelemetry::http_client_curl` at the same time.

**What is the actual behavior?**

![Screenshot_16503460452050](https://user-images.githubusercontent.com/1209475/163936953-5d49c4bd-f486-4791-9688-9dc44f519c23.png)

**Additional context**

When building `opente

[2022-04-19 08:31] bjosv opened #1337 "UndefinedBehaviorSanitizer detects issues in `nostd::shared_ptr`"
When using `nostd::shared_ptr` and building with an [undefined behavior detector](https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html) there are indications of vptr issues.
It's an use of an object whose vptr indicates that it is of the wrong dynamic type.
The issue can be triggered by the existing tests as well:

**Steps to reproduce**
[code]

It seems that the `shared_ptr_wrapper` is of

[2022-04-19 15:01] lalitb opened #1338 "[Metrics API/SDK] Support registering multiple async callbacks to one single async instrument."
Support for specs changes introduced in https://github.com/open-telemetry/opentelemetry-specification/pull/2361 and https://github.com/open-telemetry/opentelemetry-specification/pull/2363

 - Add support for registering multiple async callbacks to one single async instrument.
 - Every currently registered Callback associated with an instrument MUST
be evaluated exactly once during collection prior

[2022-04-19 15:04] lalitb opened #1339 "[Metrics SDK] AggregationTemporality Controls"
Spec change: https://github.com/open-telemetry/opentelemetry-specification/pull/2404

The concept of "preferred temporality" is removed from the spec. Temporality is now supposed to be decided by the MetricReader which can take a callback which decides temporality.

[2022-04-19 18:23] ThomsonTan commented on #1335
Wondering whether it is possible to add a test to catch this kind of issue?

[2022-04-20 05:19] lalitb opened #1340 "[Metrics] Document Getting Started with Prometheus and Grafana"
It would be good to have a getting started guide to setup Metrics exporter for Prometheus and demonstrate end to end metrics flow.

Good reference -
https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/docs/metrics/getting-started-prometheus-grafana

Depends on these PRs get merged.
- #1331
- #1332

[2022-04-20 05:29] lalitb opened #1341 "[Metrics] Getting started document using ostream exporter"
Document Getting started guide for Metrics using Ostream exporter.

Good reference - https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/docs/metrics/getting-started

[2022-04-20 05:33] lalitb commented on #1337
thanks for reporting. This was not discussed earlier, so need to look into it. Also, if this is false-positive (i.e. reported by `UBSan` `without any real undefined behavior at run-time), we may have to document this.

[2022-04-20 06:55] owent commented on #1335
I'm not sure why unit test didn't find this problem.
The test `ext.http.curl.curl_http_test` only links `opentelemetry_http_client_curl` and `opentelemetry_http_client_curl` only links `opentelemetry_ext`. I also checked the flags to compiling `opentelemetry_http_client_curl` and didn't find `HAVE_CPP_STDLIB` or `HAVE_ABSEIL`. This problem should already be tested but it didn't crash on CI.
Maybe

[2022-04-21 07:12] owent commented on #1226
Also, nosend shoube be installed when using cmake.

[2022-04-21 12:29] owent opened #1343 "Could we export `opentelemetry_otlp_recordable` headers?"
**Is your feature request related to a problem?**

I want to implement a special OTLP exporter to extend the standard OTLP exporters,but I need to control the recordable objects of OTLP exporters. But I found I cann't reuse recordables with cmake because the installation exclude the headers of OTLP recordables.

[code]

I just wonder why we exclude  `otlp_recordable.h` here, and can we also instal

[2022-04-21 16:46] #1335 closed

[2022-04-22 00:27] ThomsonTan opened #1345 "Metrics OStream exporter prints time into local time zone"
The OStream metrics exporter prints time to string based on local time zone, which fails tests like `OStreamMetricsExporter.ExportDropPointData` with below message.

[code]

**Steps to reproduce**
Run test `OStreamMetricsExporter.ExportDropPointData` on a machine not in UTC timezone.

**What is the expected behavior?**
The test should pass.

**What is the actual behavior?**
The test failed with ab

[2022-04-22 09:31] marcalff opened #1347 "[docs] GettingStarted.rst incorrect for Jaeger HTTP exporter"
In the documentation, in:
  `opentelemetry-cpp/docs/public/sdk/GettingStarted.rst`
the section about exporters states:

[code]

Bug:

The exporter variable, `jaeger_udp_exporter`, is confusing ... probably meant to be `jeager_http_exporter` instead.

Possibly a bug:

The port number, `6831`, is the same as for the Jaeger UDP exporter above, and look suspicious (copy and paste).
I could not get the

[2022-04-22 18:33] esigo commented on #1347
Hi @marcalff, thanks for reaching out to us. Regarding the port you may use the port you have configured your backend. `14268` should be the default port for http yes.
I'd suggest starting with our [example](https://github.com/open-telemetry/opentelemetry-cpp/tree/main/examples/jaeger), to be sure your code is working.

[2022-04-25 15:11] esigo opened #1349 "Add unit test for Prometheus exporter"
_Originally posted by @lalitb in https://github.com/open-telemetry/opentelemetry-cpp/pull/1331#discussion_r857270212_

[2022-04-25 16:48] #1315 closed

[2022-04-25 20:33] ThomsonTan commented on #1343
the header file was excluded in below PR, probably we should discuss to get it back for installation. @esigo

https://github.com/open-telemetry/opentelemetry-cpp/pull/923

[2022-04-26 04:44] lalitb commented on #1343
Yes I think this is valid use-case, we can bring this header file as part of installation. I can fix this next week, unless someone wants to raise a PR to fix this earlier?

[2022-04-26 08:54] lalitb opened #1352 "[Metrics SDK] Use default view if no view configured for MeterProvider"
As specified in SDK (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view):

[2022-04-28 12:08] meastp commented on #1243
Hi - I'm using the otlp http exporter, and I'm hitting the issue described in [this thread](https://curl-library.cool.haxx.narkive.com/kRBuxBFC/couldn-t-connect-error-address-already-in-use) and updating the registry key resolves the issue. However, as mentioned in the thread, the way `curl_easy_init()` and `curl_easy_cleanup()` is used isn't good. What I'm wondering is if this issue is also resol

[2022-04-28 12:31] lalitb commented on #1243
Is the issue due to local port reuse/overlap? In current setup, the sessions are not concurrent, so the problem should only happen if cleanup is not happening properly in some scenario.

[2022-04-28 13:25] meastp commented on #1243
@lalitb Yes, I believe that's the cause, but I'm not sure about the specifics. It might be Windows specific, but please reuse the CURL* resource if possible, to avoid this problem.

The problem disappeared in my tests (no output to stdout/stderr from otel-cpp/curl) after creating the registry key as specified in the linked thread above. I modified to `curl_easy_setopt(curl_, CURLOPT_VERBOSE, 1L);`

[2022-04-28 15:01] ccoqueiro opened #1359 "undefined reference to `opentelemetry::v1::sdk::common"
Hi Everyone,

A few days ago I'm trying to compile a simple hello world application(cpp), after the saga of the compilation of opentelemetry cpp SDK, I'm having the following error when running make:

/usr/bin/ld: /opt/otelcpp/lib/libopentelemetry_trace.a(random_id_generator.cc.o): in function `opentelemetry::v1::sdk::trace::RandomIdGenerator::GenerateSpanId()':
random_id_generator.cc:(.text+0x41)

[2022-04-28 15:28] marcalff commented on #1352
Greetings.

I think this is related:

Right now (commit 4008da54fa29c71c6e8b32d5ff7b186136a128ff), without any view,
the code end up doing this:

In:
` SyncMetricStorage::Collect()`
At:
[code]
The instrument_descriptor type is `kCounter`
The aggregation returned by `CreateAggregation` is a `LongSumAggregation`

`LongSumAggragation::Merge()` is invoked with an aggregation parameter which is a `Drop

[2022-04-28 19:10] lalitb commented on #1352
to avoid the same bug later on different aggregations types.

Yes agree. Will revisit the sync flow once again to see if we can improve on the default aggregation logic.

[2022-04-28 21:04] ThomsonTan opened #1361 "Keep epoch time output consistent in exporters"
Follow up for comment https://github.com/open-telemetry/opentelemetry-cpp/pull/1346#issuecomment-1106246663

[2022-04-28 22:57] #1345 closed

[2022-04-29 02:37] dgtrapeze opened #1362 "otel_http_client not being built with HAVE_CPP_STDLIB when using cmake -DWITH_STL=ON causing core dump when calling GlobalLogHandler::GetLogHandler()"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

opentelemetry-cpp = v1.3.0
build system = centos 7.9 (although our rhel

[2022-04-29 02:55] owent commented on #1362
Thanks for your report, this problem is already solved by #1336 . We will publish it on next release.

[2022-04-29 10:58] meastp commented on #1243
@owent This is the crucial bit that will solve the problem, I think. Thanks :)

[2022-04-30 00:48] #1352 closed

[2022-05-02 13:59] yzsolt opened #1366 "Empty headers injected by HTTP and Baggage propagator"
If the HTTP propagator is used on an invalid context or the baggage propagator is used on an empty baggage, the resulting header map will contain empty values. I don't know if this is intended or not, but I think it'd be more user friendly if empty values wouldn't be injected, so the user wouldn't have to remove or check them manually before using them as HTTP request headers.

[2022-05-02 17:04] lalitb commented on #1366
A quick look into the HTTP propagator code, I don't think empty header files are injected if the context is not valid as we return early in that case:

https://github.com/open-telemetry/opentelemetry-cpp/blob/c8bd431be27c71145098a1888dc115ab34997523/api/include/opentelemetry/trace/propagation/http_trace_context.h#L40-L43

Though this may be true for the Baggage propagator and need to be fixed if s

[2022-05-02 17:12] #1343 closed

[2022-05-02 17:20] lalitb commented on #1362
@owent - Do you know which commit in v1.3.0 caused this issue, and wondering if we need to release a patch early to fix the issue ?

[2022-05-02 17:22] lalitb commented on #1359
@ccoqueiro - Let us know if @owent suggestion fixes the issue, and good to close it.

[2022-05-03 03:09] ccoqueiro commented on #1359
Hello owent!!

Thank you for your suggestion. I configured according to suegstão, but returned a warning message when performing the build with cmake and returned an error while performing the make.

cmake -DCMAKE_PREFIX_PATH=/opt/otelcpp/ ..
-- Found thrift: /root/source/opentelemetry-cpp/tools/vcpkg
-- otel c++ include dirs: /opt/otelcpp/include
-- otel c++ libs: opentelemetry-cpp::api;opentelem

[2022-05-03 04:28] owent commented on #1362
I didn't test it, but I think the problem is here https://github.com/open-telemetry/opentelemetry-cpp/pull/1314/files#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aL143
I think it's good idea to release to patch to fix it.

[2022-05-03 04:36] owent commented on #1359
@ccoqueiro  `target_include_directories(hello-otel PRIVATE ${OPENTELEMETRY_CPP_INCLUDE_DIRS})` and all IMPORTED targets can be removed.
Please try this `CMakeLists.txt`

[code]

BTW: You can use `cmake --build .` to replace `make` for better compatibility.

[2022-05-03 17:28] lalitb commented on #1366
@yzsolt  #1367 should fix the issue with baggage propagator. Can you check HTTP propagator once again, as our [tests ](https://github.com/open-telemetry/opentelemetry-cpp/blob/13ac5c30b6f8ae996d05f3c4084c58f952734ac6/api/test/trace/propagation/http_text_format_test.cc#L80)does validate that HTTP headers are not populated in case the context is invalid.

[2022-05-03 22:37] #1236 closed

[2022-05-04 08:08] yzsolt commented on #1366
@lalitb Sorry for necro-bumping this issue, but I've finally had time to check it once again, and the Tracestate header still can be empty. I've also found the root cause: while there is a test case for this, it's checking the extracted `carrier` variable instead of the injected `carrier2`. So Tracestate header injection still needs an `if` and the tests should be fixed too. I'd suggest using more

[2022-05-04 16:05] marcalff opened #1370 "[Metrics] Prometheus exporter reports instrumentation library name instead of instrument name"
Greetings,

I am attempting to export to Prometheus from an application based on the Prometheus example.
WITH_METRICS_PREVIEW is undefined.

Running the example binary appears to work, and reports a metric named `prometheus_metric_example`, type counter,
for an instrument named `prometheus_metric_example_counter` in the C++ code.

Running my application,
No matter how instruments or views are name

[2022-05-04 17:09] lalitb opened #1371 "OTLP HTTP exporter for Metrics"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
If so, provide

[2022-05-04 17:46] lalitb commented on #1221
This was wrongly closed by the bot ( which is meant to close only state issues), have reopened it now.

[2022-05-04 18:38] bsarden commented on #1370
+1: I just hit this same issue actually when trying to spin-up the prometheus example. I see the counter / histogram values being read out by the corresponding `counter_example` and `histogram_example` functions and am expecting a `prometheus_metric_example_counter` and `prometheus_metric_example_histogram` to exist, but instead I just have a `prometheus_metric_example` of TYPE `counter` and the o

[2022-05-04 21:28] esigo commented on #1370
Hi @marcalff and @bsarden, thanks for reaching out to us and also thanks for testing.
In addition to @marcalff's suggestion, we need to have a fix in [meter.cc](https://github.com/open-telemetry/opentelemetry-cpp/blob/59a48c1c99bbc8822d66eaf9edbe3f384092b125/sdk/src/metrics/meter.cc#L192) as well. I will raise a PR after running some tests.

[2022-05-05 05:33] lalitb commented on #1370
Just curious, what fix is required here. Based on the metrics [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#view), the metrics stream should use the `name` and `description` from the View if configured.

[2022-05-05 06:26] owent commented on #1371
I can help to implement OTLP http exporter if necessary.

[2022-05-05 08:04] marcalff commented on #1370
The spec says:

and likewise for the description.

If I understand correctly, @esigo meant something like this:

[code]

Without it, views with an empty name end up exposing metrics with empty names to Prometheus, which fails to scrap.

[2022-05-05 13:22] marcalff opened #1372 "[Metrics] Prometheus exporter only works for one Meter with one instrument"
Greetings

This is a follow up on:

 [Metrics] Prometheus exporter reports instrumentation library name instead of instrument name #1370

In method `PrometheusExporterUtils::SetMetricFamilyByAggregator()`, the code contains an outer loop:

`  for (const auto &instrumentation_info : data.instrumentation_info_metric_data_)`

This loop is executed once per Meter, per method `MetricCollector::Collect(

[2022-05-05 13:22] esigo commented on #1371
Hi @owent, thanks for your interest. We need to first upgrade Protos #1290, which is blocked by #1291. Would you be interested in taking over #1291?
Thanks 🙏

[2022-05-05 13:27] marcalff commented on #1341
In addition to the documentation, and because the ostream exporter is used for tutorials / debugging purpose,
please consider also printing the metric name in the output:

[code]

Thanks.

[2022-05-05 14:02] esigo commented on #1371
Thank you very much. You may just raise another PR. I'll close mine.

[2022-05-05 17:31] lalitb commented on #1370
Good point. Thanks for clarifying.

[2022-05-05 17:35] lalitb commented on #1371
Thanks @owent for helping on this.

[2022-05-05 18:49] #1366 closed

[2022-05-06 18:37] lalitb commented on #1359
@ccoqueiro - Just wondering if you still have issue after @owent suggestion above ?

[2022-05-07 05:04] lalitb commented on #1362
Closing as the problem is already fixed in the latest commit, and would be available in the next release.

[2022-05-07 05:04] #1362 closed

[2022-05-07 07:15] owent commented on #1291
I have a quick look at [opentelemetry-proto to v0.17.0][1] and the [`main` branch of logging-library-sdk in opentelemetry-specification][2], and I want to confirm and disscuss the changes.

+ `InstrumentationLibrary` is deprecated  and we should use `InstrumentationScope` now.This will also changes the trace and metrics. Should we add a option to switch between legacy `InstrumentationLibrary` and

[2022-05-07 07:54] esigo commented on #1291
Hi @owent, thanks for looking into this.
I'd vote for not having a switch for supporting legacy.

[2022-05-07 08:16] owent commented on #1291
Without supporting legacy. There will be break changes to SDK and the output of OTLP exporters.Especially the trace APIs are already stable, is it acceptable?

[2022-05-07 08:51] esigo commented on #1291
Sure we will have breaking changes here. I'd still vote for not supporting legacy. We are already low on resources, and supporting both legacy and new proto will make maintenance more complicated for us. We can discuss this in the next SIG meeting. I'll update you.
cc @lalitb @ThomsonTan

[2022-05-07 16:24] lalitb opened #1381 "Add InstrumentationScope and deprecate InstrumentationLibrary"
This spec PR https://github.com/open-telemetry/opentelemetry-specification/pull/2276 introduced the concept of InstrumentationScope.

The support needs to be added without breaking the existing API for Traces. We may need to introduce another TracerProvider::GetTracer() method to add InstrumentationScope and ensure both InstrumentationLibrary and InstrumentationScope are propagated to exporters.

[2022-05-07 16:31] lalitb commented on #1291
Thanks, @owent for summarising the changes required.

- Have created a separate issue #1381 to support InstrumentationScope. This shouldn't break the API/SDK for Traces at least. We can discuss the approach for this in the issue.
- For the Logger SDK/API changes (which are part of this issue), we don't need to support the old API.

[2022-05-08 18:14] esigo opened #1384 "OpenTelemetry-cpp superbuild"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
If so, provide

[2022-05-09 02:36] owent commented on #1384
I think we can search CONFIG packages first by setting [CMAKE_FIND_PACKAGE_PREFER_CONFIG](https://cmake.org/cmake/help/latest/variable/CMAKE_FIND_PACKAGE_PREFER_CONFIG.html#variable:CMAKE_FIND_PACKAGE_PREFER_CONFIG).

[2022-05-09 04:26] owent commented on #1384
`find_package()` is case insensitive.I think we should use `gRPC` instead of `grpc` for better compatibility.
`protobuf::libprotobuf` and `protobuf::libprotoc` are missing only when we use legacy [FindProtobuf.cmake](https://cmake.org/cmake/help/latest/module/FindProtobuf.html) in cmake, when using prebuilt protobuf cmake scripts with `protobuf_MODULE_COMPATIBLE=ON` , `protobuf::libprotobuf` and `

[2022-05-09 19:37] ccoqueiro commented on #1359
Hello All,

Thank you @owent for suggestion, I applied this suggestion, but fail again, incredible. If I try to run with the command "cmake --build ." I got the error:

root@LabC:/opt/helloworld/build# cmake --build .
Error: could not load cache

If try to run with the command: "cmake .. -DCMAKE_PREFIX_PATH=/opt/otelcpp/". I got the warnings and the error:

root@LabC:/opt/helloworld/build# cmake .

[2022-05-09 22:50] ThomsonTan commented on #1359
Both below build errors seem not opentelemetry-cpp specific. @ccoqueiro, can you clear the build folder and re-run both `cmake .. ` and `cmake --build .` there?

[2022-05-10 03:06] owent commented on #1359
@ccoqueiro

This problem may be the same as #705 . Could you please provide your `opentelemetry-cpp-target*.cmake` ? It may be you build opentelemetry with `CMAKE_BUILD_TYPE<some name>` but link it without or with another value.
Or you can try to add patch codes below after `find_package(opentelemetry-cpp)`. Here is the full version of `CMakeLists.txt`.

[code]

[2022-05-10 17:55] #1372 closed

[2022-05-10 17:55] #1370 closed

[2022-05-10 20:22] marcalff commented on #1372
Fix verified in main, synchronous metrics are now exported to Prometheus.

[2022-05-10 20:31] esigo commented on #1372
@marcalff thanks for testing :blush:

[2022-05-10 21:16] marcalff opened #1387 "[Metrics] ASync Instruments not fully implemented."
Greetings,

I am a bit confused about the development status for async instruments in Metrics ...

There are no remaining issues left listed in the "Metrics SDK - Alpha release" milestone, great.

There are 5 unrelated open items in "Metrics SDK - Beta Release", and issue #1338 is about a more complex use case (observing N metrics at once), so this gives the impression that a basic Observable coun

[2022-05-10 21:28] lalitb commented on #1387
Thanks, I will look into this.

[2022-05-11 03:03] owent commented on #1359
Sorry for my mistake. The depended libraries need `find_package(...)`, I should not remove them before.

[code]

I have update the `CMakeLists.txt` above.

[2022-05-11 09:18] marcalff opened #1389 "[Metrics API/SDK] ASync instruments - pass state to the callback"
Greetings.

From the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter-creation

For async counters creation, please change:
- the callback functions to add a `void * state` parameter,
- the create observable counter methods to pass a `void * state` parameter
so this gets easier to use:

[code]

Without it, the user cod

[2022-05-11 20:03] #1307 closed

[2022-05-11 21:25] ccoqueiro commented on #1359
Hello @owent !! Finally compiled the code and generated the executeable without errors or warnings, super thank you, I have no words that can express my gratitude,

[2022-05-11 22:55] lalitb commented on #1359
Yes, I think it is good idea to document this in INSTALL.md under cmake build section.

[2022-05-12 00:31] lalitb commented on #1389
Thanks for raising the issue. I am moving it to Beta Release milestone as there is alternative solution (though this require multiple callback functions). Alpha release is very close now.

[2022-05-12 02:09] owent commented on #1359
I suggest to add a FAQ section to collect these problems.In my experience, the problems in this issue do not always happen, it depends how to use cmake and the version and cmake.

[2022-05-12 03:44] lalitb commented on #1359
Ok, my bad. I thought you meant documenting how to use `vcpkg` for installing dependencies. I think a separate troubleshooting/faq page would be a good idea to have for these specific problems.

[2022-05-13 17:43] lalitb opened #1391 "[Metrics SDK] Add support for Exponential Histogram Aggregation"
Currently, metrics SDK implementation support following aggregation:
https://github.com/open-telemetry/opentelemetry-cpp/blob/88e23ad469c6439226d929c6f949f4af48e1135c/sdk/include/opentelemetry/sdk/metrics/instruments.h#L30-L37

The default Histogram aggregation is implemented as described in the data model: https://github.com/open-telemetry/opentelemetry-specification/blob/90e5022a846a65600b7ad7e8

[2022-05-13 18:15] ThomsonTan commented on #1359
Besides adding the doc, could we add some check to our CMake list file, like if otel-cpp is built with vcpkg, the user import it should also use vcpkg (with the toolchain file specified)?

[2022-05-13 21:40] marcalff opened #1393 "[Trace SDK] Provide builders to avoid exposing SDK internals"
Greetings.

In an application, as a **_user_** of the trace sdk, I need to create a `opentelemetry::exporter::otlp::OtlpGrpcExporter` instance.

Per instructions in `exporters/otlp/README.md`,
the only way to do this seems to call new on the class itself, which imply that:
- the code `#include <opentelemetry/exporters/otlp/otlp_grpc_exporter.h>`
- the user code compiled in the application now depe

[2022-05-13 21:57] marcalff commented on #1393
To clarify, even after including all the dependencies from
`#include "opentelemetry/proto/collector/trace/v1/trace_service.grpc.pb.h"`
and get a build going, the application build failed with failures similar to issue #880 and issue #883.

Limiting include pollution with dependencies that can be avoided sounds a better long term solution.
#883 was resolved with a work around in the example code, b

[2022-05-14 05:22] owent commented on #1359
Good idea.

[2022-05-14 05:32] owent commented on #1393
Agree, I think it's a good idea to implement a standalone factory class to create OTLP exporters, which only depend OTLP exporter options and SDK.

[2022-05-16 03:48] nerdvegas opened #1397 "C++/python interoperability"
Apologies for cross-posting an issue, but this is as specific to the cpp project as it is the python project, and I'm assuming there are people here that would have good insight. TL;DR - I need an opentelemetry implementation that will work across cpp/python boundaries and I'm assuming some measure of binding this project to python would be involved.

Opentelem-python issue here: https://github.co

[2022-05-16 12:37] GskFID opened #1399 "”cmake_minimum_required(VERSION 3.1)“ is inaccurate"
There are many places to add tests with ”gtest_add_tests“, But gtest_add_tests is a new feature of Cmake 3.9 version, When I try to compile with 3.8.5, it doesn't compile the test code anyway, this confused me for a while.
![image](https://user-images.githubusercontent.com/15891074/168593684-d86351b4-c888-4358-9499-081bd37bdaa4.png)

[2022-05-16 16:19] esigo commented on #1384
Thanks @owent, I fixed this by using another superbuild for protobuf as a dependency.
https://github.com/esigo/opentelemetry-cpp/blob/superbuild/docker/CmakeLists.txt

[2022-05-16 16:19] #1384 closed

[2022-05-16 17:32] lalitb commented on #1399
Good point. We should -
 - Either not use gtest_add_tests() to add unit tests. (preferably)
 - Or make the minimum required cmake version as 3.9.

[2022-05-16 18:01] lalitb commented on #1393
Agree, this will definitely decrease the build time for the application - Thanks @owent for volunteering to take it. Assigning it to you.

[2022-05-16 18:10] #1387 closed

[2022-05-16 18:21] esigo commented on #1399
old cmake compatible example can be found here:
https://github.com/open-telemetry/opentelemetry-cpp/blob/521ebd8f51fb27219c8dd581629ec1b93df8b70a/sdk/test/trace/CMakeLists.txt#L1-L30

[2022-05-16 22:52] lalitb commented on #1397
Have added my comments over the python issues, but I feel this needs wider discussion over the specs, to manage the cross-language span/trace portability.

[2022-05-16 23:56] lalitb commented on #1399
This example seems to be using gtest_add_tests at line 21, or am I missing something ?

[2022-05-17 02:51] owent commented on #1399
I vote for upgrade the minimum version of cmake.It will be easier to maintain.

[2022-05-17 14:54] marcalff opened #1402 "[Trace SDK] OTLP Trace Exporter secure connection configuration options"
Greetings,

In the spec, for the OpenTelemetry Protocol Exporter configurations options:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#specifying-headers-via-environment-variables

The spec says:

(...)

(1) Certificate File:

Env vars: `OTEL_EXPORTER_OTLP_CERTIFICATE` `OTEL_EXPORTER_OTLP_TRACES_CERTIFICATE` ...

(2) Client key file:

E

[2022-05-17 18:19] lalitb commented on #1402
Client authentication is missing. There is open issue for that - #389

Yes security options should be there for both gRPC and HTTP.

[2022-05-17 20:26] marcalff commented on #1402
Thanks @lalitb for the clarifications.
Sorry I missed the existing issues.

[2022-05-17 20:41] tigrannajaryan opened #1403 "Is it possible to add attributes to "instrumentation scope"?"
[This OTEP](https://github.com/open-telemetry/oteps/pull/201) proposed to add attributes to instrumentation scope.

This issue is a question for the maintainers of this repo: are we able to do this in a non-breaking manner and without significant performance impact?

[2022-05-17 21:47] lalitb commented on #1403
This is not an API breaking change. So instrumentation libraries can still build with the new otel-cpp API without any code changes.
But there would be ABI incompatibility across different versions. So the instrumentation library build with newer version of otel-cpp won't be ABI compatible with application build using older version of otel-cpp.

[2022-05-18 06:37] lalitb opened #1405 "[Metrics SDK] Add InMemory metric exporter"
As required by the specs - https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk_exporters/in-memory.md

This would also be great tool for testing.

[2022-05-18 17:06] lalitb commented on #1399
To see if we can copy the gtest_add_tests() function from cmake module:
https://github.com/Kitware/CMake/blob/908d2cd136be3165d391c18777890798a18f96c3/Modules/GoogleTest.cmake#L293-L294

[2022-05-18 19:10] lalitb commented on #1402
No problem. We can use this issue to track changes for supporting secure options for OtlpHttpExporter.

[2022-05-18 19:25] marcalff opened #1406 "OTEL_INTERNAL_LOG_INFO() logs an Error, not an Info"
Greetings,

Calling `OTEL_INTERNAL_LOG_INFO()` logs an `[Error]`, not an `[Info]`.

Suggested fix:

[code]

Regards.

[2022-05-18 20:13] lalitb commented on #1406
Good catch. Thanks for raising the bug.

[2022-05-18 21:29] #1340 closed

[2022-05-18 21:45] jlisee commented on #319
@lalitb https://github.com/open-telemetry/opentelemetry-cpp/pull/342 was **closed** not merged so there is no public `AddLink` function in the `tracer::Span` API is that intentional or was it an oversight?

[2022-05-18 22:44] lalitb commented on #1399
There are few more cmake constructs in code not supported in cmake v3.1.0:

https://github.com/open-telemetry/opentelemetry-cpp/blob/a847d0ce42209e458f8f98a5751626a33adfad95/CMakeLists.txt#L9

https://github.com/open-telemetry/opentelemetry-cpp/blob/76c664a20b8219b91ead69ded6b7ee873b1a85ba/ext/test/http/CMakeLists.txt#L4

[2022-05-19 01:56] #1406 closed

[2022-05-19 02:00] owent commented on #1399
I think `add_compile_definitions(WITH_CURL) ` can be removed now.

[2022-05-19 04:08] owent commented on #319
According to https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#specifying-links, links can be added when creating a `Span`. This is already supported and the codes are here https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/tracer.h#L40

[2022-05-19 09:16] taozhijiang commented on #1220
Same here.
Tested with SDK v1.2.0 and pre v1.4.0 both happens.

[2022-05-19 14:25] marcalff opened #1409 "GlobalLogHandler::GetLogHandler() singleton is not unique."
Greetings.

The title is correct.

In my application, the code is calling:

(1) `GlobalLogHandler::SetLogHandler()`, to set a custom handler

(2) `OTEL_INTERNAL_LOG_XXX()`, to print internal logs.

These calls produce logs in the custom handler, as expected so far.

But then, later:

(3) `OTEL_INTERNAL_LOG_XXX()` calls from opentelemetry libraries
end up calling the default handler `DefaultLogHand

[2022-05-19 16:19] owent commented on #1409
To my understanding, ELF ABI will let all `.so` and `executable` to share the heap, and when linking, the first weak symbol is used when it's in more than one libraries.This mechanism will ensure all libraries use the same function and the global or static variables finally.Unless you compile them as local symbol (maybe by using `-fvisibility=hidden`) or use `dlopen()` to load symbol for a specify

[2022-05-19 16:29] marcalff commented on #1409
A possibility is that I am not using the proper build / link flags when building, will investigate more locally.

[2022-05-20 04:38] owent opened #1412 "Merge `async-changs`"
**Is your feature request related to a problem?**
The first version of async APIs of `traces` and `logs` is finished.We can merge these changes now and continue to work on more async implements for `OtlpGrpc*Exporter` or thread pool for `curl::HttpClient`.

**Describe the solution you'd like**

[code]

And the create PR from this commit to `main` .

**Describe alternatives you've considered**

[co

[2022-05-20 15:16] jlisee commented on #319
Thanks for the hint, is this API usage right below? Where `{}` is filling in empty attribute maps that are required? I found I hint in the test: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/test/trace/noop_test.cc#L54-L56 but it would be great to have this in the getting started section in the docs explicitly:

[code]

I did like the previous API which required fewer types and

[2022-05-21 11:16] zx8086 opened #1414 "Optionally install the header files for API, and generated targets and header files for SDK at custom/default install location."
custom/default install location?

For what ? the build, the system ?

example ?

[2022-05-22 02:53] owent commented on #1414
If you ares using cmake, you can set [CMAKE_INSTALL_PREFIX](https://cmake.org/cmake/help/latest/variable/CMAKE_INSTALL_PREFIX.html) to specify where to install all headers and library files.
If you are using bazel, there is no need to install, because all headers are auto copied by [deps](https://bazel.build/concepts/dependencies)

[2022-05-22 08:55] zx8086 commented on #1414
I'm trying to instrument nginx via https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx ...

Not sure what the locations should be for this given the errors are relating to missing headers.

[2022-05-22 18:11] owent commented on #1414
`cmake --install . --prefix=<installation path>` is better way. I have replied to https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/146

[2022-05-23 02:13] #1262 closed

[2022-05-23 02:26] owent commented on #1200
We use cmake CONFIG file and bazel dependency to auto declaration macros now. We can use [configure_file](https://cmake.org/cmake/help/latest/command/configure_file.html) to generate header file which include all macros during configure time.But I'm not sure if bazel has similar function.

[2022-05-25 07:41] deadb0d4 commented on #1393
Hey @owent, since it is marked as a good-first-issue could I please try this one out? I am a bit confused what classes specificly require builder method (e.g. SpanExporter)? Any chance, there is a doc?

[2022-05-25 08:56] owent commented on #1393
Yes and thanks.I think we can use `OtlpFactory`, which keep the simular name with `HttpClientFactory` and `PredicateFactory` .

Could you please make the changes base on [async-changes][1] branch? We are working on merge this branch back into `main`. We can reduce the conflicts if we base on [async-changes][1].

[1]: https://github.com/open-telemetry/opentelemetry-cpp/tree/async-changes

[2022-05-25 11:10] sirzooro opened #1416 "Allow creation of AttributeValue from nostd::span<const char*>"
**Is your feature request related to a problem?**
For debugging purposes I would like to add current callstack as an attribute to a span. [backtrace_symbols](https://linux.die.net/man/3/backtrace_symbols) returns `char**`, so I would like to use it directly and pass to `span->SetAttribute(...)`, wrapped in `nostd::span<const char*>`. Now this is not possible, `AttributeValue` cannot be created fro

[2022-05-26 18:47] ThomsonTan opened #1417 "Enable ARM64 build in CI"
ARM64 build target of opentelemetry-cpp is supported, it will be great if we have CI to track the status of ARM64 build

[2022-05-30 13:22] marcalff opened #1418 "SDK Version is an empty string"
Greetings,

`opentelemetry::sdk::version::FULL_VERSION` is not populated, it is an empty string.

File `sdk/src/version/version.cc` is intended to be post processed by commit hooks (`buildscripts/pre-commit`),
but these don't seem to be used, and beside, attributes like `BUILD_DATE` should probably be populated during the build, not at commit time.

Instead of checking in file version.cc in git,
a

[2022-05-31 17:27] #1389 closed

[2022-05-31 19:25] lalitb commented on #1418
I think we should run this script manually for now before releasing. The plan was to automate the release process and execute this script through github action (#593 - Have reopened this issue now).

[2022-06-01 09:23] owent commented on #1409
Sorry for my mistake, [GlobalLogHandler](https://github.com/open-telemetry/opentelemetry-cpp/issues/1409#) ia part of `sdk`, not in `api`. We we can move this implementation into `global_log_handler.cc`.
This problem may also be solved by add `__attribute__((noclone))` and `__attribute__((noinline))` to `GlobalLogHandler::GetHandlerAndLevel`

[2022-06-01 16:58] lalitb opened #1421 "Remove LogName argument as deprecated from Logger API"
To be added

[2022-06-02 00:00] lalitb opened #1423 "Move ETW exporter from opentelelemetry-cpp to opentelemetry-cpp-contrib"
As per the [specs ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#exporters)only Zipkin, OTLP and Jaeger exporter belong to core repo. Rest of the exporters should be contributed to contrib repo.
Accordingly, ETW exporter should be moved to [opentelemetry-cpp-contrib](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/exporters

[2022-06-02 00:02] lalitb opened #1424 "Move ElasticSearch exporter from opentelelemetry-cpp to opentelemetry-cpp-contrib"
As per the [specs ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#exporters)only Zipkin, OTLP and Jaeger exporter belong to core repo. Rest of the exporters should be contributed to contrib repo.
Accordingly, ElasticSearch exporter should be moved to [opentelemetry-cpp-contrib](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main

[2022-06-02 02:17] owent commented on #1291
@lalitb This issue has not be finished completely.I'm waiting for #1413 and then continue to implement `LogEmitter`, there may be more conflicts if I do it now.

[2022-06-02 02:18] owent commented on #1421
Are we going to remove `LogName` in next release?

[2022-06-02 02:55] lalitb commented on #1291
Yes my bad, we still need to implement `LogEmitter`. Reopening this issue.

[2022-06-02 02:56] lalitb commented on #1421
Not necessarily the next release, but we need to do it eventually based on bandwidth. This issue is to track the cleanup.

[2022-06-02 04:05] Zjie commented on #1220
Same here. Test with SDK v1.2.0 and using OTLP HTTP export.

Env:  gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)

Code:
auto span = tracer->StartSpan(trace_info->span_name_, op);
for (const auto& tag : trace_info->attributes_) {
  span->SetAttribute(tag.first, tag.second);
}
span->End(end);

Stack:
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
#1  0x00007f7113f27b25 in __G

[2022-06-02 04:39] lalitb commented on #1220
@Zjie - Can you try with latest commit, as the issue is fixed with #1410.

[2022-06-02 06:16] Zjie commented on #1220
Is it possible to make a new tag containing #1410 ？

[2022-06-02 06:24] Zjie commented on #1220
Thanks, I will try this commit later.

[2022-06-02 09:56] Zjie commented on #1220
#1410 works for me, as least it doesn't crash down anymore(so far). Anyway when will #1410 be released? @lalitb

[2022-06-02 18:03] lalitb commented on #1416
This is a valid use case. Though adding any new type in `AttributeValue` will break the ABI compliance.

[2022-06-03 07:33] marcalff opened #1428 "Libraries delivered: Reconcile Bazel and CMake build"
This is a remaining item identified during review of PR #1420

(1)

Document:
- the name of each library delivered
- the expected dependency graph (DAG)

This documentation is meant to be used by:
- users of `opentelemetry-cpp`,
- maintainers of `opentelemetry-cpp`.

A good place could be `docs/library-distribution.md`

(2)

Fix the `Bazel` build to comply with (1)

(3)

Fix the `CMake` build to c

[2022-06-03 08:25] marcalff opened #1429 "Move static variables from SDK header files to SDK *.cc"
This is a remaining item identified during review of PR #1420

For all the static variables found in SDK header files,
consider (to discuss) to either:
- move the code to the *.cc files instead,
- remove the static keyword,
- add comments to explain why use of static is safe.

List of variables identified:

File `opentelemetry/sdk/common/empty_attributes.h`

[code]

File `opentelemetry/sdk/metrics

[2022-06-04 04:30] #1409 closed

[2022-06-06 18:03] ccoqueiro commented on #1359
Hello All,

I thank you too much for the support of all of you, after a month trying to compile a simple C++ code, I was able to compile with the information you passed here, this last parameter was last(cmake .. -DCMAKE_TOOLCHAIN_FILE=/root/source/opentelemetry-cpp/tools/vcpkg/scripts/buildsystems/vcpkg.cmake .), through it I managed to compile the code, next step is now to try to generate a trac

[2022-06-06 18:03] #1359 closed

[2022-06-06 20:19] ThomsonTan commented on #1421
@owent as removing logger name is a breaking change for logging, I suggest we don't ship it in the same release of the release candidate of OpenTelemetry metrics. So we either make the change in the release this month (the current plan is releasing metrics candidate in July), or make the change after the metrics release candidate. @owent, any recommendation on this?

[2022-06-06 20:31] lalitb commented on #1418
We can close this PR once new release populates the SDK version. And track the release automation through #593. Assigning to @ThomsonTan to close this once the next release is published.

[2022-06-06 20:33] lalitb commented on #1221
@ThomsonTan FYI

[2022-06-06 20:42] lalitb commented on #1416
@sirzooro - We discussed in the community meeting, that it would be good to support `nostd::span<const char*>`.  Do you have plans to add the support?

[2022-06-07 02:52] owent commented on #1421
I vote for make the change after the metrics release candidate.

[2022-06-07 03:13] owent commented on #1416
Could we also add `nostd::span<std::string>` if we are planing to break ABI?
We can assign `std::vector<std::string>` and `google::protobuf::RepeatedPtrField<std::string>` to `nostd::span<std::string>` directly .
We must create a container of `string_view` and keep the same lifetime with the container of `std::string` now. It's expensive.

[2022-06-07 17:55] dc6c opened #1432 "Prometheus example for the histogram produces incorrect exposition output"
**Describe your environment** Windows 10, VS 2019, Bazel 5.0.0

**Steps to reproduce**
1. Build: `bazel build :prometheus_example` from examples/prometheus
2. Run the example: `..\..\bazel-bin\examples\prometheus\prometheus_example.exe histogram`
3. Get the metrics: `curl localhost:8080/metrics`

**What is the expected behavior?**
Output consistent with Prometheus histogram metrics [specification]

[2022-06-07 18:35] ThomsonTan opened #1433 "example_otlp_grpc_log logs epoch time which could be misleading"
**Describe your environment**

example_otlp_grpc_log logs an entry with epoch timestamp, which may not be useful as real world example, because the timestamp could be rejected by logs processing backend.

**Steps to reproduce**
Run example_tolp_grpc_log and observe the generated log timestamp.

**What is the expected behavior?**
What did you expect to see? 0

**What is the actual behavior?**
What

[2022-06-07 20:27] #1403 closed

[2022-06-07 22:42] #1433 closed

[2022-06-08 12:13] yzsolt opened #1436 "Support JaegerRemoteSampler"
The OpenTelemetry SDK specification defines a [JaegerRemoteSampler](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#jaegerremotesampler), which was supported in [jaeger-client-cpp](https://github.com/jaegertracing/jaeger-client-cpp.git) but missing from `opentelemetry-cpp`.

[2022-06-09 05:06] lalitb commented on #1436
@ThomsonTan - Hope it's fine to assign to you, as you know the Jagger exporter code better :)

[2022-06-09 06:29] lalitb opened #1437 "Prometheus exporter doesn't append attributes in metric name."
Prometheus time series data is identified by Metric name and (optional) key-value pairs called labels.
Ref - https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels

Prometheus exporter needs to append attributes in the metrics-name to uniquely identify the metrics. As of now, this is not happening. The label argument is passed empty [here](https://github.com/open-telemetry/opentel

[2022-06-09 07:02] lalitb commented on #1432
related to #1437. These multiple metric entries are in fact supposed to be different metrics ( with different labels). The Prometheus exporter is not adding labels in the time series data.

[2022-06-09 10:12] marcalff opened #1438 "Reconcile BAZEL and CMAKE dependency on nlohmann-json"
Greetings,

In file `bazel/repository.bzl`

The `BAZEL` build uses `nlohmann-json` version 3.6.1

[code]

In file `third_party_release`

The `CMAKE` build uses `nlohmann-json` version 3.9.1

[code]

At the very least, both builds should use the same version, so an upgrade to 3.9.1 in basel is needed.

Alternately, consider upgrading both to nlohmann-json 3.10.5 (Release date: 2022-01-03)

To avoid

[2022-06-09 10:33] owent commented on #1438
Agree.

[2022-06-10 02:38] #1347 closed

[2022-06-10 14:41] #1414 closed

[2022-06-10 15:42] sirzooro opened #1442 "Missing value for flag: --experimental_allow_proto3_optional"
**Describe your environment**
CentOS 8 Stream
protobuf-3.5.0-15
gcc 10.3.1
cmake 3.20.2
Latest OpenTelemetry CPP source (removed and cloned repo today)

**Steps to reproduce**
[code]

**What is the expected behavior?**
Build completes successfully.

**What is the actual behavior?**
[code]

[2022-06-10 17:26] owent commented on #1442
Thanks, this problem is already fixed by #1413

[2022-06-10 19:13] lalitb opened #1443 "[Metrics SDK] Histogram min/max support"
It seems Explicit bucket histogram aggregation should support the optional required configuration for min/max support. This is something missing in the current implementation.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#explicit-bucket-histogram-aggregation

The summary of changes required:
- adds min/max recording to Histograms
- makes thi

[2022-06-10 19:30] lalitb opened #1444 "[Metrics SDK] Add configuration options for Aggregation creation"
As of now, the aggregation use default configuration - Eg Histogram aggregation uses default values of buckets and is not configurable. It should be possible for application developers to specify the configuration options while creating aggregation.

[2022-06-10 20:46] #1437 closed

[2022-06-10 20:47] lalitb commented on #1432
fixed by #1440. Please reopen if there are still any issues.

[2022-06-10 20:47] #1432 closed

[2022-06-10 22:30] #1438 closed

[2022-06-10 22:32] marcalff opened #1445 "[docs] Post release instructions - broken link"
In `RELEASING.md`, the following section has a broken link:

[code]

This was caused by
[ Move languages under /docs/instrumentation #963 ](https://github.com/open-telemetry/opentelemetry.io/pull/963)

Fix: docs/cpp -> docs/instrumentation/cpp

[2022-06-11 01:19] #1445 closed

[2022-06-11 06:07] jpeach opened #1448 "nlohmann_json fails to install to /usr/local during build"
**Describe your environment**

ProductName:	macOS
ProductVersion:	12.4
BuildVersion:	21F79

**Steps to reproduce**
[code]
[code]

**What is the expected behavior?**
I expected the build to download and build dependencies within the build tree. I did not expect it to attempt to install build dependencies to a global system location.

**What is the actual behavior?**
[code]

[2022-06-13 21:06] marcalff commented on #1448
After investigations, it turns out there are 3 different ways to build with nlohmann_json in the top level CMakeList.txt.

(1)

CMake finds a nlohmann_json package.

Message printed:
`Using external nlohmann::json`

Variables visible in cmake:
` nlohmann_json_DIR                /opt/nlohmann_json-3.10.5/lib64/cmake/nlohmann_json`

make:
- builds the code
- installs nothing, as expected

make insta

[2022-06-13 21:19] lalitb commented on #1448
That's correct, it's a valid bug. Unfortunately, we don't have any CI test to catch this error. For Linux - the nlohmann-json dependency is already installed through `apt`, and macOS CI tests are only with bazel.

[2022-06-13 21:23] marcalff commented on #1448
Before changing makefiles for (3), I would like to understand if (3) is even needed at all.

Downloading code manually from github sounds redundant with git submodules, which are already in place, so maybe (3) can be removed entirely ?

@lalitb ?

[2022-06-13 21:27] marcalff commented on #1448
Also, picking an existing external nlohmann-json dependency might bring a different version, causing subtle bugs, especially considering the external package (1) takes precedence over git submodules (2)

[2022-06-13 21:34] lalitb commented on #1448
We have source releases, so it is possible for someone to download the release archive, and build it. The 3rd scenario will be used there.

[2022-06-14 07:32] lalitb opened #1450 "OTLP gRPC Exporter for Metrics"

[2022-06-15 17:22] lalitb commented on #1393
Assigning it to @marcalff, he has plans to look into this once async changes are merged.

[2022-06-15 17:40] ThomsonTan opened #1452 "Don't close inactive issues automatically"
Based on the volume of our issues, closing inactive issues make little sense as we can manually triage all stale issues

[2022-06-16 06:28] owent commented on #1371
OK.

[2022-06-16 07:40] owent opened #1455 "Implement new async specification"
Implement https://github.com/open-telemetry/opentelemetry-specification/pull/2452

[2022-06-16 22:16] #1452 closed

[2022-06-20 23:50] ThomsonTan commented on #1418
This was fixed in https://github.com/open-telemetry/opentelemetry-cpp/pull/1458.

[2022-06-20 23:50] #1418 closed

[2022-06-21 14:11] marcalff opened #1459 "[Dependencies] Upgrade to gRPC version 1.46.3"
gRPC will require C++14 starting with release 1.47, see the announcement in 1.46:

https://github.com/grpc/grpc/releases/tag/v1.46.0

Upgrade opentelemetry-cpp to the latest gRPC C++ 11 release available, 1.46.3.

This is a required intermediary upgrade step, while awaiting for a decision on if/how to support:
-  C++ 11 gRPC 1.46.3
- C++ 14 gRPC 1.47+
concurrently in the opentelemetry-cpp code bas

[2022-06-22 00:14] lalitb commented on #1381
Seems otel-proto is removing the deprecated `InstrumentationLibrary` from schema - https://github.com/open-telemetry/opentelemetry-proto/pull/407/files

Which means we mayn't be able to upgrade to latest otel-proto without this issue been fixed.

[2022-06-22 01:59] keminming opened #1463 "[Trace] Missing async HTTP client context propagation example"
The http client example shows only synchronous mode:
https://github.com/open-telemetry/opentelemetry-cpp/blob/96534a7c2370099ada8bd9dcdc7236c76adf47d9/examples/http/client.cc#L42

However, majority of the time, the http client will be worked in an asynchronous mode, similar to the code below:
http_client->Get(url, carrier.headers_,[](http_client::Result result){
  if (result)
  {
    // set span a

[2022-06-22 02:25] lalitb commented on #1463
The example code is just to demonstrate the context propagation, not how to use an internal[ http_client](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ext/include/opentelemetry/ext/http/client/http_client.h) library in sync and async mode.  The internal http_client library won't be used for external applications, so the actual sync/async code would depend on the HTTP library used

[2022-06-22 05:26] lalitb commented on #1463
closing as reasoned above.

[2022-06-22 05:26] #1463 closed

[2022-06-22 05:49] keminming opened #1464 "[Trace] reopen - Missing example instrumenting asynchronous operation #1463"
Open this issue since I don’t think #1463 Is well resolved, as we don’t find a good example how to instrument function call with async callback, in most condition, I/O operation will be made in an asynchrous fashion, but it doesn’t seem to be well supported by the cpp lib.

[2022-06-22 06:46] lalitb commented on #1464
Ok fair enough. Please let us know which HTTP async library you are going to use - the example would depend on that.

[2022-06-22 07:18] lalitb commented on #1464
The rough code (not tested) should be something like this, do you see any issue in this  -

[code]
`scope` object won't work in the async case. `scope` object is helpful for nested spans. So the nested span scenario would now look like -

[code]

[2022-06-22 22:04] lalitb commented on #1464
@keminming - Let me know if the above example brings clarity. You can try this, and update here if it doesn't work.

[2022-06-23 22:01] keminming commented on #1464
@lalitb Thanks for sharing the example. I've run debugging on it and the result looks to be as expected. It ended up with 2 spans, outer and inner, and the parent span of inner is outer.

So "scope" seems only helps for nested sync calls, that don't require passing parent span explicitly to the callee to set up the parent/child relationship. Also noticed "span link" is designed to express a certai

[2022-06-23 23:50] #1450 closed

[2022-06-25 02:36] lalitb commented on #1464
You can find few of the examples of links here - https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#links-between-spans

- Links are not exported to Zipkin ( Refer - https://github.com/open-telemetry/opentelemetry-specification/blob/9abbdd39d0b35f635f833f072013431da419894e/specification/trace/sdk_exporters/zipkin.md#summary )
- Links are exported as S

[2022-06-27 02:14] #1337 closed

[2022-06-27 02:14] #1280 closed

[2022-06-27 09:06] marcalff opened #1466 "[TRACE API] Tracer::StartSpan() missing api for a single link."
In the spec for Span creation, for specifying links:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#specifying-links

Every StartSpan method on Tracer, when taking links as input, expects many links (iterators on collections, initializer lists, etc) at once.

There are no apis that can be used to add a **single link**, with optional attributes,

[2022-06-27 17:18] lalitb commented on #1337
Reopening it, for now, we can discuss it in the next community meeting how to handle this.

[2022-06-27 18:31] lalitb commented on #1280
Even though closed by the bot for being stale, the actual problem is with the kernel headers, and needs to be fixed as mentioned above.

[2022-06-27 18:33] lalitb commented on #1464
@keminming - Let me know if it is good to close this issue unless you have plans to add the async example?

[2022-06-27 18:49] keminming commented on #1464
@lalitb This is the sample code I wrote for testing, based on the default http_client. For some reason, the onResponse handler won't trigger, so I add the code in the onEvent handler. Feel it's definitely helpful to include an async example (not have to be this one), which has 2-3 layers of the nested HTTP call.

`  auto httpClient = http_client::HttpClientFactory::Create();

  class CustomEventHa

[2022-06-28 15:52] marcalff opened #1467 "[Trace API] TextMapPropagator requires to use RuntimeContext"
In our application, we are keeping track of `Span` manually, and on purpose do not use:
- `Scope`
- `RuntimeContext`

The motivation for this is due to:
- performance overhead concerns, reading and writing to `RuntimeContext` and thread local storage all the time,
- architectural concerns, because the application uses a thread pool, which `RuntimeContext` is not aware of.

I am aware we could impl

[2022-06-28 22:33] lalitb commented on #1467
Thanks for well written issue, with all the required details.

In current state, the only better option is to maintain own `context::Context` object and use that to pass `SpanContext` to Propagator.

[code]

The `context::propagation::TextMapPropagator` class ideally shouldn't have dependency on any of the Signals (trace, logs, metrics), and it is supposed to use the Context object to inject/extra

[2022-06-29 09:57] marcalff commented on #1467
Thanks for the details.

I ended up using

[code]
which should be equivalent.

In my understanding, the whole concept of propagation is dedicated to the trace signal already.
Only traces needs to pass context to link a parent span to a child span when crossing service boundaries.

For metrics and logs, where would a `TextMapCarrier` + `TextMapPropagator` be needed, and what for ?

[2022-06-29 21:32] #1381 closed

[2022-06-29 21:35] lalitb commented on #1467
Propagation is dedicated to trace and baggage, and baggage stores annotations data for logs, traces and metrics.

[2022-06-29 22:04] marcalff commented on #1467
(Discussed in community call)

With the following code (now tested)

[code]

propagation can be used without RuntimeContext,
so the issue originally reported is addressed.

Context could be more efficient to store and retrieve a span, but this is another topic.

Closing this issue then.

[2022-06-29 22:04] #1467 closed

[2022-06-29 22:34] lalitb commented on #1442
--experimental_allow_proto3_optional flag is since protoc version 3.12.0. I don't think it will work with earlier versions. This seems to be an issue for the distro like CentOS8/Redhat8 which comes with older protoc compiler.

[2022-06-29 22:55] lalitb commented on #1442
@sirzooro, @javaccar - Can you upgrade the protoc? I don't see any other solution for now, as metrics proto files uses `optional` fields. We have to drive this further with otel-proto repo owners in that case.

[2022-06-30 06:56] owent commented on #1442
Sorry for my mistake, It's #1383 which solve this problem, it just add `--experimental_allow_proto3_optional`.
#1413 had the same changes as #1383 before.

[2022-06-30 06:59] owent commented on #1442
The minimal version of gRPC we support is 1.33.0, which require protobuf 3.13.So I think all versions of protobuf we support have `--experimental_allow_proto3_optional`, and it's already added in #1383 .

[2022-06-30 07:07] lalitb commented on #1442
@owent  - I think the problem is with build option `-DWITH_OTLP=ON -DWITH_OTLP_GRPC=OFF`, so it allows users to try older version of protoc compiler. But either way - with or without gRPC support - protoc version need to be newer to build

[2022-06-30 07:08] lalitb commented on #1442
Sorry for closing it incorrectly :)

[2022-06-30 08:58] owent commented on #1442
OK, I can raise another PR to add `--experimental_allow_proto3_optional` only with protobuf >= 3.12

[2022-06-30 12:16] johanpel opened #1470 "SetTracerProvider with a new NoopProvider wrapped in a type-inferred nostd::shared_ptr causes segfaults in Release builds"
### Environment
GCC 9.4.0
Compiler flags: `-O3 -DNDEBUG` (CMake Release) or  `-O2 -g -DNDEBUG` (CMake RelWithDebInfo)
Default CMake options, linking only to opentelemetry_trace
OpenTelemetry C++ 1.4.1

### Steps to reproduce

[code]

### Expected behavior

No segfault.

### Actual behavior

Results in a segfault with stacktrace:

[code]

### Additional context

To fix this I eventually figured out

[2022-06-30 13:30] sirzooro commented on #1442
I can use new version. I would have to switch to it anyway to use OTLP metrics when you release GA version.

[2022-06-30 23:31] lalitb commented on #1442
I don't think lower protobuf version needs to be supported, as metrics proto files won't compile with that.

Closing the bug, please reopen if there are any further issues, or any change expected here.

[2022-06-30 23:31] #1442 closed

[2022-07-01 08:05] marcalff opened #1473 "[Examples] Memory ownership issues in InMemorySpanExporter usage example."
In example `multi_processor/main.cc`, the code:

1)

Builds a `InMemorySpanExporter` object

[code]
2)

Transfers memory ownership to a `SpanProcessor`

[code]

3)

Use the underlying `InMemorySpanExporter` object directly.

[code]

This usage of `InMemorySpanExporter` is unsafe, as the exporter pointer is not owned, and the exporter could go away for example when installing a different global tra

[2022-07-04 12:01] luyor opened #1475 "[Trace SDK] Input of SpanProcessor::OnEnd should be a readable span"
According to the specification, input of `SpanProcessor::OnEnd` should be a readable span.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#onendspan

[code]

Current input of `SpanProcessor::OnEnd` is a `Recordable`,
https://github.com/open-telemetry/opentelemetry-cpp/blob/9efb7a14530c38f69f6c709ce6777fab6bf6c63a/sdk/include/opentelemetry/sdk/tra

[2022-07-05 02:17] #1361 closed

[2022-07-05 03:36] lalitb commented on #1475
`Recordable` interface allows for the more optimized implementation of trace pipeline by avoiding intermediate copying data to immutable/readable Span. The implementation of `Recordable` is provided by the exporter, and the span data is directly serialized into the format required by the exporter.

Just curious - Are you trying to create a custom span-exporter with filtration support? Instead of t

[2022-07-05 06:31] luyor commented on #1475
My use case is to decide whether span needs to be collected based on status code. It can't be done in Sampler, since sampler is called when span starts, but status code is available only when span ends.

I think `SpanProcessor.OnEnd` is a valid place to do filtering based on status code. The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace

[2022-07-05 17:13] lalitb commented on #1475
That looks to be the fair ask, though it would be a breaking change for any external exporters (not part of this repo) and needs to be communicated ahead of time. @pyohannes  - Just in case you have any comments, as I think you were involved in the initial recordable design :)

[2022-07-05 22:33] ThomsonTan opened #1476 "The default value of FD_SETSIZE is too small for real scenario"
**Describe your environment**
Windows 11 10.0.22000.739

**Steps to reproduce**
Run curl_http_test.exe

**What is the expected behavior?**
The test should pass

**What is the actual behavior?**
The test failed

**Additional context**
The test is failed on that the allocated socket handle value is larger than `FD_SETSIZE` which is 64. The value seems too small for real scenario.

[2022-07-05 23:31] ThomsonTan commented on #1475
Sounds like we need pass read only span to OnEnd instead of the current recordable? Like it is unexpected to change/set span data in `OnEnd`?

[2022-07-08 07:31] owent opened #1479 "[Doc] `opentelemetry-cpp-target-*.cmake` is missing when follow document to install otel."
**Describe your environment**

Linux

**Steps to reproduce**

Follow https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#building-as-standalone-cmake-project to install otel.

**What is the expected behavior?**

All cmake config files are installed correctly.

**What is the actual behavior?**

`opentelemetry-cpp-target-*.cmake` is missing.

This problem is reported from https:

[2022-07-08 18:08] pyohannes commented on #1475
I think there's no general solution for this. For some implementations of `Recordable` it might be impossible to implement setters at all.

One possibility I see is extending the `Recordable` interface by a method like this:
[code]
Then `Recordable`s can implement casting to readable `SpanData` where possible. This can then be used by processors. `Recordable`s for which reading data is not possibl

[2022-07-09 05:16] #1412 closed

[2022-07-09 07:17] #1243 closed

[2022-07-09 07:18] #1176 closed

[2022-07-09 07:18] owent commented on #1220
Close as #1413 is merged

[2022-07-09 07:18] #1220 closed

[2022-07-09 07:26] owent commented on #1476
#1413 is already merged, maybe this issue can also be closed?

[2022-07-09 07:34] #1455 closed

[2022-07-09 07:39] owent commented on #1239
According to the latest https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md , Export() will never be called concurrently.
Could this issue be closed as #1413 is already merged?

[2022-07-09 18:25] #1479 closed

[2022-07-10 06:13] yxue commented on #1428
Do we consider use the tools like https://github.com/google/bazel-to-cmake? The CMakeLists.txt can be generated from the BUILD and WORKSPACE as mentioned.

[2022-07-10 20:05] bsarden opened #1482 "feat(tracing): perfetto exporter"
It seems like there could be a lot of value in using the perfetto ui with the otel metrics+span sdk's. For additional context, I'm evaluating the differences between perfetto and the open-telemetry ecosystem. Specifically, being able to reuse the [perfetto ui](https://perfetto.dev/docs/#trace-visualization) and the [trace processor](https://perfetto.dev/docs/analysis/trace-processor) to have a coh

[2022-07-11 02:38] owent commented on #1428
I think it's difficult to use [bazel-to-cmake][1] like tools. CMake support environment detection better and has a better compatibility then bazel.(e.g. We support gcc 4.8 and use a old version of gRPC and abseil-cpp with cmake, but we don't suport legacy compilers with bazel now).
Maybe we can consider If there is a tool than can convert cmake script to bazel script, or just write a script to che

[2022-07-11 03:28] lalitb commented on #1482
@bsarden  -Looks like this is a more suitable discussion for the specs repo (https://github.com/open-telemetry/opentelemetry-specification). This repo is for OpenTelemetry C++.

[2022-07-11 03:44] owent opened #1484 "[Metrics] Otlp metric gRPC exporter has a wrong name."
Should `OtlpGrpcMetrics*` be  `OtlpGrpcMetric*` ? I found the name with (s) are used for legacy `_metrics` implements in other exporters, but `OtlpGrpcMetricsExporter` is implement of new metric SDK?
@lalitb

[2022-07-11 04:44] lalitb commented on #1484
@owent  - Correct, It should be `OtlpGrpcMetricExporter` for new implementation.  Would be consistent with `OStreamMetricExporter` and `InMemoryMetricExporter` (from #1481).  Please feel free to assign it to me. Thanks :)

[2022-07-11 05:44] lalitb commented on #1239
#1413 fixes this.

[2022-07-11 05:44] #1239 closed

[2022-07-11 07:38] owent commented on #1484
And bazel script is missing for `OtlpGrpcMetricExporter` now.

[2022-07-11 08:54] marcalff opened #1485 "[Metrics SDK] Provide builders to avoid exposing SDK internals"
Same as issue #1393, but for Metrics.

Please assign to me.

[2022-07-11 08:56] marcalff opened #1486 "[Logs SDK] Provide builders to avoid exposing SDK internals"
Same as issue #1393, but for Logs.

Please assign to me.

[2022-07-12 01:00] #1484 closed

[2022-07-12 03:23] lalitb commented on #1484
Will fix this one #1481 and #1487 are merged to avoid any further merge conflicts :)

[2022-07-12 07:17] ThomsonTan commented on #1476
Resolved by #1413.

[2022-07-12 07:17] #1476 closed

[2022-07-12 12:54] marcalff opened #1490 "[GIT] Some source files have execute permissions"
The following source files are executable.

[code]

No *.h, *.cc or *.txt should have execute permissions.

[2022-07-12 15:27] owent opened #1492 "[Metrics] Upgrade `instrumentation_library_metrics` to `scope_metrics`"
**Is your feature request related to a problem?**

According to https://github.com/open-telemetry/opentelemetry-proto/blob/v0.17.0/opentelemetry/proto/metrics/v1/metrics.proto ,
`instrumentation_library_metrics` is deprecated and removed in https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/metrics/v1/metrics.proto , we should upgrade to use `scope_metrics` instead

[2022-07-13 02:53] yxue opened #1493 "Replace the in-memory span data with the templated in-memory data class"
Replace the in-memory span data with templated in-memory data class introduced in this PR https://github.com/open-telemetry/opentelemetry-cpp/pull/1481

cc @lalitb

/assign @yxue

[2022-07-13 05:07] owent opened #1494 "[CI] Add ci jobs without `ENABLE_METRICS_PREVIEW` (bazel) and `WITH_METRICS_PREVIEW` (cmake)"
**Is your feature request related to a problem?**

I notice the new metrics implement is enabled only when building without `ENABLE_METRICS_PREVIEW` (bazel) and `WITH_METRICS_PREVIEW` (cmake). But it's not checked in most CI jobs. I think we should add some steps or jobs to build without them.

[2022-07-13 10:03] marcalff commented on #1490
Fixed by #1491

[2022-07-13 10:03] #1490 closed

[2022-07-13 18:27] lalitb commented on #1494
This was discussed in today's community meeting - Should we instead remove validating CI builds for old metrics implementation? This would simplify the CI, and also gives a message that the old implementation is going to be cleaned up in the coming days.

[2022-07-14 02:19] owent commented on #1494
Could we keep few CI jobs for the old metrics, just like `LogName` in log APIs? There are some projects use the old implements and it will take some time to migrate to the new one.
I think keep one job using bazel with new compiler and one jobs using cmake with gcc 4.8 would be enough.

[2022-07-15 00:53] marcalff commented on #1473
Please assign to me.
Fixed by #1471

[2022-07-15 07:15] owent commented on #1250
We should also support to share our event loop with grpc's in the future.

[2022-07-15 19:52] #1473 closed

[2022-07-17 08:50] esigo opened #1498 "[Metrics SDK] Add Metrics ExemplarFilter and ExemplarReservoir"
Specs: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#exemplar

ExemplarFilter determines if a measurement should be sampled
Properties - value of measurement, attributes of measurement, context of measurement, timestamp

ExemplarReservoir provides a method to offer measurements to the reservoir and to collect accumulated exemplars

[2022-07-17 12:55] bsarden opened #1500 "[Metrics] Example for filtering which metrics we want to export"
I'm trying to build a user application that exposes which metrics we want to export via regex. For example:

[code]

Is this possible to do? IIUC, the `InstrumentSelector`, `MetricSelector`, and `Predicate` classes indicate that this functionality is achievable. However, I can't find any pointers into how we expose the ability to configure which metrics to export to the user.

[2022-07-18 19:34] lalitb opened #1502 "[OTLP Exporter] OTLP gRPC exporter cmake build shouldn't depend on nlohmann-json"
**Describe your environment**   - ubuntu, libcurl not installed, gRPC installed.

**Steps to reproduce**
$ cmake -DWITH_OTLP=ON ..

**What is the expected behavior?**
As OTLP GRPC exporter doesn't use JSON serialization, its build shouldn't try installing nlohmann-json if package is not already installed.

**What did you expect to see?**
Build should succeed without nlohmann-json.

**What is the a

[2022-07-19 07:59] #1371 closed

[2022-07-19 21:41] lalitb commented on #1391
Moving it out of RC, as the current specs is still not stable, and the complexities involved in implementing this.

[2022-07-20 03:39] owent opened #1506 "[Logs] Upgrade `instrumentation_library` to `scope` in SDK and all member names of logs"
Just like #1492 , rename `instrumentation_library` in logs to `scope`

[2022-07-20 16:57] #1502 closed

[2022-07-21 12:31] wangzhen2271 opened #1509 "url parser will incorrect parsing url like "http://aaa.com/eee@bbb/x/y""
I report trace to url "http://tracing-analysis-dc-hz.aliyuncs.com/adapt_fdufe5deml@455595430f299c1_fdffe5degl@134f7ad2ffe83/api/otlp/traces".  It always failed,  I trace the code and found the urlparser take a mistake,  the parse result is:  host -- 455595430f299c1_fdffe5degl@134f7ad2ffe83 while it should be -- tracing-analysis-dc-hz.aliyuncs.com.

I think the "**@**" should be considered just whe

[2022-07-21 12:57] sam-leitch-oxb opened #1510 "Default Metric view should use instrument name."
According to the [description of Views in the Metrics SDK](https://opentelemetry.io/docs/reference/specification/metrics/sdk/#view) the name of default views should be the name of the instrument they represent.

According to the code (and unit tests), the views are using the name "otel-default-view"

[2022-07-21 16:26] marcalff commented on #1429
As discussed in community meeting, expanding the scope from "moving static variables to *.cc" to "moving all code to *.cc".

[2022-07-21 17:57] #873 closed

[2022-07-24 14:07] esigo commented on #1509
already fixed in #1511.

[2022-07-24 14:07] #1509 closed

[2022-07-26 11:04] a-staebler opened #1516 "Build notes for arm64 / Apple Silicon"
Hello,

I managed to get a build working with bazel on Apple Silicon. I'm not very familiar with bazel. Here are the tweaks and shortcuts I took:

- JDK installed with `brew install openjdk@11`.
- Instruct bazel to use local jdk.
- Work around linker issues and build errors.

This led to the following changes in `.bazelrc` after `build --copt -DGRPC_BAZEL_BUILD`:

[code]

My goal was to disable te

[2022-07-26 11:09] a-staebler commented on #1516
Forgot one critical step: downgrading XCode to 13.2.1 to work around abseil build errors. I used [xcpretty/xcode-install](https://github.com/xcpretty/xcode-install).

[2022-07-26 14:41] astitcher opened #1517 "CMake users using jaeger exporter are forced to know about internal opentelemetry details"
**Describe your environment**
Linux Fedora 36, Opentelemetry built with shared libs, building with CMake

**Steps to reproduce**
Build code that uses the jaeger exporter using a CMake file like:
[code]
**What is the expected behavior?**
Build with no failure!

**What is the actual behavior?**
[code]
...
[code]

**Additional context**
There is a work around for this issue which is to use ```find_pa

[2022-07-26 17:26] astitcher opened #1520 "Opentelemetry API singletons (TraceProvider etc.) do not play well in shared library uses that hide symbol visibility"
**Describe your environment**
We are using the opentelemetry tracing API (and SDK) inside a Linux C++ shared library (.so file) built with the standard gcc toolchain. This library is provides messaging using the AMQP protocol (the library is Qpid Proton C++). We create tracing spans internal to the library to represent the lifecycle of messages sent and received by the library. The contexts associ

[2022-07-26 19:03] #1517 closed

[2022-07-26 21:20] cartersocha opened #1521 "Enhance tracing in otel-demo for v1 release"
Tracing instrumentation needs to be enhanced in the community demo in preparation for the v1 release.

Referencing issue:
https://github.com/open-telemetry/opentelemetry-demo/issues/52

[2022-07-26 22:48] lalitb commented on #1520
The issue has been discussed earlier for Windows - [Support building DLL for windows](https://github.com/open-telemetry/opentelemetry-cpp/issues/1105).  The header-only API design is the core issue here, and there are discussions on removing this constraint ( no decision and timelines yet).

Just to add, moving `Provider::GetProvider` definition to SDK won't help here. The instrumentation librarie

[2022-07-27 06:33] owent commented on #1520
If your project use opentelemetry-cpp as internal component, you can also build opentelemetry-cpp as static library with `-fvisibility=hidden` and link it into your dynamic library, the symbols will also not be visible outside.
If any headers of opentelemetry-cpp will be exported as part of your product, I think symbols should also be visible so that users will use the same configure and version o

[2022-07-27 12:26] astitcher commented on #1520
@owent What you are suggesting with static libraries doesn't help because as @lalitb already said the issue is the header file only design for the API.

[2022-07-27 12:32] astitcher commented on #1520
@lalitb I looked at #1105 and indeed the issue and solution are the same - is there any movement on adding these files to a library? Would the approach there be creating a new API shared library? If that would be an otel build time decision we could work with that because we will be building otel packages ourselves to install before our own library package.
Equally I think that annotating the head

[2022-07-27 17:33] lalitb commented on #1520
@astitcher  - Can you write a prototype to see if this works, that will help us make a decision on the right approach?

[2022-07-27 18:06] lalitb commented on #1521
Closing it here, let's track it using parent issue - https://github.com/open-telemetry/opentelemetry-demo/issues/52

[2022-07-27 18:06] #1521 closed

[2022-07-27 18:06] marcalff commented on #1520
Thanks @astitcher for the detailed problem description.

Also discussed during the opentelemetry-cpp meeting today.

The same issue was reported recently (#1409) and fixed (#1420)
for some singletons present in the SDK,
because the code used the general pattern of declaring singletons
in header only code, for the most part.

There is still some areas to fix in the SDK, see (#1429),
but moving sing

[2022-07-27 19:51] lalitb commented on #1520
Thanks for summarizing it nicely @marcalff . Appreciated :)

Agree on investigating the header-only approach with annotations (IV-B above) first. As long as it works on all supported platforms (Windows, Mac, Linux), and commonly used compilers as documented here - https://github.com/open-telemetry/opentelemetry-cpp#supported-development-platforms - this should be preferred.
 - Linux (gcc/g++): - @

[2022-07-27 20:13] astitcher commented on #1520
@marcalff - Thanks for very neatly summarizing all of this and explaining the history - I think I'm in the camp that really considers the singletons to really be part of the SDK as they are actually implementation artifacts, but I totally get that requiring a new library to link with the API is highly undesirable at this point.
I will spend a bit of time this week to try and rough out the code usi

[2022-07-27 20:52] ThomsonTan opened #1522 "Produce libraries with consistent name in both bazel and Cmake build"
File as follow up for below comment. Currently bzcel and CMake build produce different set of library names.

[#1420](https://github.com/open-telemetry/opentelemetry-cpp/pull/1420/#discussion_r887445259)

[2022-07-27 21:20] sirzooro commented on #1520
Methods can stay inline, this should not break anything. Only singleton member variables need exactly one copy. Try to mark them with `__attribute__((weak, visibility(default)))`. You also will need to add extra `if` in methods to check if symbol is loaded, i.e. check if symbol address is non-null before trying to use it. Example code:

[code]
This solution also require to provide non-weak symbol

[2022-07-27 21:21] lalitb commented on #1522
Is it different from #1428? If yes, can we add more information to this issue? Thanks :)

[2022-07-28 12:55] owent commented on #1520
To my understanding, ELF ABI said it will use the first weak symbol when there are more than one weak symbol, or use the strong one when there several weak symbols and one strong symbol with  the same name. So `__attribute__((visibility("default")))` will work on Linux, and also macOS because it has the simular ABI.

But on Windows, with PE ABI, every dll and exe will have their own copy of codes

[2022-07-28 13:13] sirzooro commented on #1520
I have just recalled that MSVC has special pragma which tells compiler to add specified library to linker library list. This is potential workaround to automatically link extra API lib with singleton definitions on Windows and pretend that API is still header-only.
`#pragma comment(lib, "foo.lib")`

[2022-07-28 13:29] owent commented on #1520
This just tell MSVC to link `foo.lib` ，but I think head-only do not any `.lib` file?

[2022-07-28 14:34] #1349 closed

[2022-07-28 17:03] ThomsonTan opened #1526 "CMake build failed of Prometheus exporter test fails"
Got below error when building prometheus exporter test.
[code]

[2022-07-28 17:45] #1526 closed

[2022-07-29 14:53] marcalff commented on #1520
Thanks @owent for the tests.

For gcc on windows, could you try this:

[code]

My understanding is that:
- `__attribute__((visibility("default"), weak))` is for the ELF ABI, so Linux
- `__declspec(selectany)` is for the windows ABI, and basically means a weak symbol

For GCC on the Windows OS, I would expect to use either:
- `__declspec(selectany)`, which could be understood by GCC
- `__attribute_

[2022-07-29 15:08] marcalff commented on #1520
My findings so far, about the position of the singleton variable ...

## static variable inside a function or method

class Foo {
  void bar() {
    static xxx singleton = yyy;
  }
};

Here the visibility of the singleton also depends on the visibility of the class and method,
making things much more complicated.

To avoid.

## Member, in class

class Foo {
  static xxx singleton = yyy;
};

This c

[2022-07-29 22:25] astitcher commented on #1520
I didn't get time this week to rough out any actual code, but I did enough messing/research to have come to different conclusion to others here:
* At least for Linux/Unix the symbols should not be weak - they should be strong symbols - weak symbols don't have well defined semantics whereas strong symbols do exactly what we want which is to have the application symbol interpose over the shared libr

[2022-07-30 07:24] owent commented on #1520
` __attribute__((selectany))` is a variable attribue, not a function attribute.

[code]

[2022-07-30 08:01] owent commented on #1520
Yes

Yes, it's unnesessary to add `__attribute__((visibility("default")))` to static variable inside function, the problem is the same as **Example 1** above. Each dll/exe will has it's own copy of these static variables on Windows. The symbol lookup rules are different bewteen ELF ABI(Linux) and PE ABI(Windows).

[2022-07-30 10:42] #1492 closed

[2022-07-30 10:42] #1506 closed

[2022-07-30 15:02] esigo opened #1529 "Fix code scanning alert - Failure to use HTTPS URLs"
Tracking issue for:
- [ ] https://github.com/open-telemetry/opentelemetry-cpp/security/code-scanning/1

[2022-07-31 08:09] esigo opened #1532 "unit test memory leak"
We have some mem leaks in the unit test, we haven't detected because our CI jobs does not fully test new metrics:
https://github.com/open-telemetry/opentelemetry-cpp/runs/7593320241?check_suite_focus=true#step:5:2778
`async_metric_storage_test`
`metric_reader_test`
`sync_metric_storage_test`

[2022-07-31 17:48] #1532 closed

[2022-07-31 19:10] esigo opened #1534 "metrics memory leak because of circular reference"
There is circular reference between `meter` and `context`:
https://github.com/open-telemetry/opentelemetry-cpp/runs/7600470707?check_suite_focus=true#step:5:806
This causes a memory leak.

[2022-07-31 23:46] lgfa29 opened #1536 "Decode values from `OTEL_RESOURCE_ATTRIBUTES`"
While using the Go SDK I noticed an inconsistency in how `OTEL_RESOURCE_ATTRIBUTES` baggage values are encoded and decoded. This was due to a difference in the version of the W3C Baggage spec used for [baggage propagation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md#propagation) and the [`OTEL_RESOURCE_ATTRIBUTES` decoding](https://github.co

[2022-08-01 01:13] lalitb commented on #1536
This seems to be for Go SDK. Please open it here - https://github.com/open-telemetry/opentelemetry-go/issues

[2022-08-01 01:16] lalitb commented on #1536
My bad. This is relevant for C++ SDK too :)

[2022-08-01 21:02] #1444 closed

[2022-08-02 06:11] owent opened #1538 "[v1.5.0] Can not build with external dependency package manager."
Version: v1.5.0

## Case 1: Using abseil-cpp 20211102.0 with `std::variant`

Compiler: GCC 8.4.1
OS: CentOS 8

[code]

## Case 2: Enable new metrics SDK and prometheus exporter

Compiler: GCC 4.8 & GCC 8.4.1
OS: Ubuntu 18.04 & CentOS 8

[code]

See https://github.com/atframework/cmake-toolset/runs/7624862850 for details.

## Case 3: Using standalone external libcurl(curl in installed in a pat diff

[2022-08-02 07:17] #1486 closed

[2022-08-02 15:18] lgfa29 commented on #1536
Ah yes, this started with a Go SDK change, but evolved into a spec change that affects all SDKs. Sorry for not making this clear in the original issue 😅

[2022-08-02 16:41] astitcher commented on #1520
For it appears we have a C++ language issue which maybe means that the Windows solution doesn't "work":

Defining the static member out of line in a header file is an ODR violation and so technically is not allowed by the language. viz:
[code]
This code works (and I assume the variant using ```__declspec(selectany)``` works for visual studio. However the language doesn't actually allow this becaus

[2022-08-02 16:49] astitcher commented on #1520
Also worth noting that "weak" symbol references are really not what we are trying to achieve here so I don't know why people keep on using that terminology.

We are trying to ensure that we only pick out a single symbol reference from multiple of the same name (and size) potentially in different objects.

That is not what weak references are primarily for: The major point of a weak reference is to

[2022-08-02 19:09] #1475 closed

[2022-08-03 04:26] #1538 closed

[2022-08-03 04:55] lalitb commented on #1443
@esigo - Do you want to pick this issue, unless you have already started on it :)

[2022-08-03 18:36] #1529 closed

[2022-08-04 19:49] esigo opened #1542 "race condition in attributes_hashmap_benchmark"
We have a race condition in [`attributes_hashmap_benchmark`](https://github.com/open-telemetry/opentelemetry-cpp/runs/7657257924?check_suite_focus=true#step:5:592):

[code]

`hash_map.GetOrSetDefault` returns a pointer to an `Aggregation` (`DropAggregation`), for this type it should be ok as we have no read/write. But for some other type, the reads are not protected see for example:
<del>
`std::un

[2022-08-04 21:01] lalitb commented on #1542
Thanks for debugging it :)

[2022-08-05 17:20] esigo commented on #1542
one more [here](https://github.com/open-telemetry/opentelemetry-cpp/runs/7679175246?check_suite_focus=true#step:5:676):

[code]

[2022-08-05 18:54] #1338 closed

[2022-08-06 03:18] #1443 closed

[2022-08-08 13:04] zhzure opened #1545 "enormous undefined error when`cmake --build . --target all`"
i'm sorry raise this issue, i have been struggling for days and still don't know how to solve this

[code]

**and i build protobuf like**

[code]

**error msg like, and seems hundreds more just like those**
[code]

[2022-08-08 15:57] #1339 closed

[2022-08-09 14:18] owent opened #1548 "Deadlock when shutdown with more than one running http request and OTLP HTTP exporter"
**Describe your environment**

OS: CentOS8
Compiler: GCC 8.4.1
Version: v1.5.0

**Steps to reproduce**

Using http exporter and shutdown when more than one running request.

**What is the expected behavior?**

Shutdown after timeout.

**What is the actual behavior?**

Infinitely waiting for session closing.

**Additional context**

[code]

[2022-08-09 18:40] ahadnagy opened #1550 "Nothing calls ObservableRegistry::Observe()"
I've been trying to use async instruments, but got slightly confused about the API and the status of the implementation.

The problem I ran into is that the callbacks are not getting evaluated and no data is exported. I see that the API has recently changed in https://github.com/open-telemetry/opentelemetry-cpp/pull/1388 that introduced `ObservableRegistry`. It seems like the `ObservableRegistry::

[2022-08-09 19:04] lalitb commented on #1550
Yes, thanks for raising the issue. I am aware of the issue and was planning for fix. But it you already in process of debugging, please feel free to raise a PR. We need this before going for RC which is tentative planned for 15th Aug - https://github.com/open-telemetry/opentelemetry-cpp/milestone/13

[2022-08-09 19:12] ahadnagy commented on #1550
What would be your preferred way of implementing this provided that `AsyncMetricStorage` doesn't know about `ObservableRegistry` and `ObservableInstruments` in general?
Giving `AsyncMetricStorage` a shrared_ptr to any of these doesn't seem very idiomatic.

[2022-08-10 02:28] #1548 closed

[2022-08-10 06:32] tauseef-ah opened #1551 "Prometheus exporter does not handle Gauge Type Metric"
**Describe your environment**
https://github.com/open-telemetry/opentelemetry-cpp; main branch

**Steps to reproduce**
Implement a Asynch Gauge Metric, and use the prometheus metric exporter of opentelemetry-cpp repo. The exporter crashes at https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/prometheus/src/exporter_utils.cc:79 as SumPointData is being used for Gauge which is o

[2022-08-10 16:41] #1510 closed

[2022-08-10 18:14] lalitb commented on #1550
@ahadnagy - This is broken after #1495. For now, I have assigned it to myself, as I am responsible for breaking it :) I don't have the correct approach for now, let me go through the code once. Let me know if that is fine.

[2022-08-10 19:28] #1551 closed

[2022-08-11 10:22] tauseef-ah opened #1556 "Otel Metrics: Asynch Instruments are not displaying values"
**Describe your environment**
Opentelemetry main branch

**Steps to reproduce**
Build and run sample test "./metrics_ostream_example observable_counter"

**What is the expected behavior?**
What did you expect to see?
The aynch metrics(like observable counter, observable gauge) need to be displayed along with the attributes

**What is the actual behavior?**
What did you see instead?
The Asynch Metr

[2022-08-11 11:54] DebajitDas opened #1557 "Received Undefined symbol on loading shared library libopentelemetry_exporter_otlp_grpc_metrics.so"
**Describe your environment**
Built OpenTelemetry version 1.5.0 on centos7, using the command "cmake .. -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=ON -DWITH_OTLP=ON" and cmake --build . --target all.
It builts successfully and generates libopentelemetry_exporter_otlp_grpc_metrics.so.
Using this library with Apache server in "otel-webserver-repo" repo gives error w

[2022-08-11 11:58] lalitb commented on #1556
Duplicate to #1550

[2022-08-11 14:18] esigo opened #1558 "otlp_http_exporter_test race condition"
we had a race [here](https://github.com/open-telemetry/opentelemetry-cpp/runs/7679175246?check_suite_focus=true#step:5:676):

[code]

_Originally posted by @esigo in https://github.com/open-telemetry/opentelemetry-cpp/issues/1542#issuecomment-1206678319_

[2022-08-11 15:53] esigo opened #1559 "remove throw check from metrics tests with noexcept"
we have exception checks in metrics test which cannot throw anyway. These checks has to be removed so we can use the tests in `bazel.noexcept`.

[2022-08-11 17:23] #1542 closed

[2022-08-11 18:24] #1559 closed

[2022-08-11 18:55] sam-leitch-oxb opened #1561 "[Metrics SDK] Add support for Pull Metric Exporter"
The `MeterProvider::AddMetricReader` interface does not make it easy to create pull-based readers. For example, my unit tests look something like this:

[code]

Notice the raw pointer reference to object owned by the `std::unique_ptr` (yuck)

I would suggest two options for an alternative:

The simplest change would be to change the `AddMetricReader` method:
[code]
To allow for shared ownership.

[2022-08-11 19:00] lalitb commented on #1557
#1539 fixes it. Please try with latest commit. New metrics implementation is flaky in v1.5.0, and you can disable it by enabling old metrics with `-DENABLE_METRICS_PREVIEW=ON`.

[2022-08-11 19:00] #1557 closed

[2022-08-11 20:47] ThomsonTan commented on #1522
@lalitb it should be covered by #1428 as well.

[2022-08-11 20:47] #1522 closed

[2022-08-11 21:10] esigo commented on #1494
`gcc 4.8` is already [broken](https://github.com/open-telemetry/opentelemetry-cpp/runs/7793318222?check_suite_focus=true) for the deprecated metrics. I removed it from #1531.

[2022-08-12 16:31] #1494 closed

[2022-08-12 20:07] lalitb commented on #1561
Thanks for raising the issue. I like the second approach. Though it needs some design discussion. As we are nearing the Release Candidate, have added it for the next milestone (GA).

[2022-08-15 13:08] meastp commented on #1520
hi all, sorry for the late reply (was away on holiday)

Just a quick note to say that I think the only way to support Windows + DLL is by building the API itself as a dll / library (see explanation by @owent for details). I have been successfully testing this approach in my fork/branch as mentioned in #1105.

I suggested a hybrid version (#1105) where the API can be compiled as either header-only

[2022-08-15 15:15] mititelud opened #1566 "otlp_http.lib not built"
### Discussed in https://github.com/open-telemetry/opentelemetry-cpp/discussions/1565

<div type='discussions-op-text'>

<sup>Originally posted by **mititelud** August 15, 2022</sup>
Hello,

I've been trying to build the otlp_http library in order to run the example_otlp_http example.
I've set up the dependecies needed and followed the opentelemetry build steps presented in repo_path/Install.md ##

[2022-08-15 23:19] #1550 closed

[2022-08-16 02:55] owent commented on #1566
I think the season is curl development package is missing. curl executable is not enough.

[2022-08-17 19:17] lalitb opened #1571 "[Metrics SDK] Remove Circular dependency between MeterContext and Meter"
**Describe your environment**
TBD

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
What did you expect to see?

**What is the actual behavior?**
What did you see instead?

**Additional context**
Add any other context about the problem here.

[2022-08-17 19:57] lalitb opened #1572 "[Metrics SDK] Remove circular dependency between MeterContext and MetricCollector"
**Describe your environment**
TBD

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
What did you expect to see?

**What is the actual behavior?**
What did you see instead?

**Additional context**
Add any other context about the problem here.

[2022-08-17 19:58] lalitb opened #1573 "[Metrics SDK] Cleanup of old metrics implementation"
**Changes required**

- delete files under api/*/_metrics, sdk/*/_metrics directory.
- remove ENABLE_METRICS_PREVIEW macro check in new metrics implementation.
- remove old Prometheus exporter, old metrics ostream exporter.
- remove examples/metrics_simple/main.cc
- fix cmake/bazel scripts.
- cleanup old metrics tests from CI

[2022-08-17 21:18] lalitb opened #1574 "[Metrics SDK] - Recordable interface between Metrics Storage and Exporter"
TDB.

[2022-08-17 21:24] lalitb opened #1575 "[DOCS] API Documentation for Metrics SDK and API"
The otel-cpp documentation is maintained at https://opentelemetry-cpp.readthedocs.io/en/latest/.

As of now. it only contains API documentation for Traces, along with Baggage, Resources, and InstrumentationLibrary.
Need to add API documentation for Metrics.

[2022-08-17 21:25] lalitb opened #1576 "[DOCS] Getting started documentation for Metrics API and SDK."
Similar to how we have for Trace API and SDK here - https://opentelemetry-cpp.readthedocs.io/en/latest/

[2022-08-19 22:20] jmacd opened #1577 "Handle partial success responses from OTLP export services"
### Problem Statement

Following the [specification change to add partial success responses](https://github.com/open-telemetry/opentelemetry-specification/pull/2696), each OTel SDK is encouraged to handle the resulting error message string in an appropriate way, considering existing norms. This requires OTLP v0.19.

### Proposed Solution

For each of the `Export*ServiceRequest` methods used by OTL

[2022-08-22 11:05] owent commented on #1558
Could you please check is this problem still exists in the latest version? There is a PR to fix lifetime of `curl::HttpClient` and may affect this issue.

[2022-08-22 16:18] mdf-observe opened #1578 "OTLP HTTP exporter errors are never reported"
**Describe your environment**
nothing relevant

**Steps to reproduce**
Configure the http exporter with an URL that will parse correctly but will report errors, e.g. 404 because of an invalid export path

**What is the expected behavior?**
I expected to see something in the log (at least DEBUG) about a failure to export

**What is the actual behavior?**
A log line:
    `[OTLP HTTP Client] DEBUG: E

[2022-08-22 17:59] mdf-observe commented on #1578
I think maybe this patch is about correct to fix the issue?
[code]

[2022-08-22 19:36] lalitb commented on #1578
Good catch. Yes, the status code handling seems to be missing. The changes look good to log the error.  As of now, we don't report the status code to the calling framework (i.e, HTTP exporter), which probably needs to be changed when we decide to start supporting retrying failed requests ( say in the case the status code is 500, 409 or 428).

[2022-08-22 21:00] lalitb commented on #1556
#1554 fixes it. Please reopen if there are still any issues.

[2022-08-22 21:00] #1556 closed

[2022-08-22 22:49] ThomsonTan commented on #1578
Yes, patch is welcome:) Should all 2xx be considered as success?

[2022-08-22 23:00] mdf-observe commented on #1578
I wasn't sure how to handle non-200 success codes.  The OTEL spec says that a collector must return 200.  So I think it's up to the project to decide whether to be permissive or strictly conforming.

[2022-08-22 23:58] lalitb commented on #1578
I think we can keep 200 as a success in that case. That's what other languages - java, js and go - are doing it too :)

[2022-08-23 01:59] lalitb commented on #1566
@mititelud  - Just wondering if you succeed in building the library?

[2022-08-23 02:07] lalitb commented on #1558
#1549? Probably we can track this for some time, and close if the issue is not seen further.

[2022-08-23 02:25] owent commented on #1558
Yes

[2022-08-23 02:46] owent commented on #1578
Agree, All 2xx are successful responses of HTTP.
@mdf-observe Could you please raise a PR to apply this patch?Or I can raise it if you don't mind.

[2022-08-23 05:59] lalitb commented on #1578
Would be good to fix it for elastic search log exporter too:

https://github.com/open-telemetry/opentelemetry-cpp/blob/22e64e21f3ae10f08bac67729e5ef6d32a5ce308/exporters/elasticsearch/src/es_log_exporter.cc#L38

Zipkin exporter uses Sync HTTP Client, and it is already having the check for HTTP status codes 200 and 202, so should be good.

[2022-08-23 07:54] paro- opened #1580 "set(WITH_ABSEIL OFF) still requires Abseil"
Hi,

As my project already includes abseil, but another version from opentelementry-cpp's, I get a compilation error:
`opentelemetry-cpp/api/include/opentelemetry/nostd/./internal/absl/types/../types/internal/variant.h:512:38: error: reference to 'make_index_sequence' is ambiguous`

So I wanted to build opentelemetry without Abseil (as suggested in the [doc](https://github.com/open-telemetry/opent