[2019-08-15 18:31] rnburn opened #2 "Streaming SDK proposal"
Hello Everyone,

I work on the OpenTracing C++ specification and the instrumentations for NGINX and Envoy. Recently, I've been working with LightStep to improve the performance of their C++ tracer. Our efforts to reduce instrumentation cost and improve collection throughput led us to a more efficient and streamlined design that I propose we adopt as one of the SDKs for OpenTelemetry. The key compo

[2019-08-15 19:28] tigrannajaryan commented on #2
This is an interesting proposal. A few questions:
- How is partial serialization implemented in a way that allows reconstructing a full span from the parts? What does each part carry? (I am assuming this is answered by the implementation, I didn't check it, would be good to describe here in this proposal).
- What happens with parts which are overwritten, i.e. I set an attribute, it gets streamed o

[2019-08-15 19:52] rnburn commented on #2
The protobuf encoding allows a lot of flexibility in the ordering of the fields, so for the most part you can write the constituent parts in any order and have them parsed out to correctly form the full message.

For an overwritten field, it serializes the field twice. [Protobuf](https://developers.google.com/protocol-buffers/docs/encoding) will take the last field encoded:

I'm not sure why I und

[2019-08-15 20:24] tigrannajaryan commented on #2
Nice!

I had to lookup Protobuf docs for this. There is a nuance for embedded fields:

[code]

Since Span attributes are scalar values this should be fine. I don't know if this merging logic may cause issues with other fields of the Span, hopefully you have taken care of this.

Depends on what the client is. For example OpenTelemetry Service itself is a client. It can send to an upstream Service o

[2019-08-16 04:31] rnburn commented on #2
Once the http/1.1 streaming session is finished, the server has the opportunity to send a response -- that could be used to indicate overload.

Being over tcp, you'll get a write error on the socket if the packets aren't acked by the destination. Would that be sufficient or are you looking for something more like application level acking of each individual span?

[2019-08-16 07:22] g-easy commented on #2
How about language-native structs? I realize this means the LightStep exporter will need to convert that data into protobuf fragments, but not all exporters produce protobufs.

Also, doesn't this add a dependency on protobuf from OpenTelemetry core? As opposed to e.g. just exporters that use protobuf.

[2019-08-16 15:27] tigrannajaryan commented on #2
@rnburn:

Sounds good. I'd return HTTP 429 or 503 with optional Retry-After header.

How would the client interpret a socket error? One thing the client can reliably infer from this is that "possibly some data was not delivered". That is not strong enough for my needs. As a person who operates a monitoring system I usually need stronger guarantees. I typically want a guarantee that no data is lost

[2019-08-19 18:56] rnburn commented on #2
It does manual protobuf serialization so it can be done without requiring protobuf as a dependency.

And the plan is to have the serialization functions as a customization point so the SDK could be use with any format that supports the eager serialization approach.

[2019-08-19 19:10] rnburn commented on #2
@tigrannajaryan I think it would be possible to have a mode that supports stronger acking while still keeping many of the benefits by using bidirectional streaming where the collection point can send regular acks back and then the client only removes spans from the buffer once they've been acked.

Chunked http doesn't look like it supports bidrectional streaming (https://stackoverflow.com/a/283092

[2019-10-02 16:25] tigrannajaryan opened #4 "Decide on requirements for C++ library"
A few topics that need decisions:
- Bare C or C++ interface.
- If C++ then minimum C++ version to target (e.g. C++98, 11 or newer).
- Header-only library or no. If not, do we provide precompiled binaries and for which platforms.
- Do we depend on C++ `std` or no.
- Are exceptions allowed in the API and in the implementation or not.
- What are external dependencies (other libraries that this librar

[2019-10-02 16:37] tigrannajaryan opened #5 "Choose C++ style guideline"
C++ is a big language that can be used in many different ways. We need to choose a style and stick to it.

A couple popular starting points (can be chosen as is or as the starting point for our own style):
- https://google.github.io/styleguide/cppguide.html
- http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines

Other style suggestions are welcome.

[2019-10-02 20:53] rnburn commented on #4
I'd recommend having the first version be based on C++11, but with support for older compilers (for example, gcc 4.8, which would be a subset of C++11)

Gcc 4.8 support is something that's frequently been asked for with OpenTracing and some of their related projects. Example issues
https://github.com/opentracing/opentracing-cpp/issues/50
https://github.com/opentracing-contrib/nginx-opentracing/iss

[2019-10-03 05:59] meastp commented on #4
I think that we should consider what is most important:

(C-libraries that want to adopt open-telemetry would need a separate C-implementation that does not depend on a C++-runtime. Thus, I think we should at least provide a C++ interface, although we could provide a more API-stable C-interface as well)

1. If we fully cater for the least common denominator and make a C++98-only implementation usi

[2019-10-03 07:35] tavi-cacina commented on #4
C++11 or newer, std, cmake

[2019-10-14 23:05] maxgolov opened #6 "HTTP client API for exporter developers"
Different OS may have alternate implementations of HTTP stack:
- Windows: WinInet, Win 10 (WinRT) HTTP client, WinHttp
- Linux: libcurl, poco, etc.
- Mac OS X: libcurl, poco, Apple SDK URLRequest
- Android: Java HttpRequest, Google HTTP client, OkHTTP
- iOS: Apple SDK URLRequest
etc.
- Chromium HTTP client

An exporter that supports HTTP requires a minimum set of methods:
- create an instance of H

[2019-10-21 18:31] maxgolov commented on #5
I think we should definitely embrace CppCoreGuidelines.

Re. coding style - we should add **clang-format** to the build. It's a popular tool accessible from most of the most common editors (vim, Visual Studio, vscode, eclipse), as well as we can use **git cl format** to reformat command-line, following about what the Chromium source code repo is doing:
https://chromium.googlesource.com/chromium/sr

[2019-10-22 00:20] g-easy commented on #5
I agree re: automatic formatting and enforcing it.

[2019-10-22 03:09] coryan commented on #4
While you are consider C++ versions, this might be useful:

https://www.jetbrains.com/lp/devecosystem-2019/cpp/

Consider also that Protobuf is C++11, and so is gRPC.

[2019-10-22 03:13] coryan commented on #4
May want to compare C++98 and C++03 in previous years:

https://www.jetbrains.com/research/devecosystem-2018/cpp/
https://www.jetbrains.com/research/devecosystem-2017/cpp/

[2019-10-22 03:21] coryan commented on #4
Note that gRPC decided to depend on `std::` after avoiding it for (I think) a couple of years:

https://github.com/grpc/proposal/blob/master/L59-core-allow-cppstdlib.md
https://github.com/grpc/proposal/blob/master/L6-core-allow-cpp.md

I think you should use `std::` freely.

[2019-10-22 12:59] coryan commented on #4
@rnburn

That is probably not what you want.  Declaring a function `noexcept` is not a compile-time check against exceptions, is a guarantee that at run-time no exceptions will escape, by crashing the program if necessary.

[2019-10-22 13:58] rnburn commented on #4
@coryan Yes, I'm aware of what it does; and yes, that is what I want.

Given that tracing isn't critical to an app, a tracer should handle errors by logging and dropping spans, data, etc rather than exposing an exception to the end user. So it makes a lot of sense to mark most of the API as noexcept and that's what we did with the OpenTracing API (see, for example, the [span interface](https://git

[2019-10-22 14:25] coryan commented on #4
Because it is trivially easy to make function calls that **do** raise exceptions and then you get a crash.  For example in your span interface:

[code]

Assuming the implementation does some memory allocation (I think that is reasonable, but you tell me), then this can throw a `std::bad_alloc` exception. With the `noexcept` the program would crash (well, I guess technically it calls `std::terminat

[2019-10-22 15:56] rnburn commented on #4
That function returns a nullptr on failure -- it's documented in the interface.

While the most resilient implementations will turn bad_alloc's into noops (and that's what I did when I [implemented](http://scottmeyers.blogspot.com/2014/03/declare-functions-noexcept-whenever.html) it, it's also perfectly accept terminate on bad_alloc.

In fact, It's likely that the default standard allocator will c

[2019-10-25 06:54] maxgolov commented on #5
I wrote some quick script for adding a mini version of .clang-format'ter without needing Python, i.e. lightweight wrapper for **git cl format <filename>**, a bit less sophisticated than Chromium clang-format command. I can send a PR with the script, plus 4-5 coding style examples, as well as how-to doc with links to IDE plugins for auto-formatting using that file. We can review the styles, agree o

[2019-10-28 20:14] rnburn commented on #5
Since the core cpp guidelines don't have a full naming convention, which one should we adopt?

My preference would be to take one of the standard conventions (or at least start there) so that we don't have to go through debating how to name each component in the language.

Two that we might consider:
* Google's [naming convention](https://google.github.io/styleguide/cppguide.html#Naming)
* Envoy's

[2019-10-28 23:17] g-easy commented on #5
I prefer the Google one.

[2019-10-28 23:20] g-easy commented on #5
https://github.com/open-telemetry/opentelemetry-cpp/issues/5#issuecomment-546227229 Regarding autoformat, OpenCensus used to have a relatively simple script: [tools/format.sh](https://github.com/census-instrumentation/opencensus-cpp/blob/fa8a8b4a5f76e0dfcd0dfe32af88058129e4a5f2/tools/format.sh)

It runs clang-format + buildifier + cmake-format. The user can then review and commit the results. Impo

[2019-11-04 10:11] meastp commented on #5
If you do this, please write it in a language that also supports Windows.

I would prefer a CI verification step that created/added a commit if something was missing (according to the clang-format, buildifer and cmake-format) because users that do not care about cmake don't necessarily have it installed and similarly for bazel (and thus can not run the script locally).

[2019-11-05 02:19] kyessenov commented on #6
Please consider adding nghttp2-based stacks (https://github.com/envoyproxy/envoy) to the list.

[2020-01-23 10:30] eyakimov-bbg commented on #4
I was hoping to add a viewpoint regarding decisions around ABI Compatibility, std:: and versions.

### Early vs Late adopters argument

All the following points are based on the viewpoint that: early adopters are more likely to be using latest technologies (versions) whereas those using say C++03 (this includes parts of my org too...) will be less likely to adopt OpenTelemetry until it has been mo

[2020-01-23 20:49] rnburn commented on #4
Right now we're supporting gcc-4.8 which includes most of C++11. There's still a lot of demand for older compilers and I think targeting something as late as C++17 would be too restrictive. If you look through the issues, you'll find lots of people using opentracing-cpp with older compilers. A few examples:
https://github.com/opentracing/opentracing-cpp/issues/50
https://github.com/opentracing-con

[2020-01-24 20:43] eyakimov-bbg commented on #4
I appreciate the appeal of broader support, my comment was more about the "when" rather than the "if", but I do understand if the answer is "we wish to support C++11 from day 1". If that's the case, might I suggest that we catalogue a list of key projects that we're tackling that require these constraints, e.g. Nginx. It would be a great way to both validate, maintain a list of supported projects/

[2020-01-24 22:34] rnburn commented on #4
This is absolutely possible. You only need a handful basic vocabulary types to describe the virtual methods of tracers and meters. We provide those (for example [nostd::string_view](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/nostd/string_view.h), [nostd::span](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/no

[2020-02-10 04:12] rnburn commented on #4
Following up from last weeks call, here's my attempt at breaking out the different deployment scenarios that are relevant for ABI stability.

**Case 1**: _Early-binding linking_. Both the OpenTelemetry API and implementation are known and linked into the application at compile-time.

This might be one of the most common scenarios. But I don't see it posing any challenges for ABI stability since ev

[2020-02-10 21:50] rnburn commented on #4
And to clarify on ABI stability requirements, what's important is to use stable ABI types in the virtual method signatures.

Provided you set up linking correctly, it's fine to use STL types with non-stable ABIs in non-virtual methods and as data members.

Here's an [example](https://gist.github.com/rnburn/501935437e8c2d4f547b95a96cd6661a) that sets up two DSOs that interface with a virtual Cont c

[2020-02-17 21:48] eyakimov-bbg commented on #4
@rnburn this was a great write up in https://github.com/open-telemetry/opentelemetry-cpp/issues/4#issuecomment-583947450, as per my comments during previous week's SIG meeting, I think it would be worthwhile broadening the options further to consider:

Binding Options:
- Static
- Dynamic Early
- Dynamic Late

Components:
- Application Binary (the thing with main)
- OTel library itself (with a sing

[2020-02-20 05:16] g-easy opened #37 "Clarify ABI requirements"
Building on top of https://github.com/open-telemetry/opentelemetry-cpp/pull/24, I added an example of two libraries that are built with OpenTelemetry API and different STLs (libc++ versus libstdc++): https://github.com/g-easy/opentelemetry-cpp/commit/5dc5f2e2bcc0704191629f68fdbb1ecb9201a0cf

Using them both appears to result in a link error due to the OpenTelemetry API using `std::shared_ptr`.

Pl

[2020-02-20 05:53] rnburn commented on #37
This looks like you're trying to statically link the libraries into the same executable where lib1 was built against libc++ and the others were built against libstdc++. I don't think that's going to work.

What can work is using DSOs that have the standard c++ library statically linked in and the symbols properly managed with an export map.

[2020-02-20 06:16] g-easy commented on #37
What does this mean for libraries that want to use OpenTelemetry for instrumentation? They can never ship `*.a` files, and they need to be careful with their export map?

[2020-02-20 06:32] rnburn commented on #37
You can ship .a files, but you need them to be built against the same standard c++ library that you link against.

And that's the case regardless of whether you linked in the OpenTelemetry API or not.

If you combine C++ object files to form a .a, then if any of the object files use standard c++ library functions, your .a library will have external references to standard c++ library functions. And

[2020-02-20 06:36] rnburn commented on #37
I don't think mixing .a's linked against different version of the standard c++ library is a scenario we need to worry about supporting because that would be problematic regardless of whether you use OpenTelemetry.

If you remove the OpenTelemetry references from your example, but change your f1 and f2 functions to invoke standard library functions, you'll run into similar linking errors.

[2020-02-20 06:47] rnburn commented on #37
The core value proposition of a stable ABI is, you can load an OpenTelemetry implementation as a plugin. Whoever linked and distributed the plugin needs to worry about export maps, but the end user doesn't. They just invoke need to call opentelemetry::plugin::LoadFactory with the path to the plugin and then they can create tracers and meters and go about instrumenting their code.

It doesn't matte

[2020-02-25 01:06] g-easy commented on #37
Q1. For an instrumented library to use the otel API, its entry point should be `GetTracerProvider()`, yes?

Q2. What my example shows is that `GetTracerProvider()` has ABI issues because it uses `std::shared_ptr`.

Here's an example of only using `GetTracer()` and not `GetTracerProvider()` and that works fine when mixing STLs because there are no STL dependencies: https://github.com/open-telemetry

[2020-02-25 01:46] rnburn commented on #37
It doesn't use std::shared_ptr in the virtual methods. You can still interact with a type that's using STL containers internally through the vtable functions. Look at the example I put together [here](https://gist.github.com/rnburn/501935437e8c2d4f547b95a96cd6661a). It shows two DSOs interacting with a Cont abstract class even though they have different definitions of ContImpl (simulating what dif

[2020-02-25 03:01] g-easy commented on #37
I've looked at the example and borrowed from it (thanks!) in the stuff I've been trying out. I haven't been able to get it to work on top of #24. Could you please take a look at https://github.com/g-easy/opentelemetry-cpp/commit/770de3514dca15bd9243a49dbf8a07e2bd646c53 and help me understand what I'm doing wrong? I'm using two shared libs (like in your example) and not mixing STLs.

[2020-02-25 03:07] rnburn commented on #37
It's because of this [issue](https://github.com/open-telemetry/opentelemetry-cpp/pull/24/files#r374990377)

You can't put a class like noop tracer that inherits from std::enable_shared_from_this into a unique_ptr. It has to go into a shared_ptr otherwise the enable_shared_from_this's reference count will be zero.

[2020-02-25 03:11] rnburn commented on #37
std::enable_shared_from_this is built on top of std::weak_ptr. The std::bad_weak_ptr error is mentioned in the [notes](https://en.cppreference.com/w/cpp/memory/enable_shared_from_this)

[2020-02-25 03:17] g-easy commented on #37
[Fixing](https://github.com/open-telemetry/opentelemetry-cpp/commit/d0c9ca3f297f85dbe7aee6ddb1a31d1821afa4d7) the issue makes main not crash. Nice. The next thing I've run into is that each library has a separate TracerProvider: [example](https://github.com/open-telemetry/opentelemetry-cpp/commit/e648d43fe4d0c3555f3ac3fe2ae31de2e05aee99)

[2020-02-25 03:49] rnburn commented on #37
You need the singleton functions to be exposed in the export map.

Take a look at my case 3 comments in this https://github.com/open-telemetry/opentelemetry-cpp/issues/4#issuecomment-583947450

[2020-02-25 04:05] g-easy commented on #37
Looks like that [fixes](https://github.com/open-telemetry/opentelemetry-cpp/commit/49bba11db33892fc0f11476b959e1a1cdd2c6b2e) the separate providers problem. Thanks for putting up with all the questions. :)

[2020-03-03 02:43] pyohannes opened #43 "Clarify ABI requirements for the exporter interface"
_This is intended for continuing the discussion we had in the meeting on March 2nd._

The SDK user must be able to register span processors on the `TraceProvider`. Several span processors (and thus several exporters) can be registered at the same time. The SDK must allow users to implement and configure custom processors (and, obviously exporters).

Usually, exporters and other user defined object

[2020-03-03 02:44] pyohannes commented on #43
I'm not sure about all the use cases out there. I think providing a way to dynamically load an exporter, but without imposing ABI requirements (thus imposing the burden of ensuring compatibility to the user) seems feasible to me.

[2020-03-04 05:31] g-easy commented on #37
I also managed to get it to work when mixing and matching STLs: https://github.com/g-easy/opentelemetry-cpp/commit/17a310b94c6fe52fd47f8376b8a375b3c4f7c529

[2020-03-04 05:36] g-easy commented on #37
My take-away is that instrumenting a library with OpenTelemetry is non-trivial and we should document (ideally in the form of a cookbook that people can copy-paste from) how to do it correctly.

* The header-only singleton results in every translation unit having an implementation of `GetTracerProvider()` as a weak symbol.
* The `.so` will also have it as a weak symbol.
* Unless the `.so` is stati

[2020-03-05 20:28] rnburn commented on #37
An export map is important whenever you statically link dependencies like the standard C++ library, but it shouldn't be necessary if all the dependencies are linked dynamically.

The GetTracerProvider singleton should work fine when there's no export map and dependencies are dynamically linked, no?

[2020-03-06 00:56] g-easy commented on #37
Yep, it should work fine in that case because `GetTracerProvider` remains a weak symbol.

[2020-03-11 21:57] rnburn commented on #43
What if we build out the exporter interface and have something like DynamicallyLoadedExporter as a special case of an exporter?

As far as the interface sketch,
[code]
trace::Span is the caller interface to a span -- but that's not what the exporter has access to, right?

Also, why use an owning std::vector type instead of exporting by just pointing to the area in memory that holds buffered spans?

[2020-03-12 03:47] pyohannes commented on #43
You're right for sure, I just used the sketched interface to make some experiments with span processors.

That might be better, provided we have a `SpanData` interface:
[code]

And would even be ABI stable, provided that `SpanData` has a stable ABI.

[2020-03-12 04:30] rnburn commented on #43
I was hoping with to have a Recordable abstraction that avoids using SpanData in the interface.

It can be expensive to build up a SpanData representation. In our benchmarking, we've gotten around a 5x improvement in some cases by using direct serialization instead of something like SpanData.

But here's how I was think it would work.

1. An Exporter has a mechanism to create a Recordable (e.g. a

[2020-03-12 05:29] pyohannes commented on #43
I understand the performance concerns, thanks for explaining. This makes sense to me, as long as there's the spec conformant way for vendors to write exporters receiving `SpanData` like objects. In addition to a more performant `Recordable` way.

One thing that's not yet clear to me is how the `Recordable` approach works when using several exporters at the same time, each providing a different `Re

[2020-03-12 05:39] rnburn commented on #43
A Recorder can make a chained Recordable.

[code]
that forwards methods to all Recordables in the chain.

Then when a Span finishes the Recordable, it can be de-chained and sent to the separate Exporters.

[2020-03-13 00:19] pyohannes commented on #43
I see, I think this also would go hand-in-hand with a `ChainedRecorder`.

Thanks for the explanations, I understand the design now and I see how it can co-exist with a parallel SpanData approach.

[2020-03-16 22:28] reyang commented on #43
discussed during the community meeting, no need to bring ABI for exporter API for now.

[2020-03-16 22:35] eyakimov-bbg commented on #43
Please keep this open until we update documentation to explicitly state that "SDK does not currently provide ABI compatibility"

[2020-04-13 21:57] pyohannes opened #62 "Enhance the existing exporter interface"
The current naive exporter interface has a few shortcomings that need to be addressed:

* It must work with span circular buffers where the data isn't stored in a single contiguous segment.
* It must support forking (needs something like a [restart](https://github.com/lightstep/lightstep-tracer-cpp/blob/master/src/recorder/stream_recorder/stream_recorder.cpp#L149-L174) function).
* It must/should

[2020-04-17 15:41] HappyCerberus opened #64 "Does not build at head"
**Describe your environment**

[code]

**Steps to reproduce**
[code]

**What is the expected behavior?**
Things build.

**What is the actual behavior?**
[code]

[2020-04-17 15:42] #64 closed

[2020-04-17 15:42] HappyCerberus commented on #64
Sorry wrong tab.

[2020-04-27 22:24] reyang opened #66 "Document the supported compiler and platform version"
Brought up by @maxgolov, something similar to this should exist in the README.md file:

Operating System	Compiler
Mac OS X 10.11.6	Clang Xcode 8.3
Mac OS X 10.12.6	Clang Xcode 9.0, 9.1
Mac OS X 10.13.3	Clang Xcode 9.2, 9.3, 10.0, 10.1
Raspbian GNU/Linux 8 (jessie)	GCC 4.9.2 (armv7l)
Ubuntu 14.04.* LTS	GCC 4.8.*, 4.9.4
Ubuntu 14.04.1 LTS	GCC 5.x.x
Ubuntu 16.04 LTS	GCC 5.x.x (armv7l)
Windows 10	Andr

[2020-04-27 22:42] maxgolov opened #67 "Ability to use Standard Library instead of opentelemetry nostd classes"
Due to ABI stability requirements OpenTelemetry C++ SDK provides the standard implementation of 'common' std-alike classes under nostd namespace:
- function ref
- shared_ptr
- span
- string_view
- unique_ptr
- variant

However, in some environments it may be of benefit to alias the nostd types to standard library, esp. if compiler has full support of C++17. And if the environment the SDK is being

[2020-04-27 22:47] maxgolov opened #68 "Investigate Boost license implications"
A portion of nostd::variant currently requires a Boost-licensed header.
This may be an issue for some commercial products.

Two alternatives to consider:

- research if we can get that portion code contributed under Open Telemetry (Apache-style) license. That way we still satisfy the ABI stability guarantees.

- the other alternative is to compile with std #67 . That approach means that commercial

[2020-04-30 08:01] g-easy commented on #67
Due to ABI stability requirements OpenTelemetry C++ **API** provides `nostd::*`.

What would be required so that e.g. std::string_view could be transparently passed to API functions expecting a nostd::string_view?

[2020-04-30 19:14] rnburn commented on #67
@g-easy - that should be easy. Just add an implicit conversion constructor if the c++ standard is 17 or greater.

[2020-04-30 23:33] rnburn commented on #67
@maxgolov

I'd recommend a more granular maybe using directives within the nostd namespace, e.g.
[code]
The nostd components were added in different versions of c++ so we'd want to alias only if there're available. For example std::span was added in C++20 and function_ref is a proposal that hasn't been added yet.

[2020-05-01 06:25] maxgolov commented on #67
Thanks Ryan for your feedback. I'll take a look at that option. In most cases I'd expect vs2019 and latest clang to have most of that. function_ref can be kept as exceptional case until (if and when) becomes a standard.

[2020-05-04 08:10] g-easy commented on #67
IIUC Abseil went the `using std::string_view;` route and this caused ABI issues. I suspect we need a shim that translates `std::string_view` to `nostd::string_view` e.g. potentially swapping the pointer and the length fields.

[2020-05-05 00:18] pyohannes commented on #43
The conclusions of this discussion were added to the [documentation](https://github.com/open-telemetry/opentelemetry-cpp/pull/70).

[2020-05-05 00:18] #43 closed

[2020-05-08 03:11] SamuelMarks commented on #6
You might want to start from https://github.com/aws/aws-sdk-cpp/tree/master/aws-cpp-sdk-core/source/http

[2020-05-08 05:02] reyang opened #72 "Add sampling API"
Add sampling API which follows https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md.

[2020-05-08 05:04] reyang opened #73 "Add context API and implementation"
Add context API which follows https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md. Related to #74.

References:
* [OpenTelemetry Python Implementation](https://github.com/open-telemetry/opentelemetry-python/tree/master/opentelemetry-api/src/opentelemetry/context)

[2020-05-08 05:06] reyang opened #74 "W3C TraceContext compliance"
Implement W3C TraceContext and get 100% pass rate from the validation service https://github.com/w3c/trace-context/tree/master/test.

CI should be implemented which verifies the TraceContext compliance.

[2020-05-08 05:09] reyang opened #75 "Implement Jaeger exporter"
Implement span exporter for Jaeger.
Refer to https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-ext-jaeger.

[2020-05-08 05:10] reyang opened #76 "Implement Zipkin exporter"
Refer to https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-ext-zipkin.

[2020-05-08 05:13] reyang opened #77 "Implement OTLP exporters"
Implement [OTLP](https://github.com/open-telemetry/opentelemetry-proto) trace exporter and metrics exporters.

Refer to https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-ext-otcollector.

[2020-05-08 05:14] #5 closed

[2020-05-08 05:16] reyang opened #78 "Implement OpenTracing shim"
Refer to https://github.com/open-telemetry/opentelemetry-python/tree/v1.10.0/shim/opentelemetry-opentracing-shim.

[2020-05-08 05:17] reyang opened #79 "Implement Baggage ( prev: CorrelationContext )"
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md

[2020-05-08 05:22] reyang opened #80 "Beta readiness tracker"
This is a tracking issue for the requirements outlined in the beta release document: https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit#

## Traces
* [x]  Stable API of every spec'd feature
* [ ]  SDK Implementation of every spec'd feature
    * [x]  Basic tracing
    * [ ]  Named tracers
    * [x]  Tracers use OTEP 66 Context mechanism - This is an implementation

[2020-05-08 15:43] reyang opened #81 "Add Prometheus exporter"
Add Prometheus exporter to prove metrics SDK. Consider adding console exporter for metrics.

[2020-05-08 15:47] reyang opened #82 "Implement metrics API"

[2020-05-11 21:53] pyohannes opened #83 "Implement a batching span processor"
In addition to the [simple span processor](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/src/trace/simple_processor.h), a batching span processor needs to be implemented.

The batching span processor must conform to [spec requirements](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#batching-processor).

For buffering spans

[2020-05-11 21:57] pyohannes opened #84 "Add exporter support for spans that aren't stored in a single contiguous segment"
The [current exporter implementation](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/exporter.h#L50) assumes, that spans are passed as a contiguous array. This might not be the case for spans stored in circular buffers (#52).

The exporter interface should be adapted to support exporting spans that aren't stored as a contiguous array.

[2020-05-11 22:00] pyohannes opened #85 "Add forking support to the exporters and processors"
Exporters and processors should be fork safe. In case of a fork,
* no data should be duplicated, and
* vendor implementers must have the possibility to re-initialize open connections (sockets) or files.

This could be implemented via [restart](https://github.com/lightstep/lightstep-tracer-cpp/blob/master/src/recorder/stream_recorder/stream_recorder.cpp#L149-L174) functions in span processors and e

[2020-05-20 00:48] pyohannes commented on #72
Some notes:
* This is the related [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling).
* When working on designing the interface, consider the project's [ABI policy](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/docs/abi-policy.md).
* This work depends on the [`SpanContext`](https://github.com/open-telemetry/opente

[2020-05-20 03:03] reyang commented on #72
More notes:
* Algorithm to ensure consistent probability sampling across services [draft spec](https://github.com/open-telemetry/opentelemetry-specification/pull/331).

[2020-05-20 19:24] pyohannes opened #89 "Implement a stdout exporter"
Implement an exporter that just writes all span data it receives to `stdout` (or, ideally, to any other configurable file).

A stub for such an exporter is available in the [simple example](https://github.com/open-telemetry/opentelemetry-cpp/pull/86). The stub in the example should be replaced.

[2020-05-22 01:05] reyang commented on #89
Consider a `ConsoleExporter` with ability to output to stdout/stderr.

[2020-05-26 15:38] reyang commented on #74
FYI - how OpenTelemetry Python did this https://github.com/open-telemetry/opentelemetry-python/pull/228

[2020-05-30 05:01] maxgolov commented on #67
@g-easy - I'll share some thoughts on this. I made is work with Visual Studio 2017+ in my fork. ABI compat won't be an issue for customers statically linking both API and SDK in one. One hiccup I have is with nostd::span , which is non-standard yet. gsl::span implementation works equally well though:
https://github.com/isocpp/CppCoreGuidelines/blob/master/docs/gsl-intro.md

[2020-06-01 21:58] maxgolov commented on #67
I'll send a proposed PR with changes later this week. I only tested this on Visual C++ 2019, working on tests for other platforms.

[2020-06-05 20:35] alolita commented on #82
@reyang @maxgolov Please assign this Issue to @Brandon-Kimberly @ankit-bhargava @hudsonhumphries @alolita to this task. We're working on the metrics API and will submit a design proposal shortly.

[2020-06-05 20:49] reyang commented on #82
We can only assign GitHub Issue to people who joined the OpenTelemetry community, please refer to the instructions [here](https://github.com/open-telemetry/community/blob/master/community-membership.md#requirements).

[2020-06-05 20:55] alolita commented on #82
@reyang Thanks for the link. We've completed most of the items in the checklist you shared. We will complete rest of the items and circle back.

[2020-06-05 21:12] reyang commented on #82
Put @maxgolov and me as the sponsors 😄

[2020-06-09 22:02] HudsonHumphries opened #101 "Update CONTRIBUTING.md with internal examples"
In [PR 97](https://github.com/open-telemetry/opentelemetry-cpp/pull/97) I added a Useful Resources section in [CONTRIBUTING.md](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/CONTRIBUTING.md) that generally point outwards to other Open Telemetry projects and their examples. This Issue will serve as a reminder to update these resources as examples and exporters are added to the C++

[2020-06-10 15:52] alolita opened #102 "Add CI workflow using GitHub Actions"
**Is your feature request related to a problem?**

Currently the OpenTelemetry C++ client (https://github.com/open-telemetry/opentelemetry-cpp) uses CircleCI and a Docker container to automatically build and test the project when pull requests are issued against the master branch of the main repository. The goal of continuous integration is to quickly build and run tests to provide testing feedbac

[2020-06-11 05:39] maxgolov opened #104 "function_ref.h implementation uses a feature that's removed in C++20"
This code would no longer compile in strict mode with C++20 enabled in Visual Studio 2019 (16.6.2, tools v142):

https://github.com/open-telemetry/opentelemetry-cpp/blob/9e5924c523c3cd36ecbc38be1c93b6bb162a84d3/api/include/opentelemetry/nostd/function_ref.h#L66

**std::result_of** has been permanently removed in C++20. Reference:
https://en.cppreference.com/w/cpp/types/result_of

Implementation ne

[2020-06-11 06:02] maxgolov commented on #104
Possible fix (pseudocode):

[code]

I can take a look at it. I hit it when I've been experimenting to measure perf of STL vs nostd, plus verifying ABI compat with different compiler standard flags.

[2020-06-11 08:36] maxgolov opened #105 "atomic_shared_ptr.h doesn't compile with gcc-9.3 / C++20"
Implementation suggests that it's C++20 compatible here:
https://github.com/open-telemetry/opentelemetry-cpp/blob/9e5924c523c3cd36ecbc38be1c93b6bb162a84d3/sdk/include/opentelemetry/sdk/common/atomic_shared_ptr.h#L14

However, if the project is built with
[code]

Then the build is broken here:
https://github.com/open-telemetry/opentelemetry-cpp/blob/9e5924c523c3cd36ecbc38be1c93b6bb162a84d3/sdk/incl

[2020-06-11 08:37] maxgolov commented on #105
I was evaluating what happens when we build on latest Ubuntu release with its stock compiler in a project that is targeting C++20. The build is not gonna succeed.

[2020-06-11 21:56] IlyaKobelevskiy opened #106 "Implement Cloud Trace exporter"
Refer to https://github.com/open-telemetry/opentelemetry-python/tree/master/ext/opentelemetry-exporter-cloud-trace

[2020-06-12 03:19] pyohannes commented on #105
I can look into this. The related template specialization is [supposed to be part of C++20](https://en.cppreference.com/w/cpp/memory/shared_ptr/atomic2).

[2020-06-12 18:41] ankit-bhargava opened #108 "Add a Changelog or Release Schedule"
**Is your feature request related to a problem?**

Currently, there is no changelog for the C++ client.  New contributors therefore have to pore over the codebase to determine which project features have been implemented.  When looking for ways to contribute, they are forced to scroll through the issues list without any context as to which ones are priorities for the community.

**Describe the sol

[2020-06-12 20:24] Brandon-Kimberly opened #109 "Add Doxygen for C++ OpenTelemetry API/SDK documentation"
**Is your feature request related to a problem?**
Yes. Currently the C++ repository contains little internal documentation due to ongoing development. This can make it difficult for prospective contributors to get started with the project.

**Describe the solution you'd like**
The incorporation of, and requirement to use, Doxygen will help contributors constructively create documentation as featur

[2020-06-12 20:27] maxgolov opened #110 "Use of exceptions in API should be revisited"
There's an issue with API headers related to **std::exception** and exception handling. For a library that is built with exceptions enabled - there's been a breaking change between vs2017 and vs2019 on Windows, related to size optimizations in [__CxxFrameHandler4](https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/) ...

In short: despite the effort invested in **nost

[2020-06-12 22:32] maxgolov commented on #110
Another piece is **__EXCEPTIONS** is only used by libstdc++ (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=64276).

It’s much cleaner to use **__cpp_exceptions** as it is in the standard since C++98:
https://en.cppreference.com/w/User:D41D8CD98F/feature_testing_macros

However, to guarantee ABI stability and interoperability with other vendors, whether statically linked or shared library, might wan

[2020-06-15 15:42] HudsonHumphries opened #111 "Add labels to issues"
**Is your feature request related to a problem?**
Yes. Currently there are very few labels on the issues open in this repository. This makes it very hard to navigate the issues, especially for a newcomer to the project.

**Describe the solution you'd like**
For the current issues the Maintainers would need to go through the open issues and label them. For future issues,
whenever an issue is opened

[2020-06-15 15:48] ankit-bhargava opened #112 "Make a Quick-Start Guide"
**Is your feature request related to a problem?**

New contributors currently have little guidance on what the library is or how to use it.  As of now, the only way to learn about basic instrumentation and collection is to either carefully examine the code or work over the single tracer example.  This, however, covers a very narrow set of features.  Users must reference other language documentatio

[2020-06-15 15:59] Brandon-Kimberly commented on #102
With [PR 103](https://github.com/open-telemetry/opentelemetry-cpp/pull/103) being merged, this issue can be resolved.

[2020-06-15 16:08] Brandon-Kimberly opened #113 "Add external documentation for API/SDK functionality"
**Is your feature request related to a problem?**
Yes. Currently there is minimal documentation about the built functionality in the C++ API/SDK. This can make it difficult for users and contributors alike to get started with the library.

**Describe the solution you'd like**
I would like some external documentation similar to Python’s [readthedocs](https://opentelemetry-python.readthedocs.io/en/s

[2020-06-15 17:18] pyohannes commented on #102
This is done, thanks @Brandon-Kimberly.

[2020-06-15 17:18] #102 closed

[2020-06-22 19:47] maxgolov commented on #104
Fixed by #115

[2020-06-22 19:47] #104 closed

[2020-06-22 19:47] maxgolov commented on #105
Fixed by #114

[2020-06-22 19:47] #105 closed

[2020-06-22 21:19] HudsonHumphries commented on #89
Hey @reyang could you assign me this issue. I will be working on this in parallel with the Metrics API / SDK.

[2020-06-22 22:45] alolita commented on #81
Hi @reyang we are starting to work on building the Prometheus exporter for the metrics SDK. Can you please assign this issue to me @alolita. I will provide the handles of our interns working on this too.

[2020-06-22 22:54] alolita commented on #81
Our interns are @cunjunwang, @erichsueh3 - they are in the process of becoming members.

[2020-06-24 15:12] 0x4b commented on #67
@maxgolov has there been any progress on allowing STL?  The interns contributing context API functionality are finding the nostd requirement to be more of a burden than we expected.

Having clarity around whether STL is banned just at the interface or also in the implementation would be a big help. What do you think about making note in CONTRIBUTING.md (I can send a PR)?

[2020-06-26 17:34] HudsonHumphries commented on #108
Recommendation for Change-Log, [NextRelease](https://github.com/marketplace/nextrelease-io) - a GitHub Marketplace App.

NextRelease is a free tool, that sets up Change-Log and Release notes for a project. For setup, follow this [link](https://github.com/marketplace/nextrelease-io) and add it to the repository. Then setup the labels that match with the type of release you want with them.

NextRele

[2020-06-29 20:01] reyang opened #134 "Clarify the scope of nostd"
In OpenTelemetry C++ we've introduced `nostd` for [ABI compatibility](#37), basically everything exposed by the API package will not have dependency on `std::*` types and C++ exceptions, as none of them would give ABI compatibility guarantee.

To keep the project manageable, we would need to avoid pitfalls such like maintaining a complete set of C++ standard library, or implement a subset and even

[2020-06-29 22:19] reyang commented on #67
Related to #134.

[2020-06-30 13:56] CunjunWang opened #135 "The location of Doxygen configuration file"
Try to solve issue #109

**Is your feature request related to a problem?**
Yes. Currently the C++ repository contains little internal documentation, and we are trying to integrate Doxygen into the repository so that we can easily generate and publish technical documentation.

**Describe the solution you'd like**
In the repository there is already a folder called docs, however it looks like a colle

[2020-06-30 16:01] Brandon-Kimberly opened #137 "Question on Use of Virtual Functions"
When writing our design for the metrics API and SDK, our team working on this implementation (@Brandon-Kimberly , @ankit-bhargava , and @HudsonHumphries ) were confused about when to make a function virtual and when to make it purely virtual. To me, it makes sense to make the function purely virtual if it is crucial to the purpose of the class that it is in but I am very interested to hear others’

[2020-06-30 16:19] erichsueh3 opened #138 "Prometheus Exporter HTTP Server Support"
**Is your feature request related to a problem?**
Yes. Currently, Java and Python do not implement an HTTP server in their language’s Prometheus exporter while node.js and Go do implement a server. For the C++ implementation, we have a choice between implementing the HTTP server or not implementing it. Benefits of implementing the HTTP service include that it is user friendly and conforms to the P

[2020-06-30 17:03] reyang commented on #137
I think this is not specific to OpenTelemetry, more like a C++ question.
Pure virtual function makes the class an abstract one - which means it cannot be instantiated. Examples are when you define an API, and you want to force folks to implement.
In many of our OpenTelemetry APIs, we make it work by default rather than forcing the SDK to provide implementation, in this way we use virtual function

[2020-06-30 17:54] ankit-bhargava opened #139 "Metrics Label Storage Convention"
**Is your feature request related to a problem?**

Currently, different languages use varying data structures to store Metric labels.  Java, for example, uses a string while python uses a dictionary (roughly equivalent to the unordered map in C++).  These decisions were made based on the strengths of each language and the performance/availability of data structures in that particular language.

**

[2020-06-30 18:05] Brandon-Kimberly commented on #137
Ah, that clears things up a lot for me. So we should refrain from using purely virtual functions (for the most part) and instead just use virtual functions that provide a default implementation because this is more convenient for the user? I just want to make sure I understand this right. Thank you for the response!

[2020-07-01 05:50] reyang commented on #135
Same as Prometheus C++ client, the official doxygen project is using `doc` as the folder name, I suggest we follow it by default.
I'm open to move existing the docs if there is a better place/folder.

[2020-07-01 17:53] huyan0 opened #147 "Add Codecov Badge to README.md"
**Is your feature request related to a problem?**
OpenTelemetry’s Python, JavaScript, Collector, Operator, Go, Java and PHP repository all have a Codecov badge which provide a quick link to details about code coverage. The C++ SDK repository does not have a Codecov badge yet.

**Describe the solution you'd like**
As a developer contributing to the C++ SDK, I’d like to add a Codecov badge. In gener

[2020-07-01 19:44] erichsueh3 opened #148 "cmake.c++20.test fails in the Docker container in both bazel versions 3.2.0 and 3.3.0."
**Is your feature request related to a problem?**
Running the [CI tests](https://github.com/open-telemetry/opentelemetry-cpp/tree/master/ci) through GitHub actions results in all tests passing successfully. However, running the [CI tests](https://github.com/open-telemetry/opentelemetry-cpp/tree/master/ci) manually in the Docker container through terminal results in multiple CMake errors throughout

[2020-07-01 20:00] danielbang907 opened #149 "Badges and Licensing on the Repo Readme"
**Is your feature request related to a problem?**
In an effort to have the OpenTelemetry C++ SDK be as up-to-date and consistent with the other more established SDKs, (Python, Java) there should be some sort of status tracking on the main Readme.md file, so that any observer of the repo will be able to quickly and efficiently know of the progress, reliability, and licensing of the codebase.

**Des

[2020-07-01 22:09] EdZou opened #150 "Add a badge for CI status"
Description:

*Is your feature request related to a problem?*
Most of the existing open-telemetry repositories (java/javascript/python/collector/go/ruby/rust) display a badge for CI status. It would be very useful to have a CI badge for the CPP repo too.

*Describe the solution you'd like.*
As a developer contributing to open-telemetry, I recommend to add a CI status badge on the README.md of C++

[2020-07-01 22:27] pyohannes commented on #148
This requires updating our CI [Dockerfile](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/ci/Dockerfile) with a compiler supporting C++20. the `ubuntu:20.04` image provides gcc version supporting C++20, however there's no gcc-4.8 package for this Ubuntu version.

What I would recommend:
* Adding a separate Dockerfile based on `ubuntu:20.04`.
* Provide an option in [run_ci.sh](http

[2020-07-01 22:29] pyohannes commented on #147
This is covered by #149.

[2020-07-01 22:29] #147 closed

[2020-07-01 22:29] pyohannes commented on #150
This is covered by #149.

[2020-07-01 22:29] #150 closed

[2020-07-01 22:41] pyohannes commented on #139
I think a `KeyValueIterable` representation would be safer. This would eliminate several dangers:

* Introducing bugs while implementing the parser.
* A requirement to support a value to be a homogenous list (like `a=[1,2,3]`). I'm not sure about labels, but that's a requirement for span attribute values.
* Avoiding ambiguity. How would you compare the label sets `a=10`, `a=10.0` and `a=1e1`? Or `

[2020-07-01 22:44] huyan0 commented on #149
Hi! I’m interested in working on this issue. Can you please assign to me and my mentor @alolita.

[2020-07-02 00:03] pyohannes commented on #149
Assigned.

[2020-07-02 15:32] pyohannes commented on #134
We don't have `nostd::pair` yet. Here are the motivations for introducing the other types:

**nostd::function_ref**
Not available in any standard yet.

**nostd::shared_ptr**
Concerns about ABI stability across versions for `std::shared_ptr`.

**nostd::span**
`std::span` is only available since C++20, not for previous versions.

**nostd::string_view**
`std::string_view` is only available since C++1

[2020-07-02 17:13] maxgolov commented on #148
You can use matrix build to build on older Ubuntu and 20.40. Example how I'm doing it in my fork to verify some ongoing C++20 work: https://github.com/maxgolov/opentelemetry-cpp/blob/master/.github/workflows/build-ubuntu.yml

[2020-07-02 18:19] pyohannes commented on #137
I agree.

1. There are pure virtual functions in the [API interface definitions](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/trace/tracer.h#L31).
2. The API provides `Noop` classes with a [no-op implementation](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/trace/noop.h#L62) for those pure virtual functions. T

[2020-07-02 18:19] #137 closed

[2020-07-04 00:32] snehilchopra commented on #83
It seems that the dispatcher hasn't been merged into the main repo yet.
Is there something pending with the implementation?

[2020-07-04 19:45] HudsonHumphries commented on #89
@pyohannes What exactly needs to be added to your implementation in the simple example? I'm currently writing the design document and want to make sure I know what needs to be added. I've added shutdown and timeout functionality, is all that is missing printing more span data?

[2020-07-06 04:25] pyohannes commented on #89
That is the main part, we want to print all available span data (e. g. attributes, span kind and description).

Then we would need to host it in a dedicated directory (`exporters/console` maybe) and wire that up in the simple example.

[2020-07-06 17:10] nadiaciobanu opened #154 "Build gRPC using CMake"
**Context**
The OTLP exporter uses gRPC to communicate with the OpenTelemetry Collector. Currently we are building gRPC with Bazel, but not with CMake.

**Problem**
The OTLP exporter tests run on Windows using [CMake](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/.github/workflows/ci.yml#L162) only.

**Solution**
Build gRPC using CMake (see [gRPC documentation](https://github.com

[2020-07-07 14:42] nholbrook opened #156 "Update CI Tests to Allow SDK Exceptions"
**Is your feature request related to a problem?**
During Monday's weekly meeting it was determined that, according to the spec, the SDK should be allowed to throw exceptions (i.e. when constructing samplers with invalid arguments). However, there is currently a CI test in place that is too strict and does not allow exceptions to thrown in any situation. This test needs to be updated to be more fin

[2020-07-07 23:11] erichsueh3 opened #158 "Data structure usage for intermediate storage in Prometheus Exporter"
**Is your feature request related to a problem?**
In a proposed Prometheus Exporter in C++, intermediate storage between exporting data and collecting data must be implemented due to its nature as a pull based exporter. However, it is unclear whether or not containers from STL such as vectors can be used or not, though usage of STL seems not to be limited when building an exporter.

**Describe the

[2020-07-07 23:16] CunjunWang opened #159 "More Issues on Intermediate Storage of Prometheus Exporter Design"
**Is your feature request related to a problem?**
Yes. In order to guarantee the current Prometheus Exporter design works, we need to figure out the following problems about the intermediate storage:

* What if the storage is full when `export()` function is called? Is the new batch of data discarded or will some data in the storage be replaced? What is the replacement strategy?
* What is the defa

[2020-07-07 23:32] reyang commented on #158
STL can be used in the exporter.

[2020-07-07 23:32] #158 closed

[2020-07-07 23:38] reyang commented on #159
I think we will just drop the new data. This is what most of the tracer exporters would do.

That's a good question, I think this is something the specification should give guidance. For traces, this is [configurable](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#batching-processor) and you can also find the recommended default values.

Same a

[2020-07-08 00:10] CunjunWang commented on #159
Thanks for such a quick and clear response, Reiley! Sorry for confusing you in the last question, but since we are going to implement the memory boundary, we can just ignore that.

[2020-07-08 21:15] danielbang907 commented on #148
Would I be able to be assigned to implement this alongside my supervisor @alolita  ?

[2020-07-09 17:28] liadavid opened #166 "TraceZ page in opentelemetry-cpp"
### **Is your feature request related to a problem?**
ZPages are web-pages that display general and debugging information on processes. Tracez provides details about the trace spans in the process. Currently there are few WIP projects to add zPages to OpenTelemetry, following the [zPages spec/general direction](https://github.com/open-telemetry/oteps/blob/master/text/0110-z-pages.md).
We would lik

[2020-07-09 18:31] pyohannes commented on #166
No, we don't want to add getters to the `Recordable` interface and force every vendor to implement it. You can either:
* Use the existing `SpanData`. It derives from `Recordable` and has getters. You can then cast from `Recordable` to `SpanData` in the processor.
* Implement your own class deriving from `Recordable` and implementing getters. You can then cast from `Recordable` to your derived clas

[2020-07-09 19:19] liadavid commented on #166
Thanks Johannes for the explanation regarding Recordable.

[2020-07-10 16:50] Brandon-Kimberly opened #169 "MacOS Bazel Tests Fail When New Version of Bazel is Released"
**Is your feature request related to a problem?**
Yes, currently our MacOS Bazel CI test fails each time a new version of Bazel is released. This is fixed by simply updating the .bazelversion file to the most recent version of Bazel. However, this is very inconvenient and should not be necessary for every update to Bazel.

**Describe the solution you'd like**
The GitHub Actions MacOS runners have

[2020-07-10 19:24] maxgolov commented on #169
Is it possible to consume Bazel as a git submodule from https://github.com/bazelbuild/bazel mapped to `third_party/bazel`, and parse the latest version from git tag on a submodule? That way GitHub Action clones latest from Bazel master every time, and you'd retrieve the concrete latest version from there.

[2020-07-10 19:25] maxgolov commented on #169
..or modify `.bazelversion` in a CI setup job based on latest tag on original Bazel repo, and automatically commit it back to remote as part of CI.

[2020-07-10 23:39] erichsueh3 opened #170 "Adding a Google Test Demo Document"
**Is your feature request related to a problem?**
The OpenTelemetry CPP repository currently uses the unit testing framework Google Test to thoroughly test the code in the repository. However, no documentation is provided to help new contributors understand Google Test and its integration within the repository; they must look up outside resources for reference, which by itself, is not extremely he

[2020-07-13 17:29] danielbang907 commented on #148
Hi, just running into a few roadblocks regarding this issue:
- In my forked repo, even though I change the Dockerfile to use 20.04, the testing fails with the same errors. Do I have to change other aspects of the Dockerfile or other bash script files for this process to run smoothly? (ie. where would I change the gcc version package, or is that already a part of the new Docker image? Or would I al

[2020-07-15 21:35] alolita commented on #81
Hi @reyang greetings! Can you please also add my intern engineers @CunjunWang, @EricHsueh3 to this issue? We're working on the exporter implementation and have already submitted the design for review. Please see https://github.com/open-telemetry/opentelemetry-cpp/pull/172 Many thanks Reiley!

[2020-07-15 22:18] reyang commented on #81
Currently I cannot add them since their names won't show up (not a member). Happy to sponsor them to be members of OpenTelemetry.

[2020-07-16 16:21] jajanet opened #184 "Optimize TraceZ Span Processing Speeds"
**Is your feature request related to a problem?**
For the initial iteration of [zPages](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/ext/src/zpages/README.md), more specifically [TraceZ](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/ext/src/zpages/README.md#tracez), spans are grabbed and temporarily stored using the [TraceZ span processor](https://github.com/op

[2020-07-16 17:32] liadavid commented on #170
Maybe you already aware of it (and if you do, please ignore my comment).

There is documentation about Google Test here: https://github.com/google/googletest
Specifically; https://github.com/google/googletest/blob/master/googletest/docs/primer.md

[2020-07-16 19:24] erichsueh3 commented on #81
@reyang, can you assign me to this issue? I believe I've just been added as a member of OpenTelemetry.

[2020-07-16 21:41] pyohannes commented on #149
Thanks for fixing this @huyan!

[2020-07-16 21:41] #149 closed

[2020-07-17 01:36] maxgolov opened #186 "SpanData loses type information"
API surface allows to add attributes and events on `Span` that use the following typing system:

[code]

`SpanExporter` and `SpanData` only exposes a subset of the following types via `SpanDataAttributeValue` :

[code]

Why this is bad:

- There's no way to design an exporter that would optimally pack and transmit 32-byte signed/unsigned integers. Type information on bit-width of original integer

[2020-07-17 01:48] kmanghat opened #187 "Set recordable attributes before passing it to span processor"
**Is your feature request related to a problem?**
Yes, the feature request is related to a problem. The tracez data aggregator is an object that collects span data from the span processor at regular intervals. The aggregation process starts in the constructor of the data aggregator and for collection of data it calls getters of SpanData.

Currently recordables are created in the constructor of the

[2020-07-17 02:06] kmanghat opened #188 "SpanData is not threadsafe"
**Is your feature request related to a problem?**
Yes, the feature request is related to a problem. SpanData is a type of Recordable that mostly contains getters and setters. There are no locks added so it doesn't look like it is thread safe. Is there a reason for this or am I missing something?
The SpanData is a recordable used by the tracez span processor and data aggregator. The data aggregator

[2020-07-17 03:43] pyohannes commented on #188
The SDK makes guarantees that a recordable is not available to any other thread:
* while it is processed by the `OnStart` processor method, and
* after it was handed over to the `OnEnd` method of the span processor.

If a processor (I think TraceZ is doing that) saves pointers to recordables and accesses values in between `OnStart` and `On End` invocations I'd advise you to implement your own `Rec

[2020-07-17 03:45] pyohannes commented on #187
Please submit your fix as a separate PR, ideally with a test case. I see not problems with merging that.

[2020-07-17 03:48] pyohannes commented on #186
Great catch, I'll add the missing `int32_t` type. I'm not exactly sure about how to best realize the full suggested solution.

[2020-07-17 03:52] pyohannes commented on #184
I think you have two problems here that you should reason about in separation:
1. The thread-safety of `SpanData` itself. The recordable implementation `SpanData` doesn't give thread safety guarantees in between `OnStart` and `OnEnd` processor calls. When attributes are accessed in between those calls, another thread might write at the same time. To eliminate that possibility, I'd recommend to imp

[2020-07-17 03:54] pyohannes commented on #170
Hi @erichsueh3. Are the links given by Lia sufficient for you? We try to avoid duplicating existing documentation in the opentelemetry-cpp repository.

[2020-07-17 04:58] erichsueh3 commented on #170
Hi @liadavid, @pyohannes, the documentation I am proposing is less focused on the functionality of Google Test but more so on the integration of Google Test within the OpenTelemetry CPP repository; I believe this will be more specific in helping newer contributors understand its usage within the repository. Ideally, the documentation above would be referenced, but the Google Test demo itself would

[2020-07-17 05:53] maxgolov commented on #186
No problem, I am not blocked by this. Part of the reason why I'd like to keep track of this - I see that we'd eventually also get this one in: https://github.com/open-telemetry/opentelemetry-proto/issues/169 ... I'm also considering a few options how we can improve the process of creating owning 'copy` of the original dictionary.

[2020-07-17 05:57] kmanghat commented on #188
Hi @pyohannes , thank you for the reply I have a follow up - Is the SpanData not accessed anywhere other than in OnStart and OnEnd. If it is how do you guarantee that only a single thread has access ? Giving it some thought I don't think the data aggregator access the SpanData during these two functions.

[2020-07-17 14:34] kmanghat commented on #187
Here is a [PR](https://github.com/open-telemetry/opentelemetry-cpp/pull/189) with just the change, is there a test file for span.cc at the moment? I can add tests but can it wait till my data aggregator PR is is approved?

[2020-07-17 16:41] pyohannes commented on #188
In the SDK `SpanData` is accessed via the `Recordable` interface, which in turn is accessed via the `Span` implementation. All setters in `Span` are protected by a [mutex](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/src/trace/span.cc#L75). The SDK doesn't ever invoke `SpanData` getters.

At some point the `Recordable` is passed to the `OnEnd` function of the processor, whic

[2020-07-18 21:07] #188 closed

[2020-07-18 21:07] #187 closed

[2020-07-20 19:53] jajanet commented on #184
@pyohannes Thanks for the thorough yet concise explanation! Based on your recommendation, we're opening a couple PRs soon to address this:
1.  PR for a custom recordable, which is essentially a copy of `span_data` but with locks in the getter/setter methods
2. PR to change the recordable used in the processor to this new custom recordable, as casting more than once (recordable -> span_data -> thre

[2020-07-22 17:14] pyohannes commented on #148
Make sure to install [g++-10](https://packages.ubuntu.com/focal/g++-10), which provides latest support for C++20 and supports the `-std=c++20` flag.

[2020-07-22 18:28] ziqizh opened #201 "Update samplers after implementing SpanContext"
**Context**
The `Probability` and `Parent-Or-Else` sampler and the Tracer depends on Span Context that have not yet been implemented. Therefore, these parts require revisiting after implementing the SpanContext.

Some samplers require SpanContext of the parent span to make sampling decision. Since the SpanContext class hasn't been implemented yet, we currently use a mock class ([defined here](http

[2020-07-22 19:30] HudsonHumphries opened #202 "Add JSON formatting to OStreamExporters"
**Is your feature request related to a problem?**
There is currently no way for the user to change the format that OStreamExporters export the data. If the user wants to send their data directly to a json file, it will not be in the correct format.

**Describe the solution you'd like**
Have the user pass in a boolean for json printing in the constructor. Then in export() format the data what the u

[2020-07-22 22:57] snehilchopra opened #203 "Add timeout to Exporter interface"
This issue concerns the addition of a `timeout` parameter to the exporter interface's [Export](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/exporter.h#L50) function.

This can help propagate a timeout from the processor to the configured exporter, and test for timeouts in the exporter's `Export` method as well.

Please let me know your thought

[2020-07-22 23:32] pyohannes commented on #203
This is not part of the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#exportbatch). I think this should go into the spec first we add this.

The spec implies that the `Export` function should have an implicit timeout:

This could be set via the exporter constructor (which makes sense, because most likely one wants to have the same timeo

[2020-07-23 00:09] snehilchopra commented on #203
Alright. I see your point.

However, if this is left to be vendor-specific, I believe the processor (batch or simple) doesn't need to take this into account in its testing suite, as any exporter could be configured to it?

I am talking specifically with regard to #195, in which I have an implementation of the batch processor.

[2020-07-23 00:30] pyohannes commented on #203
Yes, that's my understanding. From processor side, you can rely that `Export()` doesn't block indefinitely and there's a reasonable upper limit after which it returns.

There can be exporters that are badly implemented and block for a long time. In that instance, the batch processor will have to drop more spans.

[2020-07-23 01:29] snehilchopra commented on #203
So if I am understanding this correctly, the processor can basically treat the exporter as a blackbox that returns after a certain upper time limit (which is vendor-specific). All we have to do is check how much time it takes for the `exporter->Export()` method to return, subtract that from our timeout (say from the ForceFlush's timeout) and consequently see if we timed out or not.

Is that right?

[2020-07-24 18:21] snehilchopra commented on #203
@pyohannes

[2020-07-27 20:16] nadiaciobanu opened #214 "Update Recordable implementations to use SpanContext"
**Problem**
In the `Recordable` interface, links can be added by passing a `SpanContext` (containing `trace_id`, `span_id` and `trace_state`) into `AddLinks()`. Currently, `SpanContext` is not implemented, so the `SpanContext`-related fields in the links cannot be populated.

**Solution**
Update `AddLinks()` in implementations of the `Recordable` interface, including the [`OTLP Recordable`](https:

[2020-07-27 21:35] maxgolov opened #215 "Add Visual Studio 2015 + Windows 7.1 / 8.1 SDK build"
Visual Studio 2015 provides fairly 'complete' support of C++11. Currently we are already adding extra code to maintain older gcc-4.x for Linux; that one even predates vs2015. Some customers on Windows may still be operating on code built using Visual Studio 2015 (vc140) compiler, and may be targeting Windows 7.x and above. Our current CI loops are only testing Visual Studio 2017 (C++14) and Visual

[2020-07-27 21:47] maxgolov commented on #215
As a minimum, our `notsd::string_view` is having this issue with Visual Studio 2015 (C++11) , esp. due to extra SCL / secure C++ coding practices (which may be a false-positive, but requires a tweak) :

[code]

[2020-07-27 21:51] Brandon-Kimberly opened #216 "nostd::shared_ptr cannot be safely casted"
In implementing our design for the metrics API and SDK we ran into a problem regarding nostd::shared_ptr and we are unsure how to proceed from here.

The OpenTelemetry specification states [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#recording-metrics-with-predefined-aggregation) that functions and components related to the querying and

[2020-07-27 22:00] pyohannes commented on #216
I had a quick look at the PR link you gave.

One other possible option would be to just obtain the raw pointer from the shared pointer (via the `get()` method). You can then safely cast and use the raw pointer while you're still holding on to a copy of the `nostd::shared_ptr` object at the same time.

[2020-07-27 23:01] maxgolov commented on #215
I'm assigning this issue to myself, as discussed during community meeting:
- fixes to make sure code compiles and works with vs2015
- **deprecation policy guidelines** : how long do we intend to support vs2015 and other older compilers, e.g. gcc-4.x on Linux

[2020-07-28 02:22] reyang opened #219 "Memory management and asynchronous span handling for Context API"
We've decided to move forward with the context API PR #209 in order to unblock other work stream.
However there is memory ownership issue as we've discussed [here](https://github.com/open-telemetry/opentelemetry-cpp/pull/209#discussion_r461084358).
Use this to track the issue until we have a code fix.

[2020-07-28 16:54] Brandon-Kimberly commented on #216
@pyohannes Hi Johannes! We're currently trying to implement nostd::dynamic_pointer_cast for nostd::shared_ptr and it seems like we need to access the underlying std::shared_ptr in the shared_ptr_wrapper. We need to access this as we need to pass it to std::shared_ptr's aliasing constructor.

For now, we have added a getter function to the wrapper called GetSharedPtr() like so:
![Screen Shot 2020-0

[2020-07-29 22:02] CunjunWang opened #228 "Issue when mapping OpenTelemetry MinMaxSumCount aggregator to Prometheus Gauge metric"
**Is your feature request related to a problem?**

Yes. According to the specification [here](https://github.com/jmacd/opentelemetry-specification/blob/jmacd/draft_metric_sdk_spec/specification/metrics/sdk.md#aggregator-implementations), we need to support `MinMaxSumCount` in OpenTelemetry. However, when I was translating OpenTelemetry metric data to Prometheus data type and mapping OpenTelemetry

[2020-07-30 20:12] snehilchopra opened #233 "Changes to CONTRIBUTING.md to pass Cl/Format Check on PRs"
**Context**
There is currently a CircleCI check that checks for the proper format of all files in a PR using the tools clang-format, cmake-format, and buildifier.

**Problem**
In #195, I had been continuously failing this check.
![image](https://user-images.githubusercontent.com/31712484/88964489-50a57180-d25e-11ea-8860-4b51193f7ce6.png)

After looking at [CONTRIBUTING.md](https://github.com/open-

[2020-07-30 20:12] Brandon-Kimberly commented on #216
Update for those looking at this issue in the future:

We are not looking to add advanced functionality to nostd::shared_ptr if there are possible workarounds to doing so. In our case, we found a workaround that avoids the need to cast nostd::shared_ptrs.

[2020-07-30 20:12] #216 closed

[2020-07-31 00:28] jmacd commented on #228
I would be happy for you to deviate from the specification, use the LastValue aggregator (to give the correct Prometheus Gauge) and let us sort this out later. The MMLSC proposal is stuck behind some OTLP negotiations, and it's possible we'll reject it and declare that LastValue is the correct default for ValueRecorder anyway.

For the sake of getting something to work, reporting (Sum/Count) is no

[2020-07-31 00:28] jmacd commented on #228
(sorry we didn't get to discuss this in the SIG meeting today!)

[2020-07-31 23:40] erichsueh3 opened #237 "Recommendation on the number of quantile samples"
**Is your feature request related to a problem?**
Yes. We are working on the C++ Prometheus Exporter and are mapping the Exact Aggregator to the Prometheus [Summary](https://github.com/jupp0r/prometheus-cpp/blob/master/core/include/prometheus/client_metric.h#L50) data type, which requires a vector of quantile data. We found some gaps between these two components.

1. The Exact Aggregator has two d

[2020-08-02 21:19] snehilchopra commented on #233
@pyohannes @reyang @maxgolov It seems that a couple of people are facing this error. I was wondering whether I could get your insight on this and make the necessary changes to CONTRIBUTING.md file.

[2020-08-03 13:33] CunjunWang commented on #228
Thanks for your reply! I will use sum as a gauge at the current stage. If there is any update, I will modify my implementation then.

[2020-08-03 16:59] jajanet commented on #233
It may be useful to add instructions for removing the old version of clang-format:
[code]
---------------

Also, maybe the command for running clang-format, which should be ran within the directory to be formatted

clang-format:
[code]

clang-format-8 (installed using the Linux instruction above):
[code]

[2020-08-03 17:15] snehilchopra commented on #233
Thanks for adding the uninstall instructions.
For running the clang-format-8 tool, I think `tools/format.sh` from the root directory should suffice.

[2020-08-03 18:47] jajanet commented on #233
Gotcha, that makes sense! I mentioned and ran the clang-format-8 command because `tools/format.sh` didn't work for me when installing clang-format-8 using `sudo apt-get install clang-format-8`. Either way, thanks for the help!

[2020-08-03 18:57] snehilchopra commented on #233
Did `tools/format.sh` not recognize `clang-format-8`?
If so, please look at issue again, towards the end. I have added the fix for that too.

[2020-08-03 22:47] erichsueh3 commented on #228
Hi @jmacd, just wanted to clarify on whether you mean Sum/Count as "Sum or Count", or as the average, "Sum divided by Count". I notice in the debate in [#636](https://github.com/open-telemetry/opentelemetry-specification/issues/636) you mentioned Sum/Count as an average, but we just wanted to make sure here as well.

[2020-08-04 15:21] codeboten opened #239 "Change default port for OTLP exporter #968"
By default the collector OTLP receiver is configured on port `55680`, the current default port in the OTLP exporter is still using the old OpenCensus receiver port. (`55678`) This should be changed.

[2020-08-04 22:07] pyohannes commented on #233
Sorry, I'm late to have a look at this.

You can run the format task in a provided docker container. This should guarantee to consistent versions of tools used:
[code]

[2020-08-05 17:07] #139 closed

[2020-08-05 17:41] snehilchopra commented on #233
I did try running that, but I don't think it actually 'formats' your code. I believe it just tells you which files are not correctly formatted.

[2020-08-05 17:48] pyohannes commented on #233
It actually should format the files.

[2020-08-05 19:16] snehilchopra commented on #85
Hey @pyohannes !

After checking out the restart functions linked above, I have an idea of how the processors could be made fork safe, but not entirely sure about the exporters.

The exporters would be vendor-specific, meaning that each exporter would be handled differently.

I am thinking of providing an interface, such as the [ForkAwareRecorder](https://github.com/lightstep/lightstep-tracer-cpp/

[2020-08-05 19:17] snehilchopra commented on #233
I see. It actually didn't end up formatting for me before.
I'll try it again and get back to you.

Thanks for the input!

[2020-08-05 19:19] pyohannes commented on #85
Yes, definitely, your on spot with that. For exporters we just can provide an interface that vendors can (optionally) implement. Handling will be different for each exporter, as it might involve handling socket or file handles.

[2020-08-05 19:51] snehilchopra commented on #85
Sounds good! Thank you so much!

[2020-08-05 22:09] maxgolov opened #249 "Compiler warnings clean-up"
Repo has 26 compiler warnings with vs2019 in:
- tracez_processor_test
- ostream_metrics_test
- opentelemetry_exporter_ostream_metrics

Most of these are about potentially unsafe truncating type casts:
- `'initializing':   conversion from 'float' to 'int', possible loss of data`
- `'=': conversion   from 'double' to 'int', possible loss of data`
- `'=': conversion   from 'size_t' to 'int', possible

[2020-08-06 14:45] HudsonHumphries opened #253 "Allow user to map what kind of Aggregator they want for each instrument"
**Description**

Right now we have currently hard-coded the aggregator created for each instrument. This means that some Aggregators can never be used by the user since they are not a default for any instrument.

**Solution**

A proposed enhancement is to create a mapping between InstrumentKind and Aggregator. Then allow the user to change the mapping to their choosing. This map will have the defa

[2020-08-06 14:46] HudsonHumphries opened #254 "Change the key for UngroupedMetricsProcessor to a struct"
**Description**

Currently, the processor uses a concatenated string of instrument name + description + labels + instrument_kind as a key to map to the aggregator that is stored in the processor. This is a temporary solution in order to get the desired functionality.

**Solution**

A proposed solution is to create a struct to hold the name, description, labels and instrument kind from a passed in

[2020-08-06 14:51] Brandon-Kimberly opened #255 "Aggregators which have received no updates are still exported"
In the current Metrics API & SDK design, ALL bound instruments that have active references are made into records to be exported. This includes those instruments that have received no updates in the current collection cycle. This can clutter the exporter output and should be changed to only export instruments that have been recently updated (in the current collection cycle).

**Candidate Solution**

[2020-08-06 14:52] Brandon-Kimberly opened #256 "Add support for multiple meters"
The current Metrics API & SDK design only supports the creation and use of a singular meter instance. This varies from the specification and differs from some other SDKs such as Java’s.

**Candidate Solution**

A solution could be to refactor the MeterProvider to allow the creation and return of multiple meters. Store the created meters in an internal registry. Then, in the controller class, chang

[2020-08-06 14:54] Brandon-Kimberly opened #257 "Aggregators shouldn’t store values in vectors"
Currently all aggregators store values and checkpoints in an internal vector. This was originally done because the way information was passed around for exporting (the Record class) took a vector as a constructor parameter. However, this has been changed to allow more flexibility with new aggregators.

A proposed solution would be to allocate these values on the stack rather than heap. This could

[2020-08-06 17:41] ankit-bhargava opened #259 "Add customization to Exact/Sketch Aggregator Export"
### Description

Currently, there is no standard way to export exact and sketch aggregators which are primarily used for their ability to calculate quantile values.  As such, the implemented method of printing the entire histogram or scatter plot of values means users have to redo the quantile calculation themselves.  Also, printing the entire underlying data structure of these aggregators could r

[2020-08-06 19:23] ankit-bhargava opened #260 "Allow users to specify a Metrics Controller thread"
### Description

The metrics controller currently spawns a new thread to run the metrics pipeline.  However, this thread is out of the user’s control.  Users with tightly guarded thread-management schemes may dislike the idea of a process starting a thread unchecked.

### Solution

A proposed solution could allow users to pass a thread into the Controller constructor with a default option to start

[2020-08-15 18:31] #186 closed

[2020-08-17 15:46] jajanet opened #278 "Serve zPages Static Files Better"
**Is your feature request related to a problem?**
Currently, zPages/Tracez have all HTML/CSS/Javascript files emitted using C strings as seen [here](https://github.com/open-telemetry/opentelemetry-cpp/tree/master/ext/include/opentelemetry/ext/zpages/static). This is not a clean/idiomatic/readable solution and brings down the code coverage numbers, as these HTML/CSS/JS files show as C++ files.

Fur

[2020-08-18 14:18] jajanet opened #281 "Add CMake Support for the JSON C++ Dependency"
**Is your feature request related to a problem?**
At the time of writing, there's a [JSON dependency](https://github.com/kmanghat/opentelemetry-cpp/tree/master/third_party/json) with only a Bazel build created. Since we're committed to both CMake and Bazel, there also needs to be CMake support.

**Describe the solution you'd like**
CMake can be added using `vcpkg install nlohmann-json`  as long as

[2020-08-19 21:34] jajanet opened #285 "Set Trace, Span, and Parent IDs"
**Is your feature request related to a problem?**
IDs are currently not being completely set within the OTel C++ repository, which creates issues with exporting and rendering spans. For example, linked spans don't show up in GCP when exported to the OTel Collector after being exported using  OTLP exporter. Furthermore, zPages doesn't show trace, parent, and span IDs for sampled spans. This also cr

[2020-08-20 00:13] snehilchopra opened #287 "Simple Example Not Working"
The [simple example](https://github.com/open-telemetry/opentelemetry-cpp/tree/master/examples/simple) does not seem to be working.
I believe this is because the [span destructor](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/src/trace/span.cc#L72) is not being invoked, which in turn invokes the `span.End()` method.

As a workaround, one has to explicitly call the `span.End()`

[2020-08-20 00:13] snehilchopra commented on #287
@pyohannes @reyang @maxgolov

[2020-08-20 20:05] tigrannajaryan opened #289 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-20 22:18] pyohannes commented on #287
I think the reason is that our `Context` implementation is not memory safe. A gobal `context_handler_` is initialized, but never de-initialized.

I will look into sanitizing and stabilizing the `Context` part.

[2020-08-21 00:06] nadiaciobanu commented on #285
This PR sets up id generation: https://github.com/open-telemetry/opentelemetry-cpp/pull/290

Further work to be done:
1. In `Tracer::StartSpan()`, extract the current span context from the runtime context and pass it into the `Span` constructor (this represents the new span's parent context). If there is no current span, pass an invalid span context to the `Span` constructor.
2. Add a `SpanContext

[2020-08-21 19:25] CunjunWang opened #291 "How-to install Prometheus Client in the C++ SDK CI Environment"
**Is your feature request related to a problem?**
Yes it is. The C++ Prometheus Exporter uses the [Prometheus client](https://github.com/jupp0r/prometheus-cpp) as a project dependency, so we need to install it in the CI environment to build the project. Currently we have found three ways to address this issue:

1. Install the Prometheus Client in a Windows/Visual Studio IDE environment with vcpkg,

[2020-08-24 12:56] charlely opened #294 "gcc 7.3.1 bazel build error"
input cmd: bazel build //examples/batch:example_simple

output:
Starting local Bazel server and connecting to it...
INFO: Writing tracer profile to '/data/home/xxxx/.cache/bazel/_bazel_charleli/ae2757cba182123623167c390e6a2661/command.profile.gz'
INFO: Analyzed target //examples/batch:example_simple (21 packages loaded, 243 targets configured).
INFO: Found 1 target...
INFO: Deleting stale sandbox

[2020-08-24 18:17] maxgolov commented on #281
I'll take a look at this.

[2020-08-24 22:49] nadiaciobanu commented on #239
I can fix this!

[2020-08-25 00:18] reyang commented on #72
Related PRs: #118 #122 #125 #126 #128 #136 #142 #119 #136 #175 #199 #238

[2020-08-25 00:18] #72 closed

[2020-08-25 00:20] reyang commented on #77
Related PRs: #127, #140, #152, #163, #171, #176, #210

[2020-08-25 00:20] #77 closed

[2020-08-25 00:21] reyang commented on #83
Closed by #195.

[2020-08-25 00:21] #83 closed

[2020-08-25 00:24] reyang commented on #73
Addressed by #180, #209 and #225.

[2020-08-25 00:24] #73 closed

[2020-08-25 01:31] CunjunWang commented on #291
CI problems fixed.

[2020-08-25 01:31] #291 closed

[2020-08-25 15:29] lalitb commented on #6
#217  brings only http server, we still are missing client part. So either we can modify it to work as thread-safe, optimised http client/server library, or else use header only c++11 cross platform library like https://github.com/yhirose/cpp-httplib. Anyway, I can own this if no one is working on it. We would anyway need it for zipkin support.

[2020-08-25 15:30] lalitb commented on #76
Should I own this ? Have done some basic work on this.

[2020-08-25 17:33] Brandon-Kimberly commented on #255
I believe this issue can be resolved now that PR #293 has been merged.

[2020-08-25 17:33] #255 closed

[2020-08-25 18:43] nadiaciobanu commented on #239
Fixed by https://github.com/open-telemetry/opentelemetry-cpp/pull/295

[2020-08-25 19:11] nadiaciobanu commented on #287
This affects all examples. As a workaround, I could add calls to `span.End()` in the examples. What are your thoughts?

[2020-08-25 19:58] kyessenov commented on #6
I think we want a portable interface but not an implementation. Consider the use case of compiling this library to Wasm and substituting regular POSIX calls with Wasm externs. Anything that talks over the network cannot be directly translated to Wasm.

[2020-08-25 21:44] erichsueh3 opened #297 "C++ SDK creates invalid metrics label name records for Prometheus"
**Is your feature request related to a problem?**
Yes. Currently, when a record that is created by the C++ Metrics SDK, it is created with label names that contain characters which are invalid for a Prometheus backend. When an instrument is created, and `add()` or `record()` or `observe()` is called on these instruments, a `KeyValueIterable` containing labels is passed to these methods. When these

[2020-08-26 00:29] nadiaciobanu commented on #287
I've created an OTLP exporter example using explicit calls to `span->End()` (https://github.com/open-telemetry/opentelemetry-cpp/pull/296). These calls should be removed once this issue is resolved.

[2020-08-26 08:10] SamuelMarks commented on #6
I started working on a common interface last quarter, but it's very much a WiP:

Mentioning here not so that you follow my implementation, but rather the reverse; the common interface you come up with I'll [likely follow and] implement for Solaris, Linux, BSD, macOS, and Windows.

(though maybe you'll be inspired by the _idea of libacquire_ in defining said interface)

[2020-08-26 16:36] codeboten commented on #239
Thanks for fixing @nadiaciobanu!

[2020-08-26 16:36] #239 closed

[2020-08-26 21:08] nadiaciobanu opened #302 "Optimize OTLP exporter"
### Problem
Currently, the OTLP exporter is passed `Recordable` objects at export time. The span protobuf in the `Recordable` needs to be moved into the request that will be exported (see [`otlp_exporter.cc`](https://github.com/open-telemetry/opentelemetry-cpp/blob/ec6f70d76bd2b4c8fb8198ad852facd18afe20b6/exporters/otlp/src/otlp_exporter.cc#L29)).

Although we use `std::move` to move the span prot

[2020-08-27 00:14] nadiaciobanu opened #304 "Add DocFX sanity check to CI"
**Problem**
We use Markdown for our documentation. Sometimes, Markdown files may contain broken links (for example due to the link being incorrect or moved).

**Solution**
Add [DocFX](https://dotnet.github.io/docfx/) sanity check to the CI, similar to open-telemetry/opentelemetry-specification#742.

[2020-08-27 15:36] IlyaKobelevskiy commented on #302
Thanks for bringing up this issue! I have a followup idea of how to simplify implementation.

std::move in current implementation makes a copy because it attempts to move a const ref: [const proto::trace::v1::Span &](https://github.com/open-telemetry/opentelemetry-cpp/blob/ec6f70d76bd2b4c8fb8198ad852facd18afe20b6/exporters/otlp/include/opentelemetry/exporters/otlp/recordable.h#L15), which ends up

[2020-08-28 18:32] CunjunWang opened #307 "Need Authentication and Authorization Mechanisms for Exposed HTTP Endpoint"
**Is your feature request related to a problem?**
Yes. In our current implementation of Prometheus Exporter, we take a string parameter to configure the HTTP we want to expose in the constructor. Then the Prometheus server will scrape the metrics data from that HTTP endpoint. However, besides the Prometheus server, anyone else can also send HTTP GET request to that endpoint and scrape data, which

[2020-08-29 03:57] #297 closed

[2020-08-31 18:12] #281 closed

[2020-09-01 22:14] nadiaciobanu commented on #285
Completed by https://github.com/open-telemetry/opentelemetry-cpp/pull/305.

[2020-09-02 00:44] #285 closed

[2020-09-02 00:52] jajanet commented on #287
BTW the zPages example is buggy too, which is related to running spans that don't end I believe

[2020-09-03 03:38] maxgolov opened #314 "context::ContextValue cannot be compiled with Visual Studio 2015"
`ContextValue` has been recently introduced in SDK. Unfortunately the two `nostd::shared_ptr<...>` variant members are failing to compile with Visual Studio 2015, due to issue in `nostd::variant` backport.

This code fails to compile:

[code]

with the following error:

[code]

whereas a simpler definition of the variant that does not use `nostd::shared_ptr` - compiles successfully:
[code]
The iss

[2020-09-03 05:10] maxgolov commented on #314
I explored the last option. Abseil `absl::variant` compiles and works fine with Visual Studio 2015. The best option now seems to be for Visual Studio 2015 to compile with Abseil C++ library ( https://github.com/abseil/abseil-cpp/blob/master/absl/types/variant.h ) instead of `nostd::variant`. Note that Abseil is friendly-licensed already (Apache License 2.0).

Verified that this patch allows to rep

[2020-09-03 21:16] pyohannes opened #316 "Add functionality to mark a span as active"
According to the specification, the `Tracer` should provide a method to mark a given `Span` as active.

This method should be implemented. The current behavior of automatically marking every newly created span as active should be removed.

[2020-09-03 21:17] pyohannes opened #317 "Add functionality to get the current span"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracer-operations), a `Tracer` should provide a method to obtain the currently active span.

[2020-09-03 21:20] pyohannes opened #318 "Add functionality to explicitly parent a span from a parent span or parent context"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-creation), the `Tracer` must provide the possibility to provide a parent span or a parent span context on span creation.

[2020-09-03 21:24] pyohannes opened #319 "Add functionality to create links on spans"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-links), we must provide a way to record links on spans.

[2020-09-03 21:25] pyohannes opened #320 "Add functionality to create events on spans"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events), we must be able to add events to spans.

Parts of this functionality are already implemented.

[2020-09-03 21:51] pyohannes opened #321 "Replace static RuntimeContext::context_handler_ global in the API"
We need to replace the [RuntimeContext::context_handler_](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/context/runtime_context.h#L69), as we shouldn't have static globals in the API.

A solution similar to the [TracerProvider](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/api/include/opentelemetry/trace/provider.h#L24) singleton should

[2020-09-04 19:48] erichsueh3 opened #323 "Prometheus Release 9.0 Causes a Port Binding Error When Using the Prometheus Exporter"
**Is your feature request related to a problem?**
Yes. Currently, the OpenTelemetry CPP repo uses the latest release, version 9.0, of the CPP Prometheus client. However, using this release will throw an exception when trying to use the Prometheus Exporter. The exception reads `libc++abi.dylib: terminating with uncaught exception of type CivetException: null context when constructing CivetServer. P

[2020-09-04 19:50] erichsueh3 commented on #323
This can be done by removing `git checkout v0.9.0` in line 52 of `./ci/do_ci.sh`.

[2020-09-04 22:31] maxgolov commented on #314
@pyohannes @g-easy @reyang @ThomsonTan @lalitb --- I'd like to discuss this during our next meeting, that possibly on Windows (and maybe other OS) we should use Abseil's port of `absl::variant`. The issue is that the `nostd::variant` that we have - does not work on Visual Studio 2015, while Abseil's works fine. I already did changes in my fork to verify this here:
https://github.com/maxgolov/opent

[2020-09-08 03:05] g-easy commented on #314
Replace the implementation of nostd::variant with Abseil's variant.h (but not add a build time dependency on Abseil)?

[2020-09-09 21:34] maxgolov commented on #314
@g-easy - we can use Abseil's variant.h with a stub for exception handler like this.. Maybe under compile time flag that controls whether we provide it, or if Abseil provides it:
[code]
At least that way we do not need to use Abseil's implementation of exception handler for header-only implementation of SDK API. I am not entirely sure if we need to use Abseil for Windows only or elsewhere too. `no

[2020-09-10 02:28] g-easy commented on #314
I would prefer to have a single implementation of nostd::variant. Especially if we're trying to maintain ABI compat.

[2020-09-10 07:59] lalitb commented on #314
Is exception handling only dependency we have as a static library ? Also, redefining  `ThrowBadVariantAccess` mayn't be enough, as there are other symbols defined in the static library which need to be usable ( e.g, catching exception `absl::bad_variant_access` ) :

[code]

Also are there any issues in using abseil novariant implementation for all the platforms. Or other way, fixing existing `nost

[2020-09-10 08:14] g-easy commented on #314
Do we have to link in Abseil or can we just _borrow_ their variant.h and bring the exception handling in line with our requirements (which are to not require EH)

[2020-09-10 09:36] lalitb commented on #314
From @maxgolov explanation, it seems to be latter - ie bringing abseil `variant.h`, and possibly other headers used within it, and dummy define the exception handling. So this will avoid linking with abseil library.

[2020-09-10 22:56] maxgolov commented on #314
@lalitb - that's right, it's only the exception handling part (it seems). So, in theory, we should be able to consume the Abseil's header. One issue with that though - need to check if this is internal detail, and what happens if our customer also links the Abseil's real implementation of the exception handler? Then we may end up with doubly defined symbol. Something that possibly can be addressed

[2020-09-10 22:59] maxgolov commented on #314
@lalitb - I am not against fixing our `nostd::variant` backport. I just confirmed that Abseil did it right, and this is certainly possible if we carefully review how Abseil is doing it. This is something to deal with non-primitive types where `nostd::variant` does not want to compile on vs2015.... IN terms of delivery: IF I need to ship it to somebody today and I'm compiling from source, I would t

[2020-09-11 22:16] alolita commented on #82
@reyang This implementation has been completed and merged. Please close this issue.

[2020-09-11 22:19] #82 closed

[2020-09-15 04:05] xukaren commented on #304
Hi! Is this still available? Could I pick this up for a first issue?

[2020-09-15 15:06] #316 closed

[2020-09-15 21:00] maxgolov opened #326 "ETW exporter"
This project is created in response to Community Bridge Q3-Q4. We are looking for interns to work on this project.

https://github.com/open-telemetry/community/issues/468

**Project**

Add exporter for **ETW (Event Tracing for Windows)** as one of the optional recommended exporters that languages may decide to implement as part of SDK.

**Logical Reasoning**

Application logs, service logs, even D

[2020-09-17 21:35] pyohannes opened #331 "Make SimpleSpanProcessor thread safe"
The [SimpleSpanProcessor](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/simple_processor.h) is not thread-safe: it is not safe to call the `Export` method on the exporter concurrently, and the `SimpleSpanProcessor` ends up calling `Export` from [different threads without locking](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/s

[2020-09-18 18:47] ThomsonTan opened #334 "Adding resource to TracerProvider"
OpenTelemetry [Resource SDK spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md) mentioned associating resource to `TraceProvider`, which seems missing the current [TracerProvider](https://github.com/open-telemetry/opentelemetry-cpp/blob/5d1898c01f779d0c75f432f23c4a651ad29f1431/sdk/include/opentelemetry/sdk/trace/tracer_provider.h#L18) impl

[2020-09-21 16:13] xukaren commented on #304
Fixed in #336

[2020-09-21 22:59] #321 closed

[2020-09-24 16:44] reyang opened #337 "Logging prototype"
The goal:

* Prototype the logging API that can be used by both the SDK consumer and SDK author.
  * If we could find an existing C++ logging API that is widely adopted + cross platform, we would want to leverage it instead of reinventing wheels.
* Implement the Processor and Exporter logic similar like SpanProcessor and trace exporter.
* Implement ElasticSearch Log Exporter which sends batches of

[2020-09-24 16:45] reyang commented on #337
@alolita @MarkSeufert @xukaren

[2020-09-24 16:46] reyang commented on #337
@maxgolov @lalitb @ThomsonTan FYI

[2020-09-24 18:08] xukaren commented on #337
done!

[2020-09-24 18:10] xukaren commented on #337
Both of us got approved :)

[2020-09-24 18:35] MarkSeufert commented on #337
@reyang I also just got my membership!
I'm excited to get started on this issue :)

[2020-09-24 20:20] alolita commented on #337
Thanks @reyang

[2020-09-25 12:45] shivam-51 commented on #326
Hi @maxgolov I would love to take on this project at Community Bridge. I am comfortable in C, C++ and Java and have contributed to various FOSS. Can you suggest me some material I should go through to get a better insight?

[2020-09-25 16:15] pyohannes commented on #287
`End()` calls are added for spans (this is required now). Also, #321 fixes the memory problems related to the global `context_handler_` variable.

[2020-09-25 16:15] #287 closed

[2020-09-25 20:28] maxgolov commented on #337
I would suggest we consider the following approach:

- capitalize on top of existing `std::map<nostd::string_view, common::AttributeValue>` to express any arbitrary strongly typed key-value property bag. Example here: https://github.com/maxgolov/opentelemetry-cpp/blob/4004c2d1ebc6bd9b1e55eaf9310726fc939f9de5/examples/TraceStreamer/main.cpp#L42

- consider the industry "best practices", looking how

[2020-09-25 20:33] maxgolov commented on #326
@shivam-51 - sounds good. Let's sync-up on Gitter: https://gitter.im/maxgolov

There's some initial read / implementation you can take a look here:
https://github.com/maxgolov/opentelemetry-cpp/tree/master/examples/ETWTracer

This depends presently on a proprietary header. But there's a minor mod we can make to utilize MsgPack serialization instead of `TraceLoggingDynamic.h`. Eventually the header

[2020-09-25 22:56] #317 closed

[2020-09-27 03:49] shivam-51 commented on #326
Hi, @maxgolov . Thanks for the initial read material.
I had messaged you on gitter but looks like you missed the notification :)
Today is the last date for applying so am following up here.
I understand that the project is essentially to create a ETW exporter which the cross-platform applications can access instead of accessing the WIN32 API. I went through your ETWTracer repo but could not create

[2020-09-27 19:17] maxgolov commented on #326
@shivam-51 - these are the additional materials:
- take a look at `json.hpp` library here: https://github.com/nlohmann/json - specifically the MsgPack encoder here: https://github.com/nlohmann/json#binary-formats-bson-cbor-messagepack-and-ubjson - write a simple program that populates JSON and transforms it into MessagePack binary serialized buffer.
- next stage is going to be to provide an export

[2020-09-28 23:54] maxgolov commented on #326
@shivam-51 @mishal23 @theadityasam - I'm gonna send a PR with two parts draft implementation:
- demo of how to use `EventWriteString` function with MsgPack-serialized buffer.
- and a test listener tool in C# that is accepting incoming events at the receiving end of the pipe (kinda mini-Agent for test and validation).

Subsequently we need to figure out the API and protocol details:
- logging vs. t

[2020-09-30 01:44] someshkoli commented on #326
Hey @maxgolov, Thanks for a quick update on the application. I'd love to work on this project as a part of community bridge.

[2020-09-30 02:10] #320 closed

[2020-09-30 06:26] EngAlaaEmad commented on #326
Hi @maxgolov i love to work in this project at community bridge, i am comfortable with C ,C++ and C#

[2020-09-30 08:50] prondubuisi commented on #326
Hello @maxgolov I got your well-written email. I applied for the Open Telemetry PHP project, but I will be following up on this one too for the fun of trying out my c++ skills.

[2020-09-30 15:23] The4kings commented on #326
Hi @maxgolov i would like to contribute in this project, as i have experience in C/C++ programming and web development.

[2020-09-30 20:43] tigrannajaryan commented on #337
Great to see this initiative.

Please consider structuring implementation in a way that also allows _other_ C++ logging libraries to use the functionality that you expose to emit logs in OpenTelemetry-compliant manner. So for example if Boost.Log in the future decides to support OpenTelemetry they can use Otel C++ Logging SDK for that.

This is for example how Otel Java is structured: https://gith

[2020-09-30 20:47] reyang commented on #337
Thanks @tigrannajaryan. FYI here goes a list of ways of logging in .NET https://github.com/open-telemetry/opentelemetry-dotnet/blob/a7bbefd0fc3e45e2291438e4f3d9702ffbfbe7f2/docs/logs/getting-started/Program.cs#L22.

[2020-10-01 05:39] maxgolov commented on #326
This is the draft implementation that should be sufficient to get started with the project. The goal is to shape it into ETW exporter that follows common principles of other OpenTelemetry C++ SDK exporters.

I did the initial very crude draft implementation that you should be able to compile right now:
https://github.com/maxgolov/opentelemetry-cpp/tree/maxgolov/etw_MsgPack

It's in this directory:

[2020-10-02 16:44] ThomsonTan opened #350 "Simplify test code setup in probability_sampler_test.cc"
As per [this](https://github.com/open-telemetry/opentelemetry-cpp/pull/347/#discussion_r498597288) comment from @maxgolov , the test cases in [probability_sampler_test.cc](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/test/trace/probability_sampler_test.cc) could be simplified a lot by extracting the test setup code to a template method with `constexpr` parameter.

[2020-10-03 22:27] AdhitiS commented on #326
Hey @maxgolov I would love to be a part of this project. I have prior experience in C , C++ and Web development. Can you please share some more insights on how to proceed with this project?

[2020-10-04 04:16] maxgolov commented on #326
@AdhitiS - Hello! :) Let's sync-up on [Gitter](https://gitter.im/maxgolov). You can try to clone the code above to get started, then feel free to ping me on Gitter if you have questions or get stuck with this.

[2020-10-07 21:22] xukaren opened #356 "[RFC] C++ Example Logging Statements"
## Introduction
This RFC aims to collect a variety of use cases of logging statements. They will be considered to help establish the convention and design of the C++ Logging API, which is a component necessary for the addition of OTEL Logging support (#337).

The goal is to obtain a collection of observability-specific logging statements that: (1) use different data types (custom or built in), (2)

[2020-10-08 19:53] wsargent commented on #356
Does this include things like https://github.com/nlohmann/json

[code]

or things like logfmt https://www.brandur.org/logfmt?

[2020-10-08 22:26] pyohannes commented on #331
@jsuereth is working on this issue.

[2020-10-09 02:51] maxgolov commented on #356
Thoughts:

- re. JSON - we are already using [nlohmann/json](https://github.com/nlohmann/json) for zPages. And we might as well allow `LogEvent(T)` template, where T is a `nlohmann::json` object. As a header-only add-on , higher-order module on top of SDK. NOT in SDK. In most cases the systems would require a flat-list rather than a deep structured object, as in most cases the DB storage systems (

[2020-10-09 07:55] #318 closed

[2020-10-09 17:51] ThomsonTan commented on #356
Would log initialization/configuration also be part of logging API instead of log statement, or we are going to put the into different RFC?

For the thoughts from @maxgolov , I suggest that the API doesn't depend on any other library like `nlohmann::json`, just C++ primitive types and the types defined in our API.

Also I think we want to avoid referencing any STL types in our API, as @maxgolov me

[2020-10-09 18:47] wsargent commented on #356
The other thing that stands out (but may be optional) is the use of markers.

For example, a logging statement may have

[code]

and be given a specialized HTTP header without changing the body of the

The concept was added by Logback to indicate when additional filtering / alerting needs to take place "out of band" of the logging event data, but it's useful as a general purpose escape hatch.

For

[2020-10-09 19:56] maxgolov commented on #356
@ThomsonTan - yeah, just to clarify - I'm not actually saying we should support JSON in API. I'm saying we can have a template method and a higher-level abstraction that transforms the JSON into "property list of variants" (`KeyValueIterable`) what we have today. As a header-only add-on , higher-order module on top of SDK. NOT in SDK.. basically not even API, other than the API potentially allows

[2020-10-09 19:59] maxgolov commented on #356
I think we need to have something like `auto logger = provider.GetLogger("...", configOptions)` that may ask provider to configure the logger by wiring it to specific destination. Eventually maybe even auth token / destination, such as API key, being part of the `configOptions` .. But we can omit that for now, leaving it totally opaque to the rest of logging API RFC. It's the implementation of the

[2020-10-09 21:54] maxgolov commented on #356
Re. `configOptions` -- TL;DR -- https://stackoverflow.com/questions/23322602/log4j-config-different-logs-to-different-files

I think we need to have `logger aliases` that may be rewired by `LoggingProvider` to one or multiple destinations at runtime, late binding, without necessarily providing any configuration options on API surface. That'd be much cleaner, and it'd be much easier to migrate the

[2020-10-12 13:42] lalitb commented on #356
I support the idea of having logging methods as below.
 - Unstructured logs :  (say) logger->log_error(nostd::string_view);
-  Key-Value pairs : (say) logger->log_debug(nostd::KeyValueIterable &);
- Templatized function which can be used by customer to bring their own custom types (json, xml, apache log format etc).

Also, if we can support `std::format` for unstructured logs, something like:
[cod

[2020-10-12 20:18] jsuereth opened #360 "Add integration tests for single-core machines"
**Is your feature request related to a problem?**
It's possible that the C++ API is used on single-core machines.   If we don't test our code on single core, it's possible we use threading primitives that require multi-core to make progress, e.g spin-locks.

**Describe the solution you'd like**
We should at a minimum KNOW if we support single-core machines via running integration tests against the

[2020-10-13 03:53] #4 closed

[2020-10-14 17:22] ThomsonTan opened #362 "Rename SpanContext to SpanReference"
Update needed to track these changes: open-telemetry/opentelemetry-specification#1075

[2020-10-14 22:30] TuckTuckFloof commented on #362
Is this issue still open?

[2020-10-14 22:51] ThomsonTan commented on #362
@TuckTuckFloof yes, are you interested to help this?

[2020-10-14 22:55] TuckTuckFloof commented on #362
Yea, I've been looking to do some open source stuff, complete first timer, now what do I have to do?

[2020-10-14 23:47] ThomsonTan commented on #362
Take a look at the spec link https://github.com/open-telemetry/opentelemetry-specification/pull/1075, make sure all the occurrences are correctly renamed in this repo, and follow our contribution guideline [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/CONTRIBUTING.md).

[2020-10-15 00:05] TuckTuckFloof commented on #362
I'm in, so look for more instances like the one in the spec link and make a pr then?

[2020-10-15 00:08] ThomsonTan commented on #362
That's right. Just a reminder, please also take a look at the contribution guideline above before uploading PR. Thanks and happy contributing.

[2020-10-15 00:14] TuckTuckFloof commented on #362
Thank you, and will do. I've already forked it and found 1 instance lol.

[2020-10-15 00:16] TuckTuckFloof commented on #362
Oh, I found span_context, would you like me to change those to span_reference for consistency?

[2020-10-15 00:22] ThomsonTan commented on #362
That's a good find. I think it is great to keep it consistent with the struct name. @open-telemetry/cpp-approvers please share thoughts.

[2020-10-15 00:38] TuckTuckFloof commented on #362
Alright, I got it done, I'm gonna hang around before the PR though, just in case you guys want me to change span_context to span_reference, as stated before

[2020-10-15 02:07] TuckTuckFloof commented on #362
@ThomsonTan Do you think I should just make a PR as is or should I wait for other responses?

[2020-10-15 02:41] ThomsonTan commented on #362
I think it is fine to create the PR.

[2020-10-15 02:44] TuckTuckFloof commented on #362
you got it

[2020-10-15 04:41] TuckTuckFloof commented on #362
Ok, so I couldn't get the tools/format.sh file to work, couldnt find buildifier and the link to get it just doesn't exist apparently

[2020-10-15 05:42] lalitb commented on #362
Make sure you install formatting tool by running this [script](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/ci/install_format_tools.sh).

[2020-10-15 05:47] TuckTuckFloof commented on #362
Oh, thank you, I hope this'll get it to work

[2020-10-15 05:53] TuckTuckFloof commented on #362
Alright, commited

[2020-10-15 19:09] #331 closed

[2020-10-15 22:43] TuckTuckFloof commented on #362
Alright, I'm back, it's telling me that considering that they are different commit histories, I can't make a PR

[2020-10-15 22:47] ThomsonTan commented on #362
Could you please share the detailed error message of creating the PR? Could you please try rebase your change to the latest and create PR again?

[2020-10-15 23:04] TuckTuckFloof commented on #362
I'll try the rebase because it literally doesn't say anything else other than that they're different commit histories. Which is weird because it shows me the changes I made.

[2020-10-16 12:54] lalitb opened #365 "Adding span collection limits"
As per the recent [spec ](https://github.com/open-telemetry/opentelemetry-specification/pull/942) change :

Max attributes per span : 1000
Max links per span : 1000
Max events per span : 1000

The upper bound needs to be validated.

[2020-10-16 13:07] lalitb opened #366 "Passing links associated with span to Sampler"
As per the [spec ](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampler), collections of links associated with span need to be passed as argument to Sampler. This needs to be fixed.

This is dependent on #319

[2020-10-16 16:31] #201 closed

[2020-10-18 02:39] xyira opened #368 "Consistent namespace scope resolution"
As suggested in this [comment](https://github.com/open-telemetry/opentelemetry-cpp/pull/363#discussion_r505600440), the scope resolution usage should be consistent across all files. A convention should be established to use either `opentelemetry::*` or simplified to `*`. This should be done across all files and namespaces.

cc @alolita

[2020-10-18 22:00] ahaeber commented on #154
I've recently worked with adding gRPC to an internal project with CMake so I'm trying to contribute a fix for this issue in #369

I couldn't quite figure out which gRPC version is used with Bazel, so it currently is set to v1.32.0. Let me know if something else should be used.

[2020-10-21 19:11] lalitb commented on #362
Please hold on this change, as there is ongoing discussion to revert back this renaming:

https://github.com/open-telemetry/opentelemetry-specification/issues/1126

[2020-10-22 15:24] pyohannes commented on #365
Those limits are not mandatory by the spec (they're a MAY), so I will remove the bug label.

[2020-10-24 05:35] #6 closed

[2020-10-26 22:01] maxgolov opened #375 "CI cmake-format tools 0.6.5 vs 0.6.13 produce different output"
CI uses older versions of the tools from Ubuntu 18.04. However, the more recent versions of the tools in Ubuntu 20.xx produce different formatting output, thus failing the CI.

CI:

[code]

Latest Ubuntu:

[code]

This is a bit interesting, cause one using more recent version of the distro would unlikely be willing to downgrade their version, given that the same `install_format_tools.sh` is gonna

[2020-10-27 20:42] maxgolov commented on #375
I don't know how to solve this. To me the output from `cmake-format 0.6.13` looks more neat / clean, but the CI would fail any `CMakeLists.txt` formatted with latest version of the tool. Maybe we should use more recent version of the tool, and auto-commit re-formatted code back automatically without failing CI (at least for the cmake format, not C++ code format).

[2020-10-29 19:05] lalitb commented on #362
@ThomsonTan  closing this issue  -as the changes in specs are reverted back  -  https://github.com/open-telemetry/opentelemetry-specification/pull/1127.

[2020-10-29 19:05] #362 closed

[2020-10-30 04:28] #219 closed

[2020-11-02 22:28] MarkSeufert opened #384 "Add .DS_Store to .gitignore"
Some Mac computers by default create .DS_Store files after opening a folder using the Finder window. For those computers, it makes it more difficult to stage changes to git, since using `git add *` or `git add .` would stage those unwanted files.

I propose to add these two lines to the .gitignore file:
[code]

This will maintain consistency between repositories too, since this is already done ins

[2020-11-12 13:07] lalitb opened #389 "Enable http(s) ssl verification for curl based http_client implementation"
Currently, the curl based http client implementation (https://github.com/open-telemetry/opentelemetry-cpp/pull/385) doesn't support ssl( client and server) verification. This needs to be implemented.

[2020-11-12 13:14] lalitb opened #390 "bazel build for curl based http client implementation"
Bazel build is missing for curl based http client implementation ( #385 ).
From CMake prospective, the changes are minimal. As it's pure header based implementation for curl, we check for the presence of curl library at unit-test level, and compile and run these tests only if library is present.
Refer: https://github.com/lalitb/opentelemetry-cpp/blob/http_client_curl/ext/test/http/CMakeLists.txt
P

[2020-11-16 19:30] #366 closed

[2020-11-17 04:54] maxgolov commented on #375
I added the fix in my build tools PR: #377  - to upgrade to 0.6.13, plus manually reformatted all CMakeLists. They look prettier when formatted with recent CMake tooling.

[2020-11-17 19:50] maxgolov opened #393 "Common platform builds: enhance CI to build in nested docker images"
@lalitb suggested this approach during code review.

Rather than targeting 'legacy' or 'latest' compiler and a default set of GitHub action images, we can implement better (and faster) test coverage with the following CI loop in nested Docker images:

| OS | Compiler |
|----|------------|
| Ubuntu 14.04 | gcc-4.8 |
| Ubuntu 16.04 | gcc-5.3.1 |
| Ubuntu 18.04 | gcc-7.4.0 |
| Ubuntu 20.04 | gcc-9.x.

[2020-11-17 23:03] maxgolov commented on #389
@lalitb - I am a bit concerned here. From `libcurl` perspective - if you install one coming with the distro with SSL support, the only difference is in `https://` and `http://` URL. The rest is handled by CURL in very opaque way, and you'd only need bindings to SSL cert check (optional). The rest is rather simple and intuitive. Do you mean installing the necessary dependencies, e.g. `libcurl+opens

[2020-11-17 23:04] maxgolov commented on #389
My point is we do not need to worry specifically about the TLS/SSL, unless there is a strong need to provide a callback for end-point certificate validation and client authorization.

[2020-11-18 02:55] lalitb commented on #389
Max - agree it should work seamlessly unless we want to support client authentication ( and hence provide Client certificate ). This issue was actually raised to enable SSL (server ) certificate check. I agree this is optional, but I am not sure if there are any security implication of bypassing this certificate check. I will anyway update the issue description.

[2020-11-19 09:17] lalitb commented on #319
#342 and #366 fixes it.

[2020-11-19 09:17] #319 closed

[2020-11-19 19:01] ThomsonTan opened #397 "Make version available for runtime query"
Track follow-up for PR https://github.com/open-telemetry/opentelemetry-cpp/pull/392#issuecomment-730570978. As we discussed in the meeting, we need make the version available at runtime like for exporters to query SDK version.

[2020-11-20 02:18] ThomsonTan opened #398 "Update implementation compliance specification"
[Implementation Compliance Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec-compliance-matrix.md) needs to be updated before release.

[2020-11-23 20:58] xukaren opened #400 "Span processor's ShutDown() and ForceFlush() do not match spec"
**Is your feature request related to a problem?**
Currently, the [SpanProcessor](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/processor.h#L49)'s `ForceFlush()` and `Shutdown()` methods return `void` instead of, as required by the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shutdow

[2020-11-25 17:06] mishal23 opened #406 "Upgrade version on Bazel & Bazelisk"
The current repository uses Bazel Version as [3.4.1](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/.bazelversion), whereas the latest version released is [3.7.0](https://github.com/bazelbuild/bazel/releases/tag/3.7.0)

Also, the Bazelisk version used is old and inconsistent in the build with [1.1.0 for Linux machines](https://github.com/open-telemetry/opentelemetry-cpp/blob/maste

[2020-11-25 18:00] #406 closed

[2020-11-26 04:16] lalitb opened #408 "Self-Diagnostics ( Error handling ) support"
As of now, the project is missing a consistent way of  exposing errors / diagnostic information at sdk/exporter/processor level. We can use this Issue to discuss on whether/how to provide this.

Specification briefly talks about it:
https://github.com/open-telemetry/opentelemetry-specification/blob/609a63784b2da7d59efe2a39822a23b09ae5b637/specification/error-handling.md#self-diagnostics

How diffe

[2020-11-30 16:32] #390 closed

[2020-12-01 01:22] maxgolov commented on #375
I'm closing this - since we updated to latest `v0.6.13` , there is a lesser chance of running into this issue. Recent Ubuntu 18.xx and 20.xx both have `v0.6.13` available, with `v0.6.13` being the current latest.

[2020-12-01 01:22] #375 closed

[2020-12-01 01:24] maxgolov commented on #393
Partially addressed by #377 ... I'll use this issue to describe the process in a markdown document, plus try it out on Linux image GitHub Action runner. Basically Ubuntu 20.04 GitHub Actions image may itself kick-off docker'ized build of all other Linux builds.

[2020-12-01 01:25] maxgolov commented on #389
@lalitb - got it. We may also need to supplement the test server we have in our repo with TLS / SSL support too. That'd be quite a bit of work though.

[2020-12-01 01:28] maxgolov commented on #360
@jsuereth - is this something we can run on GitHub Action - Linux image, with `--cpus=1` [option](https://docs.docker.com/config/containers/resource_constraints/#configure-the-default-cfs-scheduler)? This may cover Linux, but not Windows nor Mac.

[2020-12-01 23:47] xukaren opened #412 "Implementing a Recordable interface for Logs"
**Problem**
An important use case of logging is to allow log records to be sent to multiple export destinations, as seen in these logging libraries:
* [Log4cxx](http://svn.apache.org/repos/asf/incubator/log4cxx/tags/v0_9_7/xdocs/www/manual/Introduction.html#AppendersAndLayouts)
* [Plog](https://github.com/SergiusTheBest/plog#multiple-appenders)
* [Log4J](https://logging.apache.org/log4j/2.x/manual

[2020-12-02 17:51] lalitb opened #414 "Dogfooding / User Research"
From end-user prospective, try to instrument C++ tracing API as given in document :

https://docs.google.com/document/d/1rXT2eEAniVM7r8KiikzgJJ-r36shOg_twZP6GPzNvao/edit#heading=h.19lsfyhsve8e

[2020-12-03 09:30] meastp commented on #412
@xukaren I don't know if you think it's relevant, as you already have a multiple examples, but Boost.Log is also designed around multiple sinks / export destinations as seen [in the Boost.Log design overview documentation](https://www.boost.org/doc/libs/1_74_0/libs/log/doc/html/log/design.html).

[2020-12-03 15:00] jsuereth commented on #360
I think just using --cpus=1 on Linux is probably fine for now.  I"ll add that in a PR after the updated spin-lock (#415) goes through

[2020-12-03 21:04] xukaren opened #417 "Supporting single vs. multiple exporters per processor for Logs"
I think the approach most are leaning towards for logs, following the traces implementation, is attaching only 1 exporter to a processor. However, another consideration is to support multiple exporters per processor.

Advantages of attaching multiple exporters to a processor:
* Could reduce number of times batching is done

Disadvantages:
* Could also increase the time it takes to complete the exp

[2020-12-03 23:02] xukaren opened #418 "Define default timeout for all processor and exporter interfaces"
An idiomatic timeout that is finite should be defined consistently for traces, metrics, and logs, for the ForceFlush() and Shutdown() methods of the Processor, and the Export() and Shutdown() methods of the Exporters. This timeout should ensure these methods never block indefinitely, as per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk

[2020-12-03 23:59] xukaren opened #420 "Remove duplicate enum declarations"
Identical enums that are defined in multiple files can be removed and reused instead. An example is the `ExportResult` enum used in the `exporter.h` file in the [trace SDK](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/exporter.h#L15) and the [logs SDK](https://github.com/open-telemetry/opentelemetry-cpp/pull/403/files#diff-d506356831038e0a23ce

[2020-12-04 02:25] #397 closed

[2020-12-07 10:12] owt5008137 opened #424 "Compile error with ```google/protobuf/port_def.inc``` when using prebuilt protobuf"
**Describe your environment**

System: CentOS 7
Compiler: GCC 4.8.5
Branch: master
Installed dependencies:
+ Prebuilt protobuf 3.14.0
+ Only run ```git submodule update --init third_party/opentelemetry-proto``` to initialize submodules.

**Steps to reproduce**

Using cmake to build it.
[code]

**What is the expected behavior?**
Building success and install all include and libraries into ```<WHERE

[2020-12-07 14:17] lalitb commented on #424
Thanks for reporting. We will look into it.

 The current cmake install rule does api installation ( which is all header ). We are in process of documenting the install instructions which would make the process easy.

[2020-12-07 19:06] lalitb opened #426 "Improve test code coverage ( CI coverage test failure )"
**Describe your environment**
"Ubuntu 20.04.1 LTS"

**Steps to reproduce**
$ ./ci/do_ci.sh coverage
$ genhtml coverage.info

**What is the expected behavior?**
Need to have overall coverage more than 95%

**What is the actual behavior?**
Current coverage is 94.4%

**Additional context**
HTML report is attached,
![code_coverage](https://user-images.githubusercontent.com/1196320/101393590-56d2eb00-3

[2020-12-07 19:34] lalitb opened #427 "Prepare for test release"
This issue is to track doing a test release to ensure versioning, tagging, artifacts generation, changelog publishing works fine.
Plan is to have a test release mid december (~15th dec). This won't be intended for customers, and would be clearly indicated in release notes.
Release version : 0.0.1-alpha test release

Let's use this issue to discuss further on how to take it forward.
 - We do have n

[2020-12-08 02:18] owt5008137 commented on #424
@lalitb But I found the examples are also linked with ```opentelemetry_trace``` ,  ```opentelemetry_common``` and etc. Need these libraries also installed?
BTW: opentelemetry-cpp dn not provide cmake config files for cmake users, and some target names are not same as that in bazel BUILD, can I create a PR and add some support for cmake usage and export these library targets with the same name as b

[2020-12-08 06:13] lalitb commented on #424
@owt5008137 Thanks. We definitely need more hands here. Please feel free to create a PR. cc @maxgolov.

[2020-12-09 09:10] owt5008137 commented on #424
I create two PR. #428 only fix the include problem and #432 add cmake config support for all libraries. The PR export all the target with the same name as it in bazel BUILD.
I didn't change any c++ codes, but codecov shows #432 will decrease coverage? Maybe it need someone to review it?

[2020-12-09 09:33] maxgolov commented on #424
@owt5008137 - ignore the code coverage error. Your PR looks okay. I'll add some feedback later this week.

[2020-12-10 06:56] lalitb opened #436 "Add versioning and stability document"
This issue is to track the progress of our versioning and stability plan for OpenTelemetry

Reference:

https://github.com/open-telemetry/oteps/pull/143
https://github.com/open-telemetry/opentelemetry-specification/issues/1267

[2020-12-10 23:06] maxgolov commented on #68
I'll try to remove MPark variant and replace by Abseil Variant `absl::variant`. There is no other code in this repo that requires Boost License.

[2020-12-11 18:24] #400 closed

[2020-12-12 02:11] #384 closed

[2020-12-12 09:49] xyira opened #441 "Finding a workaround for silently dropping spans and logs"
A current issue in the Logger and Tracer implementation is in some places, spans and logs may be silently dropping.

This could happen for Logs when a Logger tries to get a  recordable from `processor->MakeRecordable()`. Since the processor could have thrown an `std::bad_alloc` exception but handled it and simply returned a `nullptr` to the Logger. The Logger would have a nullptr value for the Rec

[2020-12-13 02:49] xukaren opened #442 "Removing and refactoring `SpanDataAttributeValue`"
Currently in the SDK, `SpanDataAttributeValue`, defined in [trace/attribute_utils.h](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/sdk/include/opentelemetry/sdk/trace/attribute_utils.h) has the same implementation as `OwnedAttributeValue` in [common/attribute_utils.h](https://github.com/open-telemetry/opentelemetry-cpp/pull/438/commits/b28a759d0d095d61712ecc9111daa835373fc091#dif

[2020-12-14 10:00] lalitb opened #446 "dynamically generate curl header file with macro if curl installed"
Based  on comment here:
https://github.com/open-telemetry/opentelemetry-cpp/pull/445#discussion_r542216350
Instead of defining macro for all the `cpp` source files which use curl based http client, it's suggested to instead automatically generate/update the header file for WITH_CURL macro, and ensure we include this header file wherever needed.

[2020-12-14 23:17] xukaren commented on #412
Resolved by #438

[2020-12-14 23:17] #412 closed

[2020-12-16 05:53] lalitb commented on #398
Similar to: #289

[2020-12-16 06:04] lalitb commented on #108
#392 fixes it.

[2020-12-16 06:05] #108 closed

[2020-12-16 06:05] lalitb commented on #111
This is being done now.

[2020-12-16 06:05] #111 closed

[2020-12-16 06:11] lalitb commented on #37
This is there now: https://github.com/open-telemetry/opentelemetry-cpp/blob/master/docs/abi-policy.md

Please reopen if you think something is still missing.

[2020-12-16 06:11] #37 closed

[2020-12-16 06:12] lalitb commented on #2
Closing as we do have this proposal finalized and implemented.

[2020-12-16 06:12] #2 closed

[2020-12-16 06:23] lalitb commented on #134
Closing as we do have clarity on need for these nostd implementations,

[2020-12-16 06:23] #134 closed

[2020-12-16 19:17] ThomsonTan opened #454 "Test example code in CI"
We have varies code examples code [here](https://github.com/open-telemetry/opentelemetry-cpp/tree/master/examples), but there is no automation or CI tests to make sure they run as expected. We need include them in test automation for both bazel and CMake build.

@jsuereth @maxgolov @lalitb

[2020-12-16 19:53] maxgolov opened #455 "Discussion: do we need OTEP for ETW exporter?"
@lalitb @alolita @open-telemetry/cpp-approvers

I'm opening here so we can discuss the issue openly :)

We discussed on a weekly SIG call today to propose OTEP for ETW. However, since ETW is accessible only via Win32 API on Windows, which itself is only accessible from C / C++ code only -- no other languages have easy-to-use direct bindings to ETW. They all go thru native C function interface / ad

[2020-12-17 05:42] lalitb commented on #455
I think this would be more generic otep ( not specifically for ETW) if we plan to create i.e.,  From language prospective which exporters are important to reside in core. Putting `ETW` as example why it is significant from C++ (and possibly .Net ) prospective.

Also there is an existing otep discussion going regarding location of exporters : https://github.com/open-telemetry/oteps/issues/142 drive

[2020-12-17 17:21] bogdandrutu opened #461 "Allow Bazel to consume opentelemetry-cpp via http_archive against github's auto-zip feature"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on master.

Trying to use this library using bazel from a third-party repository.

**Step

[2020-12-17 19:55] MarkSeufert opened #464 "empty_attributes.h doesn't include #pragma once"
**Describe your environment**
I was building an example that included both the exporter's `in_memory_span_exporter.h` and trace's `simple_processor.h`. When I built the project using Bazel, I got the following error:
[code]

**What is the expected behavior?**
What I expected was that any header file that gets included more than once would be guarded with `#pragma once`. I found that the `empty_att

[2020-12-17 20:28] ovi-s opened #465 "Cannot build when WITH_OTLP is ON"
If I try to build on Visual Studio 2017 with WITH_OTLP ON, I got some errors. I will put the output below. If WITH_OTLP is OFF and in CMakeSettings.json is on false, the build is done without any problem.

**Steps to reproduce**
I cloned the master repository on my computer, I opened the folder and I tried to build (in any configuration)

**What is the expected behavior?**
Build without any proble

[2020-12-17 20:50] maxgolov commented on #465
@ovi-s - I'll take a look. Are you cloning the repo recursively with submodules?

git 2.13
`git clone --recurse-submodules https://github.com/open-telemetry/opentelemetry-cpp`

[2020-12-17 21:08] ovi-s commented on #465
Yes, I did.

[2020-12-17 21:33] maxgolov commented on #455
@lalitb - yeah, but projection is a different initiative.

My metapoint is - ETW exporter, being primarily accessible only from C++ code and normally not directly exposed to other languages - does not need an OTEP. Because it falls under the `Things that affect only a single language or implementation` exception. That is, predominantly, ETW is relevant to C++ SDK at this point ... because you just

[2020-12-17 21:50] maxgolov opened #466 "ETW exporter field names"
Opened to follow-up to action item in this PR https://github.com/open-telemetry/opentelemetry-cpp/pull/376

**Problem Statement**

ETW - Event Tracing for Windows - allows to express an event as structured key-value pairs. Field / property names for event - could be anything. The idea is to align ETW field names with OpenTelemetry protocol spec / OTLP spec as close as possible. However, some other

[2020-12-18 00:18] maxgolov commented on #465
I think it's broken by one of the recent gRPC changes in `CMakeLists.txt` in this PR:
https://github.com/open-telemetry/opentelemetry-cpp/pull/431

@ThomsonTan

I hit this issue while trying to build on Windows :

[code]

It used to work fine before.

@ovi-s - Would you mind rolling back to codebase before commit https://github.com/open-telemetry/opentelemetry-cpp/pull/431 , and see if the followi

[2020-12-18 00:46] ThomsonTan commented on #465
@maxgolov , for your failure seems it is missing gRPC installation from vcpkg, so you'll need rerun the setup script.

For the original error, I think it is expected CMake failure that `pthread.h` cannot be found on Windows, and perhaps that is not the root cause because there is no `required` on `find_package(Threads)`. @ovi-s could you please also share the console output of cmake run?

[2020-12-18 01:48] maxgolov commented on #465
@ThomsonTan - yes, you are right.

@ovi-s - could you please try the following:
- edit `CMakeLists.txt` to change the default to `WITH_OTLP=ON`
- try building in command line using `tools\build.cmd` script - this will build CMake - to - MSBuild project, then using MSBuild without Ninja. This is to rule out any differences in the two build systems.]

[2020-12-18 02:32] ThomsonTan commented on #465
@ovi-s could you help check whether https://github.com/open-telemetry/opentelemetry-cpp/pull/467 fixes your build issue?

[2020-12-18 02:46] maxgolov opened #468 "Simple processor and Simple Log processor use a non-standard feature deprecated in C++20"
These two pieces of code:

https://github.com/open-telemetry/opentelemetry-cpp/blob/68e510c68e2abff153fcc3cf02334fc24af92ee4/sdk/include/opentelemetry/sdk/trace/simple_processor.h#L75

https://github.com/open-telemetry/opentelemetry-cpp/blob/106c00a4a41d6aa00dac6ad19488efb8f1b4fbd5/sdk/include/opentelemetry/sdk/logs/simple_log_processor.h#L62

Should be rewritten as follows:

- assignment for anyt

[2020-12-18 02:51] maxgolov commented on #468
I'll fix it.

[2020-12-18 05:01] pyohannes commented on #455
Instead of writing an OTEP, one could just try to get [those lines](https://github.com/open-telemetry/opentelemetry-specification/blame/master/specification/library-guidelines.md#L31) of the spec removed:

It's anyway not clear what _vendor-specific_ exactly means.

[2020-12-18 05:55] lalitb commented on #455
That was the initial suggestion to raise PR to modify language guideline. We have a strong reason to add this as core exporter based on the project statement:
"
Add exporter for ETW (Event Tracing for Windows) as one of the optional recommended exporters that languages may decide to implement **as part of SDK**.
"

[2020-12-18 10:37] ovi-s commented on #465
Unfortunately it doesn't work

[2020-12-18 13:01] lalitb commented on #465
@ovi-s Just to be sure, did you run the setup script (`.\tools\setup-buildtools.cmd`) before trying build.

[2020-12-18 13:40] jsuereth commented on #461
FYI - The issue here is that "HTTP ARCHIVE" does not work with git submodules.  It relies on github to create a TAR file of all the source code necessary to build the project, but this does NOT pull down submodules.

There are two possible solutions:

1. We can create our own .tar.gz files when pushing tagged releases for consumption that are Bazel HTTP friendly.
2. We do not use any git submodule

[2020-12-18 13:54] jsuereth commented on #461
Also relevant: https://github.com/dear-github/dear-github/issues/214

[2020-12-18 13:55] jsuereth commented on #461
Also: https://stackoverflow.com/questions/12936014/include-a-github-submodule-automatically-in-download

[2020-12-18 15:40] lalitb commented on #455
@alolita  - Would need your input please for both the exporters ( ETW and Elastic ) . If we plan to move it to `-contrib` repo, the repo is not yet ready to take merges ( need to add build / ci scripts for this repo separately ).

[2020-12-18 16:27] lalitb commented on #427
A new test/alpha release has been created with these details :

  **Pre-release**
 v0.1.0
 aff3547
**Initial development release**

Alpha release of core packages:

* opentelemetry-api
* opentelemetry-sdk

and exporter packages:

* opentelemetry-exporter-otlp

Assets 2

[2020-12-18 16:27] #427 closed

[2020-12-18 17:32] jsuereth commented on #446
Note: There's also an aspect of the BAZEL build where it'd be ideal if we had a header file that included the necessary -D.  See #444 for an example in bazel where libraries using CURL need to add the defines.

[2020-12-18 17:56] ThomsonTan commented on #465
`.\tools\setup-buildtools.cmd` should be invoked automatically during CMake configure process. Yes, please share your CMake command line and all the console output if possible. Also make sure you checked out https://github.com/open-telemetry/opentelemetry-cpp/pull/467.

[2020-12-18 18:24] maxgolov commented on #465
One important addition: `setup-buildtools.cmd` installs things, and may need admin permissions for the first time. If using Visual Studio, you can run it as Administrator. Specific actions in there may invoke `vcpkg install` which itself may need tooling that might be missing. This machine setup step is generally done once from elevated shell, then the rest can be done from usual session in Visual

[2020-12-18 20:54] maxgolov commented on #465
@ovi-s - I see you use Visual Studio 2017, do you have an option to upgrade and try Visual Studio 2019 IDE? Visual Studio 2019 can be configured to use any older compiler (vs2015, vs2017). And I do not currently have Visual Studio 2017 IDE installed.

When I try building the SDK after running `setup-buildtools.cmd`, everything is compiling successfully.

CMake configure step from my system:

[code

[2020-12-18 20:58] maxgolov commented on #465
@ThomsonTan - do we need your fix merged to resolve the issue when the dependencies have not been pre-installed with `setup-buildtools.cmd` ? https://github.com/open-telemetry/opentelemetry-cpp/pull/467

[2020-12-18 23:50] ThomsonTan commented on #465
@maxgolov - I think we need merge https://github.com/open-telemetry/opentelemetry-cpp/pull/467 to resolve the missing dependency installations by `setup-buildtools.cmd`. But @ovi-s said the PR didn't fix the issue in this thread, I am wondering what is missing here.

[2020-12-19 02:48] maxgolov commented on #465
@ovi-s - is there a chance you can try Visual Studio 2019? It works for me with vs2019 IDE. I can't repro the issue. Even community edition should work.

[2020-12-19 08:37] ovi-s commented on #465
I need to use Visual Studio 2017 Professional, as this is the official tool at work. I will modify vcvars.cmd to accept also VS2017 Professional and I will try another build

[2020-12-19 20:46] hurdad opened #472 "exporters/otlp/recordable_test build fails with grpc"
**Describe your environment**
[code]
**Steps to reproduce**
[code]

[2020-12-21 19:20] #66 closed

[2020-12-21 20:11] maxgolov commented on #455
We discussed on a call with @alolita @MarkSeufert @xukaren @ThomsonTan that we let the intern projects merged here, both Elastic and ETW. Once we get the `contrib` repo set up and Alolita's OTEP approved (moving exporters to contrib), we may map `opentelemetry-cpp-contrib` repo as git submodule at `/contrib/` and modify the build scripts to respect the `WITH_${XYZ}` or `WITH_CONTRIB` option.

[2020-12-21 20:19] maxgolov opened #474 "Investigate if adding new types to common::AttributeValue breaks ABI compatibility"
There are several types that are presently missing in OpenTelemetry typing system. For example, `blob` or `byte array` - aka `uint8_t[]` . These types are available in other systems, e.g. MsgPack, ETW, etc.. However, not defined in OpenTelemetry spec.

Related spec issue that is advocating for addition of byte arrays:
https://github.com/open-telemetry/opentelemetry-specification/issues/780

One pr

[2020-12-21 21:28] maxgolov commented on #468
I added the fix in #374

[2020-12-21 21:35] maxgolov opened #475 "warning STL4029: std::atomic_*() overloads for shared_ptr are deprecated in C++20"
Use of functionality that is now frowned upon by C++20 compiler:

https://github.com/open-telemetry/opentelemetry-cpp/blob/b80dccbfffb65b97746aa45f491dcd0c1583ecec/sdk/include/opentelemetry/sdk/common/atomic_shared_ptr.h#L49

Code works. But the construct is deprecated and should be reworked.

`C:\work\opentelemetry-cpp.build_tools\sdk\include\opentelemetry\sdk\common\atomic_shared_ptr.h(49): warn

[2020-12-21 21:43] maxgolov commented on #461
We also need to consider what happens if some `custom` exporters get moved to `contrib/exporters` - which is easy to pull with a submodule, e.g. Elastic - used by many; or ETW - would be used by anything that ever relies on ETW, e.g. all Microsoft products, and assuming that Google has https://github.com/google/UIforETW - there are products, e.g. Chromium on Windows, that would use ETW for some fl

[2020-12-21 21:44] maxgolov commented on #461
..or maybe we should not be in a rush to move custom vendor stuff to `contrib`, and use `CODEOWNERS` files instead, keeping most stuff in the main repo.

[2020-12-21 22:51] pyohannes commented on #474
I think the biggest problems here might lie with the usage of `nostd::visit`. Here are the requirements for the argument to `nostd::visit`:

When we add a new type to a variant, recompilation might fail for certain usages of `nostd::visit` (so technically this even breaks API compatibility).

[2020-12-21 23:33] maxgolov opened #477 "Rework batch processor to elaborate in code comments / avoid while(...) loops"
There's a code in Batch Log processor that contains the following constructs:

[code]

These constructs look suspicious, as "what if" the other thread does not refresh the `is_force_flush` value - does it mean that we are effectively busy-waiting, burning CPU cycles?

Should this be supplemented with some timed idle-wait or with [std::thread::yield](https://en.cppreference.com/w/cpp/thread/yield)

[2020-12-21 23:38] alolita commented on #475
We should not be using deprecated features. Need to address these warnings in an automated way. E.g. excluding 3rd-party libraries.

[2020-12-21 23:53] alolita commented on #465
@ovi-s can you provide more info about your CLI output?

[2020-12-21 23:55] alolita commented on #464
Should be required for all header files. @MarkSeufert can you submit a PR for this fix?

[2020-12-22 00:00] alolita commented on #461
@jsuereth: action - will be looking at this issue for Bazel.

[2020-12-22 05:54] maxgolov commented on #68
I would propose we totally remove MPark variant - replacing it with a copy of implementation borrowed from `absl::variant`. I need this anyways to start supporting Visual Studio 2015 #314 ... Thus, removing MPark variant we will get rid of the Boost licensing issue.

[2020-12-22 05:57] #468 closed

[2020-12-22 16:36] #472 closed

[2020-12-22 20:27] maxgolov commented on #465
@ovi-s - I only tested in vs2019 (works CMake+ninja); and vs2017 build tools (works for CMake+MSBuild generated project in command line). I do not have vs2017 full IDE installed. But I will install one and give it a try to see if I can repro your scenario.. Does it all compile for you in command line if you use `tools/build.cmd` script?

[2020-12-22 20:42] maxgolov commented on #67
Main feature code is integrated in #374 . I'll add documentation and CI in a separate PR. Closing this one.

[2020-12-22 20:42] #67 closed

[2020-12-23 01:37] maxgolov opened #483 "Possible event loss in ETW exporter"
Addressing code comment that may lead to event loss. If ETW/MsgPack -encoded payload contains two sequential zeroes 0x00 0x00 , then  it appears that event may be lost. Need to use `EventWrite` instead of `EventWriteString` to solve this.

[2020-12-23 04:20] MarkSeufert opened #484 "Refactor Elasticsearch Log Exporter to use Synchronous HTTP methods"
**Is your feature request related to a problem?**
The Elasticsearch exporter currently uses [asynchronous http requests](https://github.com/open-telemetry/opentelemetry-cpp/blob/master/exporters/elasticsearch/src/es_log_exporter.cc#L181) to communicate with the Elasticsearch instance, where the error and response of the request is received through [callback methods](https://github.com/open-telemet

[2020-12-23 06:00] ThomsonTan commented on #424
Wondering whether this build error could reproduce based on the latest master? We added grpc++ dependency to OTLP targets which may include protobuf transitively.

[2020-12-23 07:36] owt5008137 commented on #424
I updated the codes and found ```protobuf::libprotobuf```,```gRPC::grpc++``` are only linked into example and test targets, not ```opentelemetry_proto``` . This problem may still exists. I have rebased #432 to resolve all the problems above-mentioned.

[2020-12-23 08:55] lalitb commented on #472
@hurdad - In case the problem is not solved, please reopen the issue. Thanks for reporting it.

[2020-12-23 16:14] lalitb commented on #474
As of now, opentelemetry proto supports these types:
https://github.com/open-telemetry/opentelemetry-proto/blob/286810dc20d40f6483abf719f2b8de28f543fc78/opentelemetry/proto/common/v1/common.proto#L27

Any changes in opentelemetry-proto will be directly affecting implementation across all the languages, and so I don't foresee them adding any new data-type in above after bumping up MAJOR version.

[2020-12-24 06:13] hurdad opened #488 "opentelemetry_trace cmake build error with -DBUILD_TESTING=ON"
**Describe your environment**
CentOS 8
opentelemetry-cpp master:7d786ed8c9d3fb88bb1dd0f95c261ad05d2a4f16

**Steps to reproduce**
cmake -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=Release -DWITH_OTLP=ON -DWITH_PROMETHEUS=ON -DBUILD_TESTING=ON -DWITH_EXAMPLES=ON .. && make -j8
-- The C compiler identification is GNU 8.4.1
-- The CXX compiler identification is GNU 8.4.1
-- Detecting C compiler ABI info

[2020-12-24 06:54] lalitb opened #489 "Move ElasticSearch exporter to contrib repo"
As per the opentelementry lanaugage [guidelines](https://github.com/open-telemetry/opentelemetry-specification/blob/f081ad568379c4c56f9cacfff70d88dd9b23a725/specification/library-guidelines.md#requirements), only specific set of exporters should be part of SDK implementation :
* Jaeger.
* Zipkin.
* Prometheus.
* OpenTelemetry Protocol (when the protocol is specified and approved).
* Standard outpu

[2020-12-24 07:38] lalitb commented on #488
Can't reproduce it.
If you don't mind, can you run these steps and post output of last two commands (3 & 4):

1. cd build && cmake -DBUILD_SHARED_LIBS=ON -DCMAKE_BUILD_TYPE=Release -DWITH_OTLP=ON -DWITH_PROMETHEUS=ON -DBUILD_TESTING=ON -DWITH_EXAMPLES=ON ..
2. cd sdk/src/trace
3. make -p | grep "CXX_INCLUDES =" | uniq
This should be something like :

4. ls /home/<user>/opentelemetry-cpp/sdk/includ

[2020-12-24 19:57] hurdad commented on #488
Sorry this was my bad. I had moved the files by accident.

Will you be adding install support for the libs? right now make install just installs headers

[2020-12-24 20:00] hurdad commented on #488
Also this test is failing for me

[code]

[2020-12-24 20:02] hurdad commented on #488
also i think you have typo in README.md

[code]

[2020-12-28 05:42] lalitb commented on #488
Yes, we have noticed this failing sometimes in our CI env, not getting consistent repo. If this is failing consistently for you, please provide us with your env ( OS version, compiler ) details.

It's listed twice but with different compiler versions.

Yes this needs to be done. Right now it only installs `opentelemetry-cpp-api` ( which is all headers ), and `opentelemetry-cpp-sdk` is to be suppor

[2020-12-28 19:16] maxgolov commented on #489
Guidelines also say: "...should be placed elsewhere (**the exact approach for storing and maintaining vendor-specific exporters will be defined in the future**).", without actually saying that we should move to contrib. There is an OTEP https://github.com/open-telemetry/oteps/issues/142 , but no conclusion other than: "**Consider having CODEOWNERS for specific exporters**" answer having the most u

[2020-12-30 02:58] owt5008137 commented on #424
Solved by merging #432

[2020-12-30 02:58] #424 closed

[2021-01-04 16:52] bogdandrutu opened #497 "Extract batch span processor configuration in its own class"
**Is your feature request related to a problem?**
It will be good to consistently use a "Options" class for all components in the opentelemetry ecosystem. As an example
see https://github.com/open-telemetry/opentelemetry-cpp/blob/master/exporters/otlp/include/opentelemetry/exporters/otlp/otlp_exporter.h#L14

**Describe the solution you'd like**
Add a SpanBatchProcessorOptions struct with config me

[2021-01-04 20:19] ThomsonTan opened #499 "Make ext.http.curl.BasicCurlHttpTests.RequestTimeout optional in test run?"
It seems the test `ext.http.curl.BasicCurlHttpTests.RequestTimeout` could take significant time for timeout in the total test running process. This slows local development process as the test is usually expected to complete in 1 minute.

[code]

[2021-01-04 23:38] ThomsonTan opened #500 "Add CMake example to contrib repo"
As we discussed in today's community meeting, we need some example to demo the consumption of our contrib repo (this repo is currently empty). @bogdandrutu mentioned the OTLP example is a good option to be moved there, but the Elastic search log exporter could also be a good option.

[2021-01-04 23:41] ThomsonTan opened #501 "Add Bazel example to contrib repo"
This is the same as https://github.com/open-telemetry/opentelemetry-cpp/issues/500, but for Bazel users to consume opentelemetry-cpp API/SDK.

[2021-01-05 04:18] lalitb commented on #499
This fix to use the same timeout interval for connection and response is as part of this PR  : https://github.com/open-telemetry/opentelemetry-cpp/pull/448/files#diff-34bb57227130d5826d6aae04c708dcd9c8adf500b365a4bfb0b6e5d02fc6d275R193.

Since there are other discussions in this PR, I will create separate small PR for the fix.

[2021-01-05 04:23] ThomsonTan commented on #499
Is the current default timeout 5 seconds? Seems the waiting I got is much longer than that.

[2021-01-05 04:57] lalitb commented on #499
Yeah, current 5 sec timeout is only used for receiving response from server, and not while creating connection. As we are not overriding the timeout to create connection, it uses the default timeout provided by libcurl ( which is 5 mins ):

https://github.com/curl/curl/blob/df1240ccac9b6efc86213161ee242f3118392fa1/lib/connect.h#L43

The above PR fixes this - ie using the same timeout value ( 5 sec

[2021-01-06 16:50] lalitb opened #507 "TraceContext propagation: Adding support for tracestate header"
W3C trace context propagation is using two headers :
 - Traceparent
 - Tracestate

Currently opentelementry-cpp implementation only support `Traceparent` header, and `TraceState` header support is missing, as indicated in #487 test.

[2021-01-06 18:21] #483 closed

[2021-01-07 02:20] maxgolov commented on #497
@bogdandrutu - are you suggesting 'generic' configuration, - should this configuration be at the `TracerProvider` level and apply to `Tracer` -> `Exporter` ? Since options might be different for different kinds of exporters: some require networking `host:port`; while others may require file / pipe name / path; some require ingestion / authorization keys in addition to `host:port`, or encoding type

[2021-01-07 02:23] maxgolov commented on #455
I'll close this issue. There are two possible options:
- once we set up the `contrib` repo - we move ETW in there. That'd be in alignment with the OTEP proposal; PR
- we keep it and add `CODEOWNERS` file to directory that contains ETW exporter.

Anyways, this is not a topic that deserves OTEP. Let's close it and follow-up during our usual C++ SIG meetings.

[2021-01-07 02:23] #455 closed

[2021-01-07 02:24] maxgolov commented on #326
Partially implemented in #376. Working to address comments from review in a separate PR.

[2021-01-13 04:54] ThomsonTan opened #513 "CMake find_package failed to import opentelemetry-cpp"
We added packaged installation in PR https://github.com/open-telemetry/opentelemetry-cpp/pull/432, which could install opentelemetry-cpp correctly to the designated target. But I got below message while import the installed package from a standalone project.

Seems we missed to pass include dir as `PATH_VAR` for `configure_package_config_file`.

  File or directory referenced by variable OPENTELEM

[2021-01-13 13:49] lalitb commented on #497
@bogdandrutu  - We need more details on how you expect it to be done. As mentioned by @maxgolov  - options would differ across components. Currently, this is what we are doing for Zipkin :

https://github.com/open-telemetry/opentelemetry-cpp/blob/84b0458ad857bf656dc72046982c9b31a8b7ad18/exporters/zipkin/include/opentelemetry/exporters/zipkin/zipkin_exporter.h#L22

[code]

[2021-01-13 14:27] lalitb commented on #442
#482 fixes this.

[2021-01-13 14:27] #442 closed

[2021-01-13 14:35] lalitb commented on #418
#419 fixes it. @ThomsonTan to confirm ?

[2021-01-13 14:36] lalitb commented on #489
Closing this based on above comments.

[2021-01-13 14:36] #489 closed

[2021-01-13 14:37] lalitb commented on #465
@maxgolov We can close this if it is not reproducible, as we don't see any further comments from @ovi-s

[2021-01-13 14:38] lalitb commented on #436
#437 closes this.

[2021-01-13 14:38] #436 closed

[2021-01-13 15:00] ovi-s commented on #465
Sorry guys, I did not have time to check again. I will do it no later than next week.

[2021-01-13 16:41] ThomsonTan commented on #418
Yes, set timeout to `std::chrono::microseconds::max()` resolves this issue.

[2021-01-13 17:16] #418 closed

[2021-01-13 23:32] bogdandrutu commented on #497
My point is that I would like to see a `BatchSpanProcessorOptions` struct and the current BatchSpanProcessor constructor to be changed to `explicit BatchSpanProcessor(std::unique_ptr<SpanExporter> &&exporter, const BatchSpanProcessorOptions options = BatchSpanProcessorOptions.Default());` or include the exporter in the options as well.

[2021-01-13 23:34] bogdandrutu commented on #461
@jsuereth I think this is now completed, I was able to build everything using bazel from an external repo and did not have to use git submodules for this project 💯

[2021-01-13 23:34] #461 closed

[2021-01-14 20:52] maxgolov commented on #497
Can we have different exporters have different structs, but optionally implementing a parser, like - `FromJson(json_config)` or `FromString(str_config)` .. in essence, we then consolidate all configuration objects using one common interface. Then if some metaprovider would like to consolidate different exporters - it may pass configuration to those as strings. Then each individual exporter (or con

[2021-01-14 23:22] bogdandrutu commented on #497
I see that as a next step, initially what I want is to have all components have their own Options (later that can implement an interface like you described) and use that object instead of manually passing the config params

[2021-01-21 11:55] #513 closed

[2021-01-22 09:43] ovi-s commented on #465
I cloned today again the project and now is working

[2021-01-22 18:52] maxgolov commented on #465
We can contribute a write-up for Visual Studio 2019. Building whatever multiple configurations with CMake works well with 2019, including configuration with OTLP ON. I noticed a few differences between vs2019 and vs2017. And at this time it'd be kinda "hard" (no time) to contribute a similar write-up for an older version of Visual Studio 2017...

We can say that we still support command line build

[2021-01-22 18:52] #465 closed

[2021-01-25 06:19] lalitb opened #530 "Add gRPC Instrumentation"
Add support for  gRPC C++ client and server api calls instrumentation either using
 - gRPC C++ inceptors ( if available - seems to be experimental support for now : https://grpc.github.io/grpc/cpp/classgrpc_1_1experimental_1_1_interceptor.html )
 -  gRPC channel filters - similar to how it is done for OpenCensus ( https://github.com/grpc/grpc/tree/master/src/cpp/ext/filters/census ).

[2021-01-25 19:06] TomRoSystems commented on #148
Is this issue still relevant after merging https://github.com/open-telemetry/opentelemetry-cpp/pull/504 ?

[2021-01-25 19:59] lalitb commented on #148
Seems so - #211 was supposed to provide fix.

[2021-01-27 16:53] lalitb opened #536 "Rename HTTPTextFormat to TextMapPropagator"
As per the specs:
https://github.com/open-telemetry/opentelemetry-specification/blob/b17f8c993af285cfb0b9cfeb872c15911c720ad2/specification/context/api-propagators.md#textmap-propagator

The relevant specs PR : https://github.com/open-telemetry/opentelemetry-specification/pull/793

[2021-01-27 17:39] lalitb opened #537 "TraceState interface is not compliant with specs."
As per Specs: ( https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracestate ):
 - Tracestate is represented as immutable list of string key/value pairs and form
 - All mutating operations MUST return a new TraceState with the modifications applied

Current implementation ( https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/

[2021-01-28 14:43] TomRoSystems opened #539 "Fix condition always false in http_trace_context and create common utils file for propagators"
**Description**
Bug was discovered during review https://github.com/open-telemetry/opentelemetry-cpp/pull/523 :
https://github.com/open-telemetry/opentelemetry-cpp/pull/523#discussion_r563690488

also move common stuff for `http_trace_context.h` and `b3_propagator.h` into one file.

[2021-01-28 14:44] TomRoSystems commented on #539
Please assing me to this issue.

[2021-01-28 15:50] ovidiubuligan commented on #530
I see a B3Propagator was commited  today , Is this the recomended format for trace propagation?  Or should the W3C format be used ?

[2021-01-28 17:19] lalitb opened #540 "Implement global propagators"
As per specs : https://github.com/open-telemetry/opentelemetry-specification/blob/11cc73939a32e3a2e6f11bdeab843c61cf8594e9/specification/context/api-propagators.md

**Global Propagators**
The OpenTelemetry API MUST provide a way to obtain a propagator for each supported Propagator type. Instrumentation libraries SHOULD call propagators to extract and inject the context on all remote calls. Propaga

[2021-01-28 17:21] lalitb opened #541 "Implement Composite Propagator"
As per specs:

https://github.com/open-telemetry/opentelemetry-specification/blob/11cc73939a32e3a2e6f11bdeab843c61cf8594e9/specification/context/api-propagators.md#composite-propagator

[2021-01-28 17:24] lalitb opened #542 "Implement Jaeger Propagator"
As per specs:
https://github.com/open-telemetry/opentelemetry-specification/blob/11cc73939a32e3a2e6f11bdeab843c61cf8594e9/specification/context/api-propagators.md#propagators-distribution

[2021-01-28 18:20] lalitb commented on #530
For instrumentations,

From instrumentation library prospective, it can be assumed that the right type of propagator would be already set ( refer : https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#global-propagators ). While it is not yet implemented for C++ ( https://github.com/open-telemetry/opentelemetry-cpp/issues/540).
So there w

[2021-02-01 06:03] lalitb opened #550 "Update SpanProcessor.onStart to accept parent Context"
as per spec https://github.com/open-telemetry/opentelemetry-specification/blob/7e0c10260178b947777cf9c11d7f7ac4d4700725/specification/trace/sdk.md#onstart
SpanProcessor.on_start should have a parent Context as parameter

[2021-02-01 18:21] #497 closed

[2021-02-02 07:05] lalitb opened #554 "Instrumentation: Implement Apache HTTP Server module for opentelemetry"
Enable requests served by Apache HTTP server for distributed tracing via Opentelemetry api/sdk, and contribute it to `opentelemetry-cpp-contrib` repo.

Apache HTTP server provides support for extending the existing core HTTP server functionality through dynamically loadable modules. . Eg, `mod-ssl` is one of the common modules provided by apache to handle HTTPS requests. This approach can be lever

[2021-02-02 07:39] lalitb opened #555 "Instrumentation: Implement Nginx module for opentelemetry"
Enable requests served by Nginx server for distributed tracing via Opentelemetry api/sdk, and contribute it to opentelemetry-cpp-contrib repo.

Reference:
1. Creating dynamic modules for nginx: https://www.nginx.com/blog/compiling-dynamic-modules-nginx-plus/#obtain-module
2. Opentracing nginx module: https://github.com/opentracing-contrib/nginx-opentracing

[2021-02-02 18:07] lalitb opened #556 "Sampler: SamplingResult should return TraceState"
As per the specs (https://github.com/open-telemetry/opentelemetry-specification/blob/ae31114e2d441f1ecd249ce11bb924a6ac54b5d6/specification/trace/sdk.md#sampler):
`SamplingResult` should contain :
- A sampling Decision.
- A set of span Attributes that will also be added to the Span
- A Tracestate that will be associated with the Span through the new SpanContext.

This needs to be changed in curren

[2021-02-03 07:44] #550 closed

[2021-02-03 12:44] Krishna-Koley17 opened #557 "Prometheus server and Exporter interaction"
What kind of change we have to do to hit Prometheus server from Exporter ???
Like code change , config change , address & port setting etc
Any sample code or GitHub reference will be very helpful.

Awaiting for quick response........

Thanks in advanced.

[2021-02-03 13:29] lalitb commented on #557
Please create github issue only for Bug or Feature requests. And use Discussion forum or gitter channel for any questions pertaining to usability of api/sdk or given feature. We would be closing this issue. Requesting you to start a new thread under `Discussion` forum, or `gitter` channel.

[2021-02-03 13:29] #557 closed

[2021-02-05 02:03] ThomsonTan opened #560 "Adding TraceState to SpanContext"
According to below trace spec, `TraceState` is required to be part of `SpanContext` which is currently missing in the [definition](https://github.com/open-telemetry/opentelemetry-cpp/blob/a1dc8bd22cb255caf4f9e7591c29d2347a3e3384/api/include/opentelemetry/trace/span_context.h#L33).

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#tracestate

[2021-02-05 04:49] lalitb commented on #537
#551 closes this

[2021-02-05 04:49] #537 closed

[2021-02-05 19:56] ThomsonTan opened #564 "Add installation instructions for CMake"
The install doc is empty which needs to be filled in with details.

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md

[2021-02-05 22:34] TomRoSystems commented on #554
Thanks. Please assign me.

[2021-02-05 22:46] TomRoSystems opened #566 "Add Semantic Conventions"
From spec:

https://github.com/open-telemetry/opentelemetry-specification/tree/main/specification/trace/semantic_conventions

Example existing solutions:
[Java](https://github.com/open-telemetry/opentelemetry-java/blob/main/semconv/src/main/java/io/opentelemetry/semconv/trace/attributes/SemanticAttributes.java)

[2021-02-09 10:28] lalitb opened #567 "Implement InstrumentationLibrary Instance in SDK"
As per specs for [Tracer Creation](https://github.com/open-telemetry/opentelemetry-specification/blob/1a0395e482d4fec6faab0ee4b7bc1dc5fdd3e493/specification/trace/sdk.md#tracer-creation) :

`New Tracer instances are always created through a TracerProvider (see API). The name and version arguments supplied to the TracerProvider must be used to create an InstrumentationLibrary instance which is stor

[2021-02-09 15:46] lalitb opened #568 "Trace API: Investigate discrepancy / gaps between specs and implementation"
As tracing api specs is feature-freeze, it is right time to identify the gaps/discrepancy between specs and our implementation, and create github ticket for any such gaps found.

[2021-02-09 15:48] lalitb opened #569 "Trace SDK: Investigate discrepancy / gaps between specs and implementation"
As Trace SDK specs is stable  (i.e, no backward breaking changes allowed), it would be important to identify the discrepanct/gaps between specs and implementation, and create ticket for such gaps.

[2021-02-09 16:45] ThomsonTan commented on #567
Do we need create a definition of `InstrumentationLibrary` for SDK or reuse the definition from OTLP? Reuse it will introduce dependency on protobuf.

[2021-02-09 17:01] lalitb commented on #567
Yes, we need to create SDK implementation, and then propagate to otlp exporter.

[2021-02-10 05:25] lalitb opened #571 "Add Getting Started / Quick Start guide"
Probably as separate markdown doc which can be referenced from main page.
As an example, how it is done by in Java:
https://github.com/open-telemetry/opentelemetry-java/blob/main/QUICKSTART.md

[2021-02-10 05:36] PrathameshAshra commented on #571
Can i take care of this ?
 I am planning to create a new .MD file and which will be a better version of
  https://github.com/open-telemetry/opentelemetry-cpp#quick-start
 the inspiration would be taken from
 https://github.com/open-telemetry/opentelemetry-java/blob/main/QUICKSTART.md

[2021-02-10 06:16] lalitb commented on #571
Sure @PrathameshAshra . Thanks for extending the help. Assigning to you. Would be good if you can come up some initial doc sometime next week, and we can then incrementally enhance it subsequently.
cc @pyohannes as he has plan to integrate it with API doc.

[2021-02-10 07:21] lalitb opened #572 "Switch to abseil::variant as default variant class across api"
opentelemetry-cpp api currenty brings 3 variants of `variant` class switchable at build time.
1. std variant ( `HAVE_CPP_STDLIB` switch :  https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/std/variant.h

2. abseil variant ( `HAVE_ABSEIL_VARIANT` switch:  https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry//nostd/absl/types/v

[2021-02-10 07:24] #314 closed

[2021-02-10 10:58] PrathameshAshra commented on #571
thanks @lalitb, would keep @pyohannes in loop. meanwhile would try to come up with initial doc or something like template ish.

[2021-02-10 19:42] lalitb opened #573 "Enable otlp exporter tests to build and run using cmake on ubuntu-latest."
As of now, not all the otlp exporter tests are building and running on ubuntu-latest even with WITH_OTLP=ON.

The exporter tests here : https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/otlp/test/otlp_exporter_test.cc are not enabled to build and run through [CMakeLists.txt ](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/otlp/CMakeLists.txt). As an e

[2021-02-10 19:45] lalitb opened #574 "Add Installation instructions for Bazel."
The install doc is empty which needs to be filled in with details.

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md

Similar issue for cmake: #564

[2021-02-10 19:50] lalitb commented on #536
@TomRoSystems - Can you please assign it to yourself. Not sure why I can't find your alias for Assignees.

[2021-02-10 20:02] ThomsonTan commented on #536
Probably need to join the OpenTelemetry community to be part of assignee? See below link for examples. I am assigning this issue to myself just for keeping it for @TomRoSystems. Feel free to take it once you join the community.

https://github.com/open-telemetry/community/issues

[2021-02-12 09:23] nikhil1511 commented on #79
Hi, I would like to work on this task. My understanding is that baggage will have multiple key, value pairs. Do we need new type something like shared_ptr of unordered_map<string, string>  in the variant of contextval for the same ?
Clarification on this will be helpful.
Thanks in advance.

[2021-02-12 10:59] lalitb commented on #79
@nikhil1511  - Thanks for showing interest on this task. Baggage extracts and inserts information in Context object ( https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/context/context.h). No new type should be needed for `ContextValue`.
Suggest you to go through baggage specs, reference implementation in other languages, and come up with the PR for C++. We can

[2021-02-12 11:04] nikhil1511 commented on #79
Thanks for the reply. But, baggage key "baggage" has multiple key value pairs as its value, right (example "key1=val1,key2=val2") ? So, how do we plan to support this in context ? Ideally "baggage" will be key in the context and value should be data structure representing "key1=val1,key2=val2".
Am I missing anything here ?

[2021-02-12 12:57] lalitb commented on #79
If required should be fine to create a new type in variant. Just ensure not to use any STL types (vector, maps, unordered_map ) within `api` intrfaces and as data member within classes in `api` to ensure ABI stability: https://github.com/open-telemetry/opentelemetry-cpp/blob/484700a0da2547852653271d2bdc10b50830bb86/docs/abi-policy.md

[2021-02-12 16:59] TomRoSystems commented on #536
Thanks. I've already become a member. Please re-assign to me.

[2021-02-12 17:26] sandakith opened #577 "Is centos a viable deployment option?"
Trying out opentelementry for the first time and wanted to check first if centos 7 is a option for deployment. Also, tried to search around previos issues and it seems folks run into issues with it. Appreciate if anyone can comment on their experience on compiling/running opentelemetry-cpp in centos varients

[2021-02-12 17:31] ThomsonTan commented on #577
@sandakith I am not aware of any known installation issue specific to centos (at least for CMake package installation). Free free to try it and report the issue here if any.

[2021-02-12 17:50] lalitb commented on #577
Github doesn't provide any  `rpm` based virtual environment to deploy and test, so all our CI pipelines are based on `ubuntu`. Our setup sciripts are specific to `deb` environment ( `ci/setup_cmake.sh`, `./ci/setup_ci_environment.sh` ), so you may have to setup the environment yourself, followed by running bazel/cmake to build/test. Would look forward to experience.

[2021-02-14 09:09] PrathameshAshra commented on #571
@pyohannes , any suggestions before I start  ?
I am  looking forward for something like https://github.com/open-telemetry/opentelemetry-java/blob/main/QUICKSTART.md but for CPP

[2021-02-16 22:23] pyohannes commented on #571
The Java QuickStart guide is a good template to follow. We currently only need sections for _Set up_, _Tracing_, and _Tracing SDK Configuration_. We should also cover multi-threaded scenarios (like in this [example](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/multithreaded/main.cc)).

I added a very minimal _Getting started_ as a [main page of the API documentation](http

[2021-02-23 18:06] #536 closed

[2021-02-23 18:27] #560 closed

[2021-02-25 18:58] ThomsonTan opened #587 "Add ForceFlush to TracerProvider (SDK only)"
As below PR merged to spec repo, we need add `ForceFlush` to `TracerProvider` in SDK.

https://github.com/open-telemetry/opentelemetry-specification/pull/1452

[2021-02-26 11:57] lalitb commented on #577
Closing this ticket. Let us know if you need further help.

[2021-02-26 11:57] #577 closed

[2021-02-26 14:22] jsuereth opened #589 "sdk/common/AtomicSharedPtr is not in common namespace"
see: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/sdk/include/opentelemetry/sdk/common/atomic_shared_ptr.h

vs. any other header in that directory, e.g. https://github.com/open-telemetry/opentelemetry-cpp/blob/main/sdk/include/opentelemetry/sdk/common/atomic_unique_ptr.h

This is just a minor nit, ran into it when migrating some AtomicUniquPtr<=>AtomicSharedPtr

[2021-02-27 01:25] #587 closed

[2021-03-01 14:09] lalitb opened #592 "Create alpha release v0.2.0"
With more than two months of first release, it's time to have another alpha release in first week of March.

[2021-03-01 14:11] lalitb opened #593 "Automate release cycle"
As discussed during Community SIG meeting, we should plan to have a release every two weeks. This task is to automate the release task through github actions / or another means.

[2021-03-02 20:10] lalitb commented on #592
It's created now: https://github.com/open-telemetry/opentelemetry-cpp/releases/tag/v0.2.0

[2021-03-02 20:10] #592 closed

[2021-03-04 07:46] #507 closed

[2021-03-06 13:12] seemk commented on #555
I guess we can close this now: https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx

[2021-03-09 11:10] #541 closed

[2021-03-09 22:45] ThomsonTan opened #602 "TraceFlags is not propagated from parent span span to child span"
When creating new `Span` with parent span context passed, we ignore the trace flags from the parent span context and always pass 0, see below code snippet. This blocks propagation of sampled status from parent span to child span.

https://github.com/open-telemetry/opentelemetry-cpp/blob/58a1e8c1ed712b3f47dc8f0c4660496e6702b077/sdk/src/trace/span.cc#L97

[2021-03-10 16:51] lalitb commented on #81
closing as initial implementation was completed as part of #280  #282 .
The implementation may change as metrics specs is being revisited.

[2021-03-10 16:51] #81 closed

[2021-03-10 18:45] ThomsonTan opened #604 "Convert all TODOs in source files to Github issues?"
TODOs in source files could be missed for tracking and triaging. I propose to convert all of them to Github issues. Let me know your thoughts.

[2021-03-10 19:15] #602 closed

[2021-03-11 14:55] #556 closed

[2021-03-12 17:17] #542 closed

[2021-03-16 02:40] bochencwx opened #611 "internal compiler error in gcc 7.3.1"
I compiled the opentelemetry-cpp in gcc 7.3.1 system, and I got this error:

bazel-out/k8-fastbuild/bin/api/_virtual_includes/api/opentelemetry/nostd/mpark/variant.h:881:13: internal compiler error: unexpected expression 'I' of kind template_parm_index
          typename T    = detail::type_pack_element_t<I, Ts...>,

How can I solve this problem if I still use 7.3.1?

[2021-03-16 03:27] lalitb commented on #611
Thanks for reporting the issue. Since it is compiler bug (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=84785), we won't like to do any changes in the code.

The problem is coming during compilation of mpart/variant class we are using internally. Can you validate if switching to other variant of `variant` helps compilation. Refer : https://github.com/open-telemetry/opentelemetry-cpp/issues/572 ( ba

[2021-03-16 06:47] bochencwx commented on #611
There still have something wrong with  'variant' by setting HAVE_ABSEIL_VARIANT.

bazel-out/k8-fastbuild/bin/api/_virtual_includes/api/opentelemetry/nostd/./absl/types/variant.h:509:7: internal compiler error: unexpected expression 'I' of kind template_parm_index
       class Tj = absl::variant_alternative_t<I, variant>,

[2021-03-16 18:30] lalitb commented on #611
OK. both abseil and mpark variant fail with same compiler error. It looks like that buggy compiler needs to be either upgraded or downgraded to make this work. Our build system uses  7.5.0 and it does work well.

[2021-03-18 06:40] nikhil1511 commented on #79
Hello Lalit,
I have implemented api, context interaction and propagation for baggage with unit tests. Currently, it is in my forked repo( https://github.com/nikhil1511/opentelemetry-cpp/pull/1 ). You have raised PR for baggage api already, how would you suggest me to go forward. Your inputs will be very helpful.
Apologies for delay from my side after last conversation.

[2021-03-18 07:17] lalitb commented on #79
@nikhil1511  - My PR is still draft. I see your changes in right direction . Can you go through my PR once and incorporate required changes from there. Basically what we want is:

 - TraceState and Baggage should reuse most of the code, instead of duplication at both the places. Also see if we can reuse header parsing part.
 - Only allocate needed memory. Current implementation allocated max possi

[2021-03-18 08:49] lalitb commented on #79
Also if you like to join our community meeting to discuss further, feel free to join coming week. You can find meeting details in repo root.

[2021-03-19 05:47] nikhil1511 commented on #79
@lalitb working on incorporating changes from your pr. I will try to put three separate PRs instead of my current PR where all following features are added
- Baggage API
- Context interaction of baggage
- Baggage Propagator

Do let me know if you think otherwise.

[2021-03-19 10:10] isma3ilovich opened #615 "The sampled flag using Context HTTP Propagator"
Hello,

I am using HttpTraceContext to inject my  context
`   opentelemetry::trace::Scope scope(rootSpan);
   propagatorFormat.Inject(Setter, headers,opentelemetry::context::RuntimeContext::GetCurrent());`

The sampled flag  is always 00 ( not sampled)

I'm using AlwaysOnSampler

`  auto provider = nostd::shared_ptr<opentelemetry::trace::TracerProvider>(
      new sdktrace::TracerProvider(processo

[2021-03-19 10:27] lalitb commented on #615
@isma3ilovich  - Just to confirm if you are using the latest code, as there were some changes done on propagating sampled flag:
https://github.com/open-telemetry/opentelemetry-cpp/pull/603/files

[2021-03-19 10:52] isma3ilovich commented on #615
@lalitb  Thanks for your quick reply.
No,I am using  v0.2.0

[2021-03-19 12:35] lalitb commented on #615
We plan to have new v0.3.0 release today, or early next week. Meanwhile, if you would like to try with latest commit.

[2021-03-19 17:19] thoism opened #618 "Getting undefined reference to `opentelemetry::v0::sdk::resource::Resource::Create while all libraries are there"
Hi,

I have compiled the opentelemetry-cpp libraries as shared and installed them on Ubuntu 18.04.

Unfortunately I did not find yet why I get the following error when I am trying to compile my library against them:

[code]

The symbol seems to be in place:

[code]

[2021-03-19 17:58] lalitb commented on #618
Works for me - this is link error, so please ensure you are passing this library as link option to compiler/linker:

[code]

[2021-03-19 18:04] thoism commented on #618
Thank you very much for the reply. I compared the actual symbol missing and the actual symbol in the library it seems to be related to `WITH_STL` cmake definition.

My library is looking for `opentelemetry::v0::nostd::variant`but the opentelemetry_resources library is compiled with the `-DWITH_STL=ON`

[2021-03-19 18:11] lalitb commented on #618
Good catch. As you are trying Resource API, just to let you know - the necessary sdk changes to inject resources to exporters are not yet complete, and under review (#580) for some design discussions. You may want to revisit it in couple of weeks.

[2021-03-19 18:17] thoism commented on #618
Right now I am getting a POC for distributed tracing with OpenTelemetry and the ELK Stack. If that works I am OK for now. I understand the libraries are under development.

Awesome stuff here. I am sure it will help us a lot understand the performance.

[2021-03-19 18:34] thoism commented on #618
I turned off WITH_STL and it compiled in the end just fine but in order to compile it with STL I had to add the following definitions in my CMakeLists.txt:

```add_definitions(-DHAVE_CPP_STDLIB -DHAVE_GSL)```

because the headers under /usr/local/include/opentelemetry are depending on these defs.

BTW a Conan package would be great.

[2021-03-20 10:26] isma3ilovich commented on #615
@lalitb  The issue is resolved with latest commit.
Thanks.

[2021-03-21 08:44] #615 closed

[2021-03-22 14:28] thoism commented on #618
@lalitb thanks for the help really! I am closing this

[2021-03-22 14:28] #618 closed

[2021-03-24 03:30] ThomsonTan opened #623 "Read SDK configurations from environment variable"
The SDK spec as below documents reading various configurations from environment variables which should be supported in our SDK.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md

[2021-03-24 06:27] #623 closed

[2021-03-24 15:46] #589 closed

[2021-03-25 05:54] #573 closed

[2021-03-25 13:24] nikhil1511 commented on #79
@lalitb should I raise a new PR from main branch for trace_state refactoring ? I have kept many changes from your draft PR and extracted out parsing logic of header string to common place. Also, planning to remove baggage part from the PR and add it in subsequent prs [Unit tests are not complete yet. So, I will raise after tests are complete.]
Or I should put patch on your draft PR ?

[2021-03-25 14:19] lalitb commented on #79
Better to raise a new PR for this.

[2021-03-25 19:05] lalitb opened #629 "Enable tls authentication for otlp grpc exporter"
As of now, otlp-grpc exporter doesn't support tls authentication :

https://github.com/open-telemetry/opentelemetry-cpp/blob/9aae3e64bdc71520fd3b737bc054ad8c604aead5/exporters/otlp/src/otlp_exporter.cc#L36-L41

This needs to be supported. The certificate should be made available to exporter programmatically and (optionally) through environment variable:

OTEL_EXPORTER_OTLP_CERTIFICATE 
OTEL_EXPORT

[2021-03-25 19:47] maxgolov commented on #629
Environment variables have effect on entire process. Does it mean that a single process can only utilize one and only set of certificates, for streaming to only one end-point at a time, and "dual-home" as a a concept cannot be supported? There may be other scenarios, where the code should dynamically rotate the cert, like it is done with KeyVault `GetCertificates` API at runtime. I realize it's mo

[2021-03-25 19:49] maxgolov commented on #629
Can we have a provision in our API to abstract away the environment variables, such as `GetCertificate` API in SDK. That way we can augment the actual implementation with more secure implementation that may not necessarily obtain the cert based on environment variable. Nearly all OS and Languages provide some form of crypto API for certificate management, including REST APIs for automated certific

[2021-03-25 22:55] pyohannes commented on #629
According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-configuration.md#programmatic), the SDK needs to make every configuration available programmatically:

This should give full flexibility in configuration.

Configuration via environment variables is [optional](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec

[2021-03-26 02:12] lalitb commented on #629
Thanks @pyohannes , @maxgolov  - Have updated the issue details accordingly.

[2021-03-26 10:59] lalitb opened #631 "Add simple http client/server example"
As one of the item in beta tracker milestone ( https://github.com/open-telemetry/opentelemetry-cpp/issues/80 ), add simple HTTP client / server example.

[2021-03-26 11:36] nikhil1511 commented on #79
@lalitb I have created a PR to be submitted to main branch. I am just waiting for couple of legal approvals (should be done quickly, I hope). Just wanted to give heads up on the update. Link : https://github.com/nikhil1511/opentelemetry-cpp/pull/2

[2021-03-26 17:32] padmaja-nadkarni commented on #629
I made a change in my fork of this repository to support SslCredentials by specifying the path to cacert pem file via grpc::SslCredentialsOptions. Following is a snippet of that code. If this feels appropriate, I am happy to contribute:

[code]

[2021-03-26 19:02] lalitb commented on #629
Thanks @padmaja-nadkarni  - would be great to get this contribution.  Please go ahead and raise the PR.

[2021-03-26 23:43] pyohannes opened #634 "Only support signed 64 bit integers as attribute values"
For attribute values, the [specification ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/common.md#attributes) only asks for one integer value: signed 64 bit integers.

However, currently our API currently supports [four integer types](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/common/attribute_value.h#L15)

[2021-03-27 04:58] maxgolov commented on #634
I think this is a disaster in the making.

[2021-03-27 05:00] maxgolov commented on #634
Let me elaborate: certain metrics flows rely on unsigned 64-bit integers. Most mature tracing systems support the full gamut of types. It is always easy to violently convert any other type to `int64_t` for OTLP exporter, if that is the only type to be supported by OTLP exporter, but it is much harder to get back and reconstruct unsigned 64-bit integer from `int64_t`  if typing information is lost

[2021-03-27 05:14] maxgolov commented on #634
Also narrowing it down to just `int64_t` - will present ABI compatibility challenge later on for C++ API, should any of these other types get added in future. I think from the language perspective and from the future-proofing perspective - you still have to accept `Integral` or `Float` type on API surface. No matter what number type it is on API surface. Then convert it to whatever is the type sup

[2021-03-29 16:36] lalitb commented on #634
Agree @maxgolov  typing information could to relevant to many telemetry systems, and loosing this at api level won't be good. As you mentioned, we need to find ways to preserve type in such scenarios.

[2021-03-29 19:28] maxgolov commented on #634
@pyohannes - makes sense to me!  We can ensure that we add a snippet to our documentation, something like: "**Please make sure that the value types passed to attributes are compatible with your exporter. Default OTLP exporter implementation allows for the following types (link) ... API surface enables type casting, as in changing an variable of one data type into another when and if it makes sense

[2021-03-29 22:42] maxgolov commented on #634
https://github.com/open-telemetry/opentelemetry-specification/issues/780

[2021-03-30 09:35] #629 closed

[2021-03-30 10:40] #631 closed

[2021-03-30 13:54] lalitb commented on #634
Does it mean that we would keep supporting all the types for attribute values at api surface, and let exporter decide how to handle these data? Won't that be non-compliance with api specs ?

[2021-03-30 18:47] maxgolov commented on #634
We can provide the list of types that are supported by OTLP exporter. And explain that any 'non-standard' type behavior is `reserved for future use` , due to unique ABI compatibility requirements of native code (other languages generally do not have these strict requirements).

I promised to follow-up with the list of practical reasons to advocate for inclusion of:
- `uint64_t` type; and
- - byte

[2021-03-31 03:27] maxgolov commented on #604
I think it's very good intention. However, this may create another hassle, i.e. when you know that something could have been done better. But it's not _very important_ , then instead of flagging it in code - you'd keep back and never disclose.. Most IDEs (Visual Studio, Eclipse) also have a way of finding all tags, such as `XXX` or `TODO` or `FIXME`, and listing them in a flat list. If you do that

[2021-03-31 18:38] lalitb opened #642 "non-inline functions in api/include/opentelemetry/trace/propagation/detail/*.h"
This will cause linking error if these functions are used across multiple instrumentation units, and later linked together in application.

[2021-03-31 18:40] ThomsonTan commented on #642
Wondering why it doesn't cause link error now?

[2021-03-31 18:42] lalitb commented on #642
https://github.com/open-telemetry/opentelemetry-cpp/blob/c03cc612b619bd87b32e270566f12162b98ef9a5/api/include/opentelemetry/trace/propagation/detail/context.h#L12

https://github.com/open-telemetry/opentelemetry-cpp/blob/c03cc612b619bd87b32e270566f12162b98ef9a5/api/include/opentelemetry/trace/propagation/detail/hex.h#L35

https://github.com/open-telemetry/opentelemetry-cpp/blob/c03cc612b619bd87b32

[2021-03-31 18:53] lalitb commented on #642
If we have two different libraries instrumented ( say mysql and sqlite ) using our api, and later try linking both these libraries in an application, we should see the linking error. As these free functions would be defined in both these instrumented libraries. I don't think we tested that.

[2021-04-01 06:31] anshulkumar19 commented on #420
@xukaren I would like to work on this issue, can you please assign it to me. This seems a tech debt issue and can arise again if further code changes are not merged carefully keeping this in mind.
Do we have any process or guideline to avoid these kind of issues once fixed, maybe we can integrate a static analysis tool to detect code smells in PR itself.

[2021-04-01 10:38] maxgolov commented on #564
I can add separate instructions for how to build using `CMake` via GUI - Visual Studio 2019 IDE.

[2021-04-01 10:41] maxgolov commented on #604
I think well-weighted approach may include both -- something like what Chromium does:

[code]

That way even if GitHub issue gets closed due to inactivity, the item remains in code. It's easier to spot some caveat while looking in code rather than searching for GitHub issues.

[2021-04-01 16:44] maxgolov commented on #466
Implemented this feature as a compile-time customization header with a list of custom field names.

[2021-04-01 21:54] pyohannes commented on #604
I think a combined approach is ok.

However again: I think we can automatically close PRs due to inactivity, but I don't think we should never close issues due to inactivity.

[2021-04-01 22:36] xukaren commented on #420
Yup, thanks so much. @open-telemetry/cpp-approvers should be able to assign you to this :)

[2021-04-01 22:56] reyang commented on #420
@anshulkumar19 assigned to you, thanks!

[2021-04-02 06:46] owt5008137 commented on #249
Maybe it's better to remove warning from protobuf?
There is a lot warnings which are come from protobuf headers, for example:

[code]

Can I create a PR to remove some warnings from protobuf?

[2021-04-02 07:09] lalitb commented on #249
@owt5008137  Thanks for reporting these warnings. It would be definitely helpful if you raise PR for fixing these warnings. Please go ahead and raise a PR.

[2021-04-03 07:04] #326 closed

[2021-04-03 07:04] #466 closed

[2021-04-03 10:58] harshita19244 commented on #414
Can you assign me this issue? I would like to work on it

[2021-04-03 13:08] lalitb commented on #414
@harshita19244 assigned to you. thanks.

[2021-04-03 14:54] harshita19244 commented on #414
"3. Pick a web framework and an HTTP client with OpenTelemetry support." Could you please clarify this? What web frameworks are we referring to? @lalitb

[2021-04-04 18:56] eyjohn opened #646 "CMake missing "Threads::Threads" target"
**Describe your environment**

- Ubuntu 20.04.2 LTS (WSL)
- Built and installed local OpenTelemetry-cpp 2181b01

**Steps to reproduce**

See test application at this commit: https://github.com/eyjohn/otel-cpp-test/commit/a5f80335bd02c5d11a0db94e7a0755893d188a4b

[code]

**What is the expected behavior?**

I would have expected for this simple application to successfully build, as the application i

[2021-04-05 17:58] maxgolov opened #648 "Null object pattern TracerProvider + container classes"
This is a follow-up to code review recommendation in this PR #519

Specifically to address this concern:

https://github.com/open-telemetry/opentelemetry-cpp/pull/519#discussion_r606341702

![image](https://user-images.githubusercontent.com/34072974/113606758-49104680-95fd-11eb-8f02-ed0d2ae05433.png)

**Proposed Solution**

Extract all empty implementation ( or [Null object pattern](https://en.wik

[2021-04-05 18:02] maxgolov opened #649 "Proper handling of Span Links in ETW exporter"
There is one missing API path, where ETW exporter is not accepting Span Links properly.

This issue is reported to address the concern found during code review.

https://github.com/open-telemetry/opentelemetry-cpp/pull/519#discussion_r606348661

It is of _lower priority_ since only specific path is affected, the core functionality is operational.

[2021-04-05 21:07] maxgolov commented on #604
Depends on how many issues we have in our backlog that are _lower-priority_ , at some point we may need to resort to using an auto-closure bot.

[2021-04-05 21:08] maxgolov commented on #68
Sorry for inactivity on it -- I'll switch to `absl::variant` #572 thus removing the need for Boost License. ETA: April 2021

[2021-04-06 01:38] maxgolov opened #652 "Set up CodeQL GitHub action for OpenTelemetry C++ SDK repo"
CodeQL is a security scanner: https://securitylab.github.com/tools/codeql/

It's very easy to set up: https://codeql.github.com/docs/

We should do it.

[2021-04-06 01:55] maxgolov opened #655 "'getenv': This function or variable may be unsafe. Consider using _dupenv_s instead"
This is _highly disputed_ topic ( see : http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1967.htm ).

However, there are certain compiler warnings that OpenTelemetry C++ SDK code generates in a few spots, that could certainly be not ignored, but carefully avoided.

This code:

https://github.com/open-telemetry/opentelemetry-cpp/blob/484700a0da2547852653271d2bdc10b50830bb86/sdk/src/resource/resourc

[2021-04-06 02:10] maxgolov commented on #249
@owt5008137 - agree with removing from Protobuf. I like the way how you handled it. Thank you!!!

[2021-04-06 02:26] maxgolov opened #656 "Allow to programmatically populate settings for OTELResourceDetector"
Presently resource detector uses environment variable here:

https://github.com/open-telemetry/opentelemetry-cpp/blob/484700a0da2547852653271d2bdc10b50830bb86/sdk/src/resource/resource_detector.cc#L15

This approach won't work for Windows Universal Store (e.g. Xbox) applications:
https://github.com/MicrosoftDocs/cpp-docs/blob/master/docs/cppcx/crt-functions-not-supported-in-universal-windows-platf

[2021-04-06 07:59] eyjohn opened #657 "`sdk::Trace::SpanDataLink` doesn't give access to key link information"
**Is your feature request related to a problem?**
I was trying to read the links for testing purposes, only to realise that the key part of the link (the span context referenced) isn't accessible. A TODO kinda summarises the gap here:
https://github.com/open-telemetry/opentelemetry-cpp/blob/afa2e79819a2fddb44487db8ffdf95aa62f47fc7/sdk/include/opentelemetry/sdk/trace/span_data.h#L64

**Describe the

[2021-04-06 08:46] seemk commented on #642
That slipped in :thinking: Think it's ok to make `api` a non-interface library having its compiled sources? Not sure it makes sense to inline everything

[2021-04-06 09:03] lalitb commented on #657
Thanks for reporting the issue, Agree on option 3 as the preferred option. We already return a const reference to the attributes map, so can add another method to return a const reference to `SpanContext`.

Time to start looking into all TODOs (#604 )

[2021-04-06 09:29] lalitb commented on #642
How can this be done, as the `api` is supposed to be a header-only library?

[2021-04-06 09:33] seemk commented on #642
Ah I just saw (https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/requirements.md)

But why does such a requirement exist?

[2021-04-06 10:20] lalitb commented on #642
I think it's the ease of use for devs of instrumented libraries, as they just need to include opentelemetry API headers for instrumentation, and no need to worry about building api as a static/shared library before use. Also, this ensures that api and instrumented libraries are built using the same compiler which eliminates the ABI incompatibility that may arise because of the different compiler o

[2021-04-06 13:12] #646 closed

[2021-04-06 13:13] eyakimov-bbg commented on #642
I think we covered this a bit in : https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/library-distribution.md
not sure how out of date this is at this point. In any case, unfortunately I've just been bit by the lack of these inlines too :(

[2021-04-06 13:21] eyakimov-bbg commented on #642
This would only create a link error if two different **built** targets include this. Given that api doesn't produce a built target by itself (since its header only), if only one child library uses this these headers then you will not have a problem. You will need two built targets to trigger this error. For example, lets say you build opentelemetry-sdk that pulls in this code from opentelemetry-ap

[2021-04-06 15:50] #642 closed

[2021-04-06 17:29] lalitb commented on #656
@maxgolov  there are three approaches to specify the resource attributes according to  specs
- [Resource::Create](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#create): Resource attributes can be specified as an argument to this function. This is something that can be leveraged by UWP.
- [Custom resource detectors](https://github.com/open-tel