[2021-04-07 07:57] lalitb opened #661 "Add TraceState to recordable interface"
TraceState information is required by otlp exporter (and possibly others ) and should be made available through Recordable Interface.

https://github.com/open-telemetry/opentelemetry-proto/blob/4a2aefa60114914fa7f2acd40ab376c9fc1f1e19/opentelemetry/proto/trace/v1/trace.proto#L81

Once this if fixe, TODO from below can be removed:
https://github.com/open-telemetry/opentelemetry-cpp/blob/85d306f124b

[2021-04-07 08:12] anshulkumar19 commented on #106
@reyang @lalitb I would like to work on this, can you assign it to me.

[2021-04-07 08:58] lalitb commented on #106
Sure @anshulkumar19. Assigned to you. Thanks for the initiative on this. Just for your information, this needs to be contributed in https://github.com/open-telemetry/opentelemetry-cpp-contrib repo, and not this repo.

[2021-04-07 12:42] lalitb opened #662 "SpinLockMutex : pause/yield instruction covering all the architectures/platforms"
**Describe your environment**
Currently SpinLockMutex implementation performs `std::atomic_bool.load()` operation in loop until the lock is acquired. This will starve other logical CPU cores sharing the same load-store unit as the spinning core. To overcome the issue, it executes yield/pause instructions specific to architecture and/or platform in between as below:

https://github.com/open-telemet

[2021-04-07 14:41] #657 closed

[2021-04-07 17:40] jsuereth commented on #334
A summary of `Resource` (and `InstrumentationLibrary`) design so far.

Tl;DR: Current proposal is to:

- [ ] Update `Tracer` so that it has an instance of `InstrumentationLibrary` (a name/version set of strings)
- [ ] Update `TracerProvider` to abide by spec regarding creation of Tracers.
- [ ] Update `SpanProcessor` and `Exporter` in trace SDK to leverage `ExportableSpan` (or some new type that h

[2021-04-07 18:29] seemk commented on #539
I believe this can be closed now as this code was refactored out with #608

[2021-04-07 21:13] jsuereth opened #664 "Allow multiple SpanProcessors per TracerProvider"
The [Specification states](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#span-processor):

- Span processors can be registered directly on SDK TracerProvider and they are invoked in the same order as they were registered.
- Each processor registered on TracerProvider is a start of pipeline that consist of span processor and optional exporter. SD

[2021-04-08 04:42] owent opened #665 "Erro when build with build Bazel 4.0.0: "ERROR: cc_toolchain does not have mandatory provider 'ProtoInfo'. ""
**Describe your environment**

OS: Windows
**Bazel version: 4.0.0**
Branch: main/85d306f124b95c6935ecbd7c0f9e5662f76b9c21

**Steps to reproduce**

[code]

**What is the expected behavior?**

```Build completed successfully```

**What is the actual behavior?**

[code]

**Additional context**

https://github.com/bazelbuild/bazel/issues/12887 and https://github.com/bazelbuild/bazel/issues/11694 may b

[2021-04-08 09:30] lalitb commented on #665
Thanks for reporting the issue. It's definitely good to upgrade to newer grpc version. The earlier used version 1.28.0 is one year old. Also, would be good idea to test against same grpc version for both cmake and bazel:

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ci/setup_grpc.sh#L13

cc @jsuereth

[2021-04-08 20:49] eyjohn commented on #661
I was looking into this and the following question came up:

Should we consider TraceState on par with TraceId/SpanId/ParentSpanId as per https://github.com/open-telemetry/opentelemetry-cpp/blob/7a0745de876dee7f2c137f61daa906c4c95d359f/sdk/include/opentelemetry/sdk/trace/span_data.h#L174 . I somewhat consider that trace_state is somewhat of an "identifying" property of the span that is immutable f

[2021-04-08 22:12] jeremyong commented on #662
You can use `std::this_thread::yield` as a catchall for the other circumstances https://en.cppreference.com/w/cpp/thread/yield

[2021-04-08 23:20] pyohannes commented on #661
Just a thought. What about having two methods:
[code]

Or just putting them into one method. I think passing the whole `SpanContext` will guard us against future requests (for `trace_flags` or `IsRemote`).

[2021-04-09 07:48] eyjohn commented on #661
Yup sounds better, I'll go with `SetIdentity(const SpanContext& sc, SpanId parent);`

As for the SpanData, I was thinking the mirrored interface(s) broken up as
- `GetSpanContext()`
- `GetParentSpanId()`

Any need to keep the old accessors for TraceId/SpanId around? I can remap them to read from the held SpanContext or just drop them altogether.

[2021-04-09 17:45] #420 closed

[2021-04-10 21:03] eyakimov-bbg opened #670 "`Context::HasKey` missing const qualifier"
**Describe your environment**
N/A (all)

**Steps to reproduce**
Trying to access [`Context::HasKey`](https://github.com/open-telemetry/opentelemetry-cpp/blob/9a99b970abbc7787007ee51cec391d5a12a527f8/api/include/opentelemetry/context/context.h#L79) from inside [`RuntimeContextStorage::Attach(const Context& context)`](https://github.com/open-telemetry/opentelemetry-cpp/blob/9a99b970abbc7787007ee51ce

[2021-04-12 05:03] #670 closed

[2021-04-12 20:49] maxgolov commented on #68
Closing as Duplicate of #572 - switching to Abseil Variant would allow us to remove Boost -Licensed code.

[2021-04-12 20:49] #68 closed

[2021-04-12 22:15] maxgolov commented on #655
I'll take care of this one.

[2021-04-13 03:58] #661 closed

[2021-04-13 13:50] apmcasai commented on #334
Hi,

Wondering if this will get done at some point? I'm using the library to record to elasticsearch but currently my service get recorded as "unknown" which is terrible for readability and might also collide if we add more CPP services...

[2021-04-13 13:58] lalitb commented on #334
@apmcasai  - Yes this is on priority for us, and we are working to add it sooner.

[2021-04-15 15:23] lalitb commented on #564
#612 fixes this. @maxgolov - we can create separate ticket for build instruction using VS 2019.

[2021-04-15 15:23] #564 closed

[2021-04-16 05:52] anshulkumar19 commented on #106
@lalitb Google repository (https://github.com/GoogleCloudPlatform/opentelemetry-operations-cpp) implementing gcp exporter. It would be duplication, any opinion?

[2021-04-16 14:10] lalitb opened #677 "Custom Trace and Span IDs Generation"
Custom IDs would allow users to set IDs that they need right at the beginning of a span. This is important if the downstream services or eventual backend that receives these spans need them to be in a certain format.

As per the specs:
https://github.com/open-telemetry/opentelemetry-specification/blob/b67faa4e0106cac194a837e3d419ae4fab9fc1c4/specification/trace/sdk.md#id-generators
```The SDK MUST

[2021-04-16 14:30] lalitb commented on #337
Closing this as all tasks are completed for this.

[2021-04-16 14:30] #337 closed

[2021-04-16 16:24] reyang commented on #106
Looks like the GCP exporter is not run by the OpenTelemetry community. Please reach out to @aabmass and @jsuereth and see what's their guidance.

Closing this issue now.

[2021-04-16 16:24] #106 closed

[2021-04-16 19:48] aabmass commented on #106
Yup, https://github.com/GoogleCloudPlatform/opentelemetry-operations-cpp is the correct place

[2021-04-19 08:16] lalitb commented on #109
closing as this is fixed majorly by #562, will add a separate ticket to add SDK documentation.

[2021-04-19 08:16] #109 closed

[2021-04-19 08:19] lalitb commented on #76
closed with #471

[2021-04-19 08:19] #76 closed

[2021-04-19 08:20] lalitb commented on #84
@pyohannes  - Is this duplicate to #62 ?

[2021-04-19 09:01] lalitb commented on #101
Closing this. as the examples and exporters have their own README.md in corresponding folders.

[2021-04-19 09:01] #101 closed

[2021-04-19 09:21] lalitb commented on #135
closing as #562  add api documentation. Will add the separate ticket for sdk documentation.

[2021-04-19 09:21] #135 closed

[2021-04-19 09:23] lalitb commented on #304
#578 fixes it.

[2021-04-19 09:23] #304 closed

[2021-04-19 09:29] lalitb commented on #488
Closing
 - install support for sdk is supported now.
 - Test failure `trace.FastRandomNumberGeneratorTest.GenerateUniqueNumbers` is not reproducible. Can open separate test if it fails again.

[2021-04-19 09:29] #488 closed

[2021-04-19 09:31] lalitb commented on #464
#479 fixes it.

[2021-04-19 09:31] #464 closed

[2021-04-19 09:33] lalitb commented on #554
This is added in contrib-repo: https://github.com/open-telemetry/opentelemetry-cpp-contrib/pull/7.

[2021-04-19 09:33] #554 closed

[2021-04-19 09:35] lalitb commented on #417
There is a separate issue to support multiple span processors ( #664). No plan is to support multiple exporters per processor.

[2021-04-19 09:35] #417 closed

[2021-04-19 09:43] lalitb commented on #356
Closing as this was design discussion.

[2021-04-19 09:44] lalitb commented on #294
Stale bug? Please reopen if still valid.

[2021-04-19 09:44] #294 closed

[2021-04-19 09:47] lalitb commented on #233
Closing - as `./ci/do_ci.sh format` does actual formatting.

[2021-04-19 09:47] #233 closed

[2021-04-19 09:53] lalitb commented on #203
This is not in the specs, and so not supported. As @pyohannes mentioned vendor can pass this as an option to the exporter constructor, and implement this timeout implicitly.

[2021-04-19 09:53] #203 closed

[2021-04-19 09:58] lalitb commented on #112
Closing as we do have the getting started doc now https://opentelemetry-cpp.readthedocs.io/en/latest/GettingStarted.html for API instrumentation. Will add a separate ticket for SDK documentation,

[2021-04-19 09:58] #112 closed

[2021-04-19 22:01] maxgolov opened #683 "List of components and their dependent component licenses"
**List of components and their Copyright notices / Licenses**

All code contributed in this repo is licensed under **Apache License v2.0** with a few notable exceptions:

- [MPark Variant](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/nostd/mpark/variant.h) - Boost license. This code can be removed entirely and replaced by Google Abseil implementation, tha

[2021-04-19 23:44] pyohannes commented on #84
@lalitb Yes, this is contained in #62.

[2021-04-20 09:08] #634 closed

[2021-04-20 19:35] eyjohn commented on #113
@lalitb is this perhaps a candidate for cleanup given that we now have:
https://opentelemetry-cpp.readthedocs.io/en/latest/

[2021-04-20 19:57] lalitb commented on #113
Yes right. I did few cleanups yesterday, seems this got missed out. We don't have sdk documentation ( as sdk is still evolving) but will create a ticket specific to that.

[2021-04-20 19:57] #113 closed

[2021-04-20 20:30] eyjohn opened #684 "Simplify sdk library structure"
The sdk is currently structured a little inconsistently compared to some of the other packages/areas in that it has a shared headers target but a separate built target for each section.

It may be simpler to either:
1. Mimic the structure of exporters where multiple libraries are defined at root level with select headers that apply to just them e.g. [exporters_ostream](https://github.com/open-tele

[2021-04-21 00:57] ThomsonTan opened #685 "Create readme.md under /ext"
Document which components should be stored in `ext` folder.

[2021-04-21 07:11] lalitb commented on #684
As per my understanding, this was planned as per the source code distribution package we plan to release  - one package each for API and SDK, and separate packages for the exporters. If we later decide to move to have API and SDK packages for each of the signals ( trace, logs, metrics), the first option would make sense.

[2021-04-21 07:13] #677 closed

[2021-04-21 09:20] #79 closed

[2021-04-21 09:36] nikhil1511 opened #687 "Implement baggage propagator"
We need to implement a baggage propagator and context interactions for it.
Opentelemetry specification docs for the same : https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md

[2021-04-21 09:47] lalitb commented on #365
@anshulkumar19  - I have assigned it to myself, while you are working on it ( to ensure there is no parallel work on it ).

[2021-04-21 09:50] anshulkumar19 commented on #365
Thanks @lalitb

[2021-04-21 18:00] eyjohn opened #688 "Document common usecases and recommended usage"
_(came up during OpenTelemetry C++ SIG)_

Creating this issue to track the common use-cases that we want to document in more detail. It would be ideal to add this documentation to [readthedocs](https://opentelemetry-cpp.readthedocs.io/en/latest/)/Getting Started so that these common users can get started quickly without having to fully understand all the build options.

We can start in the roles d

[2021-04-22 12:10] #539 closed

[2021-04-22 12:11] #555 closed

[2021-04-23 07:04] ThomsonTan opened #694 "Support multiple tracers in TracerProvider"
`TracerProvider` could only host 1 `Tracer` object because `Tracer` is class member of `TracerProvider` class. We need support multiple traces in `TracerProvider` after we add `InstrumentationLibrary` which acts as identifier of the `Tracer`.

https://github.com/open-telemetry/opentelemetry-cpp/blob/a97892041159a0687d0a8fb23dc2ab1f1716445c/sdk/include/opentelemetry/sdk/trace/tracer_provider.h#L76

[2021-04-23 13:52] lalitb opened #695 "Propagate instrumentation library information to exporters"
Instrumentation library information -  name and version - should be propagated to exporters.
This is dependent on #567, once we have InstrumentationLibrary instance created for each tracer.

[2021-04-23 14:07] #540 closed

[2021-04-26 10:10] contractormarketplace opened #696 "opentelemetry cpp unable to connect to collector"
I am running the example program provided :-

opentelemetry-cpp/examples/simple/example_simple

The program is not sending spans to the collector.

**Environment

OS: Ubuntu 20.04.2 LTS
Collector Version aws-otel-collector-0.8.0
Dataprepper Version 0.8.0-beta

[2021-04-26 10:12] contractormarketplace commented on #696
collector and data prepper configurations are attached

[otel-collector-config.yml.txt](https://github.com/open-telemetry/opentelemetry-cpp/files/6376192/otel-collector-config.yml.txt)
[trace_analytics_no_ssl.yml.txt](https://github.com/open-telemetry/opentelemetry-cpp/files/6376193/trace_analytics_no_ssl.yml.txt)

[2021-04-26 13:14] lalitb commented on #398
Duplicate to #289

[2021-04-26 13:14] #398 closed

[2021-04-26 13:15] lalitb commented on #214
#380 fixes it.

[2021-04-26 13:15] #214 closed

[2021-04-26 17:32] #567 closed

[2021-04-27 01:10] ThomsonTan commented on #694
Fixed by #693.

[2021-04-27 01:10] #694 closed

[2021-04-27 05:47] maxgolov opened #701 "OpenTelemetry C++ SDK build with vcpkg / OTLP-gRPC: 260 symbols MAX_PATH limitation"
This is NOT OpenTelemetry C++ SDK issue. But rather a build issue with ninja, described here:

https://github.com/ninja-build/ninja/issues/1900

**Problem Description**

Imagine a project that builds OpenTelemetry C++ SDK as a dependent git submodule in its own build tree. OpenTelemetry C++ SDK on Windows is easy to build using vcpkg. However, there is a file path length limitation of 260 symbols

[2021-04-27 06:28] maxgolov commented on #655
@ThomsonTan - since you're fixing it in your PR #698  , I'll assign it to you.

[2021-04-27 06:31] maxgolov commented on #474
Confirmed that it will break ABI compat. For that reason @pyohannes kept back the `reserved` types for future use, so we don't need to adjust the API surface when the types get added to the spec in future. There is also a precedent of C# SDK supporting some extra types already. So we should be good for now. I'm gonna close this issue, since all types we immediately need have been kept on API.

[2021-04-27 06:31] #474 closed

[2021-04-27 06:33] maxgolov commented on #215
I can only confirm at this point that API headers + ETW exporters are working with Visual Studio 2015 Update 2. I have not tested the rest of code, i.e. unsure if we can build gRPC, for example. If we require proper `C++14` support, then 2015 Update 2 may not always work .......... @ThomsonTan

[2021-04-27 06:35] maxgolov commented on #215
I am removing `priority:p1` label at this time based on the following:
- customers that require that old compiler may use ETW exporter and out-of-proc listener. Out-of-proc listener may subsequently use OpenTelemetry C# SDK, for example, to forward data to OTLP receiver.
- Visual Studio 2017 is known to compile gRPC exporter just fine.

Other features and exporters should be good.

[2021-04-27 08:45] maxgolov opened #703 "C++20 readiness (build with STL classes is failing)"
**This is C++20 compatibility clean-up issue**

The issue is unique to the build with:
- Visual Studio 2019 - `latest`
- C++20 enabled
- `HAVE_CPP_STDLIB` build option enabled (to use all API surface classes from STL)

This build combo may become relevant in future once we default to `C++20` and above support. Main problem is [described here in this thread](https://stackoverflow.com/questions/3387

[2021-04-27 09:32] maxgolov commented on #701
At this time I think we should capture this detail somewhere in `Building OpenTelemetry for Windows` document.. OR MAYBE an option that allows to host `vcpkg` outside of build tree, using shorter path.

[2021-04-27 09:53] jefjos opened #705 "Error linking OTEL library"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.
Platform - WSL
Buildsystem - CMake v3.19

Code

main.cpp

[code]
CMakeLis

[2021-04-27 10:48] meastp commented on #701
@maxgolov how about using vcpkg's manifests feature (a vcpkg.json file describing dependencies)? And optionally a custom registry if there are packages that aren't in the official vcpkg registry (a custom git repo with custom ports)?

[2021-04-27 11:48] #655 closed

[2021-04-27 15:51] lalitb commented on #705
Thank you for reporting the issue with all relevant details.
I had a quick run on the example posted by you ( using cmake 3.15.2 - the one which is installed with me locally ), and I was able to build it successfully. Will try it out with the cmake version used in the test above (i.e 3.19)

[code]

[2021-04-27 17:16] #703 closed

[2021-04-27 19:15] maxgolov commented on #701
@meastp - it should indeed work fine for the usual build pipelines, like Azure Hosted agents or GitHub Action runners. Maybe that is the best option. I think what we do with `tools/vcpkg` was not be the best option after all.. OR at least we should add some build parameter - environment variable that would prefer `vcpkg` from short path, like `C:\vcpkg` that you mentioned, instead of using `vcpkg`

[2021-04-27 19:23] maxgolov commented on #684
I agree with both statements, that we could have made it "more flat" .. And at the same time - we need to keep the `api` package separate. For example: ETW exporter (header-only) presently uses near-zero code from `sdk`. So any churn in `sdk` is not affecting ETW exporter. About the same comment would apply to other exporters or SDKs implemented simply based off `api` contract.

I'm also wondering

[2021-04-28 04:19] lalitb commented on #705
Ok. I validated using cmake-3.20.1 too, and it works fine. Can you ensure that opentelemetry-cpp is installed correctly in the system path, probably check the content of below directories ( on *nix/wsl ):
[code]

[2021-04-28 11:42] meastp commented on #701
@maxgolov If you use `vcpkg.exe integrate install` then you don't need to communicate where your vcpkg installation is.

I think it would be a better option to either use dependencies as submodules etc. OR use vcpkg with manifests (and custom registries if needed) - not a combination. This is more in line with the documentation of vcpkg, and I think the experience would be smoother also :)

[2021-04-28 19:19] #695 closed

[2021-04-28 19:50] maxgolov commented on #701
I think we can find creative ways of handling it without `vcpkg instegrate install`. My understanding we can still possibly pull the `vcpkg`, but specify some shorter path to build trees. That'd solve it. Presently the issue is only happening with gRPC, and gRPC is the main component that pulls so many other deps, that it's _easier_ to handle the build and installation of it on Windows with `vcpkg

[2021-04-28 20:38] seemk opened #711 "context: support getting and setting span without a key"
It is not possible get and set the span on a context without using the span key, e.g. current usage of getting a span:

[code]
According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#context-interaction):
[code]

The key based access is used everywhere internally and externally, for example nginx instrumentation has a helper functi

[2021-04-29 02:20] maxgolov opened #713 "Allow to build SDK + contrib repo via `BUILD_CONTRIB` build option"
**Is your feature request related to a problem?** _Not really a problem..._

OpenTelemetry C++ SDK contrib repo:

https://github.com/open-telemetry/opentelemetry-cpp-contrib

may contain additional "non-standard" exporters that are maintained by community, e.g. `fluentd` exporter, for example.

**Describe the solution you'd like**

I would like to implement a build option for the main repo that al

[2021-04-29 04:42] maxgolov commented on #696
This example is not actually sending to `OTLP` exporter, but to `OStreamSpanExporter`

https://github.com/open-telemetry/opentelemetry-cpp/blob/a3755f492cb1de671f348b33bd4965b4eac995d3/examples/simple/main.cc#L14

Have you modified it to use OTLP exporter instead, if so - could you please attach your modified example.

[2021-04-29 06:02] nkrishnappa commented on #705
Hi @lalitb ,

We have also tried linking cpp client , However facing similar issue.
Platform - ubi8, rhel 8
Buildsystem -
[root@c75b9f14a114 build]# cmake --version
cmake version 3.19.6

CMake suite maintained and supported by Kitware (kitware.com/cmake).
---
Installation Steps:

`# Build and install opentelemetry
RUN cd ~/dependencies && git clone --recurse-submodules https://github.com/open-tele

[2021-04-29 06:04] meastp commented on #701
@maxgolov I'm not just talking about how to solve this specific issue, but using vcpkg more in line with how the documentation suggests it be used :) If you want to explore this more, I'm happy to help :)

Keep in mind that `vcpkg.exe integrate install` is done independently of building opentelemetry - it is a user-wide one-time operation.

However, I think that you want to support multiple differ

[2021-04-29 10:03] jefjos commented on #705
The only difference I can spot is I'm missing the file - opentelemetry-cpp-target-noconfig.cmake

[2021-04-29 13:19] contractormarketplace commented on #696
Thanks @maxgolov for your guidance.

I updated the code to have OtlpExporter as follows :

  auto exporter = std::unique_ptr<sdktrace::SpanExporter>(
      //new opentelemetry::exporter::trace::OStreamSpanExporter);
      new opentelemetry::exporter::trace::OtlpExporter);

But the code does NOT compile, the include file included from otlp_exporter.h, includes the following

opentelemetry/proto/col

[2021-04-29 13:44] lalitb commented on #711
I Agree. The current location and namespace look good, I don't think we are using it outside propagators.

[2021-04-29 18:46] #664 closed

[2021-04-30 02:07] ThomsonTan commented on #705
@jefjos what is the linking issue? From the original post, there is CMake warnings but the build files were still produced. Would the build succeed based on that?

[2021-04-30 02:36] ThomsonTan commented on #696
Did you build opentelemetry-cpp with OTLP? With CMake, you'll need passing `-DWITH_OTLP=ON` to its configuration command line.

[2021-04-30 02:52] ThomsonTan commented on #154
@lalitb should this be as building OTLP+gRPC with CMake is supported?

[2021-04-30 02:56] ThomsonTan commented on #350
The test code was refactored and this issue no longer applies.

[2021-04-30 02:56] #350 closed

[2021-04-30 03:32] jefjos commented on #705
The subsequent build with ninja is failing with the following error

[code]

Installed OTEL files

[code]

[code]

[code]

[2021-04-30 03:58] maxgolov commented on #696
@ThomsonTan - I wonder if we can make it default? And only if we are running on a system where we can't compile it (e.g. checking compiler version in CMake script), we toggle it off.. Or we can toggle it off if CMake can't find gRPC. Then OTLP will always be on by default.

[2021-04-30 05:27] ThomsonTan commented on #696
Concur the idea to enable OTLP by default as it will be the major exporter for OpenTelemetry. I don't suggest to turn off building it if missing dependence is detected which could cause confusion (for the case OTLP is wanted, doing build without it is wasting time comparing with fail early), but prompt which dependence is missing and show flag to turn OTLP off will be very helpful.

[2021-04-30 06:42] ThomsonTan commented on #705
@jefjos where is opentelemetry-cpp installed? I saw below option is passed to cmake, was it intended to install opentelemetry-cpp under the test project folder like `hello-cmake/out`? If opentelemetry-cpp is installed to system default location like /usr/local/include and /usr/local/lib, below option should not be passed as a customized path.

`-DCMAKE_INSTALL_PREFIX:PATH="hello-cmake/out/install/

[2021-04-30 06:49] jefjos commented on #705
I tried again after deleting all cached files and running cmake -G "Ninja"

Getting same warnings and build error

[2021-04-30 06:51] jefjos commented on #705
Have added the following lines in CMakeLists.txt as a workaround for now

[code]

[2021-04-30 07:29] eyjohn commented on #713
@maxgolov I'm curious about the expected usage of this, based on your summary above it seems like the main purpose is to bundle the build of a "contrib" or "vendor" package library while building otel itself. However, when we do this, do we still expect that the contrib/vendor builds still produce their own build targets (e.g. exporter/fluentd or exporter/some_vendor), by that I mean at the point

[2021-04-30 08:02] eyjohn commented on #684
Ok, since the goal is to keep sdk as a single unit, any concerns with flattening this to a single build target? At the moment we have a target for the headers only, as well as a target for each subfolder for the compiled artefacts. I'm suggesting having only a single target for ALL sdk (one CMakeLists.txt/BUILD with only one library target).

_(I think it is possible to have a composable workflow

[2021-04-30 09:58] lalitb commented on #684
I like the idea of consolidating sdk as a single build target, and it's consistent with the way we build `api` (though it's all header). And specifically targets like `common`, `version`, `resource` doesn't make sense to exist separately. The only concern is whether will this will enforce users to include complete sdk target even though they are interested in a specific signal (say traces)

The ab

[2021-04-30 18:55] #154 closed

[2021-04-30 19:05] lalitb commented on #74
After #563 ( tracestate  integration ), 9 tests are still failing. keeping it open till it's fixed.
[code]

[2021-04-30 19:10] #170 closed

[2021-04-30 19:12] lalitb commented on #426
closing as this is too generic. Will raise tickets specific to areas not covered properly.

[2021-04-30 19:12] #426 closed

[2021-04-30 19:39] #334 closed

[2021-05-03 08:39] lalitb opened #716 "Compliance Matrix Validation for rel1.0.0 - TracerProvider, Context, Tracer, Span Context"
This ticket is to validate the below attributes of Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next the non-compliant point.

TracerProvider:
* [x] Create TracerProvider
* [x] Get a Tracer
* [ ] Safe for concurrent calls ( read below for exceptions - AddProcessor() and Shutdown()  )
* [x] Shutdown (SDK only required)

Trac

[2021-05-03 08:56] lalitb opened #717 "Compliance Matrix Validation for rel1.0.0 -Span"
This ticket is to validate the below attributes of Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next to the non-compliant point below in the description.

Link: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#traces

Span:
* [x] Create root span.
* [x] Create with default

[2021-05-03 09:01] lalitb opened #718 "Compliance Matrix Validation for rel1.0.0 - Baggage , Resource"
This ticket is to validate the below attributes of the Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next to the non-compliant point below in the description.

Link:
Baggage: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#baggage
Resource: https://github.com/open-telemetry

[2021-05-03 09:05] lalitb opened #719 "Compliance Matrix Validation for rel1.0.0 -Context Propagation"
This ticket is to validate the below attributes of Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next to the non-compliant point below in the description.

Link: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#context-propagation

Context Propagation:
* [ ] Create Context K

[2021-05-03 09:47] lalitb opened #720 "Compliance Matrix Validation for rel1.0.0 -Exporters ( Memory, Console, OTLP)"
This ticket is to validate the below attributes of Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next to the non-compliant point below in the description.

Link: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#exporters

Exporters:
* [x] Standard output (logging)
* [x] In-m

[2021-05-03 09:52] lalitb opened #721 "Compliance Matrix Validation for rel1.0.0 -Exporters ( Zipkin, Jaeger )"
This ticket is to validate the below attributes of Spec Compliance Matrix for Rel 1.0.0. While validation, if there is any ticket created for non-compliance, mention that next to the non-compliant point below in the description.

Link: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#exporters

Zipkin:
* [ ] Zipkin V1 JSON ( Optional)
* [ ] Zipkin

[2021-05-04 09:51] lalitb commented on #696
@contractormarketplace - Closing this issue. Please use the example from here: https://github.com/open-telemetry/opentelemetry-cpp/tree/main/examples/otlp, and create a ticket if it doesn't work.

[2021-05-04 09:51] #696 closed

[2021-05-04 10:33] lalitb commented on #713
I second with @eyjohn. otel-cpp has no dependency on the otel-contrib repo, so we shouldn't be adding the option to build that.

[2021-05-05 03:07] maxgolov commented on #713
@lalitb @eyjohn

It's not about `otel-cpp` having a dependency on `otel-contrib`, indeed it does not have a dependency on optional contrib.

It's the other way around: `otel-contrib` at any given moment of time has a dependency on a given version of `otel-cpp`. In order to verify that the `otel-contrib` build is not broken, or to precisely catch the moment when it gets broken, it is invaluable --

[2021-05-05 06:08] owent opened #724 "Can not build shared libraries on MinGW and GCC has no `__cdecl` on some platform."
**Describe your environment**
MinGW64, cmake

**Steps to reproduce**
```cmake .. -G "MinGW Makefiles" -DBUILD_SHARED_LIBS=ON  -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DBUILD_TESTING=OFF -DWITH_EXAMPLES=OFF -DWITH_STL=ON -DWITH_ABSEIL=ON -DWITH_OTLP=ON -DWITH_ELASTICSEARCH=ON -DWITH_ZIPKIN=ON```

**What is the expected behavior?**
Compiling success.

**What is the actual behavior?**

[code]

And so on

[2021-05-05 08:28] eyjohn commented on #713
Thanks for the recap. Perhaps I can reframe the motivations here

1. Validating build compatibility between otel and otel-contrib
2. Extensible build process that can be used to build either with contrib OR other vendor libs
3. The build process yields a single build and test step
4. OPTIONALLY Provide a bundled build to create a single libOtelWithMyCustomDeps.so/dll

(Do let me know if I've captu

[2021-05-05 16:48] maxgolov commented on #713
Yes. Absolutely. If we are expecting that more than one contrib exporter would be created, then it'd make sense to define a standard structure how to build all of them. And the process that allows to build all of these exporters via both standard supported build systems:
- `CMake`
- `Bazel

You don't need custom build steps CI here for what can be done with CMake. Bazel already allows you to `buil

[2021-05-05 19:57] lalitb commented on #684
@eyjohn  - Regarding the proposal for a single sdk build-target, it was discussed briefly in today's community meeting. One of the suggestions was to have a build option for creating a single sdk build target for CMake, and let the default build create the multiple targets ( as it is done now ). Later on, based on the usage, we can switch to have a single sdk target for both CMake and bazel.  We c

[2021-05-06 19:08] maxgolov commented on #649
Also need to address the other couple minor feedbacks from #702

[2021-05-07 01:12] maxgolov commented on #684
What do you think about optional build target that would consolidate the standard set of everything into one single library?

Or maybe building more than one flavor of it, i.e. for Windows that could be a
- .dll `[/MD|/MDd]`
- static .lib with dynamic runtime `[/MD|MDd]`
- static lib with static runtime `[/MT|MTd]`

That way ultimately the package would contain only ONE set of headers and ONE .lib

[2021-05-07 04:24] #711 closed

[2021-05-08 05:01] maxgolov commented on #701
This was, unfortunately, breaking some of my other projects. I personally do not do this on my dev box, i.e. prefer having separate build trees / separate snapshots of `vcpkg` per project. I have some thoughts about an easy fix for this exact issue, along the lines of using `VCPKG_ROOT`. It's a standard variable and we can start respecting it in the `setup-buildtools.cmd` script.

[2021-05-08 07:00] #701 closed

[2021-05-09 16:43] eyjohn commented on #684
On the overall topic of one-lib vs many libs, I think there are merits to both composable builds that give users control of exactly what they want to build and link versus a much easier to handle. Arguably this applies at API vs SDK vs exporters level too but the Spec has kinda enforced some requirements there.

With that said, my overall gut feel is that simplicity of use in most contexts would b

[2021-05-09 18:37] eyjohn commented on #713
Thanks for taking the time to explain this, unfortunately, I couldn't catch the last meeting but will try to attend the next.

In the meantime, some minor follow up thoughts. I do agree with the rationale but a few points stand out.

**Nomenclature**

WITH_ prefix is a bit ambiguous it describes:
- Which libraries to depend on (ABSL/STD20+/nostd) i.e.
- What parts of the otel library to build (mos

[2021-05-10 01:57] maxgolov commented on #713
@eyjohn - I agree with your logical reasoning. It makes sense to rename it.

In my proposal I'm trying to cover both scenarios:

- `OPENTELEMETRY_CONTRIB_PATH` - environment variable path to already checked out tree with contrib. I believe this name is already reasonable. Similar (_precisely identical in its feature operation, in fact_) option in OpenCV is called:
[`OPENCV_EXTRA_MODULES_PATH`=<ope

[2021-05-10 05:39] maxgolov opened #733 "Avoid pointer to reference to temporaries in `SetResource` API"
**Repro Steps**

- Compile with standard library (STL) classes.
- Run all tests: 335 tests passed; 10 tests failed (all related to `SetResource` API).

![image](https://user-images.githubusercontent.com/34072974/117610929-6c0baa00-b117-11eb-9124-4e76de07aa04.png)

@lalitb - this is problematic spot. It won't work too well with temporaries because it's assigning a pointer to reference.

If `Resourc

[2021-05-10 05:44] maxgolov commented on #718
One issue we need to fix for `Resource` API : #733

[2021-05-10 15:10] lalitb commented on #733
This is not related to `resource` sdk implementation, but the result of implicit conversion of `const char *` (or any pointer type ) to bool as specified in C++17 working draft:
https://timsong-cpp.github.io/cppwp/n4659/conv#bool

``
7.14 Boolean conversions

A prvalue of arithmetic, unscoped enumeration, pointer, or pointer to member type can be converted to a prvalue of type bool. A zero value,

[2021-05-10 18:59] ThomsonTan opened #735 "Renaming SDK Recordable class name to reflect the underlying transport"
Based on below comment, the `class Recordable` in SDK has the same name of its interface class in API which makes it unclear for readers/reviewers. What's more, using this general name make it hard to support multiple transport types in one exporter.

https://github.com/open-telemetry/opentelemetry-cpp/pull/534/files#r615903167

[2021-05-10 19:00] Hablapatabla opened #736 "'tools/format.sh' FUBARs the entire project"
**Describe your environment**

CMake v3.20.1
Bash v3.2.57(1)
clang-format v11.1.0
cmake-format v0.6.13
buildifier
Macbook Pro - OS Catalina v10.15.7

**Steps to reproduce**
~/source/opentelemetry-cpp
[code]

**What is the expected behavior?**
Code I added to the project to be formatted for commits.

**What is the actual behavior?**
Tool removes every character 'r' that is the last character in its

[2021-05-10 19:37] maxgolov commented on #736
If you have visual tools that show the number of lines of lines actually changed, like TortoiseGit on Windows, you can quickly revert the files that have zero changes, keeping only those that actually have lines Added or Deleted.

[2021-05-11 12:49] owent opened #740 "Can not use prebuilt protobuf of parent project with cmake."
**Describe your environment**
CMake, Windows

**Steps to reproduce**
Having a prebuilt of protobuf.

**What is the expected behavior?**
Do not trigger vcpkg.

**What is the actual behavior?**
Using vcpkg to installl protobuf again.

**Additional context**
Should use `Protobuf_FOUND` instead of `protobuf_FOUND` .

[2021-05-11 12:52] owent opened #741 "`HAVE_CPP_STDLIB` and `HAVE_GSL` should be auto added when using `-DWITH_STL=ON` with cmake."
**Describe your environment**
Windows, CMake

**Steps to reproduce**
Using `cmake -DWITH_STL=ON ...` to build project.

**What is the expected behavior?**
`HAVE_CPP_STDLIB` and `HAVE_GSL` should be added into `INTERFACE_COMPILE_DEFINITIONS` of exported target `opentelemetry-cpp::api` .

**What is the actual behavior?**
Nothing here.

**Additional context**

[2021-05-11 12:58] lalitb commented on #716
### [Tracer / Context Interaction](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#context-interaction)

https://github.com/open-telemetry/opentelemetry-cpp/blob/5278e8c03586ee1f690916f3e21eab626914c2e0/api/include/opentelemetry/trace/propagation/detail/context.h#L11

https://github.com/open-telemetry/opentelemetry-cpp/blob/5278e8c03586ee1f690916f

[2021-05-11 14:57] lalitb commented on #716
### [Tracer](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#tracer)

https://github.com/open-telemetry/opentelemetry-cpp/blob/5278e8c03586ee1f690916f3e21eab626914c2e0/api/include/opentelemetry/trace/tracer.h#L36

https://github.com/open-telemetry/opentelemetry-cpp/blob/5278e8c03586ee1f690916f3e21eab626914c2e0/sdk/src/trace/tracer.cc#L41

https://

[2021-05-11 16:53] #568 closed

[2021-05-11 16:53] lalitb commented on #569
closing as we have separate component level tickets to validate compliance : #716, #717, #718, #719, #720

[2021-05-11 16:54] #569 closed

[2021-05-11 20:21] ThomsonTan commented on #740
@owent if you are using a prebuilt protobuf, how about gRPC? I think gRPC will be needed for most cases when protobuf is used in this repo.

[2021-05-12 00:31] owent commented on #740
Using `-DgRPC_PROTOBUF_PROVIDER=package`, and add install path to `CMAKE_PREFIX_PATH` or set `Protobuf_DIR` then we can use our prebuilt protobuf.So does other dependencies of gRPC.

I create a script toolset to build all denpendencies of gRPC.(https://github.com/atframework/cmake-toolset)
And I also build all dependencies of opentelemetry (exclude of ms-gsl, which is include by submodule instead

[2021-05-12 01:14] maxgolov commented on #740
It might be different depending on what version of CMake you use. I've seen it with `Gtest_FOUND` and `gtest_FOUND`, which is different depending on whether you use newer or older package finder. Could it be something like this, can we make both checks?

[2021-05-12 02:32] owent commented on #740
Thanks, I checked the document of cmake just now and found  `FindProtobuf.cmake` will set `Protobuf_FOUND` from cmake 3.6 and `FindGTest.cmake` will set `GTest_FOUND` from cmake 3.20 in the legacy `MODULE` mode.

I have add codes to check `PROTOBUF_FOUND` and use `Protobuf_PROTOC_EXECUTABLE` to overwrite `PROTOBUF_PROTOC_EXECUTABLE` when it exists. But I also found both `GTEST_FOUND` and `GTest_FO

[2021-05-12 07:33] lalitb commented on #717
### [Span ](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#span)

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/src/trace/tracer.cc#L25-L26

This needs clarification as the API expects parent SpanContext, and not the Context object,

https://github.com/open-telemetry/opentelemetry-cpp/blob

[2021-05-12 14:32] lalitb commented on #717
### [Span Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#set-attributes)

   Attributes can be set as part of Span constructor, and through Span::SetAttribute() method:
https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/src/trace/span.h#L31-L32

attributes are passed to the exporter

[2021-05-12 15:29] lalitb commented on #717
### [Span Linking](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#specifying-links)

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/src/trace/span.cc#L96-L100

Links are added as part of span creating, so it is safe for concurrent call

[2021-05-12 21:47] bryanuribe commented on #530
Is this still open/available? Would I be able to pick this up?
cc: @alolita

[2021-05-12 22:21] maxgolov commented on #530
Depends on your cloud service provider. w3c should be the default endorsed and recommended:
https://www.w3.org/blog/2019/12/trace-context-enters-proposed-recommendation/

B3 is `optional` and supposed to live in `external` package.

[2021-05-12 22:23] maxgolov commented on #530
@bryanuribe - in terms of gRPC w3c context propagation, I think @Hablapatabla is already working in this direction:
https://github.com/open-telemetry/opentelemetry-cpp/pull/729
You can join our channel on Slack to discuss more. Slack channel has more context.

[2021-05-13 00:01] maxgolov commented on #530
@alolita - let's discuss this item during C++ SIG call. I guess what we need to achieve:
- generic example that shows how to use ANY propagator: standard + extended set.
- possibly a helper template / utility class that allows our customers to plug in any propagator of their choice.
- validation effort associated with verifying E2E that all propagators are functional.

 I can help with W3C Trace C

[2021-05-13 01:50] maxgolov commented on #530
@bryanuribe - would you be able to join the next C++ SIG meeting? It would be immensely helpful if you can help us with B3 context propagator validation, and maybe covering Amazon-specific context propagator in contrib repo. Slack channel where we can discuss it:
https://cloud-native.slack.com/archives/C01SM7Y71DJ

[2021-05-13 10:13] iblancasa opened #746 "Checked in GTest is older than the required by the source code"
**Describe your environment**:
* gcc version: 8.3.1
* OS: RHEL 8.3
* CMake version: 3.18

**Steps to reproduce**
[code]

**What is the expected behavior?**
Build the `timestamp_test` executable without errors.

**What is the actual behavior?**
[code]

# Additional context
It seems everything works properly when building using GTest 1.8.0.

[2021-05-13 10:16] iblancasa commented on #746
Some suggestions:
* Update the instructions from the `INSTALL.md` file to explain how to build the dependencies (using the checked in scripts)
* Improve how `GTest` is searched (using more the features from `find_package` instead of looking directly for the libraries) and enforce a minimal version

[2021-05-13 11:35] lalitb commented on #746
The gtest version 1.10.x seems to be fine, and same as we use in our[ ci environment](https://github.com/open-telemetry/opentelemetry-cpp/blob/834bba68d9211d9e0225cde0b9d7b6680555b450/ci/setup_cmake.sh#L9).

By quick look at this script (./tools/build-gtest.sh), it seems that the actual install location for gtest ( headers and libraries ) is `/tmp/build` and not `/tmp/build/gtest`.

So probably ot

[2021-05-13 11:45] iblancasa commented on #746
Thanks for your answer @lalitb!

You are right, if I point `GTEST_ROOT` to `/tmp/build/` it works. I used the other path because I found the libraries there (after running the script) and I though those were the correct ones.

[code]

Something I'm curious about is why if I use `/tmp/build/gtest` the build fails:
[code]

But well, it is not really important.

I'll create a PR to address the commen

[2021-05-13 12:24] lalitb commented on #746
glad it worked.

/tmp/build/gtest is build location, not install location. So the gtest headers are missing there. If otel-cpp cmake build take these headers from default location (/usr/include, /usr/local/include) and libraries from /tmp/build/gtest, this can result in mismatch and so the error. Again my guess :)

Thank you.

[2021-05-13 15:47] ThomsonTan commented on #746
We are using customized logic to find GTest only for in tree build from our submodule `third_party/googletest`, othersize `find_package()` is used, but seems `tools/build-gtest.sh` doesn't follow this convention and build submodule into a temp folder. Probably we should add an option `-WITH-GTEST-SUBMODULE`.

[2021-05-13 15:49] iblancasa commented on #574
Hi, can I work on this issue?

[2021-05-13 15:56] iblancasa commented on #746
@ThomsonTan sorry but I think my comment was not really descriptive. What I wanted to say was: instead of doing this:
[code]
Try to set the correct CMake variables allowing the `find_package(GTest REQUIRED)` find the GTest libraries. Or, at least, explain how to get the libraries under the `${CMAKE_BINARY_DIR}/lib/` folder

[2021-05-13 15:58] bryanuribe commented on #530
@maxgolov Yes, I will be at the next SIG meeting. Awesome, I will reach out to you over slack

[2021-05-13 15:58] iblancasa commented on #746
Also, for finding `benchmark`, I had to add manually the path where it is build to `CMAKE_PREFIX_PATH`. For building `benchmark` I used `./tools/build-benchmark.sh`.

[2021-05-13 20:30] maxgolov commented on #746
@iblancasa @ThomsonTan @lalitb

These scripts all have been largely tested with these flows on Ubuntu.

https://github.com/open-telemetry/opentelemetry-cpp/tree/main/docker
- ubuntu14.04
- ubuntu16.04
- ubuntu18.04
- ubuntu20.04

There could have been unintentional regressions due to new tests being added.
I think it would be good to add similar set of containerized builds for RedHat / CentOS.

Do

[2021-05-13 20:34] maxgolov commented on #746
@iblancasa - can you help us to maintain this build setup for latest, as well as older RHEL 7.x?

[2021-05-14 02:39] #740 closed

[2021-05-14 03:44] owent commented on #741
Closed by #742

[2021-05-14 03:44] #741 closed

[2021-05-14 05:21] maxgolov commented on #746
This guess is correct, and the case when it happens is when we run on a distro that is too old.

[2021-05-14 09:41] iblancasa commented on #746
Yes, I know but, when I try to set my development environment, I would expect a different behavior. I mean: if I have one script to build `GTest`, I don't expect to search the built libraries under `/tmp/build/`. Specially, after reading the `CMakeLists.txt` from the top level, I would expect to find the `GTest` libraries under `${CMAKE_BINARY_DIR}/lib/` because the CMake code looks for the `${CMA

[2021-05-14 15:26] alolita commented on #530
@maxgolov will join in for the next SIG meeting - let's discuss.

[2021-05-14 18:13] lidavidm opened #751 "Allow building as a header-only library with CMake"
I'm working on integrating OpenTelemetry in a CMake-based project using ExternalProject. I want my project to be able to use OpenTelemetry as a header-only library, using just `api/`, or optionally directly linking to OpenTelemetry (libopentelemetry_trace etc). In the former case, I'd like to not build any of the static libraries to save build time, however, there's not a good way to do this.

**I

[2021-05-14 19:00] lalitb commented on #751
That would be a common scenario, and it would make sense to support building only the `api` project.

[2021-05-14 19:12] lidavidm opened #753 "CMake build configuration fails with CMake < 3.12 due to linking with cURL"
**Describe your environment**

Platform: Ubuntu 18.04 x86_64 `Linux partita 5.4.0-66-generic #74~18.04.2-Ubuntu SMP Fri Feb 5 11:17:31 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
Build System: CMake 3.10 with GCC 7.5
[code]

**Steps to reproduce**
[code]

**What is the expected behavior?**
The configure step should succeed.

**What is the actual behavior?**
The configure step fails to find libcurl de

[2021-05-14 19:19] ThomsonTan commented on #753
The same issue was handled under `ext/test/http/CMakeLists.tx` as below, but not handled under `ext/src/http/client/curl/CMakeLists.txt`. Could you please check if it works with the below change applied to `ext/src/http/client/curl/CMakeLists.txt`?

https://github.com/open-telemetry/opentelemetry-cpp/blob/3bfbc9301d8e263d7337f2bda88245caa715b764/ext/test/http/CMakeLists.txt#L9

[2021-05-14 19:21] lidavidm commented on #753
Thanks! Yes, the following diff works fine:

[code]

[2021-05-14 19:28] ThomsonTan commented on #753
@lidavidm, thanks for the confirmation. Please feel free to submit your diff as PR.

[2021-05-14 19:38] lidavidm commented on #753
Thanks! Will do once I confirm I can sign the CLA.

[2021-05-14 20:38] maxgolov commented on #746
@iblancasa - yes, please. This would help the project immensely!

[2021-05-14 21:04] maxgolov opened #756 "Remove `std::copy` from ETW exporter"
This is related to controversial topic of Annex K bound checkers added as an optional extension in C11. This thread [here](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1967.htm) provides some background detail, with reasonably written community feedback about the usefulness of Annex K.

ETW exporter uses `std::copy` here:
https://github.com/open-telemetry/opentelemetry-cpp/blob/32f10c7eea5b64b

[2021-05-15 03:43] ThomsonTan opened #757 "Resource is not populated to OTLP proto data"
In previous PR https://github.com/open-telemetry/opentelemetry-cpp/pull/706, resource is passed to exporter recordable structure, but it is still not populated to `proto::collector::trace::v1::ExportTraceServiceRequest`, so the OTLP receiver will not get any resource from the OpenTelemetry C++ SDK.

**Steps to reproduce**
Run example_otlp and OpenTelemetry collector with OTLP collector.

**What is

[2021-05-16 05:32] #757 closed

[2021-05-16 08:30] lalitb opened #759 "Jaeger Exporter : Handle Events and Links"
https://github.com/open-telemetry/opentelemetry-specification/blob/0d02e95ed403152e88b1d0896eeb67394b78ed62/specification/trace/sdk_exporters/jaeger.md#events

https://github.com/open-telemetry/opentelemetry-specification/blob/0d02e95ed403152e88b1d0896eeb67394b78ed62/specification/trace/sdk_exporters/jaeger.md#links

[2021-05-16 08:39] lalitb commented on #717
### [Span Events](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#add-events)

https://github.com/open-telemetry/opentelemetry-cpp/blob/v0.6.0/sdk/src/trace/span.cc#L142

`sdk::trace::SpanData` preservers order by storing Events in std::vector:
https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/in

[2021-05-16 14:19] lalitb opened #760 "Recording exception to Span"
As per the specs (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#record-exception) :

``
To facilitate recording an exception languages SHOULD provide a RecordException method if the language uses exceptions. This is a specialized variant of AddEvent, so for anything not specified here, the same requirements as for AddEvent apply.
``

As C++ supp

[2021-05-16 14:21] lalitb commented on #717
### [Record Exception](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#record-exception)

Not Supported ( #760 )

[2021-05-16 16:01] lalitb commented on #717
### [Sampling](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#sampling):

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/include/opentelemetry/sdk/trace/sampler.h#L40-L47

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/include/opentelemet

[2021-05-16 16:11] lalitb commented on #717
### Others

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/sdk/src/trace/tracer.cc#L30-L37

https://github.com/open-telemetry/opentelemetry-cpp/blob/v0.6.0/sdk/include/opentelemetry/sdk/trace/id_generator.h

Not planned. #365

[2021-05-17 09:47] lalitb commented on #719
### Context Propagation:

This is not configurable. The `key` for the current span is `current_span`, and `key` for current baggage is `baggage`.

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/api/include/opentelemetry/context/runtime_context.h#L122

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf

[2021-05-17 10:14] #687 closed

[2021-05-17 10:31] lalitb opened #762 "API to fetch propagation fields set by TextMapPropagator::Inject() method"
As per the specs:  https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#fields:

It should be possible to fetch the list of fields set by Inject() method for propagators.
This is how other SIG implementation support it:
Python:
https://github.com/open-telemetry/opentelemetry-python/blob/f816287e5ff0e2d18a1001e11fd0ad7e070e3b2e/opentelemet

[2021-05-17 10:38] lalitb commented on #719
### [TextMap Propagator](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#textmap-propagator):

Not supported: #762

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/api/include/opentelemetry/context/propagation/text_map_propagator.h#L22

https://github.com/open-telemetry/opentelemetry-

[2021-05-17 12:55] lalitb commented on #721
### [Zipkin](https://github.com/open-telemetry/opentelemetry-specification/blob/0d02e95ed403152e88b1d0896eeb67394b78ed62/specification/trace/sdk_exporters/zipkin.md)

    Not supported.

     Not Supported.

    Supported  ( https://github.com/open-telemetry/opentelemetry-cpp/tree/v0.6.0/exporters/zipkin )

     Not supported

Mapping from resource:

https://github.com/open-telemetry/opentelemetry

[2021-05-18 08:05] lalitb commented on #751
@lidavidm Solution suggested by you looks good - basically adding options to enable/disable building projects selectively. Or just to add `WITH_API_ONLY` to enable building only API project ( as this would be required for building instrumentation libraries). Wanted to check if you have plans to contribute on this, else we can let someone pick this up :)

[2021-05-18 08:31] iblancasa opened #763 "Create a document with a support matrix"
This request comes from [this comment](https://github.com/open-telemetry/opentelemetry-cpp/pull/744#issuecomment-840793577).

The idea is to make easier for developers to know what compilers are supported when building these libraries.

[2021-05-18 12:01] lidavidm commented on #751
@lalitb Sorry for the delay - I would like to but I'm still working with my org to make sure I can sign the CLA. I'm hoping that'll be in the next couple days, else someone else can of course take a look.

[2021-05-18 14:33] lalitb commented on #751
Thank you @lidavidm for your willingness to contribute. There is no immediate hurry, you can pick it up once CLA is signed :)

[2021-05-18 19:52] johanneswuerbach opened #765 "OTLPResourceNoServiceName with defined service.name"
**Describe your environment**
Using the nginx module configured with a service name and an otlp exporter build from opentelemetry-cpp-contrib main.

**Steps to reproduce**

The `service.name` is configured like the following https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/946b3d8e9576cdb5a078c88b1a007c574f23d42c/instrumentation/nginx/src/otel_ngx_module.cpp

**What is the expected

[2021-05-19 06:52] lalitb opened #767 "Jaeger Exporter : Mapping OTel Resource into Jaeger Process"
Current Jaeger Thrift exporter [implementation](https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/exporters/jaeger/src/recordable.cc#L107) maps service_name from resource attributes into Jaeger process. The rest of the resource attributes also need to be mapped to the Jaeger Process as mentioned in specs:
https://github.com/open-telemetry/opentelemet

[2021-05-19 07:29] lalitb opened #768 "Jaeger: Handle InstrumentationLibrary"
As per the specs, InstrumentationLibrary should be reported as Jaeger span tags:
https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/sdk_exporters/jaeger.md#instrumentationlibrary

[2021-05-19 07:35] lalitb commented on #721
### [Jaeger ](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/sdk_exporters/jaeger.md)

https://github.com/open-telemetry/opentelemetry-cpp/tree/v0.6.0/exporters/jaeger

Not Supported / Optional

Not Supported / Optional

https://github.com/open-telemetry/opentelemetry-cpp/blob/b4584adeaae259df89b33af884c641e70a60a7cf/exporters/jaeger/src/thrift_sender

[2021-05-19 12:11] luke-1993 opened #769 "Building opentelemtry-cpp via conan does not set the correct include paths for grpc dependency when building opentelemetry-proto"
Environment:

conan-gcc-profile:
[code]

**Steps to reproduce**

Create the opentel package with the following conanfile and conan create command (see above for content of conan-gcc-profile)

command:

[code]

conanfile.py:

[code]

**What is the expected behavior?**

Expect to see the opentelemetry package succesfully built.

**What is the actual behavior?**

When the opentel package does the WIT

[2021-05-20 03:57] BobinMathew opened #772 "Missing Code of Conduct"
This repo is missing a Code of Conduct.
Cant I give a PR ?

[2021-05-20 03:59] lalitb commented on #772
Yes please go ahead. Thank you :)

[2021-05-20 04:04] BobinMathew commented on #772
Hi @lalitb I think a link to the "OpenTelemetry Community Code of Conduct" would be more convenient for this repo. What do you think?

[2021-05-20 04:09] lalitb commented on #772
Yes, link to this should be enough : https://github.com/open-telemetry/community/blob/main/code-of-conduct.md

[2021-05-20 11:37] maxgolov commented on #733
Same issue exists with both recent gcc (Ubuntu 20.04-LTS) and latest Visual Studio 2019 `std::variant`. It is also there in `absl::variant` implementation. We can't wait for C++20 update until this feature is released widely, as it would take years for the customers to get to that recent compiler / STL update that would have the fix. I'm proposing a fix that works in #771

[2021-05-21 05:24] #751 closed

[2021-05-21 06:55] #652 closed

[2021-05-21 09:13] contractormarketplace opened #781 "Unable to build example code."
I am trying to run the example program provided :-

opentelemetry-cpp/examples/simple

The instructions on how to get a build are not clear.

I have modified the main to allow the program to send traces to the collector which is running in my local environemnt.

I run cmake using the following command :-

/opentelemetry-cpp/examples/simple$ cmake -DCMAKE_PREFIX_PATH=$MY_INSTALL_DIR -DWITH_OTLP=ON

[2021-05-21 10:04] lalitb commented on #781
The correct way of building the example would be using this command from repo build-root:
[code]

[2021-05-21 10:55] contractormarketplace commented on #781
I did not fully understand, is this build process documented somewhere?

From what you have mentioned, I go to the directory opentelemetry-cpp/examples/simple

cmake /home/osboxes/elysium/opentelemetry-cpp/opentelemetry-cpp

cmake --build . --target example_simple

I still get compile issues, it's not able to find the #include "opentelemetry/trace/provider.h"

[2021-05-21 11:03] lalitb commented on #781
You need to run this from repo root if that is the build directory.

[2021-05-21 11:26] contractormarketplace commented on #781
@lalitb That helps, but I now get the following error.

[ 90%] Building CXX object examples/simple/CMakeFiles/example_simple.dir/main.cc.o
In file included from /home/osboxes/elysium/opentelemetry-cpp/opentelemetry-cpp/examples/simple/main.cc:8:
/home/osboxes/elysium/opentelemetry-cpp/opentelemetry-cpp/exporters/otlp/include/opentelemetry/exporters/otlp/otlp_exporter.h:5:10: fatal error: opentelem

[2021-05-21 11:31] lalitb commented on #781
The simple example doesn't use otlp exporter. So WITH_OTLP=ON option shouldn't be provided.

[2021-05-21 11:36] contractormarketplace commented on #781
@lalitb I have modified the main to  allow the program to send traces to the collector which is running in my local environment.

My main.cc was attached. I have made the following modifications to call the Opentelemetry collector with the traces.

Alternately, do you have examples where the traces are sent to the collector so that I can run that?

auto exporter = std::unique_ptrsdktrace::SpanExpo

[2021-05-21 14:32] HonghuiLu2021 opened #782 "Root span is not sampled correctly"
TraceIdRatioBasedSampler always samples the root span because TraceId==0 when the sampling decision is made in the [C++ version of StartSpan](https://github.com/open-telemetry/opentelemetry-cpp/blob/976b5caa64ce11d175ea46a2cf7176c2657b23d5/sdk/src/trace/tracer.cc#L28).

To fix, for root spans, a TraceId should be generated before calling ShouldSample, e.g. in [the Java SDK](https://github.com/open

[2021-05-21 16:01] ThomsonTan opened #783 "Remove unnecessary sleep in unittest"
There are a few sleep call in etw_tracer_test as below. Each one takes 1 sec and adds up to 5 seconds in total. @maxgolov, could we remove them as they are not related to correctness of the test? Reduce the unittest time will be very helpful to encourage us to run it frequently.

https://github.com/open-telemetry/opentelemetry-cpp/blob/b6bf10f82f72368738a480ee6bd4b72b4e96d897/exporters/etw/test/et

[2021-05-21 17:26] ThomsonTan commented on #781
@contractormarketplace there is there OTLP example so you don't need modify the simple example to export data to OTLP collector. Below link has more details.

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/otlp/README.md#L1

[2021-05-21 18:51] #772 closed

[2021-05-22 01:02] ThomsonTan opened #785 "Jaeger exporter is not enabled in CI build"
Jaeger exporter is currently missing in CI build.

[2021-05-22 23:28] halayli opened #787 "why nostd::unique_ptr<Scope> not Scope"
Any reason why WithActiveSpan returns `nostd::unique_ptr<Scope>` instead of simply returning Scope?

[2021-05-23 05:59] lalitb commented on #787
`Scope` object manages the ongoing span `context`, and context unwinding happens when this object goes out of scope. It's important to have only one copy of this object, so it's wrapped under nostd::unique_ptr.

Also, if it's meant to be a question and not an issue we can move it to Discussions

[2021-05-23 06:17] halayli commented on #787
I totally get the purpose of a span's `Scope` and its integration with the Context's internal `Stack`. But I don't understand why it needs to be allocated on the heap. It's a performance penalty that can be avoided, IMO. A scope class with deleted copy constructors should be enough. In fact for this particular case, they are implicitly deleted because it has a `std::unique_ptr` member variable.

I

[2021-05-23 06:38] lalitb commented on #787
We can keep it open for now in case it's a potential issue :) For now, will let @pyohannes reply at his work time as he originally implemented this. Else, will look into it.

[2021-05-23 07:00] halayli commented on #787
Sounds great, thanks!

[2021-05-23 14:00] eyjohn commented on #772
Thank you for this (issue + PR)!

[2021-05-23 15:51] lalitb commented on #787
Ok, had a quick look at the code, looks like we should be returning the `Scope` object instead of `nostd::unique_ptr<Scope>`. Will raise a PR for same to be reviewed internally.

[2021-05-23 16:52] lalitb commented on #787
@halayli @pyohannes  - Have raised a PR #788 with changes suggested in the issue. Can you please review them once?

[2021-05-23 18:55] #753 closed

[2021-05-23 23:15] halayli commented on #787
Thanks for taking care of it! Yep, this should do it.

[2021-05-24 01:14] contractormarketplace commented on #781
@ThomsonTan , @lalitb , Thank you for your guidance.
I am stuck trying to build the OTLP example

opentelemetry-cpp/build$ cmake --build . --target example_otlp

The above is the command I tried, are you able to provide further guidance on how to build this example.

[2021-05-24 01:17] ThomsonTan commented on #781
@contractormarketplace what is the error output of running `cmake --build . --target example_otlp`? I just run it and produced example_otlp successfully. I guess there is still some dependence missing.

[2021-05-24 01:18] contractormarketplace commented on #781
osboxes@osboxes:~/elysium/opentelemetry-cpp/opentelemetry-cpp/build$ cmake --build . --target example_otlp
make: *** No rule to make target 'example_otlp'.  Stop.

[2021-05-24 01:21] ThomsonTan commented on #781
Could you please clean the `build` folder and regenerate build files by CMake, but with `-DWITH_OTLP=ON` option? Then the the above cmake command again.

[2021-05-24 01:37] contractormarketplace commented on #781
Here is what I did, the clean does not fix the problem.

osboxes@osboxes:~/elysium/opentelemetry-cpp/opentelemetry-cpp/build$ rm CMakeCache.txt
make clean
cmake -DCMAKE_PREFIX_PATH=$MY_INSTALL_DIR -DWITH_OTLP=ON ..
cmake --build . --target example_otlp
make: *** No rule to make target 'example_otlp'.  Stop.

[2021-05-24 01:43] ThomsonTan commented on #781
Could you please check `WITH_OTLP` is set to `ON` in the genreated `CMakeCache.txt`?

[code]

[2021-05-24 01:51] contractormarketplace commented on #781
//Whether to include the OpenTelemetry Protocol in the SDK
WITH_OTLP:BOOL=ON

I see this entry in CMakeCache.txt

[2021-05-24 02:21] contractormarketplace commented on #781
I did a fresh git clone to download the source to get a fresh copy of the code. I run into the same issue.

[2021-05-24 02:47] ThomsonTan commented on #781
Could you please share `CMakeFiles/CMakeOutput.log` under the build directory?

[2021-05-24 02:57] contractormarketplace commented on #781
[CMakeOutput.log](https://github.com/open-telemetry/opentelemetry-cpp/files/6529542/CMakeOutput.log)

[2021-05-24 03:35] ThomsonTan commented on #781
I just built example_otlp successfully in a fresh Ubuntu docker container.

A few more questions:
1. Did you clone the repo with `git clone --recursive`?
2. Could you please rerun CMake with `cmake .. -DWITH_OTLP=ON --debug-output`, and share the console output in a new file?

[2021-05-24 04:34] #782 closed

[2021-05-24 05:18] contractormarketplace commented on #781
[shyamOutput.txt](https://github.com/open-telemetry/opentelemetry-cpp/files/6529983/shyamOutput.txt)

I now did a clone --recursive and got the same results. The attached file shows some errors, not sure what those are.

To summarize here are the commands, I used.

git clone --recursive https://github.com/open-telemetry/opentelemetry-cpp.git

cmake -DCMAKE_PREFIX_PATH=$MY_INSTALL_DIR -DWITH_OTLP=O

[2021-05-24 13:57] lalitb commented on #717
Closing, as validation complete and created required tickets.

[2021-05-24 13:57] #717 closed

[2021-05-24 13:57] lalitb commented on #716
Closing, as validation complete and created required tickets.

[2021-05-24 13:57] #716 closed

[2021-05-24 13:58] lalitb commented on #719
Closing, as validation complete and created required tickets.

[2021-05-24 13:58] #719 closed

[2021-05-24 13:58] lalitb commented on #721
Closing, as validation complete and created required tickets.

[2021-05-24 13:58] #721 closed

[2021-05-24 14:00] lalitb commented on #736
closing as it's not a configuration issue.
@Hablapatabla  - please open a thread on the discussion you still have any issue.

[2021-05-24 14:00] #736 closed

[2021-05-24 15:56] lalitb commented on #289
Closing as this has been done frequently.

[2021-05-24 15:56] #289 closed

[2021-05-24 17:51] ThomsonTan commented on #781
It seems the build scripts were not generated completely by CMake which causes the build error. Please make sure gtest is installed corrected in your environment. You could take a look at below script, but it installs gtest to `/tmp/build`, you may want to change the installation target to `/usr/local` or need to specify `GTEST_DIR` to point to `/tmp/build`.

A quick workaround it adding `-DBUILD_

[2021-05-25 04:52] contractormarketplace commented on #781
@ThomsonTan , thank you for your guidance got through the first issue, now cmake --build . --target example_otlp throws the following errors :-

/usr/bin/ld: /home/osboxes/.local/lib/libgrpc.a(route_components.upb.c.o):(.data.rel.ro+0x290): undefined reference to `envoy_config_core_v3_ProxyProtocolConfig_msginit'
/usr/bin/ld: /home/osboxes/.local/lib/libgrpc.a(proxy_protocol.upbdefs.c.o):(.data.re

[2021-05-25 05:05] ThomsonTan commented on #781
How did you install gRPC? Perhaps try the gRPC installation guide below?

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ci/setup_grpc.sh

[2021-05-25 08:00] #787 closed

[2021-05-25 08:35] #785 closed

[2021-05-25 08:52] contractormarketplace commented on #781
@ThomsonTan
I had to reinstall gRPC using the script you provided. I also had to reinstall protobuf using the scripts in the same ci directory. And I was able to get a build! Thank you.

Issues running the example, We have collector running on our local server 10.10.110.93:55680, I passed this in as a parameter to the executable as follows :-

osboxes@osboxes:~/elysium/opentelemetry-cpp/openteleme

[2021-05-25 15:55] ThomsonTan commented on #781
55680 is legacy OTLP network work and it deprecated. Please make sure your collector is listening on that port as the error message implies OTLP cannot to the endpoint provided by the collector. Or you can try instructions in below doc which runs the collector in docker container.

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/otlp/README.md

[2021-05-25 19:29] lalitb commented on #765
@johanneswuerbach - Can you confirm the opentelemetry-cpp release / commit used to test this.
fyi - required support was added here : https://github.com/open-telemetry/opentelemetry-cpp/pull/758/files

[2021-05-25 19:34] johanneswuerbach commented on #765
This was tested using `v0.6.0`, which doesn't include the linked PR. Is another release planned in the near future or better build from that specific commit?

[2021-05-26 04:14] contractormarketplace commented on #781
@ThomsonTan , The example_otlp is able to send traces to the collector - there was some firewall issue on the server which was preventing the sending of the traces.

One other issue is that the service name parameter being sent to the collector is "unknown_service". Ideally, we would like the service name to be more descriptive. Is this the known behavior? Is there a way to set the service name by

[2021-05-26 04:21] ThomsonTan commented on #781
Good to know it is an firewall issue. To specify service name, you'll need create a `Resource` like [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/sdk/test/resource/resource_test.cc#L62) with `service.name`, and pass it to the constructor of [`TracerProvider`](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/sdk/src/trace/tracer_provider.cc#L16).

[2021-05-26 05:02] #783 closed

[2021-05-26 08:04] lalitb commented on #781
In addition to what @ThomsonTan suggested, you can also set env variable `OTEL_RESOURCE_ATTRIBUTES` in format `key1=value1,key2=value2`. Also, I think we are good to close this issue. Going ahead, please use the `Discussion` forum for any such help or queries.

[2021-05-26 08:06] #781 closed

[2021-05-26 08:36] #574 closed

[2021-05-26 09:56] contractormarketplace commented on #781
@ThomsonTan @lalitb thank you for all your assistance,  you may close this ticket.

[2021-05-26 14:00] lalitb commented on #765
Yes, there is a new release coming up today with the fix : https://github.com/open-telemetry/opentelemetry-cpp/pull/800.

[2021-05-26 18:28] lalitb commented on #720
### [OTLP](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/protocol/otlp.md):

Supported:
https://github.com/open-telemetry/opentelemetry-cpp/tree/main/exporters/otlp

Not supported, Optional

Not supported, Optional

N/A

Not Supported - It's optional as per the specs : https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/

[2021-05-26 18:30] lalitb commented on #720
https://github.com/open-telemetry/opentelemetry-cpp/tree/main/exporters/ostream

[2021-05-26 18:56] lalitb opened #801 "Otlp Exporter : Add trace_state to Link"
trace_state is part of Link as per otlp protocol:
https://github.com/open-telemetry/opentelemetry-proto/blob/795cc815ce9bb438b46a4a7f6ecb465b52d50935/opentelemetry/proto/trace/v1/trace.proto#L214

This should be added in otel-cpp implementation:
https://github.com/open-telemetry/opentelemetry-cpp/blob/840701bf67b0de4d65722ede49383e3a68da1abb/exporters/otlp/src/otlp_recordable.cc#L275

[2021-05-26 19:03] lalitb opened #802 "Otlp Exporter : Handle InstrumentationLibrary info ( name and version )"
InstrumentationLibrart version and name should be exported along with spans generated by that library:

https://github.com/open-telemetry/opentelemetry-proto/blob/795cc815ce9bb438b46a4a7f6ecb465b52d50935/opentelemetry/proto/trace/v1/trace.proto#L47

This is missing in otel-cpp implementation:

https://github.com/open-telemetry/opentelemetry-cpp/blob/840701bf67b0de4d65722ede49383e3a68da1abb/exporte

[2021-05-26 19:07] lalitb commented on #720
Missing features from OTLP exporter:

 #801 #802

[2021-05-27 02:47] owent opened #803 "Implement HTTP(OTLP/HTTP+JSON Protocol) exporters"
Implement [OTLP/HTTP+JSON exporter](https://github.com/open-telemetry/opentelemetry-proto) trace exporter and metrics exporters.

Refer to:

1. https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md
2. https://github.com/open-telemetry/oteps/blob/main/text/0122-otlp-http-json.md
3. https://github.com/open-telemetry/opentelemetry-js/tree/main/packages

[2021-05-27 06:26] lalitb commented on #765
Release is available here : https://github.com/open-telemetry/opentelemetry-cpp/releases/tag/v0.7.0

[2021-05-27 06:41] lalitb commented on #803
Thanks, @owent, this would be really helpful.
Looking at the OTLP implementation for [otel-go](https://github.com/open-telemetry/opentelemetry-go/tree/main/exporters/otlp) implementation, which is similar to what you are proposing though it's finally published as a single package/release containing both grpc and http.

[2021-05-27 06:54] owent commented on #803
If I commit codes inner otlp exporter, maybe we should split `WITH_OTLP` into `WITH_OTLP_GRPC` and `WITH_OTLP_HTTP` ? Some environments may just want http exporter and do'nt want to depend grpc.

[2021-05-27 06:59] ThomsonTan commented on #803
Yes, I think split `WITH_OTLP` into 2 variables makes sense here. Thanks for contributing this.

[2021-05-27 07:10] owent opened #804 "Header files in ostream exporter are not installed when building with cmake."
**Describe your environment**
Header files in ostream exporter are not installed when building with cmake.

**Steps to reproduce**
Describe exactly how to reproduce the error. Include a code sample if applicable.

**What is the expected behavior?**
Header files installed.

**What is the actual behavior?**
Nothing in `opentelemetry/exporters/ostream`

**Additional context**
Tag: v0.7.0

[2021-05-27 11:26] johanneswuerbach commented on #765
Bumping to v0.7.0 solved this 😍

[2021-05-28 08:11] #804 closed

[2021-05-28 18:40] lidavidm opened #808 "baggage.h is missing #include <cctype> for MSVC2015"
**Describe your environment**

Windows 10 x64
MSVC 19.00.24210 (VS2015)

**Steps to reproduce**

OpenTelemetry (latest main @ 12e56f9f4ad2e2a870482d89b999a9cf7c493e85) was built with `cmake -GNinja .. -DWITH_API_ONLY=ON -DCMAKE_INSTALL_PREFIX=../install -DBUILD_TESTING=OFF`.

Then I tried to build a trivial application including an OpenTelemetry header:

[code]

**What is the expected behavior?**

[2021-05-28 20:36] ThomsonTan commented on #808
@lidavidm thanks for reporting and investigation. Would you like to submit a PR with the fix?

[2021-05-29 03:43] maxgolov commented on #808
If you don't mind, could you please apply the fix, and try pulling locally from this PR:
https://github.com/open-telemetry/opentelemetry-cpp/pull/771

This PR eliminates the `HAVE_ABSEIL_VARIANT` option. Making Abseil Variant now the default, because that is the only one that works for vs2015. I think we also need to add unit tests for baggage - to catch issues like this.

I'm planning to add CI l

[2021-06-01 12:38] lalitb opened #812 "HTTPClient : Support for full URL argument instead of host & port"
As discussed [here](https://github.com/open-telemetry/opentelemetry-cpp/pull/810#discussion_r642303340):

- [HttpClient::CreateSession](https://github.com/open-telemetry/opentelemetry-cpp/blob/ac0e6174e74f845e7d375a156b5abea33956c056/ext/include/opentelemetry/ext/http/client/http_client.h#L229) method should support passing full URL as an argument instead of host and port (or perhaps support both)

[2021-06-01 12:47] lalitb opened #813 "WITH_STL shouldn't try importing gsl::span if std::span is not available."
As discussed in #742:
If the `WITH_STL` cmake option is enabled, the build should be using std::span if available (for C++20), and fall back to `nostd::span` instead of `gsl::span` ( or perhaps fail the build). Use `gsl::span` only if developers explicitly specify the `WITH_GSL` build option.

[2021-06-01 15:32] lalitb commented on #720
Validated, and created required issues. Closing this.

[2021-06-01 15:32] #720 closed

[2021-06-02 04:08] maxgolov commented on #813
I already added a fix for that here:

https://github.com/open-telemetry/opentelemetry-cpp/blob/d6f5d32ea8539d978060229731a5ea7807ec18c7/api/include/opentelemetry/std/span.h#L30

Could you please take a look at my PR? #771

[2021-06-02 04:25] maxgolov commented on #813
I added my comments to #742 here - https://github.com/open-telemetry/opentelemetry-cpp/pull/742#issuecomment-852709685

[2021-06-02 17:22] ohamuy commented on #812
Hey! Could I pick up this issue?

[2021-06-02 17:40] anshulkumar19 commented on #365
@lalitb Currently this is WIP (span limit struct is added but constraint is used only in span_data ), intended to get it reviewed from the perspective of complexity introduced in current structure as this is an optional feature suggested by the spec.

[2021-06-02 18:21] maxgolov opened #817 "Change the implementation of `ResourceAttributes` to use `common::AttributeValue`"
**Problem Statement**

The issue is that presently `ResourceAttributes` uses `common::OwnedAttributeValue` here :

https://github.com/open-telemetry/opentelemetry-cpp/blob/5767f8e4a2cd32e8ab8647fc5eb672a5e3c21ed6/sdk/include/opentelemetry/sdk/resource/resource.h#L21

[code]

Now if we build with Abseil Variant or with C++17 `std::variant` ( #572 ), then it is impossible to properly initialize Reso

[2021-06-02 18:59] lalitb commented on #365
Thanks @anshulkumar19 - Will review it in regards to the complexity introduced.

[2021-06-02 19:49] ohamuy commented on #812
@lalitb Would you rather have me allow for [HttpClient::CreateSession](https://github.com/open-telemetry/opentelemetry-cpp/blob/ac0e6174e74f845e7d375a156b5abea33956c056/ext/include/opentelemetry/ext/http/client/http_client.h#L229) to have the template have multiple parameters, one for host/port and one for a full url? Or would you rather have me change the current implementation to simply fix http

[2021-06-02 21:26] maxgolov opened #819 "`opentelemetry::proto::common::v1::_KeyValue_default_instance_`: illegal initialization of `constinit` entity with a non-constant expression (C++20)"
Building with latest version of Visual Studio 2019 - update **16.10.0** , C++20 - using `-std:c++latest` , generated protobufs fail with this error:

![image](https://user-images.githubusercontent.com/34072974/120553272-24421080-c3ad-11eb-8a46-36a399c9a6ae.png)

Something related to this code here:

[code]

Since it used to work before, I wonder if it's related to **16.10.0** now defining `__cpp_c

[2021-06-02 21:32] maxgolov commented on #819
From latest Visual Studio 2019 release notes. That addition now breaks the slightly older protobuf we are using. I am not sure if there is a fix in latest or not. Worst case we may need to apply our local vcpkg port file with a patch for Windows.

![image](https://user-images.githubusercontent.com/34072974/120555064-5e141680-c3af-11eb-8c31-6036c0eba1da.png)

[2021-06-02 21:38] ohamuy commented on #812
I’d like to work on this issue. Can you please assign this to me? @alolita

[2021-06-02 22:25] maxgolov commented on #819
https://github.com/protocolbuffers/protobuf/issues/8688

[2021-06-02 22:33] lidavidm commented on #808
Sorry about the delay - I'll submit a PR and test against the Abseil branch when I get a chance.

[2021-06-02 23:49] lalitb commented on #812
Thanks @ohamuy  - assigned to you now. We can use function overloading to support both unless you see benefit with templates?

[2021-06-03 00:33] ohamuy commented on #812
Yea @lalitb I could definitely do function overloading. Also how do we know whether the user wants http or https appended if they only provide the host and port? Also for testing would I use Bazel or is there some other way to test my code?

[2021-06-03 01:42] maxgolov commented on #813
I'll assign to myself. I believe I have a fix. Feedback is welcomed, in case if we want to decouple `STDLIB` vs `GSL`. But it's been described in the document that we fallback to `gsl::span` for C++17 , because `std::span` is only available starting from C++20.

[2021-06-03 08:07] lalitb commented on #812
default should be always `http` unless use explicitly specified `https`. This should be irrespective of whether port number is 80 or 443.

[2021-06-03 14:48] lalitb commented on #718
**[Baggaget](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#baggage)**

https://github.com/open-telemetry/opentelemetry-cpp/blob/v0.7.0/api/include/opentelemetry/baggage/baggage.h

https://github.com/open-telemetry/opentelemetry-cpp/blob/ac0e6174e74f845e7d375a156b5abea33956c056/api/include/opentelemetry/baggage/propagation/baggage_propagator.h#L

[2021-06-03 14:54] lalitb commented on #718
**[Resource](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/spec-compliance-matrix.md#resource)**

https://github.com/open-telemetry/opentelemetry-cpp/blob/ac0e6174e74f845e7d375a156b5abea33956c056/sdk/src/resource/resource.cc#L30

https://github.com/open-telemetry/opentelemetry-cpp/blob/ac0e6174e74f845e7d375a156b5abea33956c056/sdk/src/resource/resource.cc#L48

https://gi

[2021-06-03 14:54] lalitb commented on #718
Validated all the specs compliance points.

[2021-06-03 14:54] #718 closed

[2021-06-03 15:18] lalitb commented on #571
Closing this, as we have a Getting started guide in place. Will create separate issues for SDK docs/api and target for GA milestone.

[2021-06-03 15:18] #571 closed

[2021-06-03 15:20] lalitb commented on #74
Moving to GA milestone, as fix doesn't involve api/sdk interface changes. And few of the failures are related to issues with the test suite used for validation.

[2021-06-03 15:21] lalitb commented on #683
Moving to GA milestone as this is documentation change.

[2021-06-03 15:22] lalitb commented on #688
Moving to GA milestone, as this is related to documentation.

[2021-06-03 20:54] ohamuy commented on #812
Hey @lalitb @reyang I wrote this block of code overloading the Session to allow for url input. This utilizes the urlparser in the common folder. What would you like me to return if it doesn't successfully parse? Nullptr? Also this code compiles successfully using Bazel
[code]

[2021-06-04 07:01] #808 closed

[2021-06-04 16:31] lalitb commented on #604
There are 77 TODOs in code, major components are:
[code]
Moving this to 1.0.0 milestone - to access each TODO, and create issues for relevant ones.

[2021-06-04 18:29] #572 closed

[2021-06-04 18:29] #733 closed

[2021-06-04 18:29] #817 closed

[2021-06-04 19:41] maxgolov commented on #769
@luke-1993 - we current support the following mechanisms officially:
- CMake
- Bazel

On Windows our CMake build falls-back to `vcpkg` package manager-provided dependencies. Because that is the easiest way to integrate prebuilt packages, without resorting to users manually specifying paths to their own builds of curl, protobuf, grpc, etc.

We don't have immediate plans to support conan package man

[2021-06-04 19:44] maxgolov commented on #769
I'm removing the `bug` label from this issue since it's unique to `conan` package manager, which we don't officially support.

Plain CMake builds (without any external package manager-provided deps) work well on Linux, Mac and Windows.

[2021-06-04 19:50] maxgolov commented on #813
I would like to test this on latest build. Although we enable the option by-default for `STDLIB` build - we turn it off in case if customer's build system does not have `gsl` header. So the issue is largely alleviated: that way we do not force the customers to use the header.

Perhaps we should've switched our `nostd::span` implementation to `gsl::span`. Min bar for `gsl::span`, however, is C++14.

[2021-06-04 20:43] lalitb commented on #812
@ohamuy  - Your approach looks good. We can return the Session object with an empty/non-existent host, and default port(80). And let the actual connection failure get caught at ResponseHandler level:

[code]

While using ,
[code]
`res_handler` will catch the connection error.

[2021-06-04 20:51] ohamuy commented on #812
@lalitb Ok great, I'll add these changes and get a PR ready (will have to get it reviewed first within Amazon!)

[2021-06-05 06:33] owent opened #826 "`BatchSpanProcessor` wakeup too frequently when no more data to export after a long time `Export(...)`."
**Describe your environment**
`BatchSpanProcessor` wakeup too frequently when no more data to export after a long time `Export(...)`.

**Steps to reproduce**
Use BatchSpanProcessor and make exporter cost more time than `schedule_delay_millis` in `BatchSpanProcessor`.
And the nothing more data to export.(Let the `buffer_` in `BatchSpanProcessor` be empty.)

**What is the expected behavior?**
`Batch

[2021-06-05 06:52] owent commented on #705
The cmake config file are installed under `<CMAKE_INSTALL_PREFIX>/lib/cmake/opentelemetry-cpp` or `<CMAKE_INSTALL_PREFIX>/lib64/cmake/opentelemetry-cpp` .
The `opentelemetry-cpp-target.cmake` will include all `opentelemetry-cpp-target-*.cmake` and the suffix of `opentelemetry-cpp-target-*.cmake` depend on what you pass to `--config` if you use `cmake --build ...` to build.
For example:
When using

[2021-06-07 05:13] anshulkumar19 commented on #801
I can see that this issue is addressed in your PR https://github.com/open-telemetry/opentelemetry-cpp/pull/823, right?

[2021-06-07 05:15] anshulkumar19 commented on #768
I would like to pick this up, can I get it assigned?

[2021-06-07 05:26] lalitb commented on #768
Sure.  @ThomsonTan can help you if needed as he knows this component better.

[2021-06-07 07:24] #826 closed

[2021-06-07 15:53] lalitb commented on #530
#729 closes this

[2021-06-07 15:53] #530 closed

[2021-06-07 16:33] bogdandrutu opened #828 "Can the API avoid returning shared_ptr<Span>"
See: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/tracer.h#L39

By having this design an atomic ref-counting will always be needed. This will block in the future a possibly more performant "streaming" implementation where Span == SpanContext and all "record" apis will stream an event. The reason for "blocking" is because will still pay the refcounti

[2021-06-07 17:07] bogdandrutu commented on #828
Same comment should apply for "Baggage" as well. It should allow an alternative implementation (even though is not a proper implementation but could be a header replace) that does not require Baggage to be heap allocated and refcounted.

[2021-06-07 17:28] ThomsonTan opened #829 "Build waring introduced by gRPC example"
For MSVC build with examples, a lot of protobuf warnings are emitted. We disabled all of warnings for opentelemetry-proto compilation, but the fix is not applied to gRPC example which also doesn't protobuf compilation.

**Steps to reproduce**
Build openetelemetry-cpp with `WITH_OTLP` with CMake.

**What is the expected behavior?**
The build should complete and clean.

**What is the actual behavior

[2021-06-07 17:36] jsuereth commented on #828
We (Google) would be a fan of this change, giving us freedom to control performance going forward with differing implementations

[2021-06-07 19:23] ThomsonTan opened #831 "Jaeger should transmit all IDs in big endian"
According to Jaeger exporter spec below, all IDs should be transmitted in big endian.

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#ids

[2021-06-07 20:09] pyohannes commented on #828
This should be doable.

I'm not sure if we can preserve the ability to automatically end a span when it is deallocated (or goes out of scope). We might end up requiring explicit calls to `End` for all spans that are not managed by a [Scope](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/scope.h).

[2021-06-08 06:04] #829 closed

[2021-06-08 06:13] bogdandrutu commented on #828
You can achieve exactly the same behavior by having internally a `shared_ptr<SpanImpl>` and have the copy ctor/assignment do ref and destructor unref, and when out of scope you call End. It is just a variant that does not change the behavior but changes the ownership of the reference object, and allows alternative implementations that can avoid using reference counting.

[2021-06-08 14:27] owent opened #834 "Linking error with prebuilt opentelemetry-cpp and gcc 4.8"
**Describe your environment**
cmake 3.20.0
gcc 4.8
centos 7

**Steps to reproduce**
Using cmake to build and install opentelemetry-cpp, and then use installed opentelemetry-cpp targets (cmake config) to link.

**What is the expected behavior?**
Success

**What is the actual behavior?**

[code]

**Additional context**

There are two problem.

1. The code `#    include "absl/types/variant.h" ` in [a

[2021-06-08 15:14] owent commented on #803
Closed by #810

[2021-06-08 15:14] #803 closed

[2021-06-08 15:19] lalitb commented on #828
Had a quick look into span api code, the problem I see here is that `api::Span` is an abstract class, which means we can't return a copy of it,  so we have to return a reference or pointer of it ( holding the instance of `sdk::Span`), and this will introduce the typical ownership/memory issues where application/instrumentation-code is still holding the reference/pointer to object which has been al

[2021-06-08 15:55] lalitb commented on #834
Thanks for reporting @owent. Was absl library installed in the default system path? I am trying to figure why this error was not caught in our CI build. and possibly we need to add tests for this?

[2021-06-08 16:30] lalitb opened #837 "Add performance benchmark tests for Baggage API"
Performance benchmark tests are missing for Baggage API. This needs to be added.
Reference:
Sampler benchmark tests: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/sdk/test/trace/sampler_benchmark.cc

[2021-06-08 16:35] lalitb opened #838 "Add bazel build for grpc example"
grpc example ( https://github.com/open-telemetry/opentelemetry-cpp/tree/main/examples/grpc ) supports only cmake build as of now. bazel build needs to be added.

cc @jsuereth added bug as discussed here : https://github.com/open-telemetry/opentelemetry-cpp/pull/729#pullrequestreview-674615647

[2021-06-08 17:26] lalitb commented on #828
Just to add on top of the above comment, while we can add a `non-abstract` Span at API surface which internally contains a pointer to `sdk::Span`, and return this instead of `shared_ptr<Span>`. But this will make it difficult to maintain ABI compatibility. Any changes in internal structure of this `non-abstract` Span can break ABI compatibility. Returning shared_ptr allows us more flexibility to m

[2021-06-08 17:37] ThomsonTan commented on #828
Could we add a new API to support returning pointer/reference to `Span`? Even we don't guarantee backward compatibility, we could try to not break existing customer.

[2021-06-08 23:14] maxgolov opened #841 "Intermittent test failure: `179 - trace.CircularBufferTest.Simulation (Failed)`"
This test is occasionally failing in CI.

Example run with the failure:
https://github.com/open-telemetry/opentelemetry-cpp/runs/2778747475

![image](https://user-images.githubusercontent.com/34072974/121269418-a3838880-c874-11eb-8b0c-01149a777e7f.png)

[2021-06-09 00:23] pyohannes commented on #828
One possible approach for this, which can be implemented very easily:

Return `api::Span` as a `unique_ptr` when a span is started, only convert it into a `shared_ptr` if it is set as the currently active span in the context. Because only in this case, the ownership of the span is truly shared (one copy is owned by the context, another by the user). With this solution users who want to benefit fro

[2021-06-09 03:13] owent commented on #834
I build abseil into my custom path, and then use the abseil to build opentelemetry-cpp.All libraries are installed into installation path.The build script may like below(The real script we use is more complex, because we build all denpendcies within our build system, not only abseil).

[code]

And the this problem only happen when we have a application outside `opentelemetry-cpp` and link `opentel

[2021-06-09 03:42] #834 closed

[2021-06-09 06:06] bogdandrutu commented on #828
@lalitb can you please explain a bit more

What is the difference in your baggage prototype from ABI compatibility? If you change the current Baggage class is it not the same?

[2021-06-09 07:21] #756 closed

[2021-06-09 07:31] lalitb commented on #828
Returning `Baggage` as an object exposes the memory layout of the object to the caller, and the caller can start having a dependency on this memory layout which can break ABI compatibility. As an example, if the caller is using `sizeof(Baggage)` in their code, and we add a new private data member in the `Baggage` class, this will break the caller code. Returning `shared_ptr<Baggage>` won't give ca

[2021-06-09 14:00] #746 closed

[2021-06-09 16:43] maxgolov commented on #828
Can we have an implementation that performs the following:

- `using SpanValue = nostd::shared_ptr<Span>` - to maintain backwards compatibility with `v1.0.0-rc1` API. I already have customers using this API surface since `v0.6`.

- perf concern is somewhat exaggerated for spans with "reasonable" duration, i.e. not a synthetic benchmark that emits 0-microseconds spans, but spans that actually perfo

[2021-06-09 16:55] maxgolov commented on #837
It's a great task, and it would really help to compare `before` vs `after` whenever we consider any refactor in this domain.

Let's make any refactoring decisions judging by perf numbers.

[2021-06-09 19:56] lalitb commented on #828
The solution would depend on what we are trying to achieve here by removing ABI stable smart-pointer from API surface  (sorry but I am still trying to get more clarity):

- performance improvement - It would be interesting to see if we can achieve performance improvement by removing `shared_ptr` from the API surface. As Span object would be shared at multiple places, we would internally still need

[2021-06-10 05:16] #831 closed

[2021-06-10 12:12] BuildMan-Alpha opened #842 "circular_buffer.h fails to compile on Win32 because of a conversion from uint64_t to size_t"
**Describe your environment**
Win32 Compile using Visual Studio 2019 (16.10.0)

**Steps to reproduce**
Run CMake with -G "Visual Studio 16 2019" -A "Win32" "-DBUILD_TESTING=OFF" "c:\dev\AA3rdPartyExt\opentelemetry-cpp" "-DCMAKE_TOOLCHAIN_FILE=C:\dev\vcpkg\scripts\buildsystems\vcpkg.cmake" "-DCMAKE_PREFIX_PATH=c:\dev\AA3rdPartyExt\Build\nlohmann_json\VS16\Win32;c:\dev\AA3rdPartyExt\Build\googletest

[2021-06-10 12:35] BuildMan-Alpha opened #843 "Windows compile with CMake fails - Can't find googletest or nlohmann_json"
**Describe your environment**
Windows VS 2019 (16.10.0)

**Steps to reproduce**
Clone repository with --recursive.
Run CMake with arguments -G "Visual Studio 16 2019" -A "x64" "-DBUILD_TESTING=OFF" "c:\dev\AA3rdPartyExt\opentelemetry-cpp" "-DCMAKE_TOOLCHAIN_FILE=C:\dev\vcpkg\scripts\buildsystems\vcpkg.cmake" -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DWITH_PROMETHEUS=ON

**What is the expected behavior

[2021-06-10 15:38] #819 closed

[2021-06-10 15:48] ThomsonTan commented on #841
With PR #796, more information on the test failure was included in the output as below, but seems the difference of the arrays is in the `...` part, sigh. But it does show that there is a race condition in the circular buffer.

[code]

[2021-06-10 16:25] maxgolov commented on #843
@BuildMan-Alpha - could you please try this process:

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/building-with-vs2019.md

Adjust the build files to your liking. I'm using this process daily. It works well.

Let me know your feedback.

[2021-06-10 22:26] maxgolov commented on #843
This PR contains a few additional improvements to cover most compilers on Windows (vs2015-vs2019, recent versions of clang) :

https://github.com/open-telemetry/opentelemetry-cpp/pull/839

[2021-06-10 22:40] maxgolov commented on #842
OpenTelemetry C++ SDK `v1.0` will not have support for Metrics. These features are experimental and were turned off by `WITH_METRICS_PREVIEW=OFF`, which in turn does not enable `WITH_PROMETHEUS`. Please compile without prometheus. We'd be able to tackle this after `v1.0` GA.

@lalitb

[2021-06-10 23:16] maxgolov commented on #842
Re. `Win32` vs `x64` issue - please use `x64` for now. We'd address the x86 on Windows promptly (without prometheus support though!).

[2021-06-10 23:18] ThomsonTan commented on #842
@maxgolov is prometheus 64-bit only?

[2021-06-10 23:25] maxgolov commented on #842
@ThomsonTan - no, it appears like Visual Studio 2019 is rather strict with type conversion.

All of our CI is `x64` and we never caught a few issues in there.

I think there are two separate tasks:
- clean-up `x86` building without Prometheus (for `v1.0` GA)
- clean-up `x86` for all code, including experimental + Prometheus (after `v1.0`)

I'll send out the fix for basic / core components for `Win

[2021-06-11 08:14] anoyli opened #848 "/usr/local/include/absl/base/internal/identity.h:26:8: error: redefinition of 'identity'"
Hi Team, an error occur during my make procedure of opentelemetry-cpp in branch:  v1.0.0-rc1.
Here is the full stack trace

[code]

is there anything i am missing?

[2021-06-11 08:23] owent opened #849 "Missing fix for test for #834 and some examples have different definetions from `opentelemetry_api`"
**Describe your environment**
cmake 3.20.0
gcc 10.2.0
linux/centos 7

**Steps to reproduce**
Enable testing and install abseil with vcpkg.

**What is the expected behavior?**
Compiling success.

**What is the actual behavior?**

`nostd::bad_variant_access` undeclared in `api/test/nostd/variant_test.cc:52:45` .

**Additional context**

After add `using absl::bad_variant_access` into `api/include/op

[2021-06-11 09:55] lalitb commented on #848
Thanks for reporting the issue. Could you please add the build steps used which caused the error?

[2021-06-11 12:27] BuildMan-Alpha commented on #843
Thanks Max!

I will look closer at Ninja and the link you sent.

From: 'Max Golovanov' via GithubAdmin ***@***.***
Sent: Thursday, June 10, 2021 12:26 PM
To: open-telemetry/opentelemetry-cpp
Cc: BuildMan-Alpha; Mention
Subject: Re: [open-telemetry/opentelemetry-cpp] Windows compile with CMake fails - Can't find googletest or nlohmann_json (#843)

@BuildMan-Alpha <https://github.com/BuildMan-Alpha>

[2021-06-11 12:45] BuildMan-Alpha commented on #842
Thanks Max!

Looking forward to metrics being added.

From: 'Max Golovanov' via GithubAdmin ***@***.***
Sent: Thursday, June 10, 2021 6:40 PM
To: open-telemetry/opentelemetry-cpp
Cc: BuildMan-Alpha; Author
Subject: Re: [open-telemetry/opentelemetry-cpp] circular_buffer.h fails to compile on Win32 because of a conversion from uint64_t to size_t (#842)

OpenTelemetry C++ SDK v1.0 will not have suppo

[2021-06-11 12:49] BuildMan-Alpha commented on #842
Thanks Max!

32-bit isn’t critical for this project as we only build that to integrate with an existing 32-bit client environment.  We do have some 32-bit server code that could really use opentelemetry-cpp  though .  Sadly, moving that large code base to 64-bit is work that is ahead of us.

From: 'Max Golovanov' via GithubAdmin ***@***.***
Sent: Thursday, June 10, 2021 7:17 PM
To: open-telemetry/

[2021-06-11 18:25] maxgolov commented on #842
@BuildMan-Alpha - we'll make the core work well with 32-bit before July 1st. All core tests work and pass with the fix I sent for review. #847  ... Once we get there, we'll set up the build loop for Win32 / x86, and incrementally add the other components, including Logs and Metrics. I hit some minor issue with Prometheus (Metrics) on Win32. Thus, I want to take staged approach. Fixing core first.

[2021-06-11 18:29] maxgolov commented on #848
Can you confirm the Xcode / compiler version? Could you also please pull this PR, which may fix the issue for you:

#840 - reorder the include headers in `client.cpp`

[2021-06-11 18:32] maxgolov commented on #843
Ninja build is x5 times faster. And produces the same output. The only scenario where you'd benefit from `MSBuild` -generated files, is if you want to debug the SDK in older Visual Studio 2017. I hope to get #839 merged, that cleans-up the overall build experience for all compilers - `[vs2015|vs2017|vs2019|clang-*]`.

[2021-06-11 18:40] ohamuy commented on #812
We can close this issue now, correct? @lalitb

[2021-06-11 18:41] #812 closed

[2021-06-11 19:58] BuildMan-Alpha commented on #843
Hi Max.

With Ninja installed, I am able to get a build with x64 on windows.

I still have to set the CMAKE_PREFIX_PATH variable to a previously downloaded folder for nlohmann_json for some reason.

PR 839 didn’t seem to affect the Win32 build (assuming the error in circular_buffer.h is yet to be addressed).

Using setup-buildtools.cmd and build.cmd work, but I would like to have this work with CM

[2021-06-12 02:56] anoyli commented on #848
Hi @maxgolov , thanks for your reply. my clang version is as follow:
[code]

[2021-06-12 03:03] anoyli commented on #848
Hi @lalitb , i just follow the guide:
[https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#building-as-standalone-cmake-project](url)

my command as follow:
[code]
and the error occur during the command: `cmake --build . --target all`

[2021-06-12 04:07] maxgolov commented on #848
@anoyli - I have reproduced your issue with `v1.0.0-rc1` . And I can confirm that the fix I mentioned resolves it:

#840 - reorder the include headers in client.cpp. Unfortunately we require gRPC generated headers to be included first before the rest of OpenTelemetry API due to issue in `clang-11` and other older compilers. Please pick up the latest code using `git pull origin main`, then example

[2021-06-12 04:07] #848 closed

[2021-06-12 07:26] anoyli commented on #848
oh, thank you very muh! @maxgolov

[2021-06-12 08:33] anoyli opened #851 "warning: explicitly defaulted default constructor is implicitly deleted"
Hi Team, i am working on branch v0.7.0, but there is warning during make.
my command is as follow:

cmake command
[code]
output of cmake
[code]

make command
[code]
there are several same warnings:
[code]

is it ok for build?

[2021-06-12 09:40] lalitb commented on #851
@anoyli - thanks for reporting these warnings. Logger and metrics api/sdk are in preview, better to disable their build using -DWITH_METRICS_PREVIEW=OFF -DWITH_LOGS_PREVIEW=OFF.

For runtime_context warning, there is an open PR #775 which is somehow blocked due to CLA not signed, I will take those changes and raise a separate PR. It is absolutely ok to build with this warning, as the `Token` defau

[2021-06-12 09:49] anoyli commented on #851
Many thanks @lalitb

besides i am curious the project:  [https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx](url), there are no active replies recently. Because i have some problems during make procedure, who i can ask for help？

[2021-06-12 10:26] lalitb commented on #851
@seemk owns `nginx` project. I have updated the subject of the issue to indicate its `nginx`  instrumentation issue.

[2021-06-12 15:42] #851 closed

[2021-06-12 15:59] #849 closed

[2021-06-14 07:05] owent opened #852 "Implement timeout and cancelable `OtlpHttpExporter`"
After #833 is merged, I complete the `OtlpHttpExporter` with timeout support and cancle sessions when exit.

**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Use `HttpClient` instead of `HttpClientSync` .

**Additional context**
Related #810

[2021-06-14 11:41] lalitb opened #854 "Add CI job to enable build using STL/ABSEIL for modern C++ features."
Enable CI build to use ABSEIL and STL for modern C++ features ( std::string_view, std::variant, std::span, std::shared_ptr, std::unique_ptr) .

[2021-06-14 17:55] #852 closed

[2021-06-14 21:56] maxgolov commented on #843
Win32 error is being fixed in #847

[2021-06-15 02:41] ThomsonTan opened #857 "Conditional variable cv_got_events in otlp_http_exporter_test is never notified"
**Describe your environment**
otlp_http_exporter_test use [conditional variable](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/otlp/test/otlp_http_exporter_test.cc#L45) to sync between main thread and HTTP response handling thread, but the conditional variable is never notified even when the HTTP response is completed processing.

**Steps to reproduce**
Run `exporter.otlp

[2021-06-15 04:31] #842 closed

[2021-06-15 08:13] lalitb opened #859 "Build fails with -DWITH_STL=ON cmake option"
**Describe your environment**
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**Steps to reproduce**
[code]
**What is the expected behavior?**
Build should be successful

**What is the actual behavior?**
Build fails with below error:

[code]
**Additional context**
Add any other context about the problem here.

cc @maxgolov

[2021-06-15 08:18] #857 closed

[2021-06-15 13:05] lalitb commented on #828
Ok, invested some time in prototyping span creation api to return `unique_ptr<Span>` instead of `shared_ptr<Spam>` [here](https://github.com/lalitb/opentelemetry-cpp/compare/main...lalitb:span-pointer?expand=1). Here are the benchmark results in identical load conditions:

**Existing api ( using shared_ptr):**
[code]

**new api returning `unique_ptr<Span>` and using span's raw pointer internally t

[2021-06-15 18:35] maxgolov commented on #843
@BuildMan-Alpha

Hi Kurt,

Win32 fix is now merged in the `main`. Please pull it and try building for Win32.

Re. `CMAKE_PREFIX_PATH` - this is interesting. We employ two (orthogonal) approaches:

- **nlohmann json from vcpkg installation**: scripts that I shared above would use a local snapshot of `vcpkg` package management. And inside that one we install `vcpkg install nlohmann-json:%ARCH%-windo

[2021-06-15 18:44] maxgolov commented on #859
Sorry for that. It's because of a new test that I added. I'll fix it. It's a simple one-liner.

[2021-06-15 19:32] BuildMan-Alpha commented on #843
Hi Max,

Great to hear Win32 is in the main branch!  Running a test now.

Ideally, I was hoping to just invoke CMake on an open source project and have all GitHub repositories it depends on built and install within the project.  Setting up a build machine is tedious, and automating the installation really helps. As an old-school Visual Studio type, CMake is new to me, and I really like the concept

[2021-06-15 20:06] BuildMan-Alpha commented on #843
Hi Max,

Win32 worked perfectly!  Thank you!

The submodule logic doesn’t seem to work on Windows for me.  Ninja is installed, along with CMake 3.20.

Build-CMake-Project-Windows : Error Invoking cmake to create the project files failed - level 1

Building with nostd types...

CMake Error at C:/dev/vcpkg/scripts/buildsystems/vcpkg.cmake:263 (_find_package):

  By not providing "Findnlohmann_json.c

[2021-06-15 20:43] maxgolov commented on #843
I'll try to improve the handling of this, i.e. if outside CMake is not set up explicitly with the knowledge of `GTest` and `nlohmann_json`, then we attempt to use the versions provided by our submodules. Assigning to myself. But it'd be relatively low priority, since we already document how to build with `vcpkg` -provided dependencies.

[2021-06-15 20:55] maxgolov commented on #828
So if the new proposed approach degrades perf of span creation x1.75 times, and/or does not improve performance overall - for the sum across all tests (not a good metric though), is _worse_ - because of `BM_SpanCreation` and `BM_SpanCreationWithManualSpanContextPropagation` , this kinda defeats the purpose, or disproves the actuality of original expectations?

Why would we be doing that again? I t

[2021-06-16 11:13] chrissam opened #862 "Getting "/usr/bin/curl: error adding symbols: bad value" while running target build"
**Describe your environment**
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**Steps to reproduce**
cmake --build . --target all

**What is the expected behavior?**
Build should succeed

**What is the actual behavior?**
cmake --build . --target all
[  6%] Built target opentelemetry_proto
[  7%] Built target timestamp_test
[  8%] Built target runtime_context_test
[  9%] Built target context_test

[2021-06-16 11:58] lalitb commented on #862
Looks like `curl_http_test` target is trying to link with `/usr/bin/curl` executable instead of the `libcurl`.
Can you validate libcurl installation with below commands:
[code]

[2021-06-16 12:29] lalitb commented on #862
Also, you can disable building the tests using the `-DBUILD_TESTING=OFF` cmake option if there are issues with the curl.

[2021-06-16 15:05] lalitb commented on #862
Ok, thanks. Can you set the verbose flag `ON` while building to get the g++ link command which is failing? You can just paste the final link command which generated the error:
[code]

[2021-06-16 15:18] chrissam commented on #862
[code]

[code]

[2021-06-16 15:38] lalitb commented on #862
Ok, that's weird, it should have linked with `/usr/lib/x86_64-linux-gnu/libcurl.so` instead of `/usr/bin/curl`. One last thing if you can tell the cmake version you are using for build ?
[code]

[2021-06-16 15:58] chrissam commented on #862
[code]

[2021-06-16 17:30] #859 closed

[2021-06-16 18:32] lalitb commented on #862
Thanks, @chrissam for all the logs. I don't see any issue with your setup from logs. Still compiler is weirdly linking against `/usr/bin/curl` instead of `libcurl`. At the same time, I am able to build it successfully in a similar setup, and also our CI runs a similar setup (ubuntu 20.04). My suggestion would be to
 - reinstall `libcurl4-openssl-dev` using `apt`  and see if that fixes the problem.

[2021-06-16 18:42] #768 closed

[2021-06-16 18:55] chrissam commented on #862
Hey @lalitb , thanks a lot for pitching in to debug this. I was able to build it by disabling tests as you suggested. I did try reinstalling `libcurl4-openssl-dev`  and tried it in new machine as well earlier. I came here without anything left to try from my end. :)

[2021-06-16 19:20] #854 closed

[2021-06-17 02:58] maxgolov commented on #862
@chrissam - can you check the following:

[code]

That's the only package you need.

Also check what curl libraries you have installed:

[code]

Same as Lalit mentioned, I don't see any issues with building it on my machine with Ubuntu-20.04. I'm using the same gcc and cmake version as you. All works well 🤷

[2021-06-17 05:10] maxgolov commented on #843
It's a bit more tricky for `GTest` (which may not be required for the majority of build pipelines anyways, since it's only for the tests). And more straightforward for `nlohmann/json.hpp` . I sent out the fix to auto-discover the submodule-provided version of it in #865 .. at least partially alleviating your original concern.

[2021-06-17 08:26] chrissam commented on #862
Ok, I see some difference here @maxgolov . The libcurl command did not list anything.

[code]

[code]

[2021-06-17 10:09] anshulkumar19 commented on #767
@lalitb Can you assign this to me?

[2021-06-17 13:25] lalitb commented on #862
Listing... Done

Please check whether ubuntu default repos are configured, though as per me it should have worked as long as you have `libcurl4-openssl-dev` installed. ( trying my bit before @maxgolov comes online :) )

[code]

[2021-06-17 13:41] BuildMan-Alpha commented on #843
Hi Max,

Having nlohmann_json work out of the box will definitely help folks get started.

Note:  I believe BUILD_TESTING is ON by default.  If it were defaulted to OFF for 32-bit Windows, then perhaps a first-time CMAKE builder on Windows would not get errors… ???

Again, thank you!

Best,

Kurt

From: 'Max Golovanov' via GithubAdmin ***@***.***
Sent: Thursday, June 17, 2021 1:11 AM
To: open-tele

[2021-06-18 03:50] maxgolov commented on #843
@BuildMan-Alpha - indeed, I agree we can improve the documentation piece for the GTest handling. Presently we manually build that in our integration loops. And the scripts I shared with you - these install `vcpkg install gtest`, essentially doing what you did. `vcpkg` uses common location for all CMake packages, whereas you are manually specifying the path to your own prebuilt GTest ( `CMAKE_PREFI

[2021-06-18 04:08] #837 closed

[2021-06-18 05:27] owent commented on #838
I'm interesting in this. There some problems in #666 before.

+ The old gRPC do not support legacy compilers and bazel 4.
+ There are also more problems if using `C++20` (Which remove many deprecated APIs before) even we use the gRPC with the version is not that old.

I'm not familiar with `bazel` and I think there may be the same problems if we add `bazel` support for grpc example.
Looking for th

[2021-06-18 07:43] lalitb commented on #838
For the gcc compiler, we can document the minimum supported gcc version for gRPC/otlp as defined by gRPC (4.9+ or 5.1+ whatever works) :
gRPC needs gcc 4.9+(https://grpc.io/docs/), and abseil needs gcc 5.1+ (https://abseil.io/docs/cpp/platforms/platforms).

We can further split our Bazeil build CI into two parts - 4.8 compiler without building grpc/otlp exporter, 5.0+ compiler with grpc/otlp expor

[2021-06-18 10:41] lalitb commented on #760
``Recordable::RecordException(Exception &exception)``

It won't be easy to support as passing exceptions can break ABI compatibility. It's instead recommended for instrumentation libraries to serialize Exceptions and pass using `Recordable::AddEvent`.
Will wait for other thoughts, before closing this issue.

[2021-06-18 11:23] lalitb commented on #828
This was discussed in the last weekly meeting. Based on the current benchmark results, and evaluating the required changes, it is planned -
- to put on hold any API changes related to "shard_ptr" for now while we are nearing the release.
- revisit this post GA if any related performance issue is reported. Any new ABI changes can be added as per the Versioning guidelines [here](https://github.com/o

[2021-06-18 12:29] lalitb commented on #838
I am putting it as help needed, probably someone with good knowledge `bazel` can help here.

[2021-06-18 13:59] BuildMan-Alpha commented on #843
Hi Max,

Looks like there is a dependency for CMake in opentelemetry_exporter_etw that may need to be updated.

Build-CMake-Project-Windows : Error Invoking cmake to create the project files failed - level 1

Using local nlohmann::json from submodule

Building with nostd types...

CMake Warning at examples/http/CMakeLists.txt:4 (message):

  Skipping http client/server example build: CURL not foun

[2021-06-18 17:31] maxgolov opened #867 "Support for `Resource` API in ETW exporter"
Presently ETW exporter itself implements a "mini-SDK", header-only. And it does not implement the `Resource` API. Whereas having a `Resource` API should allow us to populate "common attributes" reusable for each event.

Workaround:
- customers must populate each key-value in the event map.

Solution wanted:
- use `Resource` API to pre-populate some common attributes. Merge the resource map with ev

[2021-06-18 22:26] maxgolov commented on #843
@BuildMan-Alpha - apologies, I realized why it's breaking on Windows. As a workaround, you have two options:
- use `vcpkg` to manage your dependencies - `vcpkg install nlohmann-json:x86-windows` , then you may point your build to `vcpkg` via:

`set VCPKG_ROOT="C:\vcpkg"` - whatever directory where you have installed and built vcpkg.

Then pass `-DCMAKE_TOOLCHAIN_FILE="%VCPKG_ROOT}\scripts\buildsys

[2021-06-18 22:36] maxgolov commented on #843
@BuildMan-Alpha - I realized there is a much nicer workaround available for your system. You do not need a fix.

You can add `-DJSON_Install=ON` option to your CMake command, and that should solve the issue.

Please try it. Meanwhile I'll submit a change to make this option ON by default, so you won't be needing to pass it in the next release.

[2021-06-21 12:57] lidavidm opened #869 "Can't build project (either API_ONLY or default options) using CMake from release tarball"
**Describe your environment**

Ubuntu 18.04 x86_64, OpenTelemetry v1.0.0-rc2

[code]

**Steps to reproduce**

[code]

**What is the expected behavior?**

We should be able to configure OpenTelemetry.

**What is the actual behavior?**

CMake fails because nlohmann-json isn't included in the release tarball:

[code]

**Additional context**

Ideally, we would just not build components that require nl

[2021-06-21 13:23] lalitb commented on #869
Thanks for reporting @lidavidm. This is discussed here: https://github.com/open-telemetry/opentelemetry-cpp/pull/865#discussion_r653809107 and planned to be fixed. cc @maxgolov

[2021-06-21 13:27] lidavidm commented on #869
Ah, sorry for the duplicate, and thanks for pointing me there.

I do see a suggestion to always clone recursively - in that case it might be worth manually uploading release tarballs with submodules included? Since the default GitHub ones do not include them.

[2021-06-21 14:44] BuildMan-Alpha commented on #843
Hi Max,

Works perfectly!

So, currently, if I build OpenTelemetry-cpp with CMake from a clean clone of the repository and the following parameters (and have built and installed Ninja), the build works perfectly for both 64-bit and 32-bit builds on Windows.

-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DWITH_PROMETHEUS=OFF -DBUILD_TESTING=OFF -DJSON_Install=ON

Not sure if it would be more appropriate to

[2021-06-22 05:30] #843 closed

[2021-06-22 05:30] #869 closed

[2021-06-22 15:48] lalitb commented on #862
@chrissam  - Closing this as it looks to be an issue with the default repo's configured in your system. As it is working fine locally and in our CI. Please feel free to reopen if you think otherwise. Also if you would like to contribute fix for this issue as it is something reproducible at your end.

[2021-06-22 15:48] #862 closed

[2021-06-22 15:59] lalitb commented on #705
@jefjos @nkrishnappa please update whether you are able to build it successfully with the latest release.

[2021-06-23 03:04] owent commented on #705
Please consider using codes below to move some properties out of CONFIG if there are still problems to link.

[code]

[2021-06-23 13:29] lalitb opened #873 "Semantic Conventions - script to automatic generation of semantic conventions c++ code"
As part of #868 and #872 , currently we are embedding semantic convention attributes manually into C++ code. This can be automated.
This ticket is to check the feasibility of automatic generation of C++ code from semantic convention YAML data model using Jinja template engine.

Reference:
YAML data model for semantic conventions: https://github.com/open-telemetry/opentelemetry-specification/tree/m

[2021-06-23 20:03] Kurt-Rayner-Alpha opened #874 "Errors building -DWITH_JAEGER on Windows - Thrift missing"
**Describe your environment**
Windows building with VS 2019 64 bit.  Will also want to build Win32.

**Steps to reproduce**
Add the -DWITH_JAEGER flag to CMake on Windows to a build that was working without the flag set.

**What is the expected behavior?**
Clean build

Hopefully I am just missing a flag.

**What is the actual behavior?**

CMake complains that it can't find Thrift.

Set directory t

[2021-06-24 06:58] lalitb commented on #874
Thanks for trying it out, and reporting the issue. cc @ThomsonTan

[2021-06-24 07:01] ThomsonTan commented on #874
@Kurt-Rayner-Alpha could you please try install thrift via vcpkg as you are using it? Like `c:\dev\vcpkg\vcpkg install thrift:x64-windows`?

[2021-06-24 15:19] lidavidm opened #875 "Jaeger exporter fails to build with Thrift 0.14.1 as bswap_* is actually a macro"
**Describe your environment**

Ubuntu 18.04 x86_64, OpenTelemetry main @ ae6d81088caaaf7039f9f74b3bddc4da24a83b89
Thrift 0.14.1 from conda-forge

[code]

**Steps to reproduce**

Build with `-DWITH_JAEGER=ON`:

<details>

[code]

</details>

**What is the expected behavior?**

OpenTelemetry should build.

**What is the actual behavior?**

OpenTelemetry fails to build since bswap_64 is actually a ma

[2021-06-24 18:14] lalitb commented on #875
Interesting.  It works fine in our CI with Thrift 0.14.1.  Not sure, but maybe it's because of different version of `libc6-dev` which brings `byteswap.h`. This is the libc6-dev version installed in my setup where build is successful:

[code]

Your suggestion looks good - to create the bswap_64 function only if the macro is not defined. Or maybe rename the function to something unique.

[2021-06-24 18:17] ThomsonTan commented on #875
I'd prefer we rename it with some OpenTelemetry prefix, in case the system provided one doesn't provide the required semantics for us. I could take care of this.

[2021-06-24 18:18] lidavidm commented on #875
Ah, thanks, I was going to put up a PR with an #ifndef guard, but I realize that won't work since then you can't use it as `opentelemetry::exporter::jaeger::bswap_64` which at least the tests use.

[2021-06-24 18:20] lidavidm commented on #875
And sorry, it's because my libc comes from conda `sysroot_linux-64-2.12-h77966d4_13`, though my OS libc6-dev does a similar thing:
[code]

[2021-06-24 18:24] ThomsonTan commented on #875
@lidavidm could you rename the function name to either `opentelemetry_bswap_64` or `otel_bswap_64` to avoid naming conflict with macro name from system header?

I thought about it when adding it and put it under namespace which could avoid any potential link conflict, but missed the macro expansion.

[2021-06-24 19:05] #875 closed

[2021-06-24 21:54] maxgolov commented on #874
Unfortunately we do not have a snapshot of Thrift in submodules. While for `nlohmann::json` we could use our local submodule, we can't do that for Thrift. This script sets up the necessary dependencies. You may need to borrow the same / similar logic:

https://github.com/open-telemetry/opentelemetry-cpp/blob/0a3320ecdf92090d9e9db4aaaa89af5a8ceec87e/tools/setup-buildtools.cmd#L58

[code]

[2021-06-24 22:05] maxgolov commented on #874
I think we need to cover this as follows.

There are two documents presently that describe the build process options:

- [Building with vcpkg](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/building-with-vcpkg.md) - for this one we should modify the response file to add dependencies on all packages listed in my previous comment. While it lists some dependencies, I think `thrift

[2021-06-25 13:02] lalitb commented on #683
#844 resolves this.

[2021-06-25 13:02] #683 closed

[2021-06-25 13:36] lalitb commented on #656
@max, should we be using the `GetEnvironmentVariable` function to read the env variables for Windows instead of `getenv`/`getenv_s` for Windows, as this is supported by UWP apps too, similar to how it is done by libcurl (https://github.com/curl/curl/blob/master/lib/getenv.c). Apart from that, we can have a more generic macro check like (say) `ENV_VARIABLE_NOT_SUPPORTED` for the scenario where a cu

[2021-06-25 15:39] Kurt-Rayner-Alpha commented on #874
Thanks Max!

CMake on a separate clone of the Thrift repository seemed to work, but got stuck on the Flex subcomponent it pulled in.  The documentation for Flex only covers Unix/Linux environments.

I will try using VCPkg more consistently.  I’ve tried to work exclusively with CMake where possible.  As with NuGet, we have found VCPkg to be a bit too aggressive in injecting itself into the environm

[2021-06-25 17:15] maxgolov commented on #874
@Kurt-Rayner-Alpha

I totally agree with you on that. That is my experience as well. We don't use `vcpkg integrate` in OpenTelemetry. Instead we rely on the following:

- local snapshot of `vcpkg` under the `tools\vcpkg` directory

- we do respect `VCPKG_ROOT` environment variable, so if you want to use your own `vcpkg`, say at `C:\vcpkg\`, you can do so by setting environment variable `set VCPKG_

[2021-06-25 17:20] ThomsonTan commented on #874
@maxgolov do you mean the below line? Thrift should be covered by `install_windows_deps` already in vcpkg.

https://github.com/open-telemetry/opentelemetry-cpp/blob/0a3320ecdf92090d9e9db4aaaa89af5a8ceec87e/tools/setup-buildtools.cmd#L67

[2021-06-25 18:24] maxgolov commented on #874
@ThomsonTan - it's covered if our customers runs `setup-buildtools.cmd` first. So, technically, it is covered...

But if someone did not run it - we could have invoked the `install_windows_deps` to install it, the way we handle `WITH_OTLP` case - pretty much the same way we do it for gRPC and protobuf.

Pseudocode:

[code]

I'm thinking just Windows now, but the same concept could have been applie

[2021-06-25 18:26] Kurt-Rayner-Alpha commented on #874
Hi Max,

Those would be very helpful changes!

Using vcpkg for Thrift was sufficient to get Jaeger into our build project.  We already had vcpkg in place for gRPC on Windows, so CMake was quite happy once Thrift was installed.

In the meantime, I’ve extended our common build scripts to honor vcpkg installs as well as Git clone/builds.  Testing on Linux now.

Thank you again for all of your help!

[2021-06-25 18:35] ThomsonTan commented on #874
@maxgolov we have this check and try to invoke `install_windows_deps` if the user is not passing in a separate vcpkg, which means the use is relying on our submodule `vcpkg` (see below link). If the user provides a standalone `vcpkg`, the user would be responsible to install all the dependencies via `vcpkg install`, including gRPC, thrift, etc. Perhaps we could provide some hint in the error outpu

[2021-06-25 18:49] maxgolov commented on #874
@ThomsonTan - Yes. You are right. I think what happened in Kurt's case, he supplied `CMAKE_TOOLCHAIN_FILE` and that is why we did not run the `install_windows_deps` , thus the issue with Thrift missing.

[2021-06-25 19:08] Kurt-Rayner-Alpha commented on #874
@maxgolov <https://github.com/maxgolov>  and @ThomsonTan <https://github.com/ThomsonTan>

That is exactly right.  We had already provided CMake with a toolchain because we had gRPC installed via vcpkg on Windows for our project and were adding OpenTelemetry to an existing gRPC project.  I would think that would be a fairly common case.

We stumbled on using vcpkg on Windows for gRPC  because Fetch

[2021-06-25 19:42] benlandrum opened #878 "Parent-based sampler disconnected family trees"
**Describe your environment**
Using a 1.0.0 release candidate.

**Steps to reproduce**
Create a parent-based sampler with a ratio-based delegate sampler and a 0.5 sampling ratio.  Create multiple generations of spans.  You'll find that instead of always getting either a single trace with all the spans in it (from a sampled ancestor) or no traces (from a non-sampled ancestor), you randomly get mult

[2021-06-27 17:01] lalitb commented on #878
Agree, this is what is expected as per the Specs too : https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/sdk.md#sdk-span-creation

``
Generate a new span ID for the Span, independently of the sampling decision. This is done so other components (such as logs or exception handling) can rely on a unique span ID, even if the Span is a non-recording instance.

[2021-06-29 09:40] techxpert99 opened #880 "OTLP GRPC CPP Exporter Does Not Compile"
**Describe your environment**

Running Manjaro Linux 21.0.7 Ornara (x86-64, Kernel: Linux 5.10.42-1-MANJARO), in a VirtualBox VM
Compiler(s) Used to build:
g++ (GCC) 11.1.0
gcc (GCC) 11.1.0
clang 12.0.0

**Steps to reproduce**

(1) Clone the Repo: `git clone --recursive https://www.github.com/open-telemetry/opentelemetery-cpp.git`

(2) Build and Install the API, SDK with CMake & Make along with th

[2021-06-29 16:54] maxgolov commented on #880
@techxpert99 - please try the following options:

- rebuild the SDK by passing CMake flag `-DWITH_ABSEIL=ON`

or

- move the include `#include "opentelemetry/exporters/otlp/otlp_grpc_exporter.h"` to be the very first line in `Demo.cpp`

[2021-06-29 17:04] techxpert99 commented on #880
@maxgolov Thank you. Any of the two options resolve the bug, and the export works as intended. I will be closing this issue now.

[2021-06-29 17:04] #880 closed

[2021-06-29 17:13] maxgolov commented on #880
@lalitb @techxpert99 - I also wrote this example that works:

[code]

I will think about how to fix it better. The issue is that we use internally a different version of Abseil library than gRPC uses. We shield this by adding our own Abseil into our own private namespace. Somehow it clashes with certain compilers, when gRPC's Abseil gets included after ours. However, if gRPC header is included BEF

[2021-06-29 17:36] techxpert99 commented on #880
@maxgolov Yes fortunately! There is a similar issue with ZipkinExporter, because of a constant named kDefaultZipkinOptions.
I fixed  that by including the implementation in my source instead of using static libs.
Also, it exports a field named "duration" in nanoseconds, where Zipkin expects microseconds ( and so the duration is displayed in seconds where it should have been milliseconds). I fixed

[2021-06-29 17:50] lalitb commented on #484
This can be closed for now. Async http requests are the right approach, as this allows to Cancel/Abort the request as needed.

[2021-06-29 17:50] #484 closed

[2021-06-29 18:08] lalitb commented on #880
I fixed that by including the implementation in my source instead of using static libs.
Also, it exports a field named "duration" in nanoseconds, where Zipkin expects microseconds ( and so the duration is displayed in seconds where it should have been milliseconds). I fixed the latter of the issues by dividing the duration.count() by 1000.
I think I should open a separate issue for that.

@techxpe

[2021-06-29 18:53] lalitb commented on #880
Thanks @maxgolov for looking into this. I agree, we can document this in README.md for OTLP exporter, and gRPC example.

[2021-06-29 19:00] lalitb opened #881 "Issues with Zipkin exporter"
**Describe your environment**
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**Steps to reproduce**
Configure Zipkin exporter, and observe the "duration" field in Zipkin Dashoard.

**What is the expected behavior?**
Duration should be in microseconds
**What is the actual behavior?**
It's in nanoseconds.

**Additional context**
Also `kZipkinEndpointDefault` variable is defined in the header file

[2021-06-29 19:01] lalitb commented on #880
Ok please ignore, has created an issue for the same : https://github.com/open-telemetry/opentelemetry-cpp/issues/881

[2021-06-29 23:53] maxgolov commented on #874
Maybe we can improve it to try installing from our local `vcpkg` even if `CMAKE_TOOLCHAIN_FILE` is defined:

[code]

However, I have a knowledge gap here. Not sure if we can combine the deps from two different locations - customer-supplied `CMAKE_TOOLCHAIN_FILE` plus `${CMAKE_CURRENT_SOURCE_DIR}/tools/vcpkg/scripts/buildsystems/vcpkg.cmake` ?

[2021-06-30 01:20] lalitb commented on #874
I would vote for documenting this.  If `CMAKE_TOOLCHAIN_FILE` is supplied, the customer needs to ensure all dependencies are met (gRPC, thrift, and others) through it or separately.

[2021-06-30 05:50] maxgolov commented on #874
Yeah, I think we should update the documentation. The "default" process with `setup-buildtools.cmd` and `vcpkg` is already taking care of the necessary dependencies.

[2021-06-30 05:56] ThomsonTan commented on #874
Yes, agree that we should update the document on this. Also we could provide better error message to detect the dependency is missing for the customer provided `vcpkg`, and prompt the resolution accordingly.

[2021-06-30 06:30] lalitb opened #884 "Scope object doesn't release the ownership of Span's shared_ptr"
**Describe your environment**
gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)

**Steps to reproduce**
Sample code:
[code]

**What is the expected behavior?**
`  ASSERT_EQ(1, spans.size());`  there should be two spans in memory exporter in the end.

**What is the actual behavior?**
`  ASSERT_EQ(1, spans.size());`  there is only one span in memory exporter in the end.

What did you see instead?
The

[2021-07-01 03:13] #881 closed

[2021-07-01 03:41] #878 closed

[2021-07-02 04:39] #802 closed

[2021-07-02 05:17] #762 closed

[2021-07-02 18:18] Kurt-Rayner-Alpha opened #889 "Issues compiling opentelemetry-cpp with Jaeger on Ubuntu 20.04 and 21.04 finding thrift"
**Describe your environment**
Ubuntu 20.04 (WSL) and 21.04 on a Virtual Machine

**Steps to reproduce**
Build opentelemetry-cpp with the following CMAKE flags:
 -G "Ninja"
-DCMAKE_TOOLCHAIN_FILE=${HOME}/alphadev/vcpkg/scripts/buildsystems/vcpkg.cmake
-DCMAKE_POSITION_INDEPENDENT_CODE=ON -DWITH_JAEGER=ON -DWITH_PROMETHEUS=OFF
-DBUILD_TESTING=OFF -DJSON_Install=ON
-DCMAKE_C_COMPILER=/usr/bin/gcc -DC

[2021-07-04 05:59] lalitb commented on #889
`vcpkg` toolchain configuration using `CMAKE_TOOLCHAIN_FILE` is only supported for Windows. For Linux platforms, dependency should be already met externally before building opentelemetry-cpp.
Removing `bug` label as this is expected behavior.

[2021-07-06 02:56] owent opened #892 "Linking error with `Undefined symbols for architecture x86_64: _SCDynamicStoreCopyProxies` on some macOS environment"
**Describe your environment**
OS: macOS 10.15
XCode: 12
Bazel: bazelisk 1.9.0

**Steps to reproduce**

[code]

**What is the expected behavior?**
Sompiling success

**What is the actual behavior?**

[code]

**Additional context**
Should link with `-framework SystemConfiguration` on macOS.

[2021-07-06 05:37] lalitb commented on #767
@anshulkumar19  - Do you want me to pick this up, as we need to fix this for GA.

[2021-07-06 19:37] Kurt-Rayner-Alpha commented on #889
By way of feedback, the sheer number of tools and configuration issues we have encountered in trying to build opentelemetry-cpp (and now adding the Jaeger collector), is somewhat overwhelming.  Building across platforms (Win32, Win64, Linux-x64) has required that we literally create a meta-build system to get everything in place; and then we  can think about building our own code.

We started usin

[2021-07-06 19:48] ThomsonTan commented on #889
@Kurt-Rayner-Alpha thanks for your feedback on the difficulty of managing dependence, this is a good topic for us to discuss.

Meanwhile, could you please try below file to install thrift on your Linux build machine?

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/ci/setup_thrift.sh

[2021-07-06 22:04] Kurt-Rayner-Alpha commented on #889
Thanks Tom!

The script does install the needed requisites (most, if not all, of which were already installed) and build Thrift, so we are further.

Running CMake on opentelemetry-cpp still doesn’t find thrift.

It could still be something in my scripting.  I’ll continue to look at it.

Thanks again!

Kurt

From: Tom Tan ***@***.***
Sent: Tuesday, July 6, 2021 3:48 PM
To: open-telemetry/openteleme

[2021-07-07 09:11] #892 closed

[2021-07-07 10:50] lalitb commented on #889
Thanks @Kurt-Rayner-Alpha . Seems we would need your help in troubleshooting, as I tested it locally on Linux, and cmake toolchain works fine for me after installing the `thrift` package through `vcpkg`

[code]

[2021-07-08 03:47] #215 closed

[2021-07-08 05:55] anshulkumar19 commented on #767
Sorry @lalitb for coming late on this, please pick this up as needed for GA and I am little bit occupied with other things.

[2021-07-08 06:31] ThomsonTan commented on #767
@anshulkumar19 no problem. I'll take it.

[2021-07-08 16:26] #759 closed

[2021-07-09 04:41] #884 closed

[2021-07-09 08:24] #767 closed

[2021-07-09 16:07] r03942139 opened #898 "Issues when compiling the jaeger example with cmake in alpine platform (cannot find -lopentelemetry_api)"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Platform - alpine:3.12.7
opentelemetry-cpp - 1.0.0-rc2
Build - cmake 3.1

[2021-07-09 20:22] lalitb commented on #898
You don't need to have separate RUN command in the above Dockerfile to build the Jaeger example. Because the build invoked by the first RUN step in the above docker example would have already created binary for the Jaeger example.

As of now, our example cmake configurations are implemented to be built directly from root level CMakeLists.txt. This needs to be fixed, but it's not specific to Jaeger

[2021-07-09 20:25] lalitb commented on #898
Ok. second RUN command is required because Jaeger's example can't be built through Bazel. Probably this support needs to be added.

[2021-07-09 21:29] ThomsonTan commented on #898
It is not expected to run cmake under sub-directory like `/opentelemetry-cpp-1.0.0-rc2/examples/jaeger/`.

Your first `RUN` command as below should built jaeger example, or do you mean it is missing in the build output?

&& cmake --build . --target all

[2021-07-09 22:13] r03942139 commented on #898
Thank you for clarifications from lalitb and ThomsonTan, I appreciate it! :)
The build command ran successfully for **cmake .. -DBUILD_TESTING=ON -DWITH_JAEGER=ON -DWITH_OTLP=OFF**, so it shall be built.
A rookie question here is where could I find the binary for the Jaeger example?
Thanks.

[2021-07-09 22:40] #898 closed

[2021-07-12 16:24] r03942139 opened #901 "Unable to see traces from Jaeger examples to Jaeger UI in minikube/alpine environment"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Platform - alpine:3.12.7
opentelemetry-cpp - 1.0.0-rc2
Build - cmake 3.1

[2021-07-13 17:39] lalitb commented on #901
@r03942139 - Did you try the example code through Jaeger All-In-One docker container or binary (https://www.jaegertracing.io/docs/1.24/getting-started/#all-in-one). If it works there, you may want to check your minikube configuration/settings which is not related to the Jaeger exporter implementation.

[2021-07-13 18:47] r03942139 commented on #901
@lalitb - To clarify, if I run the Jaeger-all-in-one 1.24, and my service with the opentelemetry-cpp & jaeger is in a different container.
Is it workable that I execute **./opentelemetry/build/examples/jaeger/example_jaeger**,  then the traces could be passed to the Jaeger All-In-One's agent?
Thanks.

[2021-07-13 19:01] ThomsonTan commented on #901
@r03942139 could you please share the jaeger-all-in-one.yaml you are using?

[2021-07-13 19:21] r03942139 commented on #901
Hello @ThomsonTan,

The following is my  jaeger-all-in-one.yaml.
Since my opentelemetry-cpp with Jaeger is installed on another pod in the namespace: trafficserver-test, so I assign every jaeger components to the namespace: trafficserver-test.
Thanks.

///////////  jaeger-all-in-one.yaml ///////////
apiVersion: v1
kind: List
items:
# - apiVersion: extensions/v1beta1
- apiVersion: apps/v1
  kind: D

[2021-07-13 20:14] r03942139 commented on #901
@ThomsonTan
[jaeger-all-in-one.txt](https://github.com/open-telemetry/opentelemetry-cpp/files/6811705/jaeger-all-in-one.txt)
Please review my yaml file (Sorry that I transform to txt to be accepted by git)

[2021-07-13 21:42] r03942139 commented on #901
@lalitb I tried to follow your steps on Docker, but it seems that I cannot see traces still. The following are my steps to reproduce:

(1)  Deploy a Jaeger all-in-one, confirm that the UI can be seen on http://localhost:16686/
$ **docker run -d --name jaeger \
  -e COLLECTOR_ZIPKIN_HOST_PORT=:9411 \
  -p 5775:5775/udp \
  -p 6831:6831/udp \
  -p 6832:6832/udp \
  -p 5778:5778 \
  -p 16686:16686 \

[2021-07-13 22:19] ThomsonTan commented on #901
@r03942139 I just ran the docker command line in your stop (1), then run example_otlp in host. I do see "unknown_service" in the Jaeger UI after refresh.

Can you try run unmodified example_otlp in your host? The problem could be your container client cannot connect to the Jaeger container.

[2021-07-13 22:23] r03942139 commented on #901
@ThomsonTan  Thanks for looking into it.
Does you mean I remove the following lines in my example_jaeger?

In main.cc:
opts.server_addr      = "localhost";
opts.server_port      = 6831;

[2021-07-13 22:27] ThomsonTan commented on #901
Yes, the 2 lines change is not necessary as it is the default configuration.

[2021-07-13 23:00] r03942139 commented on #901
@ThomsonTan
Pardon you again!

I reproduced this procedure (Deployment on **Docker**), but set my example_jaeger to default revision.
I could still see jaeger-query on my jaeger all-in-one.
It seems that the traces from the example_jaeger are not sent to the Jaeger UI.

Is there anything I missed between this two?  (for instance, some configurations need to be done on **my docker instance**: myapp

[2021-07-13 23:43] ThomsonTan commented on #901
@r03942139 I think the problem could be that the example_jaeger running inside container cannot send data to UDP port 6831 in host.

Could you please try run the example as `example_jaeger host.docker.internal` in the interactive console in the client container?

[2021-07-14 00:41] r03942139 commented on #901
@ThomsonTan
Thank you very much.
By executing `example_jaeger host.docker.internal` , the traces can be sent to the Jaeger web UI with the name "unknown service". I think I will quickly run it on k8s/minikube, to see if it works in the k8s/minikube.
I think we can close this ticket soon.
Thanks again!

[2021-07-14 14:39] lalitb commented on #760
Closing as mentioned above.

[2021-07-14 14:39] #760 closed

[2021-07-14 14:55] ThomsonTan commented on #760
Could we document this suggestion?

[2021-07-14 23:03] r03942139 commented on #901
Hello all,
Thanks for all your help. I finally deployed the jaeger example on k8s/minikube.
I used the Jaeger operator to deploy.

Though I need `example_jaeger host.docker.internal`  to run on Docker.
I could use `example_jaeger` solely to run.

I will close this ticket.
Thanks again!

Reference:
https://github.com/jaegertracing/jaeger-operator

[2021-07-14 23:03] #901 closed

[2021-07-15 15:56] r03942139 commented on #901
@ThomsonTan
As a follow-up question, is it possible that we can name our service name when sending traces to Jaeger UI?
Since the default is "unknown_service".

I checked some APIs on the user guide but failed to find related content.
https://opentelemetry-cpp.readthedocs.io/en/latest/otel_docs/namespace_opentelemetry__trace.html
Thanks.

[2021-07-15 17:58] benlandrum opened #904 "BatchSpanProcessor accesses deleted resources after tracer destruction"
**Describe your environment**
Using a version after v1.0.0-rc2, including recent fixes to scopes and `StartSpan`.

**Steps to reproduce**
Destroy a tracer provider connected to a batch span processor while it is processing spans.

**What is the expected behavior?**
Even on tracer provider destruction, which could happen if a user wants to change the tracing configuration, the batch span processor

[2021-07-16 13:20] benlandrum commented on #904
One possibility is to rearrange the [members](https://github.com/open-telemetry/opentelemetry-cpp/blob/79c4c718d576c6e66adf91bd74cf49bd3d394ee9/sdk/include/opentelemetry/sdk/trace/tracer_context.h#L92) of `TracerContext`, constructing the `resource_` before the `processor_` (and commenting on order dependence).  This way, the the processor would get destroyed before the resource.

[2021-07-16 17:07] ThomsonTan opened #907 "Extract foo_library into a separate library"
[foo_library](https://github.com/open-telemetry/opentelemetry-cpp/tree/main/examples/otlp/foo_library) was copied into multiple examples which requires extra effort to keep the copies in sync. It could be extracted to a separated library for all examples to link.

[2021-07-17 05:19] debasis09 opened #908 "Not able to find PrometheusExporter class in Prometheus Exporter"
There are documentation available in the net that we need PrometheusExporter class object to Export the metrics which will be scraped by Prometheus server.
Even found the sample code like

address = "localhost:8080";
PrometheusExporter exporter{address};
//.......prepare metrices then
exporter.Export(collection);

But when I downloaded the opentelemetry-cpp repo I did not find any prometheus_expor

[2021-07-17 07:09] aaron-ai opened #909 "Any plan to support customize the otlp gRPC header for authentication？"
Actually, opentelemetry-java allows user to customize the metadata in the header, which is convenient to implement our own authentication in collector, any plan for cpp? Thank you.

**Is your feature request related to a problem?**
No.

**Describe the solution you'd like**
Provide the ability to customize the gRPC header.

**Describe alternatives you've considered**
No.

**Additional context**
Not

[2021-07-19 17:31] lalitb commented on #908
Prometheus Exporter is incomplete ( see PR : https://github.com/open-telemetry/opentelemetry-cpp/pull/263). The metrics specs have been reworked since the exporter work was done, and most of the metrics C++ code would need a rewrite. Would suggest you not use the current code. Will close this ticket.

[2021-07-19 17:31] #908 closed

[2021-07-19 18:12] lalitb commented on #909
This is an important requirement to allow custom metadata headers for authentication. Though as of now, it's not planned for the 1.0.0 release, unless someone wants to contribute the support - due to limited available bandwidth with us.

[2021-07-20 01:05] r03942139 opened #912 "Failed to create a shared object with jaeger_trace_exporter static library (alpine/minikube)"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Platform - alpine:3.12.7
opentelemetry-cpp - 1.0.0-rc2
Build - cmake 3.1

[2021-07-20 06:17] lalitb commented on #912
Just to confirm, did you follow the instructions to generate the position independent code using steps mentioned in the INSTALL document: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md#building-as-standalone-cmake-project ?

[2021-07-20 07:04] lalitb commented on #889
@Kurt-Rayner-Alpha  - Did you find anything further on this, as this is not reproducible for us locally ?

[2021-07-20 07:06] debasis09 commented on #908
Thanks for your response. I just would like to ask that did you mean the complete Prometheus Exporter code inside "exporters/prometheus/" I should not use for my application?

[2021-07-20 07:18] lalitb commented on #908
Yes, the current implementation is incomplete, and it will change in the future to align with the updated metrics specs.

[2021-07-20 13:29] Kurt-Rayner-Alpha commented on #889
Hi,

Sorry for the delay in getting back to you, I’ve been off working on other projects.

Since upgrading Linux, I am now running into issues rebuilding nlohmann_json.  I believe (based on searches) it is related to a Python dependency on libssl 1.0.0; which of course is ancient.  Not absolutely sure.  I get the message “no uesable version of libssl”

The thrift setup script seems to work, but no

[2021-07-20 15:04] r03942139 commented on #912
Hi @lalitb
The following is my commands to build up the libraries.

RUN cd opentelemetry-cpp-1.0.0-rc3 \
 && mkdir build \
 && cd build \
 && cmake .. -DBUILD_TESTING=OFF -DWITH_JAEGER=ON -DWITH_OTLP=OFF \
 && cmake --build . --target all \
 && cmake --install . --config Debug --prefix /usr/local/ \
 && chmod 777 -R /opentelemetry-cpp-1.0.0-rc3

[2021-07-20 15:42] lalitb commented on #912
Yes, please add `-DCMAKE_POSITION_INDEPENDENT_CODE=ON` and check.

[2021-07-20 17:20] r03942139 commented on #912
@lalitb
After adding the **-DCMAKE_POSITION_INDEPENDENT_CODE=ON** tag, the following commands will have no error report.

bash-5.0$ **c++  -I/opt/ats/include  -IC  -std=c++17 -ggdb3 -pipe -Wall -Wextra -Wno-ignored-qualifiers -Wno-unused-parameter -Wno-format-truncation -Wno-cast-function-type -Wno-stringop-overflow -Wno-invalid-offsetof -Wno-noexcept-type -mcx16 -fpic -c main.cc -o main.lo -B /op

[2021-07-20 18:12] r03942139 commented on #912
I think I can close this ticket, since I can use the following command to include the jaeger & opentelemetry libs.
Thanks.

$ cc -shared   -Wl,-E -o hello_world.so  main.lo  -lexecinfo  -lssl -lcrypto  -ljaeger_trace_exporter -lopentelemetry_common -lopentelemetry_trace -lopentelemetry_resources -lopentelemetry_version -lopentelemetry_exporter_ostream_span -lopentelemetry_zpages -lthrift -lthriftn

[2021-07-20 19:01] #874 closed

[2021-07-21 05:50] r03942139 commented on #912
Pardon for bothering @lalitb once again, I hit the opentelemetry-related issue, and I would like to re-open this issue.
Thanks.

bash-5.0$ **c++ -I/opt/ats/include -std=c++17 -ggdb3 -pipe -Wall -Wextra -Wno-ignored-qualifiers -Wno-unused-parameter -Wno-format-truncation -Wno-cast-function-type -Wno-stringop-overflow -Wno-invalid-offsetof -Wno-noexcept-type -mcx16 -fpic -c main.cc -o main.lo**

bas

[2021-07-21 07:18] owent opened #914 "Allow to use local GSL"
**Is your feature request related to a problem?**
I found [ms-gsl][1] is a excellent tool to write modern C++ codes, and I want to use it in my project.At the same time I think it's better to let opentelemetry use the same [ms-gsl][1].

**Describe the solution you'd like**
`find_package(Microsoft.GSL QUIET)` before `set(GSL_DIR third_party/ms-gsl)` and `include_directories(${GSL_DIR}/include)`

**

[2021-07-21 18:30] #735 closed

[2021-07-22 02:02] #904 closed

[2021-07-22 18:50] lalitb commented on #912
@r03942139 - Can you check the order in which libraries are specified in your last command. In general, if the `libA` needs a symbol from `libB`, `libA` should come before `libB` in the linker command line invocation.  With that rule, `-lopentelemetry_common` should be somewhere at the end of the list of libraries.

[2021-07-22 22:49] r03942139 commented on #912
@lalitb
Thanks for the hint. The problem solved when I changed the opentelemetry_common to the last part of linking libraries.
cc -shared -Wl,-E -o hello_world.so main.lo -lexecinfo -lssl -lcrypto -ljaeger_trace_exporter -lopentelemetry_trace -lopentelemetry_resources -lopentelemetry_version -lopentelemetry_exporter_ostream_span -lopentelemetry_zpages **-lopentelemetry_common** -lhttp_client_curl

[2021-07-22 22:49] #912 closed

[2021-07-23 15:51] r03942139 opened #920 "Failed to set service name: 'rec' does not name a type, even the 'rec' is set"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your platform, build system, version numbers of installed dependencies, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on main branch.

Platform - alpine:3.12.7
opentelemetry-cpp - 1.0.0-rc2
Build - cmake 3.1

[2021-07-23 16:00] lalitb commented on #920
@r03942139  - a quick look at the link command shows that you are not linking the Jaeger exporter library. Please check one.
Also, I would suggest you to initially use the discussion forum to post these compilations errors, and we would be happy to help you out there. Once proven a bug, we can create an `issue` from those discussions.

[2021-07-23 16:25] r03942139 commented on #920
Thank you and pardon. I would use discussions next time for this kind of case.
Thanks again.

[2021-07-23 16:25] #920 closed

[2021-07-30 12:10] #408 closed

[2021-07-30 16:47] #566 closed

[2021-07-31 08:13] #841 closed

[2021-08-03 15:13] pavanshahm commented on #389
I've started some work on something related to this, because my organization needed ssl support in order to use the http exporter. The changes include the bare minimum that we needed to get things working, please advise on if its the correct approach and what we can do so we can contribute to the project.

https://github.com/open-telemetry/opentelemetry-cpp/pull/938

[2021-08-03 18:15] lalitb commented on #389
@pavanshahm - Thanks for this. It would be good to have SSL certificate check integrated. Couple of comments here:
 1. Can we avoid adding code to build curl with SSL support as part of the otel-cpp build? I am not a bazel expert, but with cmake, we can build curl + SSL through vcpkg toolchain.
 2. instead of adding a certificate path, can we leverage the EventHandler class to pass the certificate

[2021-08-04 13:57] lalitb commented on #914
@owent - Can we close this issue, if #915 fixes it.

[2021-08-05 02:35] owent commented on #914
Yes

[2021-08-05 02:35] #914 closed

[2021-08-10 08:56] LeiZhang-Hunter opened #944 "otlp does not support metric"
otlp does not support metric?

[2021-08-10 09:14] lalitb commented on #944
Metrics work is currently paused for otel-cpp due to prioritization of stable tracing release,  limited dev resources, and waiting for stable metrics specs ( currently feature-freeze).

[2021-08-10 09:48] LeiZhang-Hunter commented on #944
thanks

[2021-08-10 09:48] #944 closed

[2021-08-15 15:07] jsuereth opened #946 "[Process] TC Review of 1.0 Trace"
This tracks the status of the TC review for 1.0 Trace release of OpenTelemetry C++

## Status

- [x] Review [Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md)
  - [x] Traces
  - [x] Baggage
  - [x] Resource
  - [x] Context Propagation
  - [x] Environment Variables
  - [x] Exporters
- [x] Review [Versioning and Stability](https://g

[2021-08-15 15:26] jsuereth opened #947 "Clearly denote Build Tool support in doocumentation."
As discussed in the SIG, some exporters are lacking BAZEL support.   Additionally, the readme doesn't mention supported build tools.

We need the following:

1. When declaring supported C++ versions, also declare build tool support
2. Make sure BAZEL is clearly denoted as "EXPERIMENTAL", e.g. [here](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md)

[2021-08-15 22:34] jsuereth opened #948 "Add schema_url to TracerProvider.get"
schema_url was added to the specification post 1.0.  This can be a post-1.0 addition.

[2021-08-15 22:37] jsuereth opened #949 "DefaultSpan + DefaultTracer in API headers should be marked internal / not-for-public use or documented"
Wasn't clear what these were used for on first inspection.  Either need to document their use or move them to an internal / not-public-looking namespace.

[2021-08-15 22:53] jsuereth opened #950 "Helper methods for accessing Span directly from Context in Span API"
The 1.0.0 specification states:

[code]

I was looking for documentation or example (e.g. context propagation) where this is done.  In some languages, they provide helper methods directly on Span which will extract/insert into context (both explicitly or implicitly).

Specifically, I think this may need to be public: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentel

[2021-08-19 13:49] jsuereth opened #954 "Add Span Links as constructor input to Span"
See the TODO in comments here: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/span.h#L71

And the specification (1.0.0) for span link requirement here: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#span-creation

[2021-08-19 13:53] jsuereth opened #955 "Span Parent should be determined from Context (and take this as a parameter."
The [specification api](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#span-creation) states:

Here's the current API: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/span.h#L67

[2021-08-19 13:55] jsuereth commented on #954
Ignore this, was looking in the wrong spot.

[2021-08-19 13:55] #954 closed

[2021-08-19 14:03] jsuereth opened #956 "Document DefaultSpan"
AFAICT, [DefaultSpan](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/default_span.h) solves [this portion of the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#determining-the-parent-span-from-a-context):

The class should (at a minimum) have documentation.

[2021-08-19 14:12] jsuereth opened #957 "Error message must be ignored when status code is ok on Span->SetStatus"
Right now this behavior is delegated to Recordable (e.g. see https://github.com/open-telemetry/opentelemetry-cpp/blob/main/exporters/otlp/src/otlp_recordable.cc#L293)

The [spec states](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/trace/api.md#set-status):

[2021-08-19 21:43] #947 closed

[2021-08-25 12:19] OliverShang opened #960 "Build errors with cmake 3.21.1"
**Describe your environment**
Cmake 3.21.1
Ubuntu 18.04

**Steps to reproduce**
Following the [installation document](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/INSTALL.md), in step 3:
`$ cmake --build . --target all`

**What is the expected behavior?**
[code]

**What is the actual behavior?**
[code]

**Additional context**
Previous operations succeeded.

[2021-08-25 13:54] jsuereth opened #961 "Baggage <-> Context interaction on Baggage as static methods?"
The [Specificaiton](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/baggage/api.md#context-interaction) states that baggage should have convenience methods to go to/from context.

Currently, [that resides in the propagation module of Bagage](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/baggage/propagation/baggage_pr

[2021-08-25 16:07] #956 closed

[2021-08-25 16:19] ThomsonTan commented on #960
@OliverShang does this error occur randomly?

Seems the installed benchmark library was not compiled with `-fPIC` which is required by `opentelemetry-cpp`. Could you please re-install benchmark library and try build again?

[2021-08-28 00:02] lalitb commented on #950
@jsuereth  -
To ensure that I understand the ask here:
 - Below functions are to be moved from `trace::propagation` to `trace` namespace ( and make them part of public API ), either keep them as `inline` function, or make them `static` function in `Span` class:
       - trace::propagation::GetSpan()
       - trace::propagation::SetSpan()
 - No changes are required for below static methods on impli

[2021-08-28 00:03] lalitb commented on #955
As this is API breaking change, and other language(s) also have similar implementation, would like to discuss this in next community meeting before any changes.

[2021-08-30 23:19] #961 closed

[2021-08-31 16:45] lalitb commented on #950
@jsuereth  - would you please help clarifying the questions above. Thanks :)

[2021-09-02 17:32] lalitb commented on #955
@jsuereth We would like to part these changes for next major release of otel-cpp after 1.0.0:

 - It's a major API change, and we would like to avoid any such change while in Release Candidate.
 - There would be quite a few internal and external customers using the current RC in production, with expectation of no critical breaking change being added in 1.0.0.
 - There hasn't been any complaint fro

[2021-09-02 17:54] jsuereth commented on #955
There's some open discussions going on around `Baggage` and `Span.attributes` that not having this feature will prevent us fixing going forward.

I understand not wanting to break customers.   Are you able to provide this fix in a non-breaking fashion?  I believe you should be able to.  I think it's ok to have a legacy APi to avoid breakage, but given 1.0.0 is NOT out *nor* is their assumed compat

[2021-09-02 19:34] jsuereth opened #968 "Semantic conventions are not considered stable and need to be clearly marked as such"
e.g. https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/semantic_conventions.h

[2021-09-02 19:42] jsuereth commented on #950
Sorry for huge delay in response.   Just getting back to OSS things.

Yeah, the ask is move this out of the propagation package and have them "near" the span class.   You can make them inline or static on `Span`, but they should be near span.  The PR (#967) you sent LGTM

I'm suggesting, for consistency with other SDKs/APIs, that these methods live *near* the other context + span related methods.

[2021-09-03 01:48] lalitb commented on #955
Yes, that is doable with slight restructuring of code, I think we are just slightly non-compliant this way :)
Have raised PR for this : #969

[2021-09-03 16:04] #950 closed

[2021-09-07 13:06] jsuereth opened #971 "OTLP Environment variables do not match specification"
Currently, [OTLP environment variables (OTEL_EXPORTER_OTLP_GRPC_ENDPOINT)](https://github.com/open-telemetry/opentelemetry-cpp/blob/5067e49bce39e8dd4c3986042e558e965c73a253/exporters/otlp/include/opentelemetry/exporters/otlp/otlp_grpc_exporter.h#L24) does not [match the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/protocol/exporter.md).

Co

[2021-09-07 13:14] jsuereth opened #972 "detail namespace should be kept compatible or denoted as internal-only usage"
There's a few undocumented "detail" namespaces.  I'm assuming these are meant to be "changeable" header-only implementation components we don't want to maintain 100% compatibility for.

Here's an [example](https://github.com/open-telemetry/opentelemetry-cpp/blob/main/api/include/opentelemetry/trace/span_context_kv_iterable_view.h)

All such "detail" namespaces should have documentation denoting th

[2021-09-07 21:33] lalitb commented on #972
Anything under the `::detail` namespace under `api` folder is used internally within `api`, and not supposed to be used outside. Will add documentation for all functionality within this `namespace`.

[2021-09-07 22:46] lalitb commented on #972
Actually, we already exclude all functionality under `detail` namespace from public API [documentation ](https://opentelemetry-cpp.readthedocs.io/en/latest/) as below:

https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/public/Doxyfile#L846:L851

And in that case I feel we don't need to document individual files as `internal` api. I have raised small PR #973 to exclude missing head

[2021-09-07 23:39] lalitb commented on #971
Thanks for copying the relevant sections. This means there would be only one OTLP exporter configured at given time ( as specified by `OTEL_EXPORTER_OTLP_PROTOCOL` ), and so all of them share the same env variables names.

[2021-09-08 00:26] lalitb commented on #971
And to add further -  otel-cpp doesn't support environment variables as defined in the specs, this is also indicated clearly in the compliance matrix :
https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#environment-variables

Feature | Go | Java | JS | Python | Ruby | Erlang | PHP | Rust | C++ | .NET | Swift
-- | -- | -- | -- | -- | -- | -- | -- | --

[2021-09-08 16:24] ThomsonTan commented on #972
@lalitb do you think `detail` could be renamed to `internal` to express the namespace is not for public API?

[2021-09-08 17:24] #955 closed

[2021-09-08 18:46] lalitb commented on #972
@ThomsonTan - use of `detail` namespace is common in C++ codebase for this purpose. Eg, `boost` library uses it to hide internal functionality.

[2021-09-08 21:36] lalitb commented on #971
@jsuereth  - Sorry for multiple comments :) This was discussed in today's meeting. And as the env-var used in code are not same as required by specs, we planned to document them explicitly ( done in #971 ). Also mentioned there that both would be  supported simultaneously in future.

[2021-09-09 16:45] #972 closed

[2021-09-09 16:58] jsuereth commented on #971
Do you have users of these env variables now?

The specification denotes:

If you didn't have *any* environment variable configuration, that would make sense.   However if you do provide environment variable configuration, then it should be consistent with otel.  This is a major issue for consistency across the SDKs in OTel.

At a minimum, I think you should:

- Support `OTEL_EXPORTER_OTLP_TRACES_

[2021-09-09 17:15] lalitb commented on #971
We don't know for sure, but we are trying best  avoid doing breaking changes while in release candidate.

Good point. Will add support for OTEL_EXPORTER_OTLP_TRACES_ENDPOINT and OTEL_EXPORTER_OTLP_TRACES_CERTIFICATE as suggested by you.

[2021-09-13 22:46] lalitb commented on #971
@jsuereth  - Can you review this PR #974 for the changes.

Another alternate suggestion from @ThomsonTan -  instead of any code changes for now,  we can enable the NO_ENV macro ( which basically for now disable all environment variables ( used here : https://github.com/open-telemetry/opentelemetry-cpp/blob/c8b35ff0df9bd1e7c6a2e1d805bb664331bfdea6/sdk/include/opentelemetry/sdk/common/env_variables.

[2021-09-14 03:33] lalitb opened #978 "Add otlp environment variables for OtlpHttpExporter"
Add support for configuring `OtlpHttpExporter` using environment variables defined by specs:
https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.0/specification/protocol/exporter.md

[2021-09-14 21:28] #971 closed

[2021-09-14 22:10] lalitb commented on #968
#970 fixes this.

[2021-09-14 22:10] #968 closed

[2021-09-15 11:44] jsuereth commented on #946
Congratulations on the pending 1.0!

[2021-09-15 11:44] #946 closed

[2021-09-17 01:11] westonpace opened #981 "Building from the release tarball fails if nlohmann-json not installed on the system"
**Describe your environment**
[code]

**Steps to reproduce**
 * In reality I am trying to add nlohmann-json as a dependency into my own cmake module using ExternalProject and listing the release tarball as the desired version.  The below steps however, are simpler, and just pretend I wanted to download and install the release into my system.
 * Download release tarball
 * Extract release tarball

[2021-09-17 01:40] lalitb commented on #981
Valid concern. We should improve on the error.

Also, default build of  API + SDK + OTLP/gRPC doesn't use JSON, and cmake shouldn't check for this library for default build.

[2021-09-20 08:51] owent commented on #978
[WIP]

[2021-09-21 07:16] #909 closed

[2021-09-21 07:16] #978 closed

[2021-09-21 08:18] #948 closed

[2021-09-21 09:02] idarb-oss opened #985 "Build error where memcpy is not declared in scope"
**Describe your environment**
Devcontainer with ubuntu 21.04, cmake 3.21.2 , GCC 9.3.0 and with CPM as dependency manager.

**Steps to reproduce**
Building application with BaggagePropagator cause opentelemetry build error where _memcpy_ is not declared in scope.

In file included from /workspaces/<project_name>/build/_deps/opentelemetry-cpp-src/api/include/opentelemetry/baggage/baggage.h:8,

from

[2021-09-21 09:04] ThomsonTan opened #986 "The default OTLP endpoint doesn't work for the OTLP exporter"
**Steps to reproduce**
Run otel-collect with OTLP listener on localhost:4317, and launch the gRPC example `example_otlp_grpc`.

**What is the expected behavior?**
The export should succeed and no error shows in the log.

**What is the actual behavior?**
[code]

**Additional context**
The URL scheme like `http://` should be removed before passing to gRPC.

[2021-09-23 14:42] PaurushGarg commented on #368
@lalitb @pyohannes : Can I please pick this issue. please assign this to me, I am working in @alolita  team.
Tag @alolita

[2021-09-23 17:05] lalitb commented on #368
@PaurushGarg  - yes this would be really good to fix. It would also be good to follow the namespace guidelines from here:
https://google.github.io/styleguide/cppguide.html#Namespaces
 Basically
 - You may not use a using-directive to make all names from a namespace available.
 - Do not use Namespace aliases at namespace scope in header files except in explicitly marked internal-only namespaces, be

[2021-09-23 22:26] lalitb opened #990 "Basic Metric API implemetation - MeterProvider"
Skeleton API implementation for
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#meterprovider

[2021-09-23 22:28] lalitb opened #991 "[Metrics] Implement Meter API"
Skeleton implementation for:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#meter

[2021-09-23 22:29] lalitb opened #992 "[Metrics] Implement Instrument API"
Skeleton implementation for Instrument API
 - https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#instrument

[2021-09-23 22:31] lalitb opened #993 "[Metrics] Implement Counter API"
Implement skeleton API for Counter:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#counter

[2021-09-23 22:50] lalitb opened #994 "[Metrics] Implement Observable Counter creation method"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter

[2021-09-23 22:51] lalitb opened #995 "[Metrics] Implement Historgram creation method"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#histogram

[2021-09-23 22:52] lalitb opened #996 "[Metrics] Implement Asynchronous Gauge"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-gauge

[2021-09-23 22:55] lalitb opened #997 "[Metrics] Implement Synchronous UpDownCounter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter

[2021-09-23 22:56] lalitb opened #998 "[Metrics] Implement Asynchronous UpDownCounter"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-updowncounter

[2021-09-23 22:59] lalitb opened #999 "[Metrics] Implement Measurement API"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#measurement

[2021-09-28 02:16] lalitb opened #1003 "Identify specs changes between otel-1.0.0 to otel-1.6.1 ( or newer )"
otel-cpp 1.0.0 is based on the otel specs 1.0.0. And the latest otel specs ( at the time of writing this issue ) is 1.6.1.

The motive for this issue is to
 - Identify the  API/SDK changes between otel specs 1.0.0 and otel specs 1.6.1.
 - Create the issues for these changes in the otel-cpp repo.

[2021-10-11 04:26] manushawijekoon opened #1010 "Compilation of dependent target fails with G++ targeting C++ standard"
I am using latest release tag.
I get following compiler error when trying to include headers:

[code]

Apparently according to C++ 20 standard, above syntax is illegal.

We are using multiple features of C++ 20 so reverting to 17 would not work.

Any suggestions?

[2021-10-11 11:30] manushawijekoon commented on #1010
Here it is:
https://timsong-cpp.github.io/cppwp/n4861/diff.cpp17.class#2

Can certainly raise a PR for this.

[2021-10-13 02:56] manushawijekoon commented on #828
This will limit its application in low latency systems.
However that spec didn't mention anything about API concurrent for metrics
- but I guess eventually that will be the case also.
Here is a nice blog about thread contention.
https://travisdowns.github.io/blog/2020/07/06/concurrency-costs.html

I am talking about level 0 (or even lower) type implementations based on
the terminology of the above

[2021-10-13 04:35] lalitb commented on #828
@manushawijekoon - Thanks for the link. Just to let you know,

- the context management is done on thread-local storage  https://github.com/open-telemetry/opentelemetry-cpp/blob/5aa73655b5bb1af0be22463255b62e6d2f7dd10f/api/include/opentelemetry/context/runtime_context.h#L310 to ensure that context is managed per thread level, which mitigates thread contention.
- Mutual exclusion is achieved using

[2021-10-13 19:31] MKadaner opened #1013 "Cannot construct exporter::etw::PropertyValue from a long-typed value on a platform with 32-bit longs"
On architectures where type `long` is 32-bit, e.g., MSVC on Windows, the following constructor is ill-formed (ambiguous):

[code]

Here is the reduced example: https://godbolt.org/z/z8aYcrcc6. Please refer to MSVC v19.27 variant.

The ambiguity is because the underlying `PropertyVariant` does not have the `long` option. Without it, conversions from `long` to either `int32_t` or `int64_t` are equal

[2021-10-14 01:51] lalitb commented on #1013
Thanks for reporting the issue with an example. While this is a valid issue, this would be slightly complicated to support than it appears. The changes are required in [opentelemetry::attributes::AttributeValue](https://github.com/open-telemetry/opentelemetry-cpp/blob/74d4be44f9b12e86e9355f60f35e0d11f1a0ffc5/api/include/opentelemetry/common/attribute_value.h#L37) , along with the [exporter::etw::P

[2021-10-14 07:08] MKadaner commented on #1013
That's a good point. The user of the API should not depend on integral types with implementation-defined width. With this in mind, it would be nice to disallow use of `long` (or `int`) with this API no matter compiler, architecture, language flavor, etc.

What happened to me was that in our codebase we had `long` event members in a couple of places, and everything "just worked" even though the fin

[2021-10-15 01:26] Pupilsch opened #1014 "Parent-Child discover error in examples/simple when built as release and shared library."
**Describe your environment**
My system is Ubuntu 18.04.5 **LTS**. And the compiler is gcc 7.5.0

**Steps to reproduce**
I am trying to use opentelemetry as a shared library for my project. But I found that when I try to build it as release and shared library, there is some error in Parent-Child discover. The problem can be reproduced by just running the examples/simple/example_simple. Build in De

[2021-10-15 21:35] lalitb commented on #813
What's the current behavior? I thought if `gsl-lite` is installed, and HAVE_GSL is enabled, it api/sdk will pick up `gsl-lite`. If this is not so, we can add support for that.

[2021-10-15 23:55] lalitb commented on #1014
This is weird. It works fine with `ubuntu 18.04 + gcc-4.8` and  `ubuntu 20.04 + gcc-9.3` in our github CI environment. I did a quick test on ubuntu 18.04 and got the same behavior as yours. Need to debug it further. Thanks for reporting the issue.

[2021-10-16 00:18] cqhan777 commented on #1014
@lalitb This is our patch:

`--- a/api/include/opentelemetry/context/runtime_context.h
+++ b/api/include/opentelemetry/context/runtime_context.h
@@ -300,7 +300,13 @@ class ThreadLocalContextStorage : public RuntimeContextStorage
     Context *base_;
   };

-  Stack &GetStack()
+  static Stack &GetStack() __attribute__((noinline, noclone))
   {
     static thread_local Stack stack_ = Stack();

[2021-10-16 02:35] lalitb commented on #1014
Thanks, @cqhan777, @Pupilsch, this is helpful.

[2021-10-19 08:13] maxlein opened #1019 "Mixed bytes and string trace context in grpc header"
Somehow I am seeing assertion errors with string trace context inside the header byte array:

`validate_metadata: {"created":"@1634204878.117940102","description":"Illegal header value","file":"/builds/grpc/src/core/lib/surface/validate_metadata.cc","file_line":51,"offset":55,"raw_bytes":"30 30 2d 38 37 30 33 61 30 62 65 65 61 36 66 66 35 31 35 61 33 32 39 36 37 63 34 30 64 66 62 34 31 66 62 2d 34

[2021-10-20 05:54] lalitb commented on #1019
Can you post a minimal working code with consistent behavior? This looks like span data is corrupted at the client, but a working example would help debug further. Eg. we don't know what is happening with `Span` in the `validateStatus()` function.

[2021-10-22 11:53] owent opened #1024 "[Logs] Implement `OtlpGrpcLogExporter` and `OtlpHttpLogExporter`"
We need OTLP Log exporter of C++ in our company. But it seems has not plan for it right now.
Can I create a PR to implement `OtlpGrpcLogExporter` and `OtlpHttpLogExporter` to export `opentelemetry.proto.collector.logs.v1.ExportLogsServiceRequest`

[2021-10-23 11:05] owent opened #1025 "`ENABLE_METRICS_PREVIEW` and `ENABLE_LOGS_PREVIEW` should also exported by api when using cmake"
**Steps to reproduce**

`cmake [...] -DWITH_METRICS_PREVIEW=ON -DWITH_LOGS_PREVIEW=ON`

**What is the expected behavior?**

`ENABLE_METRICS_PREVIEW` and `ENABLE_LOGS_PREVIEW` should be exported by `opentelemetry-cpp::api` in `opentelemetry-cpp-target.cmake` .

[2021-10-23 11:24] owent opened #1027 "Build failed when without RTTI (`dynamic_cast` not permitted with `-fno-rtti`)"
**Describe your environment**

Can not build  with `ENABLE_METRICS_PREVIEW ` and without [RTTI](https://cs.wikipedia.org/wiki/RTTI) `-fno-rtti` .

**Steps to reproduce**

`cmake [...] -DWITH_METRICS_PREVIEW=ON "-DCMAKE_CXX_FLAGS=-fno-rtti"`

**What is the actual behavior?**

[code]

[2021-10-23 14:13] owent opened #1028 "Build failed with gcc 11.2.0 with `ENABLE_METRICS_PREVIEW`"
**Describe your environment**

System: CentOS 7

[code]

**Steps to reproduce**

`cmake [...] -DWITH_METRICS_PREVIEW=ON`

**What is the expected behavior?**
Build success

**What is the actual behavior?**

[code]

[2021-10-23 16:40] #1025 closed, assigned to nobody

[2021-10-24 04:18] #1028 closed, assigned to nobody

[2021-10-25 09:39] miiila opened #1032 "Question: How to import `otlp_http_exporter` in a bazel project?"
Hey everybody, I have a question about importing `otlp_http_exporter` in a bazel project. I tried adding following into my WORKSPACE file:
[code]

Then I added `"@opentelemetry-cpp//exporters/otlp:otlp_http_exporter"` into `deps` in my BUILD file. I also tried experimenting with various `strip_prefix` and `build_file` rules, but the best outcome was an error `no such package '@github_nlohmann_json

[2021-10-26 12:20] davinliuda opened #1035 "cmake error"
I compiled this library, but an error occurred

cmake -DCMAKE_FIND_DEBUG_MODE=off -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTING=off -DWITH_EXAMPLES=off -DWITH_OTLP=on -DWITH_OTLP_GRPC=off -DWITH_OTLP_HTTP=on -DCMAKE_PREFIX_PATH=/data/comm_code/install ../

-------------------
`CMake Error at cmake/opentelemetry-proto.cmake:94 (add_custom_command):
  Error evaluating generator expression:

[2021-10-28 22:31] apm-opentt opened #1039 "Running make failed on AIX 7.2 with error: SpinLockMutex::try_lock() operation is not supported by the target hardware"
**Describe your environment**
Platform: AIX 7.2
Architecture: ppc64
Compiler: xlclang++ --version IBM XL C/C++ for AIX, V16.1.0  (5725-C72, 5765-J12) Version: 16.01.0000.0009

**Steps to reproduce**
$ mkdir source && cd source
$ git clone --recursive https://github.com/open-telemetry/opentelemetry-cpp
$ cd opentelemetry-cpp
$ mkdir build && cd build
$ cmake .. -DCMAKE_C_COMPILER=xlclang -DCMAKE_CX

[2021-10-29 18:50] allisonmacmillan opened #1042 "Ostream and otlp exporters throw "ambiguous" error for absl"
**Describe your environment**
Ubuntu Bionic
Bazel 4.0.0
opentelemetry 1.0.1

**Steps to reproduce**
Run a test that executes the following code:
[code]

**What is the expected behavior?**
A clean build with no errors.

**What is the actual behavior?**
The following errors:
[code]

[code]

[2021-10-29 19:24] lalitb commented on #1042
Please see if this helps:
https://github.com/open-telemetry/opentelemetry-cpp/blob/32cd66b62333e84aa8e92a4447e0aa667b6735e5/examples/otlp/README.md#additional-notes-regarding-abseil-library

[2021-10-29 19:27] allisonmacmillan commented on #1042
That worked! Thanks so much.

[2021-10-29 19:39] #1042 closed

[2021-10-30 02:55] #907 closed

[2021-10-30 05:05] lalitb commented on #1039
`flag_.exchange` here is the atomic read-modify-write (ATM_RMW) operation which should ideally be supported across intel/arm/PowerPC hardware. This could also be the issue with the C++11 support in the IBM XL C/C++ compiler.
@apm-opentt - unless you would like to debug it further, and contribute the fix, I don't think much can be done with this issue.

[2021-11-01 14:32] apm-opentt commented on #1039
Thank you @lalitb @ThomsonTan for your help.  We have been talking to AIX Compiler team about this issue.  It turns out that a compiler flag needs to be set for our power8 environment.  Adding this `cmake` option resolved the compilation error `add_compile_options(-qarch=pwr8)`

[2021-11-01 14:32] #1039 closed

[2021-11-01 18:17] lidavidm opened #1045 "CMake: opentelemetry-cpp::proto is missing a dependency on gRPC"
**Describe your environment**

Ubuntu 18.04, gcc 7.5.0
OpenTelemetry HEAD 4110b56314eb7c3ecbc56b9f6fcb37eb70286858
Protobuf 3.19.1 built from source; gRPC 3bde8305cc62bdcb1ecdea9a3c55b99fc75de44c built from source

**Steps to reproduce**

Build OpenTelemetry with OTLP enabled against a non-system-installed gRPC:

[code]

**What is the expected behavior?**
OpenTelemetry should build.

**What is the

[2021-11-01 18:18] lidavidm commented on #1045
Actually, this is a better patch:

[code]

[2021-11-01 20:13] lidavidm commented on #1045
Ah, and #1037 cuts the dependency on gRPC when it's not being used.

[2021-11-02 01:37] #1032 closed

[2021-11-02 05:01] lalitb commented on #1045
I have been using non-system installed gRPC for my tests on 20.04 LTS /gcc 9.3.0 and haven't got the error. Will try with ninja on 18.04/gcc 7.5.0.

<details>

[code]

</details>

[2021-11-02 11:59] lidavidm commented on #1045
In our case, Protobuf and gRPC are installed to separate directories - if they're installed to the same directory, then I think the issue won't happen since it'll find the includes via the `-I` directive for Protobuf. I think that's the difference between the examples. (I can't explain why it wouldn't then fail at link time, though…)

[2021-11-02 18:47] lalitb opened #1049 "Unit test failing in CI: OtlpHttpExporterTestPeer.ExportJsonIntegrationTest"
One of the failure instances:
https://github.com/open-telemetry/opentelemetry-cpp/runs/4083453037?check_suite_focus=true

[code]

[2021-11-02 18:49] ThomsonTan commented on #1049
Wondering why this was not caught by our PR build.

[2021-11-02 22:36] lalitb commented on #1049
I don't think it is failing consistently, so not got caught in our PR build

[2021-11-02 23:37] lalitb commented on #1010
#1029 fixes it.

[2021-11-02 23:37] #1010 closed

[2021-11-03 19:06] esigo commented on #1049
This was happening here as well https://github.com/open-telemetry/opentelemetry-cpp/pull/1044#issuecomment-955698045.

[2021-11-04 02:24] lalitb opened #1051 "Building OTLP exporter from the release tarball fails for opentelemetry-proto dependency"
**Describe your environment**
ubuntu 20.04

**Steps to reproduce**
Download the release tarball, and try building OTLP exporter with cmake option WITH_OTLP=ON
The problem is that the release tarball contains the `third_party/opentelemetry-proto` directory but it is empty as it is a git submodule and the CI/build is not including this as part of the tarball).

**What is the expected behavior?**
Bui

[2021-11-04 02:25] lalitb commented on #1051
@esigo  - fyi, have assigned it to you as discussed in today's meeting.

[2021-11-04 04:50] esigo commented on #1051
@lalitb seems I can't assign it to myself. I will see if I can come up with a solution that doesn't require cmake version change.

[2021-11-04 22:23] esigo commented on #1051
I will use `ExternalProject_Add` as it is available in cmake 3.1.

[2021-11-05 10:36] RandyLee16 opened #1054 "Different-named tracers got the same tracer_id if they have overlapped spans in a single thread."
Different-named tracers got the same tracer_id if they have overlapped spans in a single thread.
Is it inline with expectations of design for Opentelemetry tracer/span concepts ？
I'm trying to track different input data progress in a sdk with different tracers using Opentelemtry.  But these different tracers merged by getting the same trace_id when they have time overlaps.  I cannot distinguish on

[2021-11-05 17:35] lalitb commented on #1054
I don't think the expectation is correct and is specified anywhere in the Specs. Once the given span is made active, the nested child span ( irrespective of the tracer it belongs to ) gets the span_id and trace_id from the currently active span. So in the quoted example, `span_b1` gets the parent_id and trace_id from `span_a1` even though they are created from different Tracers.

The correct way o

[2021-11-05 22:23] esigo commented on #1051
There is a similar issue with `nlohmann_json`. I try to fix both.

[2021-11-06 16:54] RandyLee16 commented on #1054
`We can't have multiple active spans at given time in same thread,`
Yes, that's the point.  Even we have multiple tracers at the given time in a single thread, we can only have one active span.  That depends on the way how traceId and spanId is generated in current opentelemetry code， right？
Here my problems comes:

1.why we cannot have an independent active span for each tracer in a single thread

[2021-11-07 06:38] lalitb commented on #1054
Ideally, the span should be made active only if we want to propagate its context (i.e parent_id and trace_id) to the child span. The span can record and eventually export all telemetry data (attributes, events, status) even if it's not made explicitly active. That means, we can make span "A_1" active just before creating span "A_2", and span "B_1" active just before creating span "B_2". And there

[2021-11-08 14:30] RandyLee16 commented on #1054
Thanks, latitb.  These two methods works for my example.
I'm considering if we have better pratise.  When the application scenario becomes complicated，extra work these methods bring grows up,  making it not that friendly to use.

[2021-11-08 16:59] lalitb commented on #1054
Thanks for the feedback @RandyLee16 . The current implementation for the active spans is driven by the Context API in the specs ( https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#context-interaction ). There can be only one span active in context at a given time. If you see any improvement required here, I would suggest you raise an issue in the Sp

[2021-11-10 00:59] #1051 closed

[2021-11-11 05:19] #1024 closed

[2021-11-11 05:50] lalitb commented on #838
#910 fixes it.

[2021-11-11 05:50] #838 closed

[2021-11-12 00:58] lalitb commented on #1054
@RandyLee16  - closing this, please raise/reopen if you still find any issue.

[2021-11-12 00:58] #1054 closed

[2021-11-12 00:59] lalitb commented on #1049
Haven't seen this happening this week, probably a transient issue with the CI pipeline. Will watch for some more time before closing.

[2021-11-12 02:02] lalitb commented on #1019
@maxlein  - would you be providing a minimal code that we can run to consistently reproduce this? Not much can be done without that and keeping this issue open.

[2021-11-12 18:46] lalitb commented on #991
#1033

[2021-11-12 18:46] #991 closed

[2021-11-12 18:47] lalitb commented on #992
#1033 implements SynchronousInstrument and AsynchronousInstrument  API

[2021-11-12 18:47] #992 closed

[2021-11-12 18:49] lalitb commented on #993
#1033 adds Counter, UpDownCounter, and Histogram API.

[2021-11-12 18:49] #993 closed

[2021-11-12 18:49] lalitb commented on #994
#1033 adds ObservableCounter, ObservableGauge and ObservableUpDownCounter API

[2021-11-12 18:49] #994 closed

[2021-11-12 18:50] lalitb commented on #995
#1033 adds Histogram API

[2021-11-12 18:50] #995 closed

[2021-11-12 18:50] lalitb commented on #996
#1033 adds ObservableGauge API

[2021-11-12 18:50] #996 closed

[2021-11-12 18:50] lalitb commented on #997
#1033 adds UpDownCounter  API

[2021-11-12 18:50] #997 closed

[2021-11-12 18:51] lalitb commented on #998
#1033 adds ObservableCounter, ObservableGauge and ObservableUpDownCounter API

[2021-11-12 18:51] #998 closed

[2021-11-13 06:27] #1035 closed

[2021-11-14 02:14] lalitb commented on #656
This can be closed, as env-var are used only if NO_GETENV macro is not defined.

[2021-11-14 02:14] #656 closed

[2021-11-15 05:56] hcoona opened #1065 "Failed to build with external abseil-cpp"
It's simple to understand so I didn't follow the template.

The opentelemetry-cpp vendor parts of the absl source code within the API but without change the namespace. If I build a cpp target included both opentelementry-cpp & abseil-cpp, it would occurred an error (build with bazel & llvm-13):

[code]

The critical rule is to use an alternative namespace than the original namespace `absl` when ve

[2021-11-15 06:04] hcoona commented on #1065
Still failing after add `--copt -DHAVE_ABSEIL=1` to `.bazelrc`

[2021-11-15 06:11] lalitb commented on #1065
Does change the order of inclusion of header file helps as documented here: https://github.com/open-telemetry/opentelemetry-cpp/blob/main/examples/otlp/README.md#additional-notes-regarding-abseil-library

If not, please let us know the version of abseil-cpp used externally?

[2021-11-15 12:12] hcoona opened #1066 "The document say gcc 4.8 is supported but failed to run with gcc 4.9.2"
It's easy to understand so didn't follow the template.

GCC didn't support `std::regex` at least in v4.9.2, see https://gcc.gnu.org/onlinedocs/gcc-4.9.2/libstdc++/manual/manual/status.html 7.11.2.

[2021-11-15 12:16] hcoona commented on #1066
I found the option `HAVE_WORKING_REGEX`. It detects against gcc 4.8, so not working on gcc 4.9.2. I think it better to detect against libstdc++ instead of the compiler version.

[2021-11-15 16:43] lalitb commented on #990
#1033

[2021-11-16 03:49] hcoona opened #1067 "API break strict aliasing."
It's easy to understand so didn't follow the template.

[code]

would generate this compiler warning:

[code]

`-O2` optimizing would enable `-fstrict-aliasing`. API header file should not make such a breaking.

[2021-11-16 03:50] hcoona commented on #1067
Please use `memcmp` instead.

[2021-11-16 04:00] hcoona commented on #1065
I didn't try changing the order. It's ridiculous to make it work relying about including order, and our coding guideline disallow manually ordering the includes.

The abseil-cpp commit id is 3c8b5d7 from master branch.

[2021-11-16 04:05] hcoona commented on #1027
Strongly suggest use `static_cast` in release profile while use `dynamic_cast` only in debug profile with an option `WITH_RTTI`.

[2021-11-16 04:07] lalitb commented on #1065
Agree, I still believe -DHAVE_ABSEIL=ON should work in this case. If not, this needs to be fixed.

[2021-11-16 04:09] lalitb commented on #1066
Yes, there are better ways to detect regex support than to check the compiler version.

[2021-11-16 04:40] lalitb commented on #1027
It's a bug in old metrics implementation which is been deprecated. The new metrics implementation is written from scratch and won't use any RTTI mechanisms.

[2021-11-16 06:01] hcoona commented on #1066
`_GLIBCXX_RELEASE` could do that but only provided after GCC v7.1. (https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_macros.html)

`__GLIBCXX__` is the release date. However, some minor updates could be later than next major release. For example:

* GCC 4.9.4: 2016-08-03
* GCC 7.1.0: 2016-04-27

Google cpplint mark that only versions <= 4.9 have such problem. (https://github.com/google/styleg

[2021-11-16 06:05] hcoona commented on #1066
I'll just exclude gcc 4.9.x just like 4.8.x

[2021-11-16 06:44] #1067 closed

[2021-11-16 07:45] hcoona opened #1070 "Question: how to make a slow log by span chain?"
Assume there is a chain of micro-services. The user request flows as following:

[code]

We want to find why some request slower than expect. We know the accumulated time in service A. If the accumulated time is longer than a threshold (for example 3s), we would like to print the tracing spans to help figure out which span/event cause the slow.

Is it any possible with help of opentelemetry-cpp AP

[2021-11-16 09:54] hcoona commented on #1070
I found some details about the above idea. Still want to know if there is a better way.

For passing the spans across micro-services, I need to customize a propagator to extract/restore the local span tree into/from response message.

For collecting span tree, I need to customize an exporter like `InMemorySpanExporter`. The exporter needs to maintain a forest for span trees lookup & extraction. Be

[2021-11-16 12:17] hcoona opened #1071 "Need fine-grained HAVE_CPP_STDLIB"
**Is your feature request related to a problem?**

The `std::shared_ptr` & `std::unique_ptr` are well-supported by wide-spread compilers in c++11, while `std::string_view` & `std::variant` are unavailable until c++17. We currently use a coarse-grained switch `HAVE_CPP_STDLIB` to control all these things. As a result, we cannot enable any of them.

Using our private implemented `nonstd::shared_ptr`

[2021-11-16 12:20] hcoona commented on #1071
I think the switches could be smarter to automatically detect the value from built-in macros & pragmas.

* 0: Automatically
* 1: Force STD
* 2: Force Non-STD
* 3: Force Abseil-cpp
* 4: Force GSL

[2021-11-16 12:35] hcoona opened #1072 "Mark tags to bazel targets"
**Is your feature request related to a problem?**

The project could build with GCC4.8 + CMake but failed to build with GCC4.8+Bazel. I cannot understand it although I know the higher version of GRPC could not compile with GCC4.8.

I think most of the core components rely on nothing than some extremely basic libraries such as abseil, gsl, gtest & google benchmark. We at least should support bazel

[2021-11-16 12:43] hcoona opened #1073 "Bazel built cURL could rely on zlib because gRPC already included zlib"
See https://github.com/grpc/grpc/blob/7a40f50cb32ad7aadcce15ab57abcadaff1042aa/bazel/grpc_deps.bzl#L83

[2021-11-16 16:26] #1066 closed

[2021-11-16 16:43] lalitb commented on #1071
It's encouraged to use non-std libraries whenever possible to maintain ABI compatibility ( https://github.com/open-telemetry/opentelemetry-cpp/blob/main/docs/abi-policy.md#application-binary-interface-abi-policy ).

[2021-11-16 17:28] lalitb commented on #1071
Do we have a use case why do we want to enable the STL components individually?

[2021-11-16 18:29] hcoona commented on #1071
1. I have to do tedious converting between `std::string_view` and `nonstd::string_view`. (actually `absl::string_view` in my case, because we are using c++14)
2. `nonstd::shared_ptr` and `nonstd::unique_ptr` breaks the strict aliasing assumption, which prevent enable strict aliasing optimization in our code.

[2021-11-16 18:39] hcoona commented on #1071
It's good to maintain ABI compatibility. If we provide such switches, we could still make the default setting ABI compatible.

[2021-11-17 05:19] lalitb commented on #1070
Your idea is correct. Span data needs to be propagated across services using one of the supported propagators. As you rightly mentioned, both `Console` and `Memory` exporters have basic functionality, not meant for the production environment. You may have to tweak either of them to meet the requirement, or else look for other available exporters for opentelemetry-collector from here ( https://open

[2021-11-17 05:48] lalitb commented on #1072
Thanks for bringing this up.

Bazel build for GCC4.8 was disabled [in this PR](https://github.com/open-telemetry/opentelemetry-cpp/pull/953) once grpc and bazel version was upgraded. As you rightly mentioned higher version of gRPC doesn't compile with gcc4.8.

For CMake, we use the latest gRPC version for > gcc5.1 and older compatible gRPC version for gcc4.8  as done [in this PR](https://github.co